[2022-01-25 14:50] nilsvu commented on #442
I want to note down here that we can do https://github.com/sxs-collaboration/spectre/pull/2786 once we can require CMake v3.16+.

[2022-01-27 17:34] #3694 closed, assigned to nobody

[2022-01-28 10:42] nikwit opened #3772 "Suggestions for improving Interpolation/Observation documentation"
When I tried to implement interpolation for the scalar wave system I found a few things missing from the docs that would have been quite useful to know. Here are a few suggestions to improve this

- The interpolation documentation is currently almost all contained in the docs for `InterpolationTarget`. However, this would feel more appropriate as a dev guide where it is also more easily found.
- M

[2022-01-28 11:58] nilsvu commented on #3772
Note on dev guides: They become more easily out of date because they are further away from the code. They are also not easily discoverable from the code. Therefore, I think it's very important to link to the dev guide from all relevant places in the code, e.g. with `\see`.

[2022-02-01 22:38] nilsvu commented on #3621
I believe this can be fixed by a `py::module::import("spectre.DataStructures")` in the C++ bindings code for the H5 lib.

[2022-02-02 02:39] Sizheng-Ma opened #3782 "GH+CCE runs on wheeler"
# Bug reports:

### Expected behavior:

### Current behavior:

I'm trying to run the CCE-GH executable #2323 on wheeler. The GH domain is as follows

[code]

and the CCE grid is

[code]

Running on 4 nodes, the system proceeds at least one time step per second. However, if I add one more radial or angular grid point for each element (namely `InitialGridPoints: [9,8]` or `InitialGridPoints: [8,9]`)

[2022-02-02 02:54] Sizheng-Ma opened #3783 "CCE runs on CaltechHPC"
# Bug reports:

### Expected behavior:

### Current behavior:

This issue is related to #3782. I'm trying to run the `CharacteristicExtract` on CaltechHPC. The CCE grid is as follows

[code]

Running on a single node, the system proceeds 55M within 10mins. However, it suddenly slows down by a factor of 5 after I add one more radial grid point. When the radial points are more than 32, the system do

[2022-02-02 18:31] Sizheng-Ma commented on #3782
Using 3 nodes, the run dies after `25M`. The error message is as follows

[code]

[2022-02-02 20:24] kidder commented on #3782
The GR domain you are using seems to be overkill in resolution (44 radial elements by 96 angular elements, each with 512 grid points is over 2 million grid points...)

[2022-02-02 20:25] kidder commented on #3782
Also have you run the problem with an executable compiled with build type Debug instead of Release?

[2022-02-02 21:13] markscheel commented on #3783
Can you run the same case in debug mode?

[2022-02-02 23:23] Sizheng-Ma commented on #3782
I do need more than 2 million grid points otherwise the ringdown is pretty noisy.

[2022-02-03 00:48] markscheel opened #3788 "InterpolateWithoutInterpComponent should use compute_vars_to_interpolate"
# Feature request:

For interpolation *with* an Interpolator ParallelComponent, the type alias `interpolator_source_vars` lists the variables (in the volume) that are sent from the Elements to the Interpolator, and the type alias `vars_to_interpolate_to_target` lists the variables that should get interpolated from the volume to the InterpolationTarget.  The type alias `compute_vars_to_interpolate`

[2022-02-03 02:19] Sizheng-Ma commented on #3783
Nothing gets printed.

[2022-02-03 02:29] Sizheng-Ma commented on #3783
The submission script:

[code]

The input file

[code]

Note that the run also needs a worldtube data. It can be found at `/central/groups/sxs/sma/cce_bh/no_id_new/test/c2/BondiCceR0198.h5`, which corresponds to a static Schwarzschild BH generated by SpEC.

The SpECTRE I'm using can be found at [https://github.com/Sizheng-Ma/spectre/tree/cce_gh_executable_gh_gts](url)

[2022-02-03 16:10] Sizheng-Ma commented on #3782
The run died due to floating point exception after I switched to debug mode

[2022-02-03 19:50] Sizheng-Ma commented on #3782
[code]

[2022-02-03 21:56] Sizheng-Ma commented on #3782
The error message when address sanitizer is on.

[code]

[2022-02-03 22:20] wthrowe commented on #3782
That's almost 14 terabytes.

Something is weird here.  Every test seems to give a completely different error.

[2022-02-03 22:28] wthrowe commented on #3782
Does the run still fail if you reduce the number of elements enough that you can run on one node?  It may not be a useful run, but single-node runs are easier to debug.

[2022-02-03 22:47] Sizheng-Ma commented on #3782
Yes, it still fails after I reduce the resolution and run it on a single node.

[code]

The submission script is
[code]

[2022-02-04 19:14] wthrowe commented on #3782
OK, good.  If you are running on one node, you should be able to log into that node and attach gdb to the process (`gdb -p <PID>`) and let it run until it fails.  Don't forget to give the gdb command `catch throw` before continuing the execution so you will see C++ exceptions.

I don't know how familiar you are with gdb, but you shouldn't need anything esoteric for this.  Googling for a basic gdb

[2022-02-04 22:01] Sizheng-Ma commented on #3782
The run failed immediately with the address sanitizer on. I didn't have a chance to try `gdb`.

[2022-02-04 22:34] wthrowe commented on #3782
What if you try it with the address sanitizer off?

[2022-02-04 22:54] Sizheng-Ma commented on #3782
The run fails immediately if I use debug mode

The error message is as follows
[code]

The run starts normally if I use release mode, but it fails after `25M`. The error message is

[code]

[2022-02-04 22:56] Sizheng-Ma commented on #3782
The same run proceeds normally on Frontera without failure

[2022-02-04 23:04] kidder commented on #3782
Can you do a run on wheeler using `EvolveGhKerrSchild` with the same input file (commenting out the CCE parts)

[2022-02-05 00:11] Sizheng-Ma commented on #3782
The `EvolveGhKerrSchild ` one goes normally (debug mode).

[2022-02-09 20:58] markscheel commented on #3561
Here is my suggestion for ApparentHorizons:
  - [x] Move Strahlkorper, StrahlkorperFunctions, ChangeCenterOfStrahlkorper into NumericalAlgorithms/SphericalHarmonics
  - [x] Similarly, move Tags and ComputeItems that depend only on Strahlkorper to NumericalAlgorithms/SphericalHarmonics
  - [x] Create ParallelAlgorithms/ApparentHorizonFinder, and put into it
    - FastFlow
    - ObjectLabel
    - Co

[2022-02-09 22:18] kidder opened #3796 "In-situ plot generation"
# Feature request:

Investigate the following library for generating plots in situ during simulations
https://github.com/alandefreitas/matplotplusplus

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2022-02-10 10:43] nilsvu commented on #3561
Sounds good to me!

- What do you think about moving StrahlkorperGr and friends into the GeneralRelativity library? It computes GR quantities like expansion, Ricci scalar etc.
- Move StrahlkorperInDifferentFrame to Domain? We'll probably need it for non-AH things like excision surfaces, right? It does mostly domain and coord map things, so Domain seems the most appropriate place.

[2022-02-11 10:51] nilsvu commented on #442
Wheeler uses Python 3.7.4 now (#3734):

[code]

I edited the list above. I also added Py versions for Frontera and Stampede 2.

[2022-02-11 11:22] nilsvu commented on #442
[Bridges is now retired](https://www.psc.edu/resources/bridges/) as of Feb 15, 2021. I can't login to Bridges 2.

[2022-02-11 21:47] kidder commented on #3783
okay, I find that CharacteristicExtract runs very quickly on one core and slows down significantly on more than one core.  The problem is exacerbated as the radial resolution is increased.  @moxcodes did note in his tutorial that CCE does not scale beyond 4 cores, but going from one to two cores significantly slows down for larger of NumberOfRadialPoints

[2022-02-11 21:47] kidder commented on #3783
@nilsdeppe is cleaning up a branch to do profiling so we can investigate this further

[2022-02-12 05:20] kidder commented on #3782
The floating point exceptions are being generated by interpolating nans for the time derivatives of the GH variables to the world tube.  This will happen in debug mode (and not release mode) if a DataMesh/Variables/Tensor is allocated but not initialized. (In debug mode the allocation initializes the DataMesh to nan in order to catch this problem.  In release mode the executable will use whatever

[2022-02-12 17:36] nilsdeppe commented on #3561
- I don't want the GR library depending on Strahlkorper and then possibly interpolation++++
- If this _only_ depends on domain things the maybe, but I think that's sort of weird. What's wrong with the AH finder library in ParallelAlgorithms depending on GR and domain? Naively those are dependencies I would expect it to have. Are there are things that would depend on the compute tags that aren't ho

[2022-02-13 06:11] Sizheng-Ma commented on #3782
Indeed, the FPE is gone after I switch the order back. Since the Bjorhus boundary condition is applied within `ComputeTimeDerivative`, all CCE calculations need to be done before it so that I can use the Weyl scalar psi0 to complete the boundary condition. In practice, the time derivatives of the GH variables are not used by the CCE component so their random values shouldn't matter.

[2022-02-13 12:57] nilsvu commented on #3561
AH surely depends on GR, domain etc. My question above is if we need the StrahlkorperGr functions also for non-AH things like excision surfaces. Therefore:

- Moving StrahlkorperGr to `PointwiseFunctions/GeneralRelativity/SurfaceQuantities` and a new `GrSurfaceQuantities` lib sounds good to me 👍 It can depend on GR and SphericalHarmonics, but on not much more.
- `StrahlkorperInDifferentFrame` depe

[2022-02-14 21:17] nilsdeppe commented on #3561
1. 👍
2. Maybe this depends on whether we want spherical surfaces in a flat spacetime (presumably yes). I would guess that there are quantities like normal vectors that are also different/simpler in flat space. Maybe a `PointwiseFunctions/SphericalSurface` (or SurfaceQuantities) in addition to the GR lib?

[2022-02-16 04:13] knelli2 commented on #3772
@nikwit I agree, I think both the interpolation framework and the observation framework docs could use an update as I also found it confusing when trying to implement.

For observers, the dev guide [here](https://spectre-code.org/observers_infrastructure_dev_guide.html) actually does a pretty decent job at explaining how to do reductions and volume observations. I think it's lacking in a couple th

[2022-02-17 19:20] kidder commented on #3782
so if the time derivatives of GH variables are not used by CCE, why are they being passed to CCE?

[2022-02-18 01:31] knelli2 commented on #3561
I was planning on moving `ObjectLabel` somewhere else because it isn't specific to apparent horizons and won't be if we use it for stars as well. It has to be in a very general place so any part of the code base can use it, i.e evolution, elliptic, vacuum, hydro, etc... Any suggestions on where it should go? I was thinking either `DataStructures` because it's just a label for things, or `Domain` b

[2022-02-18 09:52] nilsvu commented on #3561
@knelli2 I think something like `ObjectLabel` can be an executable-specific struct that's passed around as template parameter (if it must be a compile-time choice, which ObjectLabel is currently used for), no need to make it super general. E.g. in a BBH exec you define `struct ObjectA` with name etc, and then you can use `Options::name` to get a string label. I'll need to think a bit more about ho

[2022-02-18 18:02] wthrowe commented on #3561
I agree that `OptionLabel` shouldn't be super general, but having every executable define its own version of this and pass it around seems like the more-unnecessarily general version to me.  What is the advantage of doing it that way over a single enum (or maybe small collection of marker stucts)?

[2022-02-19 12:07] nilsvu commented on #3561
Sure, what I mean is that we don't have to try hard to share these tiny structs; they don't incur any code duplication. I have often found it easier to define these label structs per-executable so I can give them the names I want for their context, and where they show up in input files. Of course the label structs can still be shared where it helps.

[2022-02-19 16:42] wthrowe commented on #3561
The annoyance isn't duplicating the enums/structs, but adding the code to handle them generically.  Everything dealing with the objects now needs more template parameters, which have to be forwarded to other functions and classes correctly.  It would mean that anything tied to the binary objects would have to be moved out of cpp files into hpp files.

[2022-02-20 21:36] nilsvu commented on #3561
I see your point @wthrowe. My proposal is then: We do a simple move of ObjectLabel to a new `OrbitalDynamics` library, e.g. in PointwiseFunctions/. We'll need such a library anyway I think, e.g. for the BNS force balance equation etc.

[2022-02-23 19:16] wthrowe commented on #3561
Sorry, not a hydro guy.  What is the "BNS force balance equation"?

[2022-02-23 21:08] nilsvu commented on #3561
Eq. (5.2) in https://arxiv.org/pdf/1408.4136.pdf.

On a branch I currently have these functions in an `OrbitalDynamics` library: https://github.com/nilsvu/spectre/blob/xcts/executable_backup/src/PointwiseFunctions/OrbitalDynamics/ForceBalance.hpp
Also: `orbital::Tags::CenterOfMass` and `orbital::Tags::AngularVelocity`

[2022-02-23 22:30] wthrowe commented on #3561
That's probably OK. I'm just worried about grouping this with too much other stuff because I expect it to be used in at least one of Domain or DomainCreators to identify excision surfaces, and we don't want that adding any major dependencies.

[2022-02-23 22:38] nilsvu commented on #3561
I See. Maybe it's `Domain` after all then 🤷‍♂️

[2022-02-23 22:41] knelli2 commented on #3561
This isn't urgent at the moment so maybe we hold off moving it to `Domain` until we have more binary/orbital stuff we want/need to do? Am I correct in assuming that BNS stuff is still a ways off since we still have to get BBH working?

[2022-02-28 23:47] nilsvu opened #3841 "Trouble reading input files with EventsAndTriggers in Python"
Both PyYaml and ruamel.yaml have trouble reading in the `EventsAndTriggers` section in input files, which uses YAML objects as keys in a dict. Both Python packages complain with variations of "unhashable key" errors. ruamel.yaml seems to be able to handle a few more cases than PyYaml, but also fails to load `tests/InputFiles/GeneralizedHarmonic/BinaryBlackHole.yaml`. I believe this is valid YAML a

[2022-03-03 11:03] nilsvu opened #3844 "Segfaults with Numpy 1.22+"
# Bug reports:

In the container I get segfaults in Pypp `check_with_random_values` tests when I `pip install numpy==1.22.2` (upgrading from 1.21.5). I haven't been able to reproduce this on macOS yet. If anyone runs into this issue as well and can provide any insight, that would be much appreciated.

[2022-03-13 15:09] nilsvu opened #3861 "Allow time-dependent coordinate maps in static domains"
For static domains, e.g. used in the initial data solver, we also need some of the maps currently implemented in the `domain::CoordinateMaps::TimeDependent` namespace, such as the `Shape` map. I propose we don't make such a strong distinction between time-dependent and non-time-dependent maps. The maps just have a bunch of parameters, such as the rotation angle or the shape Ylm coefficients, and t

[2022-03-15 19:43] nilsdeppe commented on #3861
I don't think the `coefs` should be stored inside the map. This is intentionally not done because if you would store the coeffs then you have to keep track of what time value they have, etc. This is almost certainly to be incorrect and lead to really bad bugs. It also makes the maps non-const, which just makes the code a lot more complicated to understand. Do we have any evidence that reevaluating

[2022-03-21 17:48] nilsvu opened #3880 "Segfaults in YlmSpherepack"
# Bug reports:

I'm getting segfaults in YlmSpherepack in the inverse shape map when running on multiple cores. In this scenario the `YlmSpherepack` object held by the shape map as been used to evaluate interpolations of `DataVector`s before (I think), and is then used to evaluate an interpolation of a `double` for the inverse (which only works with doubles). The following workaround fixed the iss

[2022-03-23 19:10] nilsdeppe opened #3886 "UCX error failed to allocate memory"
# Bug reports:

The error appears on Frontera with a UCX build and also on Wheeler when using OpenMPI built against UCX. Unfortunately, while mostly reproducible, it is not consistent. The exact error on Wheeler is:
[code]

Changa has the same issue on Frontera and Expanse in SMP mode (https://github.com/UIUC-PPL/charm/issues/2636) and they have just stopped using UCX (and OpenMPI4 with UCX), inst

[2022-03-23 19:22] knelli2 opened #3887 "`Invalid Type of message` error on wheeler"
# Bug reports:

I've been getting errors on wheeler that look like this
[code]

To reproduce this error:
1. Build the `EvolveGhBinaryBlackHole` executable on the develop branch
2. Use this input file `wheeler:/home/knelli/ds09/debug_mem_error_suite/charm_6/develop/BinaryBlackHole.yaml` (once #3884 is merged)
3. Submit a job on multiple nodes (I've tried this on 2, 4, 6, 8 nodes)
4. You should get

[2022-03-23 19:25] knelli2 commented on #3756
Significant progress has been made in diagnosing this error. Mainly that it is actually two separate errors

- #3886
- #3887

Because these errors are so different, I'm closing this issue in favor of two more that better detail each error.

[2022-03-23 19:25] #3756 closed, assigned to nobody

[2022-03-24 19:57] markscheel commented on #3880
Have you tried running with sanitizers on?

This problem doesn't appear to show up in the unit tests.

[2022-03-24 20:17] markscheel commented on #3880
Also, adding `cout` statements in `Shape::inverse` "solved" the problem too, is that correct?

[2022-03-25 17:06] knelli2 opened #3891 "`-D UBSAN_INTEGER=ON` breaks cmake"
# Bug reports:

If I add `-D UBSAN_INTEGER=ON` to my cmake command on Wheeler, Ocean, and local I get the following cmake error about not finding BLAS:

[code]

### Environment:

Wheeler, Ocean, and my local definitely have BLAS installed, and if I remove `-D UBSAN_INTEGER=ON`, it builds fine.

[2022-03-25 17:32] wthrowe commented on #3891
What compiler are you using?

[2022-03-25 17:41] knelli2 commented on #3891
clang-10 on all the machines.

Just tried gcc-9 on local and gcc-7 on wheeler and got the following error on both (even before the above error):
[code]

Important part: `c++: error: unrecognized argument to ‘-fsanitize=’ option: ‘integer’`

[2022-03-25 17:47] wthrowe commented on #3891
Yeah, I don't think `-fsanitize=integer` is a thing with gcc.  Works with clang locally for me, though (at least through running cmake).

[2022-03-25 17:52] wthrowe commented on #3891
`gfortran` doesn't understand the option.  Not sure why it works for me.

[2022-03-25 17:58] knelli2 commented on #3891
@wthrowe can you reproduce on wheeler?

[2022-03-25 18:00] wthrowe commented on #3891
Yes: `gfortran: error: unrecognized argument to -fsanitize= option: ‘integer’`

[2022-03-25 19:52] wthrowe commented on #3861
How does this help your use case?  You still need to call `update` at some point to set the (constant) coefficients, so you still need functions of time.

[2022-03-25 21:22] wthrowe commented on #3891
I think on my system cmake is finding blas using pkg-config and never does any tests of its own, but pkg-config doesn't know about blas on wheeler.

[2022-03-28 14:15] nilsvu opened #3898 "Onboarding tutorials/notebooks"
Shall we add some onboarding tutorials/notebooks for new students? I'm thinking some introductions to DG / spectral methods, numerical derivatives, time steppers, etc to introduce/motivate our numerical methods, e.g., evolve a scalar wave in a few lines of Python and then work our way up to evolving it in SpECTRE. So the idea would be to tell a new (summer/undergrad/graduate-)student, who may have

[2022-03-28 16:02] knelli2 commented on #3898
Yes I think this would be a very good idea, coming from somebody who was (and still kind of is) unfamiliar with the numerical methods you listed above. I like the transition from something simple that most students can understand (like python code) to how we do things in SpECTRE in a certain number of steps. When first starting out, I found the [explanation](https://spectre-code.org/databox_founda

[2022-03-29 09:24] nilsvu opened #3899 "AH finder diverges sometimes"
# Bug reports:

I created a directory on Wheeler in `/home/nfischer/2022-debug-ah-finder/` that reproduces a bug with the AH finder.

The directory contains volume data on a single time slice (the result of an initial data solve) in the `BbhVolume*.h5` files. I find horizons in the data using the standalone `FindHorizons3D` executable on the branch:

- https://github.com/nilsvu/spectre/tree/find_b

[2022-03-29 14:47] nilsvu opened #3900 "Can't `Parallel::receive_data` a `std::vector`"
Sending a `std::vector` with `Parallel::receive_data` currently leads to a compiler error. I think the reason is that `CharmRegistration.hpp` tries to be smart in `detail::get_value_type`, but I'm not entirely sure. To reproduce:

[code]

[2022-03-29 14:50] nilsvu commented on #3900
@nilsdeppe any ideas?

[2022-03-29 16:16] nilsdeppe commented on #3900
Nothing immediate comes to mind, sorry

[2022-03-30 16:48] geoffrey4444 commented on #3899
`ocean:/home/geoffrey/aps2022/ahdebug/nilsvu/2022-debug-ah-finder/12x20/lotsoruns` has 100 identical runs (same submission script, same yaml file) using the steps above, except using @nilsvu `xcts_spins_test` branch because `find_binary_horizons` gives an option parsing error.

So far, of 29 complete runs, 17 failed with diverging apparent-horizon finds, while 12 succeeded.

For those runs that su

[2022-03-30 17:19] markscheel commented on #3899
Does the problem still occur if there is only one horizon and not two?

[2022-03-30 17:54] markscheel commented on #3899
What is missing from `find_binary_horizons`?  Is it easy to add that commit?

[2022-03-30 18:27] markscheel commented on #3899
Ok, I can reproduce this on wheeler now, with `xcts_spins_test` and cherry-picking Nils D.'s recent changes to wheeler modules.   No failures for 4 nodes or 8 nodes so far.  Sometimes failures with 12 nodes.

[2022-03-30 18:57] geoffrey4444 commented on #3899
`ocean:/home/geoffrey/aps2022/ahdebug/nilsvu/2022-debug-ah-finder/12x20/lotsoruns1AH` reproduces after by hand removing AhB from FindHorizons.hpp: 17 diverge on 12 20-core nodes, 13 succeed, out of 30 attempts

[2022-03-30 19:15] nilsvu commented on #3899
I pushed an update to the `find_binary_horizons` branch with only the essential commits, including the Wheeler env update.

[2022-03-30 20:51] markscheel commented on #3899
I can reproduce the problem with one horizon.  Also, I noticed that the divergence is mild, and looks more like there is a source of noise rather than a horrible bug.  Even in the cases where the AH finder converges, the residual sometimes jumps around and sometimes increases temporarily, so it takes more iterations than it 'should'.

So I then tried offsetting the expansion center of the AH finde

[2022-03-30 21:58] geoffrey4444 commented on #3899
Interesting, @markscheel ! How involved do you think it would be to make such a change?

[2022-03-30 22:04] markscheel commented on #3899
I am working on such a change now.  It's not a trivial thing like making `post_horizon_find_callback` a list, because it changes how the logic works a bit, and it requires initializing/using/cleaning-up new things in the InterpolationTarget's DataBox, but hopefully it won't be too bad.

[2022-03-30 23:46] markscheel commented on #3899
Ugh. This change will result in many more messages.

Currently if an Element has zero Strahlkorper points (which is the case for most Elements), it doesn't send a message to the InterpolationTarget.  The InterpolationTarget receives messages until all its Strahlkorper points are filled, and then it finishes and ignores subsequent messages if any occur (i.e. points shared by more than one Element).

[2022-03-31 00:02] geoffrey4444 commented on #3899
Thanks @markscheel !! I really appreciate your working on this.  Meanwhile, I verified that offsetting the AH finders by O(1e-5) worked on ocean as well: the 1-AH FindHorizons3D test above not only succeeded every time, but the output in Horizons.h5 was identical each time.

[2022-03-31 00:24] knelli2 commented on #3899
@markscheel I'm confused, but maybe I don't understand this that well. If most Elements don't have Strahlkorper points and thus don't send messages to the InterpolationTarget, is there some way to let the InterpolationTarget know that it's only going to be receiving messages from a certain subset of the Elements? (i.e. the ones *with* Strahlkorper points) And then the InterpolationTarget just was

[2022-03-31 07:17] nilsvu commented on #3899
@markscheel great that you were able to reproduce it and that you found the root cause! Here's an idea:

@knelli2 suggests a smarter registration, which can be nontrivial with a time-dependent domain and with AMR, so I think I understand why you did the "first received message wins" approach. However, we have one thing going for us here: the AH moves around and deforms along with the excision, so

[2022-03-31 15:57] markscheel commented on #3899
@nilsvu @knelli2 yes I think we eventually need smarter (re)registration.    The difficulty is that the AH surface *does* move around *from iteration to iteration*. So even from one iteration to the next (at the same time), Elements need to be turned on and off. So there's a lot of bookkeeping involved and perhaps even more messages.  And we also need to handle the case where an Element has multip

[2022-03-31 16:05] markscheel commented on #3899
By the way, SpEC does something similar. In SpEC,  all Strahlkorper-containing Elements *and their nearest neighbors* send messages.  This might not be enough for SpECTRE because SpECTRE elements are smaller than SpEC elements (so greater chance that the horizon moves by >1 element in an iteration).

[2022-04-01 21:49] markscheel commented on #3899
It was decided on a SpECTRE call March 31 to implement an alternate approach:  @kidder  will add to Elements the ability to know their edge and corner neighbors.  Then before interpolating to a point, each Element (or the the Interpolator element associated with that DG element) will check if that point is on a boundary, and if so, it will determine the `ElementId`s of all the neighbors that can i

[2022-04-01 22:38] nilsvu commented on #2985
Most of this has been addressed by #3568 and #3838. Closing; we can open more specialized issues when they come up.

[2022-04-01 22:38] #2985 closed, assigned to nobody

[2022-04-01 22:46] nilsvu commented on #2312
I believe this is resolved by #3838 🎉

[2022-04-01 22:46] #2312 closed, assigned to nobody

[2022-04-04 17:44] knelli2 commented on #3126
I have run into this issue also and that error message is terribly unhelpful. I think the IO code should be smart enough so that if we have an H5 file with tree structure

[code]

that all of these access methods should give the same result
[code]

Same goes for `dat` files.

@nilsdeppe What do you think? This should be a simple check inside `get` that it doesn't have the extension (if it does rem

[2022-04-04 18:01] yoonso0-0 opened #3911 "Peculiar error message from GRMHD Riemann problem exec with Krivodonova limiter"
# Bug reports:

Running GRMHD Riemann problem using Krivodonova limiter.

Hydro executables using classical DG limiters may fail due to poor limiting, but this error message seems suspicious. This message is not observed when using other types of classical DG limiters (Minmod and Weno) with exactly same settings; they fail with normal FPEs.

[code]

Below is the full inputfile:
[code]

[2022-04-04 19:24] nilsdeppe commented on #3126
I think only the following two should work:
[code]
It looks like the individual object classes already have support at construction time to either include the extension or not, so having the same support here would make that consistent. Requiring the leading `/` is consistent with the way HDF5 utilities work (like h5ls and h5dump) and I personally dislike implicit relative-looking paths. In genera

[2022-04-04 19:28] nilsvu commented on #3126
Quick note: yes indeed we can remove any special error handling for Python now, see #2312.

[2022-04-12 20:53] knelli2 commented on #3899
I just tried adding @nilsvu's branch on top of the latest develop (58d7cf67f53631934b4ec7067762f189e53ebc17) which has #3913 merged. Here is the branch https://github.com/knelli2/spectre/tree/check_horizon_finder.

I tested this on wheeler at `wheeler:/home/knelli/ds09/test_ah_finder`. I did a total of 48 runs: 24 runs on 4 nodes (96 cores) and 24 runs on 6 nodes (144 cores). In this directory the

[2022-04-14 21:02] knelli2 commented on #3880
I got this bug while I was trying to debug #3899. I did 100 runs of the `FindHorizons3D` executable from that issue (which includes the shape map). 50 were on 4 nodes, and this bug appeared once. 50 were on 1 core and this bug never appeared. I've attached the stdout file from the one run where ASAN caught this issue.

[spectre.txt](https://github.com/sxs-collaboration/spectre/files/8492178/spectr

[2022-04-14 21:03] knelli2 commented on #3899
Ok I believe these memory issues are due to #3880. See that issue for detils.

[2022-04-15 18:00] nilsdeppe commented on #3880
Does this occur on develop or only on the branch where @nilsvu changed the shape map implementation to have `mutable DataVector coeffs`? Because the mutable thing is buggy and won't get merged. It's not thread safe to store anything in the global cache that has `mutable` member variables. This leads to a race condition and so UB. For example, if two cores happen to evaluate the shape map at the sa

[2022-04-15 18:05] knelli2 commented on #3880
I've only seen it with @nilsvu's changes. Haven't seen it from the horizon finder at all in my BBH testing.

[2022-04-15 22:23] nilsdeppe commented on #3880
An update from offline conversations:
`YlmSpherepack` uses mutable member variables. This isn't thread safe since if the class is stored on a node group (like the GlobalCache) then its `const` member functions can be called in parallel with each one mutating the internal work/storage buffers. The race condition there seems to be catastrophic rarer than the one Nils Vu added on his branch. The solu

[2022-04-18 14:09] markscheel opened #3929 "Make YlmSpherepack threadsafe"
# Bug reports:

[Note that this problem exists for other classes in addition to YlmSpherepack (basically everything that has mutable member variables and that will live on a NodeGroup)].

### Expected behavior:

YlmSpherepack should be threadsafe, so if you put a YlmSpherepack in a NodeGroup, nothing bad will happen.

### Current behavior:

Currently, YlmSpherpack has mutable member variables, so

[2022-04-18 16:08] markscheel commented on #3929
From SpECTRE meeting April 18:  Consensus is to *always* use a passed in buffer and never allocate it internally.  And check minimum size.  So it would look like this:

[code]

[2022-04-19 16:09] nilsdeppe commented on #3929
This sounds like a good plan to me!

[2022-04-21 19:30] knelli2 opened #3933 "Doing `.ckLocal()` on Singleton proxies sometimes returns nullptr"
# Bug reports:

### Expected behavior:

On a singleton component, I can call
[code]
and have `local_ptr` point to the local object.

### Current behavior:

Sometimes, but not all the time, the pointer returned by `.ckLocal()` from a singleton is a `nullptr`, even when I'm running on the core that the singleton is on.

### Environment:

Using clang-10, tested with both charm v6 and charm v7. Both e

[2022-04-23 19:18] nilsdeppe commented on #3933
I don't see how you could have a race condition on a singleton. Race conditions happen when you have multiple threads accessing the same object. Singletons are tied to a specific thread.

[2022-04-23 19:29] nilsdeppe opened #3936 "Non-threadsafe mutable member variables"
# Bug reports:

### Expected behavior:

Pretty much all of our code should be threadsafe. Only exception I think we have explicitly decided on is HDF5, and this is because we want to avoid being tied to a thtreadsafe HDF5. Threadsafe HDF5 is incompatible with parallel HDF5 (MPI-based).

### Current behavior:

In #3928 the `mutable` keyword started being linted for. We need to make sure that "all"

[2022-04-23 19:49] knelli2 commented on #3933
OK yeah maybe race condition wasn't the right thing to call this. I've edited the title and description.

[2022-04-23 20:27] nilsvu commented on #3936
Yep I'll look at everything elliptic-related. At first glance those seem not obviously broken since they all run on a per-element basis (Schwarz solver, GMRES, ExplicitInverse, MinusLaplacian). Still, I'll look at them in detail and see if they can be made threadsafe or else document what's going on.

[2022-04-25 18:05] nilsvu opened #3937 "Regridding"
We need to interpolate data from one domain to another, e.g. for initial data solved on another domain, or to transition from the inspiral domain to the ringdown domain. I believe this is mostly a matter of iterating over all elements of both domains in some reasonable way. The only unsolved question I have is:

- How do we keep track of the block maps in numerical (initial) data saved to disk?

W

[2022-04-25 18:06] nilsvu commented on #3937
@geoffrey4444 @sxs-collaboration/spectre-core-devs some notes for next Thursday

[2022-04-27 21:59] kidder commented on #3899
Fixed with #3913

[2022-04-27 21:59] #3899 closed, assigned to markscheel

[2022-04-28 20:18] nilsdeppe commented on #3937
Notes from the call on Thursday, Apr. 28, 2022:

Initial data interpolation:
- Loop over each element on each node then each element requests the
  interpolated data at its grid points. We will not be able to hold the entire
  initial data computational domain on a single node most likely.
- How do you do the interpolation? In particular, we have Block maps in the
  initial data that we somehow ne

[2022-04-29 23:57] #3788 closed, assigned to markscheel

[2022-05-02 15:16] knelli2 commented on #3933
This issue is fixed by #3787.

I did another 500 runs of the KerrSchild executable on 4 cores and didn't see this issue once, so I'm fairly confident this is now fixed.

[2022-05-02 15:16] #3933 closed, assigned to nobody

[2022-05-02 15:17] wthrowe opened #3953 "Locking is not exception-safe"
Now that we are using exceptions, we have to care about exception safety.  One thing I know is not exception-safe is our use of locks.  We need to switch everything to use `std::lock_guard` or similar.

[2022-05-02 22:50] #3929 closed, assigned to markscheel

[2022-05-03 17:56] kidder opened #3956 "Periodic load-balancing test broken with Charm version 7"
# Bug reports:

### Expected behavior:

Test passes

### Current behavior:

Test passes with Charm v6.10.2, but fails when using Charm v7.0.0,

### Environment:

The macOS CI build (the only one using Charm++ v7.0.0 at the time) failed for #3787
I (and others) reproduced this also on Linux desktops using Charm++ v7.0.0

### Detailed discussion:

This appears to be Charm++ bug which causes some mes

[2022-05-05 19:46] nilsdeppe opened #3961 "Tests for filter_swsh_boundary/volume_quantity"
# Feature request:

The functions are added in #3450, but I didn't see any tests. In order to not hold that PR up any more I'm just filing an issue that we should added tests at some point for these

[2022-05-09 21:03] wthrowe opened #3964 "Control systems ignore measurements"
Discussion copied from #3883:

[code]

@wthrowe:

@knelli2:

@wthrowe:

@markscheel:

@wthrowe:

@markscheel:

Edit: Missed a comment in the thread.

[2022-05-09 21:06] wthrowe commented on #3964
@markscheel, can you give an example where everything isn't different by factors of two?  It's not clear to me which things are happening because they want to happen then vs. because it is twice the other time.

[2022-05-13 23:48] markscheel commented on #3880
Is this still a problem now that #3931 and #3934 have been merged?

[2022-05-14 03:17] kidder commented on #3956
Here is the charm++ issue https://github.com/UIUC-PPL/charm/issues/3605

[2022-05-14 05:19] nilsdeppe commented on #3880
From my understanding of the branch, this fixes the issue in YlmSpherepack, but there's a remaining mutable variable in the Shape map that got added in that branch, so I don't expect the branch to be fully working but not because of YlmSpherepack

[2022-05-16 21:46] kidder opened #3978 "Read CompOSE files"
Add the ability to read files form the [CompOSE database](https://compose.obspm.fr/)

[2022-05-16 21:48] kidder opened #3979 "Add quality check for tabulated EOS"
We need to check raw tabulated EOSs for potential problems such as:

- superluminal sound speeds

and produce a (as yet to be determined) tabulated EOS data structure without these problems.
We want the ability to save this data structure so that it can be used in multiple simulations, and also provide a complete record of how it was produced from the original raw tabulated EOS.

[2022-05-16 21:50] kidder commented on #3978
We read Stellar Collapse EOS with https://github.com/sxs-collaboration/spectre/blob/develop/src/IO/H5/StellarCollapseEos.hpp

[2022-05-17 17:20] wthrowe opened #3981 "Random failure in Unit.Domain.CoordinateMaps.UniformCylindricalEndcap"
Seen on CI

[code]

[2022-05-19 21:33] knelli2 opened #3984 "macOS test on CI can't find Catch"
# Bug reports:

Appears that cmake can't find Catch. This has happened on multiple of my PRs recently.

First appeared in https://github.com/sxs-collaboration/spectre/actions/runs/2348962964 from #3982 (however, this clearly didn't cause it). Has also appeared in https://github.com/sxs-collaboration/spectre/actions/runs/2349526892, https://github.com/sxs-collaboration/spectre/actions/runs/23536754

[2022-05-19 22:25] nilsvu commented on #3984
I believe Catch2 v3 was released and gets picked up by the CI workflow now. Should be an easy fix, just constrain to `catch2@2.8:2` in `support/DevEnvironments/spack.yaml`.

[2022-05-20 00:42] knelli2 commented on #3984
Yes I believe that fixed it. Thanks!

[2022-05-20 19:49] #3984 closed, assigned to nobody

[2022-05-25 22:36] nilsdeppe commented on #3739
I think Jordan did a bunch of performance measurements on different libraries and found that libsharp was fastest. We can just fork libsharp and add any small changes that we need. That seems more reliable than dealing with the constantly changing interfaces being put out by the authors.

[2022-05-26 00:01] knelli2 opened #3993 "Cannot monitor memory of MutableGlobalCache with control systems"
# Bug reports:

### Expected behavior:

Be able to monitor the memory of the MutableGlobalCache when we have spectre control systems enabled.

### Current behavior:

When you try to monitor the memory of the MutableGlobalCache with control systems, you will be able to monitor the MutableGlobalCache for a bit until the control system updates. Then it fails with the following error:

[code]

### Det

[2022-05-26 19:52] knelli2 opened #3994 "Confusion in interpolation framework"
This confusion stems from the `interpolator_source_vars` type alias that has to be defined in the metavariables if you want to do interpolation. This list of tensors has to be passed around a lot in the interpolation framework, but it's not always clear that this is the list being passed around. Often times it's just a generic `tmpl::list<Tensors...>` that come from a template pack. Here is a conc

[2022-05-26 20:04] wthrowe opened #3996 "Questionable DataBox subitems code"
DataBox contains the definition
[code]
and later uses it as
[code]
Aside from `tt::is_a` not working in this context, which is addressed by #3995 and doesn't seem to change any behavior, this operation doesn't make sense.  The code is removing all `::Tags::Subitem` types from a list, and then removing everything except `::Tags::Subitem` types, so the resulting list is always empty.

[2022-05-26 20:24] wthrowe commented on #3994
Sort of summarizing, I think the fundamental reason everything has to be the same is your 4, that all the interpolation uses the same component, and that component has to choose some type to store in its DataBox.  I don't see a way around that, so just pulling the types from one place makes sense.  The only annoyance I see is that some of these places don't currently have access to the metavariabl

[2022-05-26 20:49] kidder commented on #3996
yes, that code is nonsense...  I will fix it...

[2022-05-26 22:43] isaaclegred opened #3997 "Add Sanity checks to EoS parsing"
# Feature request:
We would like to add some Sanity checks for Individual EoSs during options parsing so that errors can be interpreted more easily.
### Component:
For example, in the Spectral EoS, such a check could be
[code]
- [x ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2022-05-27 01:47] kidder commented on #3996
- Since  `tt::is_a` did not work as intended, the first type alias `immutable_item_creation_tags` just give back `immutable_item_tags`.
- Besides being used in the second type alias, `immutable_item_creation_tags` was only used when printing items and pupping items.
- The second type alias `old_immutable_subitem_tags` is only used in an attempt to trigger a static_assert if you try to remove a sub

[2022-05-27 14:10] kidder commented on #3981
Another one on CI:

[code]

[2022-06-01 20:16] wthrowe commented on #3311
[code]

[2022-06-02 05:23] #3996 closed, assigned to kidder

[2022-06-02 05:23] #3512 closed, assigned to nobody

[2022-06-02 18:39] nilsdeppe commented on #442
Discussion from today's spectre meeting:

We will drop support for GCC versions older than 9.1.0 so we can backport `std::is_constant_evaluated()`, which allows using a different implementation of `ERROR` in constexpr and non-constexpr contexts. Alex Macedo found this to reduce compilation memory usage and time by a factor of 2. I'll update this comment once I've tested which Clang version we need

[2022-06-02 21:52] knelli2 opened #4013 "Frustum test failure"
# Bug reports:

https://github.com/sxs-collaboration/spectre/runs/6714495282?check_suite_focus=true

[code]

There's more to this error, but it's mostly just these same values.

@gsb76 could you look into this?

[2022-06-03 04:53] nilsvu commented on #3414
Quick note: observation IDs are now sorted by default.

[2022-06-04 17:25] nilsdeppe commented on #4013
Another:

[code]

[2022-06-04 21:35] nilsdeppe commented on #3887
This is resolved by switching to IntelMPI.

[2022-06-04 21:35] #3887 closed, assigned to nobody

[2022-06-04 21:39] nilsdeppe commented on #3652
Is what we're doing on Frontera and Anvil what you had in mind? If so, then I think that just leaves Expanse and I can update that

[2022-06-04 21:39] nilsdeppe commented on #3451
We've switched to IntelMPI which seems to be performing correctly.

[2022-06-04 21:39] #3451 closed, assigned to nobody

[2022-06-05 00:50] nilsdeppe commented on #2677
This was fixed #2680

[2022-06-05 00:50] #2677 closed, assigned to nobody

[2022-06-05 00:56] #2483 closed, assigned to nobody

[2022-06-05 01:02] #2131 closed, assigned to geoffrey4444

[2022-06-05 01:02] nilsdeppe commented on #2173
now tracked in #3352

[2022-06-05 01:02] #2173 closed, assigned to nobody

[2022-06-05 01:04] nilsdeppe commented on #2034
Fixed in #3766

[2022-06-05 01:04] #2034 closed, assigned to nobody

[2022-06-05 01:08] #1908 closed, assigned to nobody

[2022-06-05 01:15] #1480 closed, assigned to geoffrey4444, prayush

[2022-06-05 01:18] nilsdeppe commented on #1312
I recently changed the sizes to speed up the tests. They are now the values they are because it provides a reasonable balance between runtime and accuracy.

[2022-06-05 01:18] #1312 closed, assigned to geoffrey4444

[2022-06-05 01:19] nilsdeppe commented on #1254
Closing since those limiters aren't very robust to begin with and p=3 is not something they can handle.

[2022-06-05 01:19] #1254 closed, assigned to kidder

[2022-06-05 01:25] nilsdeppe commented on #1023
This issue is explained in https://github.com/sxs-collaboration/WelcomeToSXS/wiki/Wheeler#address-sanitizer

[2022-06-05 01:25] #1023 closed, assigned to nilsdeppe

[2022-06-05 01:27] nilsdeppe commented on #897
Is this still relevant?

[2022-06-05 03:02] kidder commented on #720
fixed in #3365 and #3559

[2022-06-05 03:02] #720 closed, assigned to nobody

[2022-06-05 07:01] nilsvu commented on #897
This is fixed. We ended up separating the elliptic and hyperbolic DG code, and I eliminated auxiliary DOFs from the first-order elliptic formulation with a Schur complement approach (see elliptic DG docs).

[2022-06-05 07:01] #897 closed, assigned to nobody

[2022-06-05 18:10] nilsdeppe commented on #4013
And another...
[code]

[2022-06-05 18:14] nilsdeppe commented on #3352
The third point in the checklist is addressed in #4019 where I reduce the number of clang builds. I think being thorough with GCC is good for the time being since that's the main compiler used on HPC systems.

[2022-06-05 18:15] nilsdeppe commented on #3298
@kidder did this get fixed?

[2022-06-05 18:17] nilsdeppe commented on #2829
I'm fine with the way this is currently handle.

[2022-06-05 18:17] #2829 closed, assigned to nobody

[2022-06-05 18:18] nilsdeppe commented on #2727
Is this effectively resolved with the `Actions::MutateApply` wrapper around mutators? Actions were originally envisioned to always do communication.

[2022-06-05 18:23] nilsdeppe commented on #2214
The issues I ran into have been addressed, I think. I'll re-open if I run into more issues.

[2022-06-05 18:23] #2214 closed, assigned to nobody

[2022-06-05 18:26] nilsdeppe commented on #1841
Isn't the more fundamental issue here that the hydro approximation isn't valid in vacuum? You assume something like Avogadro's number of particles, which is just not true in vacuum.

[2022-06-05 18:29] nilsdeppe commented on #1508
@kidder is this fixed?

[2022-06-05 18:31] kidder commented on #3298
"fixed" (by #3340) by inlining the lambda, but there may still be a bug in StaticCache

[2022-06-05 18:38] kidder commented on #1508
the issue is currently bypassed by changing 2 -> II in the title

[2022-06-06 03:38] nilsdeppe opened #4021 "Random failure in Unit.Elasticity.BoundaryConditions.LaserBeam"
# Bug reports:

[code]

[2022-06-06 12:37] fmahebert commented on #1841
I agree about the fundamental issue. Still, it might be nice for the code to fail more gracefully than by FPE...

[2022-06-06 16:59] knelli2 commented on #4013
Another

[code]

[2022-06-06 19:13] wthrowe commented on #3652
Yes, that solves it.

[2022-06-07 04:56] wthrowe commented on #3554
I'm seeing a similar issue triggered by the recently added `Unit.FiniteDifference.Wcns5zMc` test using `scipy.signal`.  I think the lower-level cause in this case is importing `cmath`, which is sufficient to cause an FPE when added to another test.  I've tested with python 3.8 and 3.10, and both behave the same.

[2022-06-07 16:09] wthrowe opened #4024 "Unit.Parallel.AlgorithmGlobalCache fails if WORKDIR/tests/Unit/Parallel/Test_AlgorithmGlobalCacheReduction.h5 exists"
[code]
It is not clear to me what is supposed to be cleaning this up.  I assume I interrupted the test on a previous run and whatever the normal cleanup is didn't happen.  Rerunning gives the same error.

[2022-06-07 16:25] wthrowe commented on #4024
Actually, no, this happens after any rerun of the test, it doesn't require interrupting a previous one.

[2022-06-07 16:27] wthrowe commented on #4024
@knelli2 Is this related to any of your recent GlobalCache changes?

[2022-06-07 16:36] knelli2 commented on #4024
I probably just don't remove the file when I should. Where should that be done? Before I need to write to it or once the test is finished?

[2022-06-07 16:46] wthrowe commented on #4024
I believe both is usual.

[2022-06-07 16:46] knelli2 commented on #4024
I guess a bigger picture question I had was, why does the testing framework not remove all generated H5 files before/after a test is run? If the files are generated by the test purely for the purpose of checking output, it seems a bit redundant for each test to have to worry about whether it's test file has been cleaned up or not. Why not have a global thing take care of it?

[2022-06-07 17:00] wthrowe commented on #4024
With the current interface it has no way of knowing what files were/are going to be generated by the test.  Feel free to write something if you have an idea of how to fix that.

[2022-06-07 19:39] nikwit commented on #3554
That's interesting. Unfortunately I do not really have any idea how to further debug this. This is definitely upstream, right?

[2022-06-07 22:13] wthrowe commented on #3554
Yes, although I'm not certain they would consider it a bug.

@nilsdeppe suggested disabling FPE trapping during calls to python code, and that seems reasonable to me.

[2022-06-07 22:29] nilsdeppe commented on #3554
Yea, this seems like the sort of thing that could be difficult to convince other projects is a bug, and even if we can, it still needs to be worked around before that version gets released.

Probably changing `pypp::call` to:
[code]
would fix the issue. I'm not sure if this will create problems with non-copyable return types, though. If so we could probably stick the enable-disable into a construc

[2022-06-08 16:23] #4024 closed, assigned to nobody

[2022-06-08 17:08] wthrowe commented on #3554
Seems to work.  I'll submit a PR.

[2022-06-08 21:36] nilsdeppe commented on #3621
I'll have a fix for this in an upcoming PR that does some cleanup of the volume data and python bindings

[2022-06-10 06:12] nilsdeppe commented on #119
#4023

[2022-06-10 16:18] #3554 closed, assigned to nobody

[2022-06-10 21:24] nilsdeppe opened #4036 "markdown-math-filter.pl breaks using $ in documentation"
# Bug reports:

If I do
[code]
in the documentation it renders correctly. There is some weird combination of line splits, and number of `$` that means the `$` gets replace with `\f$`. This is annoying because `$` is valid syntax in shell script examples. For example, see `Precompiled Headers and ccache` in https://spectre-code.org/travis_guide.html

[2022-06-10 21:29] nilsvu commented on #4036
Should be an easy fix in the perl regex. I'll take a look.

[2022-06-13 10:20] macedo22 opened #4037 "NodeLock and Burgers test failures plus test timeouts on ocean"
# Bug reports:

### Expected behavior:

All unit tests should locally pass

### Current behavior:

The following test failures and timeouts occur on ocean (and consistently) but not on GitHub CI:

[code]

I compiled `sxs:develop` with clang-10 debug on ocean and ran the tests by simply replacing `Release` with `Debug` in `ocean_clang.sh`, then running:
[code]

[2022-06-15 16:56] #2421 closed, assigned to nobody

[2022-06-15 16:56] #2678 closed, assigned to nobody

[2022-06-16 17:42] knelli2 commented on #4037
I was able to reproduce this. All the timeouts are just dependent on head-node usage. I reran all my timeouts and they passed, so I think those are ok.

However, the failed tests do indeed fail. Here's the output from the failed tests:

[code]

I think it has something to do with the fact that @geoffrey4444 switched to using a non-SMP version on charm++ on ocean.

[2022-06-16 18:23] wthrowe opened #4047 "Use of tt:conforms_to vs. tt::assert_conforms_to"
Under what conditions should we use one over the other?  Obviously if we need to have conditional code it's `tt::conforms_to`, and when testing a conforming struct it should be `tt::assert_conforms_to`, but what about general verifying requirements?  What we do is very inconsistent, including my own code.

Our documentation states that `tt::assert_conforms_to` should be preferred wherever possible

[2022-06-17 01:53] kidder commented on #3956
Update: the Charm++ bug was actually present in Charm V6 as well, it just rarely triggers in our test.  Though since we started running CI with the Charm V6 test case using clang-13 it is occasionally failing.  Therefore in #4052 I removed the spectre load balancing test.

Charm has identified and fixed the bug.  When we update to the next Charm version I will add a better load balancing test that

[2022-06-17 07:26] nilsvu commented on #4047
My intention was to prefer `assert_conforms_to` where possible (in all static asserts) because it checks for full protocol conformance (runs the protocol's `test`), so ideally it will throw compiler errors early and with helpful error messages (before missing types etc are encountered further down the line). The `conforms_to` metafunction only exists for SFINAE, so should rarely be needed. It only

[2022-06-17 16:08] nilsdeppe commented on #4013
Fixed in #4034

[2022-06-17 16:08] #4013 closed, assigned to nobody

[2022-06-17 21:05] #3621 closed, assigned to nilsdeppe

[2022-06-21 20:32] wthrowe commented on #4047
OK.  Works for me.  We should update the documentation of `tt::conforms_to`, then, since it currently says to use it to decrease compile times and that the actual test of the conformance should be in the unit tests.

I don't think this is true.  From my observations, protocol tests consist of looking up type aliases, which I don't think are memoized; instantiating things with dummy parameters; and

[2022-06-22 16:08] #2194 closed, assigned to nobody

[2022-06-23 00:16] geoffrey4444 commented on #2524
On my Apple Silicon Mac, I get a bus error when trying to run SolveXcts on more than one core. Specifically, the error happens when trying to call `invoke_iterable_action` on the action `Actions::SetupDataBox`, which does have a call to `db::create_from` inside it

[2022-06-24 21:51] nilsdeppe commented on #4037
There might be an issue about non-SMP locks not working. I vaguely remember something like this coming up.

[2022-06-24 22:11] #2485 closed, assigned to nobody

[2022-06-24 22:22] kidder commented on #1594
fixed in #1685

[2022-06-24 22:22] #1594 closed, assigned to nobody

[2022-06-24 22:23] nilsdeppe commented on #833
I think this was fixed at some point. @wthrowe can you close this if you're happy with the current wording in the code?

[2022-06-24 22:29] nilsdeppe commented on #470
as an example of how to use: https://www.oclcproxy.ornl.gov/6da/ArborX/-/blob/github/fork/aprokop/fix_distributed_driver/.clang-tidy

[2022-06-27 18:42] yoonso0-0 opened #4070 "Renaming Outflow boundary condition in GRMHD and possibly other evolution systems"
A boundary condition for GRMHD which lets outgoing fluid to leave the domain and magnetic field to evolve freely at the boundary is commonly referred to as "outflow", "hydrodynamic outflow", "free outflow" boundary condition etc. in literature. It's implemented as copy-pasting the outermost grid value of primitive variables into ghost zones if the fluid is traveling outward.

Currently we have `Ou

[2022-06-27 21:56] nikwit commented on #4070
IMO its most important that all these BCs in different systems should have the same name given that they are doing the same thing. In addition, the outflow enum in `Evolution/BoundaryConditions/Type.hpp` should have that same name for consistency.

Regarding the name itself I do not have strong opinions but `Outgoing` seems not very informative. Other candidates I can think of are `OutflowingCharF

[2022-06-27 23:52] yoonso0-0 commented on #4070
Another way I could think of is to leave current namings unchaged and use `HydroOutflow` or `HydroFreeOutflow` for the new one.

[2022-06-28 14:11] wthrowe commented on #833
Yes, this is fixed.

[2022-06-28 14:11] #833 closed, assigned to nobody

[2022-06-28 15:53] #2639 closed, assigned to markscheel

[2022-06-28 17:52] nikwit commented on #4070
That would probably be easiest, fine with me

[2022-06-28 17:59] #3587 closed, assigned to nobody

[2022-06-29 20:54] knelli2 opened #4082 "Phases in action list don't have to match phases defined in metavariables"
# Bug reports:

### Expected behavior:

If I define an action list, a build error should occur if I add a phase to the action list that isn't defined in the metavariables `default_phase_order`

### Current behavior:

With the BBH exec I had defined

[code]

but in the DG action list I accidentally defined a phase like

[code]

This built successfully, but during runtime I got errors that elements

[2022-06-29 21:01] kidder commented on #4082
Well the `default_phase_order` is not necessarily equivalent to a list of all possible phases that an executable may use once you use `PhaseControl` to select the next phase...

[2022-06-29 21:01] wthrowe commented on #3981
On the OSX CI job this time:
[code]

[2022-06-29 21:09] knelli2 commented on #4082
Oh. So is it a feature then to be able to put any phase I want into a component even if it's not defined in `default_phase_order`?

[2022-06-29 21:29] kidder commented on #4082
yes; for instance `LoadBalancing` and `WriteCheckpoint` are currently not in the `default_phase_order` (They may not be in an action list either).  But I can foresee wanting to switch to an AMR phase via PhaseControl which could then have an action list to execute...

I agree that it would be nice to catch the error you had at compile-time rather than run-time; I'll think about some...

I was plan

[2022-07-06 23:28] knelli2 commented on #4082
@kidder Just found another instance of where unifying all registration phases into one `Register` phase is necessary on develop. Inside `InterpolationTarget.hpp`, it uses the `Register` phase to do some registration. In the GHWithHorizon executable we also use the `Register` phase. However, in the BBH executable we use the `RegisterWithObserver` phase. We use `InterpolationTarget` in both of these

[2022-07-07 17:40] kidder commented on #4082
@knelli2 okay I will put in a PR to unify the registration phases.
I will also (attempt to) print out a warning if your phase action list contains phases not in the `default_phase_order`

[2022-07-07 19:45] wthrowe opened #4096 "Parallel test failure from checkpoint file collisions"
Various `Unit.Parallel` tests can fail when run in parallel with the error
[code]

This was introduced in 543754d889082a0104ce02febffdca2e7ce046c2 because the check for checkpoint directories is dependent on the existence of the `WriteCheckpoint` phase, which after that commit always exists but was previously absent from most testing executables.

[2022-07-07 21:45] wthrowe commented on #3255
[code]

[2022-07-07 23:20] kidder commented on #4096
I have a temporary fix in #4098

This is really two issues, one of which existed before the changes to how phases are handled:

1.  The old issue is that tests run in parallel can be run in the same directory and clash.  This is why we have different names for h5 files.  If there had been two tests that wrote checkpoint files, they would have clashed.  My temporary fix only addresses this for chec

[2022-07-08 15:30] wthrowe opened #4102 "Random failure in Unit.PointwiseFunctions.EquationsOfState.HybridEos"
On CI:
[code]

[2022-07-08 16:42] wthrowe opened #4103 "macOS CI action is building large dependencies from source on every run"
The macOS CI build frequently takes over an hour on "Install Spack dependencies", and looking in more details shows it is doing source compiles of many dependencies.  The worst offender is scipy, which takes over 15 minutes to install.
[code]

[2022-07-08 19:55] wthrowe opened #4105 "Python LD_PRELOAD message can print wrong executable name"
The python LD_PRELOAD message reads
[code]
but on my machine the build system decided to build against `python3.10`, not `python`.

It's also arguably a bug that it doesn't choose `python` when available.

[2022-07-08 20:13] nilsvu commented on #4103
Sounds like not all expensive dependencies are cached. Some ideas:
- There's a list of cached deps in the workflow yaml file that could be updated.
- Adding the `--all` flag to `spack external find` could help.
- We could try to add the binary cache from https://e4s-project.github.io/ to avoid relying on the GitHub cache.
- We should probably pin the spack version to v0.18.0 to make things more st

[2022-07-10 14:40] #4102 closed, assigned to kidder

[2022-07-15 19:10] #4036 closed, assigned to nilsvu

[2022-07-20 11:50] nilsvu commented on #4103
Looks like #4110 reduced the time to install Spack deps to ~10min (e.g. https://github.com/sxs-collaboration/spectre/runs/7396186357?check_suite_focus=true).

[2022-07-21 16:52] nilsdeppe opened #4124 "Unit.Options.Python.ExtractInputSourceYAMLFromH5 fails"
# Bug reports:

### Expected behavior:
It passes

### Current behavior:

Note that the test name should also be updated from `YAML` to `Yaml`

[code]
I'm using python 3.9.7. This looks like a string encoding issue to me. My OS is Ubuntu 20.10.

### Environment:

Add as an attachment `$SPECTRE_BUILD_DIR/BuildInfo.txt` or
add its contents here.

# Feature request:

### Component:

- [ ] Code
- [ ] D

[2022-07-22 00:21] nilsvu commented on #4124
I've seen string encoding issues with h5py < 3.0.0: https://docs.h5py.org/en/stable/strings.html
Which version do you use, and which is installed in the container? If this is the issue then maybe we should require h5py v3.0.0.

[2022-07-22 08:33] nilsdeppe commented on #4124
I'm using 2.10.0. I think that's the default on Ubuntu 20.10, but I don't remember if I got it from apt or pip

[2022-07-28 09:28] geoffrey4444 opened #4132 "BBH apparent horizon quantities are bogus when observed in inertial frame"
# Bug reports:

### Expected behavior:

AH scalar measurements, such as areal mass, should agree regardless of which frame the horizon is observed in.

### Current behavior:

![](https://user-images.githubusercontent.com/867015/180645199-b023375c-042c-4119-88b8-4c163768db5f.png)

The h1p7d curves are the same simulations except the green curve observes the AH in the grid frame.

### Environment:
[

[2022-07-28 20:32] wthrowe commented on #4103
Seems to be intermittent.  Of the open PRs from the past week (so should have #4110) I see the most recent builds for #4127 and #4129 to be ~10 min and those for #4128 and #4130 to be ~2 hr.  I don't see anything obviously different to cause it.

[2022-07-29 00:17] kidder opened #4133 "WedgeMap3D test failure"
# Bug reports:

### Expected behavior:

Test passes

### Current behavior:

[code]

### Environment:

[code]

[2022-07-29 21:47] markscheel commented on #4132
Does this behavior depend on the grid resolution?
Does it depend on the AH resolution?
The errors that I see in your plot are less than 1 percent, which might be explainable by insufficient resolution rather than a bug.

(also, I don't understand what all the different curves are in the plot, other than 1 of them is grid frame and the others are inertial frame. What is the difference between all t

[2022-07-29 22:51] markscheel commented on #4132
The function `strahlkorper_in_different_frame` might be especially sensitive to the AH resolution (i.e. max L). That function is used only when observing in the Inertial frame but finding the horizon in the Grid frame.

[2022-08-02 00:29] wthrowe opened #4138 "clang-tidy failures in UniformCylindricalEndcap.cpp"
Probably missed because they are swamped by the toms748 nonsense.
[code]

[2022-08-02 02:10] wthrowe opened #4139 "gcc 12: struct std::binary_function is deprecated [-Wdeprecated-declarations]"
Various files that include Utilities/Array.hpp:
[code]

[2022-08-03 15:29] geoffrey4444 commented on #4132
@markscheel the behavior does not appear to depend on grid or AH resolution. The differences are different spatial domains (different h refinements, mostly). The only thing that cures the symptom I see is finding AH quantities in the same frame...going up to much higher spatial or AH resolutions makes no difference

[2022-08-03 20:42] #4138 closed, assigned to markscheel

[2022-08-04 19:07] #4070 closed, assigned to nobody

[2022-08-04 20:43] markscheel commented on #4132
The problem is much worse than I thought.

All interpolation in the horizon finder occurs when the horizon is being found.  The metric quantities are interpolated onto the grid-frame Strahlkorper, and these metric quantities are used for finding the horizon, and afterwards they are also used for observing in the grid frame.  The problem is that those same metric quantities (transformed into inerti

[2022-08-08 15:19] markscheel commented on #4132
SpECTRE meeting Aug 8 2022: Lets go with the 2nd solution: observe everything in grid frame that can be observed in grid frame, like SpEC does.
This means:
  * Spin-direction observer needs to be rewritten to take both Grid-frame and Inertial-frame Strahlkorpers.
  * `vars_to_interpolate_to_target` will get smaller.
  * Trajectory observer (if we want one, independent of the control system output)

[2022-08-11 21:54] wthrowe opened #4155 ""Vector sizes do not match" in tensor expression division"
The following fails at runtime with "Vector sizes do not match".  Either changing the division to multiplication or removing one of the terms in the denominator works.
[code]

[2022-08-12 07:59] macedo22 commented on #4155
Thanks @wthrowe Found the bug and know the fix. Will push a fix as soon as I can!

[2022-08-13 07:47] macedo22 commented on #4155
@wthrowe I don't know what motivated such an interestingly specific expression, but it was pretty uniquely suited to find the bug it did, so thank you!

[2022-08-16 21:57] knelli2 commented on #3493
I'm now trying to do something similar to this, but not exactly the same.

My idea is to have pre-built executables in the container that people can run without having to worry about building spectre. However, this makes the image fairly large, so we wouldn't want to use this image for CI. Also the image with pre-built executables doesn't need all the extra compilers that are needed for CI. Only o

[2022-08-17 18:09] knelli2 commented on #3493
From preliminary tests from building on my local computer, the current image on `sxscollaboration/spectrebuildenv` is ~8.5G. Here are the sizes for each of the images I have (as of 8/17/22):
- `knelli/spectre:base` = 3.4G
- `knelli/spectre:ci` = 6.2G
- `knelli/spectre:visualize` = 6.0G
- `knelli/spectre:demo` = 6.7G

Already these are individually smaller than our current image which I think is re

[2022-08-17 18:53] wthrowe opened #4171 "Incorrect errors in CubicScale"
The CubicScale map has the checks
[code]
The second check is not checking the same thing as the error message claims.  Normally I would just assume a typo in the error message, but the current things that are actually checked don't seem to make a lot of sense: The first two checks are equivalent to `0 < 2/3 a <= b`, so it seems strange to then check `b > 0`.

[2022-08-17 20:47] wthrowe opened #4172 "UniformCylindricalEndcap::inverse has lots of untested code"
For my current purpose, this matters because the `newton_raphson` function is either having its implementation changed or being completely removed in #4135.  When making this change elsewhere, I have often run into trouble with brackets and roundoff and similar, so I think there is a high probability that my changes will break code paths if I cannot test them.

[2022-08-17 23:15] markscheel commented on #4171
So it looks to me like the actual requirements are:
 * `a >= 0`   (or else the mapped radius is negative near the origin)
 * `b >= 2/3 a` (or else r as a function of rho turns over before the outer boundary, so the inverse map is double-valued)
 * either `a` or `b` must be nonzero (or else the mapped radius is zero for all rho).

 So if we keep the first check as-is, the second check should just b

[2022-08-17 23:40] markscheel commented on #4172
How do I run codecov locally? I haven't done it for a long time, and nowadays I find it easier to just have CI tell me cases that I missed.  (are there instructions somewhere?)

[2022-08-18 15:35] nilsvu commented on #3493
I think this sounds great. Having a demo container with a spectre build and ParaView installed would be very useful for tutorials. A few questions:

- Do you understand how your `ci` container can be smaller than our current one? My understanding is that it should be identical.
- I worry a bit about maintaining this many containers. Perhaps we should start with only adding a `demo` container on to

[2022-08-18 16:31] knelli2 commented on #3493
- I removed clang-8 and include-what-you-use from the `ci` container so that probably has something to do with it. But it seems strange that those two things would add so much.
- After some thought I think I will only have 3 containers: `dev` (formerly `base`, just to keep naming similar to our develop branch), `ci`, and `demo`. The `vis` image only had Paraview on top of `base` and didn't really

[2022-08-18 17:21] #4171 closed, assigned to nobody

[2022-08-18 20:19] nilsvu commented on #3493
Quick note: I suggest you put the demo container build in the `PostRelease.yaml` workflow. It runs after the release is published, and it's ok if it runs for a while.

[2022-08-19 17:56] #4155 closed, assigned to macedo22

[2022-08-23 19:30] #4132 closed, assigned to markscheel, geoffrey4444

[2022-08-25 20:20] knelli2 opened #4184 "Singletons distributed improperly in non-SMP mode"
# Bug reports:

### Expected behavior:

Regardless of SMP vs non-SMP builds of charm, the singletons should be distributed evenly over the *physical* resources, not just the charm virtual nodes/cores.

### Current behavior:

In SMP mode, singletons are distributed properly, but in non-SMP mode, since nodes and cores are equivalent, the ordering gets messed up so all singletons are placed on the fi

[2022-08-26 14:34] ermost opened #4185 "Add global bounds for electron fraction"
### Expected behavior:

In several places in the code, e.g., after reconstruction or during primitive recovery, it is necessary to enforce bounds on the electron fraction. For 3-dim equation of state tables these should correspond to the range of the table.
For other equations of state the electron fraction isn't used, but it would be good to have some bounds, e.g., [0:1], for consistency.
One sol

[2022-08-29 22:29] wthrowe commented on #4021
[code]

[2022-08-31 02:55] duetosymmetry commented on #3666
I think we can skip the workflow step 'Prepare for upload' which does the first zip,
https://github.com/sxs-collaboration/spectre/blob/37590fb533eeb256d39b015ab3e270203294dd80/.github/workflows/Tests.yaml#L278-L281
because [`upload-artifact` can upload a whole directory as documented here](https://github.com/actions/upload-artifact#upload-an-entire-directory).

[2022-08-31 05:23] nilsvu commented on #3666
Last time I checked the directory wasn't automatically compressed before uploading, so it took orders of magnitude longer. That's why I added the compression step. However, I think what we should do now is `tar` the docs directory before uploading, format it correctly for GitHub Pages, then deploy it directly to GitHub Pages. It will still show up as an artifact, and named differently so this issu

[2022-08-31 16:58] duetosymmetry commented on #3666
You're right... you still get a zip, now with an ordinary directory structure instead of another zip inside. I don't know why there is such a slowdown (I found the upload stage to take 9min30sec instead of less than 10sec).

Are you proposing to deploy docs for each PR? Or only once a PR is merged in? It's nice to be able to examine the docs as a result of the github action, but it's unclear to me

[2022-08-31 18:54] wthrowe commented on #4133
[code]

[2022-08-31 22:10] nilsvu commented on #3666
I believe the `upload-artifact` action uploads the _many_ files in the docs directory individually, like when you `scp` a directory. Only when downloading the artifact from the web UI is a zip created on demand (even when the artifact has only a single file that is already zipped, which was the original confusion that prompted this issue).

I don't propose any changes to when and where we deploy d

[2022-08-31 22:39] duetosymmetry commented on #3666
That first part is a head-slapper...

Ok, so for 1. deploying the merged PRs, switch to GitHub Pages, that sounds great.

For 2. the docs from open PRs, one idea would be that a docs deployment only runs on the forked repo where the PR comes from, except this still has the problem that if you have multiple PRs from the same forked repo, then the deployed docs will keep getting thrown away by newer

[2022-09-01 02:21] kidder commented on #3666
@duetosymmetry FYI, we have a script (tools/pr-docs) that will locally generate documentation from a PR

[2022-09-01 06:48] nilsvu commented on #3666
For the PR docs deployment we have to choose a place to host the html files temporarily. CircleCI seems to support webserver access to its artifacts, based on what you said. GitHub Actions doesn't (yet) to my knowledge. My first thought would be https://netlify.com. Personally I don't see enough need for the feature at the moment to spend time implementing it myself, but if someone wants to do it,

[2022-09-02 01:50] wthrowe commented on #4133
[code]

[2022-09-02 19:59] nilsdeppe opened #4205 "Pybind11 causes python main test to fail"
# Bug reports:

I can't get the `python.__main__` test to pass and noticed in CMake I get:

[code]
I don't know what this means. I'm using Ubuntu 22.04, `pip3 install "pybind11[global]` install

[2022-09-07 15:53] keefemitman opened #4209 "CharacteristicExtract.yaml should use ConformalFactor"
# Feature request:

Change the method of initializing J in the CCE CharacteristicExtract.yaml file to ConformalFactor.

This amounts to changing
[code]
to
[code]

Also need to update `spectre/docs/Tutorials/CCE.md` to reflect this change

[2022-09-07 17:36] knelli2 commented on #4209
A note about the `CCE.md` file: We probably shouldn't just have blocks of python code in the tutorial. It was probably added because pybindings either didn't exist or weren't as far along to support this. @keefemitman @Sizheng-Ma are the two blocks of python code in the tutorial useful enough to be their own small python executables?

[2022-09-07 17:49] Sizheng-Ma commented on #4209
I like this idea. It'd be nice to have a separate python executable so that we don't need to copy them each time.

[2022-09-07 19:54] wthrowe opened #4210 "Non-initialization actions cannot take input-file options"
Initialization actions (those in `Phase::Initialization`) can take options from the input file by defining `initialization_tags` and `initialization_tags_to_keep`, but those aliases are not respected for actions outside that phase.  As far as I know, the only way to get an option is to define an initialization action that does nothing, but this has proven very bug-prone as it must be kept in sync

[2022-09-07 20:38] knelli2 commented on #4210
What is your goal here? Is it to have a simple tag and populate its value directly from options?

[2022-09-07 20:40] wthrowe commented on #4210
Yes.

[2022-09-07 20:43] knelli2 commented on #4210
Is adding the tag to an existing initialization action's `initialization_tags` and `initialization_tags_to_keep` aliases in your component not an option?

[2022-09-07 20:45] wthrowe commented on #4210
That doesn't solve the problem with keeping the actions in sync.  (And probably actually makes it worse.)

[2022-09-07 20:52] knelli2 commented on #4210
I guess I'm confused what you mean when you say "in-sync"? If an initialization action adds a tag (and keeps it), then all actions in subsequent phases have access to that tag. This is true for every exectuable that uses that initialization action without any extra work on the developers part.

Are you saying that that this shouldn't be the case and that non-initialization actions should be able t

[2022-09-07 21:00] wthrowe commented on #4210
Yes.  And in particular this causes a silently ignored input file option.

[2022-09-07 21:02] wthrowe commented on #4210
Or, to clarify "Yes" to everything starting at "non-initialization actions should be able to define tags...".  The current behavior of initialization actions is fine.

[2022-09-07 21:10] knelli2 commented on #4210
Hmm ok. How about this.

Non-initialization actions can (but don't have to) define an alias `simple_tags_created_from_options` where all tags in that list will just be created from options and don't need an initialization action. `Main` will find all these tags in these aliases from the non-initialization actions, add them to the collective `initialization_tags` and `initialization_tags_to_keep` f

[2022-09-07 21:15] wthrowe commented on #4210
Yes, that would solve it.  We should check if non-option simple and compute tags can be added too.

The initialization action access thing is already true of any tags requested by other initialization actions, or of global cache tags requested by non-initialization actions.

[2022-09-07 21:40] knelli2 commented on #4210
So then the only time we would add simple tags to an initialization action is if we actually have to do some calculation in order to initialize the value of the non-option simple tag?

[2022-09-07 21:50] wthrowe commented on #4210
That could be true (although some widely used tags might just be added in one place), but it's actually quite common for the initialization actions to do non-default initialization.  Most grid quantities are allocated with the correct size, and all the time-related things are transformed from the input floating point values to slabs and slab fractions, for a few examples.

[2022-09-07 22:11] knelli2 commented on #4210
Ahh ok makes sense. This all sounds good.

As I was thinking about this a bit more, it seems like it will only be useful if you actually have iterable actions in the `Phase::Evolve`. For the control system, interpolator, interpolation targets, observer/writer, memory monitor, etc.. (all the "idle" components which wait for simple actions to be called on them) we still have to use the initializatio

[2022-09-08 02:06] kidder commented on #4210
based on discussions with @wthrowe in person today and @nilsdeppe previously:

It is on my to-do list to clean up some initialization things after going to a single data box in an distributed object:
- Most initialization actions will be replaced by mutators since all items are in the DataBox from the start, and mutators are easier to write/test than actions
- Will get rid of `initialization_items

[2022-09-08 06:32] nilsvu commented on #4210
To answer your original question: if all you need is for an action to define an input-file option, then you can define `const_global_cache_tags` in the action. Of course these won't be stored in the DataBox as editable simple tags, but in the const global cache. Therefore, it's an easy way to define input-file options for constant parameters and such. From your follow-up comments I understand you

[2022-09-08 23:17] knelli2 opened #4215 "Cannot open H5 file if it was just written to from a Jupyter notebook until kernel is killed"
# Bug reports:

### Expected behavior:

Be able to use an H5 file after I have written to it from a Jupyter notebook without having to kill the kernel.

### Current behavior:

Here is a minimal example explaining what happens.

Suppose you have an existing spectre H5 file `existing.h5`. Run the following block in a Jupyter notebook

[code]

The output of this cell should be

[code]

However, if yo

[2022-09-09 07:31] nilsvu commented on #4209
You can also add Jupyter notebooks to the docs now. They get rendered to markdown, and you can test the code snippets more easily. Could be useful for tutorials like this. Moving the code to py scripts in the repo also sounds good.

[2022-09-09 16:10] knelli2 opened #4217 "Order the output in Dat files"
Right now, the time order of a dat file isn't guaranteed because rows are written when they are received by the ObserverWriter, not by when they are sent. This is in line with Charm++. However, it would be nice if the rows of a dat file (usually based on the 0th column which represents time) were automatically monotonically increasing when they were written. I've had to post-process the data to ac

[2022-09-12 21:01] wthrowe opened #4222 "Potential over-extrapolation in dense output when changing step size"
Dense output can extrapolate to the end of the current time step (currently only does so when using `AdamsBashforthN`).  This could be a problem if the step size is decreased after the `RunEventsAndDenseTriggers` action has completed but before an actual step is taken.  This can happen either if the slab size is decreased by the `ChangeSlabSize` action or if an error estimate causes an LTS step re

[2022-09-14 19:17] #4172 closed, assigned to markscheel

[2022-09-14 20:42] duetosymmetry commented on #4209
Partially closed in #4211, except for python surgery anyone wants to do

[2022-09-17 16:35] nilsdeppe opened #4235 "Failure in NumericalAlgorithms.Interpolation.PredictedZeroCrossing"
# Bug reports:

[code]

[2022-09-23 17:33] wthrowe opened #4245 ""Vector sizes do not match" when observing error norms"
Trying to observe error norms on Burgers crashes the evolution with "Vector sizes do not match".  From running through a debugger, it looks like the evolved variables are on the subcell grid, but the analytic solution is on the DG grid.

Reproduce on current develop (`v2022.09.02-98-gacf1679dd`) by replacing the `EventsAndTriggers` in the test Step.yaml with
[code]

[2022-09-26 00:44] geoffrey4444 opened #4249 "Unit.Utilities.FileSystem fails on macOS 13"
# Bug reports:

### Expected behavior:

`Unit.Utilities.FileSystem` test passes.

### Current behavior:
`Unit.Utilities.FileSystem` test fails for a silly reason. Not sure if/when this change happened, but on macOS 13, the test fails on two checks looking for a filename in an error message from `std::filesystem`. In the error messages on macOS (unlike on Linux), the filename in square brackets is

[2022-09-26 15:40] nilsdeppe commented on #4249
I think there's another case similar to this that just changed the regex to allow for either. That would be preferred. I'm worried about the `if apple` because different macOS versions might behave differently. E.g. CI is happy with what we are currently checking.

[2022-09-26 15:52] nilsdeppe commented on #3978
Done in #4087

[2022-09-26 15:52] #3978 closed, assigned to ffoucart

[2022-09-27 19:44] nilsdeppe commented on #2932
I _think_ this would need to be added upstream to Charm++: https://charm.readthedocs.io/en/latest/faq/manual.html#can-i-do-multiple-reductions-on-an-array

[2022-09-27 19:47] nilsdeppe commented on #1570
Fixed in #4236

[2022-09-27 19:47] #1570 closed, assigned to nobody

[2022-09-27 19:47] nilsdeppe commented on #907
@wthrowe I think this is fixed with #4236 right?

[2022-09-28 15:54] wthrowe commented on #907
Yes.

[2022-09-28 15:54] #907 closed, assigned to nobody

[2022-09-28 23:11] wthrowe commented on #2519
[code]

[2022-10-04 23:01] #4235 closed, assigned to markscheel

[2022-10-11 17:08] pajkosmi opened #4282 "Unit.Options.bad_colon fails on MacOS 12.6"
# Bug reports:

### Expected behavior:
[code]
test passes.

### Current behavior:
Unit.Options.bad_colon fails with below error.  This may be related to the Catch2 library.  For reproducing the error, in the below cmake configuration, note the `CATCH_INCLUDE_DIR`.  I was unable to build SpECTRE with the `/Catch2/include/` path as outlined in the [Mac OS installation guide](https://spectre-code.org

[2022-10-11 17:27] wthrowe commented on #4282
What version of yaml-cpp are you using?  Is it from some sort of package, or did you compile it yourself?

[2022-10-11 17:32] pajkosmi commented on #4282
I installed it with homebrew.  I have version `0.7.0`.

[2022-10-11 18:49] wthrowe commented on #4282
This is changed behavior in 0.7.0: jbeder/yaml-cpp#590.  We currently only support 0.6.3, but we should probably get 0.7.0 working, since it's been out for over a year now.

I'm not quite sure how to interpret what happened there, but as best as I can tell yaml-cpp fixed a bug in the 0.6 series but people complained because they had YAML files that their downstream code stopped handling correctly,

[2022-10-11 19:36] wthrowe commented on #4282
Please test #4283.

[2022-10-11 21:59] pajkosmi commented on #4282
After rerunning the test suite on your branch, the `Unit.Options.bad_colon` test still fails.

[2022-10-11 22:13] wthrowe commented on #4282
Hmm.  I bet parsing the keys of the map doesn't call back into our code and is just done internally by yaml-cpp.  I need to think about this.

[2022-10-12 14:03] nilsdeppe opened #4287 "Random failure Unit.ControlSystem.Systems.Shape"
[code]

[2022-10-12 14:15] nilsdeppe commented on #4287
Another...
[code]

[2022-10-12 21:17] wthrowe commented on #4282
With some experimenting, I've found that yaml-cpp's parsing of null nodes is extremely inconsistent.  They have multiple conversion routines to create strings that produce different answers, and it is not always obvious which one is going to be called.  So, I think we can't rely on getting any particular result and just have to assume that we will get an error at some stage of the parsing if a nod

[2022-10-12 22:33] #4287 closed, assigned to knelli2

[2022-10-13 17:03] nilsdeppe opened #4293 "Early clean termination from file existence"
It would be very useful to be able to terminate a simulation early, i.e. before whatever final time was specified. This is useful for being able to terminate a job before the final time but being able to avoid output file corruption.

A discussion with @wthrowe @markscheel @knelli2 @ermost and @nilsvu considered two designs:
1. Check for file on disk
2. Termination handler

The second is a bit tri

[2022-10-13 17:17] wthrowe commented on #4293
Not sure if it can be quite this general, but we could try for an input file appearance of
[code]
With big warnings in the docs for the special events and triggers that bad things will happen if you use them wrong.

Could also use this trigger to print diagnostics on only one element.

[2022-10-13 17:29] nilsdeppe commented on #4293
I like that idea. Keeps things more modular.

[2022-10-13 18:27] wthrowe commented on #4293
More thoughts:

Potential problem 1: OnlyOneElement + FileExists will still trigger every slab until the evolution actually stops.  Probably OK as long as we are terminating (or just printing diagnostics), but need to make sure nothing gets confused by that.

Problem 2: The plain synchronization algorithm can't tell when it has synchronized: it just quiesces.  If we want to do anything except term

[2022-10-13 20:03] wthrowe commented on #4293
Easy optimization to the synchronization algorithm: Element triggering the sync sends it's slab number.  All other elements know they can't sync until at least that time, and so can keep running normally until then.  Since the triggering element is the most advanced on its core, that might be a decent win.

---

Algorithm to determine when everything is synchonized:

1. Choose a chare to manage th

[2022-10-14 17:51] wthrowe opened #4298 "Random failure in Unit.PointwiseFunctions.GeneralRelativity.Transform"
[code]

[2022-10-15 00:59] kidder commented on #4298
I have seen another CI run where this fails because some tensors contain values of order 10^10.   I think the range on the random values needs to be reduced to order unity

[2022-10-17 20:32] wthrowe opened #4301 "Random failure in Unit.NumericalAlgorithms.Interpolation.ZeroCrossingPredictor"
On CI.
[code]

[2022-10-17 21:00] wthrowe opened #4302 "Random failure in Unit.Domain.CoordinateMaps.SphericalTorus"
On CI.
[code]

[2022-10-18 23:42] knelli2 commented on #4298
Yeah here's another with some values on the order of 1e7:

[code]

[2022-10-20 12:58] #4139 closed, assigned to nobody

[2022-10-20 13:01] nilsdeppe opened #4305 "Random failure in Unit.PointwiseFunctions.GeneralRelativity.Transform"
[code]

[2022-10-20 13:02] nilsdeppe commented on #4302
This naively seems like a fairly large difference. @wthrowe since you wrote that map originally, any insight into if this is expected or worrisome?

[2022-10-21 20:58] yoonso0-0 opened #4311 "Clang-tidy error with Toms748 root finder"
In the line 179 of `FixConservatives` class of GRMHD,
https://github.com/sxs-collaboration/spectre/blob/0357edee5e2bba596ae97486a2a91afe08e3a654/src/Evolution/Systems/GrMhd/ValenciaDivClean/FixConservatives.cpp#L179-L180

if I move the latter assignment (tilde_d) to in front of the first one like this :
[code]

then I get the following error on CI :
[code]

[2022-10-21 21:00] yoonso0-0 commented on #4311
Somehow `\\ NOLINT` commands in https://github.com/sxs-collaboration/spectre/blob/develop/src/NumericalAlgorithms/RootFinding/TOMS748.hpp are not effective?

[2022-10-21 21:01] kidder commented on #4311
This is a known problem and we have no idea how to fix it.  Therefore we ignore these clang-tidy errors when deciding to merge PRs

[2022-10-21 21:18] yoonso0-0 commented on #4311
Okay, thanks!

[2022-10-21 21:19] #4311 closed, assigned to nobody

[2022-10-24 16:38] yoonso0-0 commented on #4305
Fixed via #4308 :)

[2022-10-24 16:38] #4305 closed, assigned to yoonso0-0

[2022-10-24 16:38] yoonso0-0 commented on #4298
Fixed via #4308

[2022-10-24 16:38] #4298 closed, assigned to yoonso0-0

[2022-10-25 20:43] #4282 closed, assigned to nobody

[2022-10-26 21:08] wthrowe opened #4318 "Deprecation warning in Render1D.py when using subcell"
I don't think I'm doing anything particularly unusual here, just viewing the output of an ObserveFields.  I do not see a warning with pure DG.

Buildinfo.txt
[code]

[2022-10-27 17:32] keefemitman opened #4319 "Output time steps of Cce w/ constant StepChooser doesn't match the input time step"
# Bug reports:

### Expected behavior:

When the only StepChooser is Constant, the output time steps of Cce should be constant and match the input time step.

### Current behavior:

When the only StepChooser is Constant, the output time steps of Cce are *not* constant and do *not* match the input time step.

(Example of this can be found on Wheeler here: `/panfs/ds09/sxs/kmitman/spectre_cce_issues

[2022-10-27 17:49] knelli2 commented on #4319
@keefemitman Can you paste the input file you were using here as well?

[2022-10-27 17:50] keefemitman commented on #4319
[code]
Edited for formatting - wthrowe

[2022-10-27 18:10] keefemitman commented on #4319
I suppose I should change
`ScriInterpOrder: 5
ScriOutputDensity: 5`
to
`ScriInterpOrder: 1
  ScriOutputDensity: 1`
But even then it still isn't the exact same input time step.
(Not that big of a deal, but thought I'd point it out)

[2022-10-27 18:15] knelli2 commented on #4319
Yeah after a quick glance, CCE doesn't output data at exact time steps, but rather a time interpolation between steps. I'd have to look deeper into things to see what exactly it's doing

[2022-10-27 18:30] wthrowe commented on #4319
Sticking some prints in the time-stepper code, I see steps of 0.078125, which is as close to 0.1 as possible with the restriction of being the slab size over a power of two, so I don't think this is a time-stepping problem.

[2022-10-27 18:31] #4319 closed, assigned to nobody

[2022-10-27 18:42] knelli2 commented on #4319
@wthrowe Is that want `Constant` means? The constant value won't be what you input, but a value close to it which is the slab size over a power of 2? And then if the slab size changes, the new "constant" will be a different value?

[2022-10-27 18:58] wthrowe commented on #4319
All the step choosers specify a desired time step, and the evolution code will do it as well as possible.  For slab adjustment, that can be done to roundoff.  For step adjustment, it has to conform to the restrictions of the step controller, of which the only one that works well (BinaryFraction) forces a power of two from the slab.

If you want exact control of the time step, set the slab size to

[2022-10-27 19:52] wthrowe commented on #4302
Turns out the map is fine, but the value the test compares to was inaccurate.

[2022-10-28 16:40] #4302 closed, assigned to nobody

[2022-11-02 01:43] wthrowe opened #4340 "FIXME comments should be converted to GitHub issues"
While I don't think we have an explicit policy for FIXME, we don't allow TODO comments and they are basically synonyms.

[code]

[2022-11-02 01:58] ermost opened #4342 "Update AnalyticData and Solutions to use proper electron fractions"
Need to update initial conditions to use proper electron fractions.
This requires additional EoS infrastructure.

See also #4185, #4340 #4341

[2022-11-02 01:59] ermost commented on #4340
Thanks, @wthrowe!
I've created a PR to remove those and added a new issue.

[2022-11-02 02:03] wthrowe commented on #4340
That was fast.  Thanks!

[2022-11-03 21:27] #4340 closed, assigned to ermost

[2022-11-04 18:57] nilsvu opened #4354 "Docs for Parallel::Phase are out of date"
The docs say that a `determine_next_phase` function is required, but most executables define `default_phase_order` instead. Docs need to be updated.

[2022-11-04 18:58] nilsvu commented on #4354
@kidder would you be able to take care of this?

[2022-11-05 01:08] #4354 closed, assigned to kidder

[2022-11-10 19:05] knelli2 opened #4364 "Failure in Unit.Evolution.Systems.NewtonianEuler.Subcell.TciOnDgGrid"
There are a couple pretty drastic differences

[code]

[2022-11-10 20:36] nilsdeppe commented on #4364
How is this random? The numbers differ by 25 orders of magnitude... I can't reproduce this in the container with 10k runs. I think this is a caching problem. We might need to rebuild the develop cache.

Edit: and the test doesn't use random numbers, so it can't be random...

Edit2: I can't read, agree the numbers are close, but still no random values in the test...

[2022-11-10 20:50] nilsdeppe commented on #4364
I can submit a PR that changes to `CHECK_ITERABLE_APPROX` or something like that to avoid any machine precision accumulation

[2022-11-10 21:59] knelli2 commented on #4364
Random in the sense of we don't normally see this test fail. I'll change the title

[2022-11-10 22:21] nilsdeppe commented on #4364
I can submit a PR that changes to `CHECK_ITERABLE_APPROX` or something like that to avoid any machine precision accumulation

[2022-11-14 19:14] #4364 closed, assigned to nobody

[2022-11-14 21:20] wthrowe opened #4374 "InfoAtLinkExtractFlags.py errors with -Werror=... in CMAKE_CXX_FLAGS"
With, for example, `-Werror=shadow`, `make ParallelInfo` runs this:
[code]

[2022-11-14 21:27] nilsvu commented on #4374
I'll fix this

[2022-11-15 18:20] wthrowe opened #4379 "Random failures in Unit.Evolution.Systems.GeneralizedHarmonic.DuDt"
These seem to be pretty frequent.  I've seen a few on CI over the past few days and have hit them locally.

[code]

[2022-11-15 22:11] nilsvu opened #4382 "Domain diagnostics"
We need to improve our capabilities to analyze where our computational grids need more or less resolution. This is important for many reasons:

- We need to understand if some parts of the domain are severely underresolved, leading to large numerical errors.
- Wasting resolution on regions of the domain that are overresolved significantly increases the cost of a simulation.
- These diagnostics for

[2022-11-15 22:27] nilsvu opened #4383 "Neutron star surface finder algorithm"
Find the surface of a neutron star in numeric volume data. This is needed to adapt the computational grid to the stellar surface so the surface discontinuity doesn't spoil exponential convergence of our initial data solver. It's also useful to impose the regularity condition on the elliptic equation for the velocity potential, which we want to solve only within the star. Basic idea:

- Choose the

[2022-11-16 01:48] #4374 closed, assigned to nilsvu

[2022-11-16 21:01] wthrowe commented on #1467
This was fixed at some point, probably when FSAL support was added.

[2022-11-16 21:01] #1467 closed, assigned to wthrowe

[2022-11-16 21:59] wthrowe commented on #3640
Is there a timeline for removing this class?  It's been over a year.

[code]

[2022-11-16 22:49] nilsdeppe commented on #4379
And another...
[code]
I've seen about a dozen of these in the last day

[2022-11-16 22:51] geoffrey4444 commented on #4379
There's a tolerance I thought was tight enough but I guess not...I'll loosen and submit a fix PR

[2022-11-17 02:05] nilsdeppe commented on #4382
I think another reasonable diagnostic is to compare the analytic Jacobian compared to the numerical logical partial derivative of the inertial coordinates. Specifically the (relative) difference between the too should give a good indication of how resolved the maps are

[2022-11-17 02:39] wthrowe commented on #1957
Fixed in #2542.

[2022-11-17 02:39] #1957 closed, assigned to isha1810

[2022-11-17 02:39] wthrowe opened #4387 "Unit.IO.H5.Python.ExtractDatFromH5 tries to write to the source directory"
[code]

`/home/wthrowe/spectre` is the source directory, `/home/wthrowe/spectre-gcc-debug-64` is the build directory.

[2022-11-18 00:14] geoffrey4444 commented on #4379
The failure happens in GeneralizedHarominc/Test_DuDt.cpp:889. The previous check on line 881 passes when I run the test 10k times.

I don't get why the test is failing. It passes sometimes, but sometimes fails with differences bigger than 1e-2. Does anyone see anything silly I'm doing here?

[2022-11-18 19:22] geoffrey4444 opened #4393 "Error from memory monitor in BBH runs"
# Bug reports:

### Expected behavior:

BBH run evolves normally.

Paths to runs:

With memory monitor:
`ocean:/home/geoffrey/BBH/spectre/q1spin0_develop/111622/spectre_run/h1p9csph/enforce3con/nomemmonitor/withmemmonitor`

Without memory monitor:
`ocean:/home/geoffrey/BBH/spectre/q1spin0_develop/111622/spectre_run/h1p9csph/enforce3con/nomemmonitor/`

### Current behavior:

If memory monitor comme

[2022-11-19 05:13] #4387 closed, assigned to nobody

[2022-11-19 19:42] nilsdeppe opened #4397 "Random failure in Unit.Domain.CoordinateMaps.Wedge3D.Map"
# Bug reports:

[code]
I'm not sure if this is just that the outer sphericity should be limited to something like 0.9.

[2022-11-21 17:39] geoffrey4444 opened #4399 "Dense output with local time stepping gives incorrect results"
# Bug reports:

### Expected behavior:

Dense output with local time stepping (LTS) does not have large errors that grow linearly with the time step size.

### Current behavior:

I have a tensor that is zero at t=0. Observing with local time stepping and dense output incorrectly gives an L2 norm of O(1e-6) at t=0.

Path to evolution: `ocean:/home/geoffrey/BBH/spectre/q1spin0_develop/111622/spectre

[2022-11-21 17:40] geoffrey4444 commented on #4399
Here I paste a slack post from @wthrowe explaining the bug:

This bug is actually very bad.  Dense observations with LTS have an error that grows linearly with the time step size.  This is not specific to t=0, but will occur at any dense observation, even at step boundaries.  I understand the cause (the LTS adaptive-step algorithm updates the variables before dense output expects the update), but

[2022-11-21 18:06] knelli2 commented on #4399
Constraint violations at `t = 0` for my simulations and with a possible hack from @wthrowe for LTS vs my old LTS runs and a GTS run. The LTS runs used regular triggers for output, while the GTS run used dense triggers. Haven't tried LTS with dense triggers or GTS with regular triggers.

|  | Gauge Constraint | 3 Index Constraint |
| :--: | :--: | :--: |
| Old LTS | 2.504891753483917e-16 | 1.171029

[2022-11-21 21:41] nilsdeppe commented on #4379
We need a seed to reproduce the larger errors. Reading through the code it is not obvious to me why you should expect larger errors for that case, so naively it seems like there might be some subtle bug?

[2022-11-21 23:15] geoffrey4444 commented on #4379
Found the bug. It turns out that the test helper computing the random lapse sometimes would choose a lapse very close to zero. When that happens, quantities that go as 1/lapse blow up. I found a seed where at one particular grid point the lapse was ~1e-5, which made spacetime_normal_vector ~1e10.

This caused my unit test in the pi equation to fail badly (check failed by factor of ~1e-2) because o

[2022-11-22 02:07] knelli2 commented on #4399
Ok I've done a more in-depth comparison of the numbers. Here I did GTS vs LTS, with/without the hack from @wthrowe fixing this bug, and with/without setting the 3 index constraint to zero from @geoffrey4444. Everything is done at `t=0`.

First table is all output using GTS. Second table is LTS.

All rows with WT have @wthrowe's hack, and all rows with GL have @geoffrey4444's change of setting the

[2022-11-22 16:42] #4379 closed, assigned to geoffrey4444

[2022-11-22 18:12] nilsvu opened #4408 "Clean up domain creator tests"
Lots of domain creator tests just re-implement the code they're supposed to test. Some suggestions from @nilsdeppe and I for cleaning things up:

- [ ] Regression tests: check inertial coords of block corners. This is easy to reason about and the test doesn't have to reconstruct the coord maps.
- [ ] Remove `test_domain_construction` from domain creator tests (but keep in Domain tests). It reimple

[2022-11-23 06:26] nilsdeppe commented on #4397
[code]

[2022-11-23 19:06] geoffrey4444 commented on #4399
Looks like the large, linear growth in 3-index constraint I saw in my rotating Schwarzschild runs was also caused by this bug: rerunning without dense output (but still with adaptive local time stepping) eliminates the growth

![image](https://user-images.githubusercontent.com/867015/203627788-c69ece6c-0405-493c-8bbd-fe5530f8ab18.png)

[2022-11-28 17:12] #3953 closed, assigned to nobody

[2022-11-28 17:13] #4245 closed, assigned to kidder

[2022-11-29 05:00] nilsdeppe commented on #4301
Another:

[code]

[2022-11-30 06:23] #4301 closed, assigned to markscheel