[2018-10-19 19:14] wthrowe commented on #1085
That change would break the `git add -p` workflow.  But yes, the fact that these check the working tree rather than the staged files is annoying.

[2018-10-19 21:36] markscheel opened #1089 "Documentation should include instructions for running IWYU on hpp files"
# Feature request:

Documentation only says how to run IWYU on .cpp files, and when I do this, IWYU does not check the included .hpp files in some (all?) cases.  I verified this by putting random #includes in one of my hpp files and IWYU didn't care.  When running on Travis, IWYU similarly ignores my .hpp files.

It would be nice to have the ability to run IWYU on .hpp files.  If this is difficult

[2018-10-19 22:51] moxcodes commented on #83
Answer from @fmahebert : no, but I (moxcodes) will fix it in datavectorimpl

[2018-10-20 20:38] #1076 closed, assigned to osheamonn

[2018-10-22 16:35] kidder opened #1095 "reorganize NumericalAlgorithms/Interpolation"
This can be done after the current PRs are in, but this directory is getting cluttered.  I would propose adding two subdirectories `Actions` (as we currently do in other directories that have actions) and `Targets` (as I imagine there will be a few more of these).  Also I would shorten names of files and structs.  Files don't need Interpolation (or Target) in the name as they are in the appropriat

[2018-10-23 10:01] hrueter opened #1099 "Get git-clang-format version automatically"
# Feature request:
The git-clang-format executable should be found automatically by the pre-commit check /tools/Hooks/ClangFormat.py.
At the moment the list of possible versions must be updated whenever a new clang-format version is available.

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [x] Continuous integration

### Desired feature:

- /tools/Hooks/ClangFormat.py findes

[2018-10-24 13:33] nilsdeppe opened #1103 "Apply python 2 to 3 converter to repo"
# Feature request:

At some point we will need to convert all the python code in the repo to be python 3 only (currently supports both).

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

[2018-10-24 13:35] nilsdeppe opened #1104 "Travis targets for python checks"
# Feature request:

It would be nice to have checks on Travis for:
- PEP8 formatting in python files
- a linter that performs similar duties to what clang-tidy does for C++ code. E.g. "You should do this instead because it is the modern way of doing things"

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [x] Continuous integration

[2018-10-24 14:53] geoffrey4444 opened #1105 "Consider improvements for GeneralizedHarmonic constraints"
# Bug reports:

### Expected behavior:

Some suggestions for possible optimizations of the gauge constraint are in the discussion of the
corresponding pull requests:

  * #1081 - gauge constraint
  * #1186 - 2-index constraint
  * #1246 - f constraint
  * #1248 - 4-index constraint
  * #1258 - constraint energy

Explore to what degree these actually improve performance, to see whether they are wor

[2018-10-24 19:47] wthrowe opened #1108 "Codify code review procedures"
We had a discussion of this on a telecon a while back.  @geoffrey4444, I think you said you were writing something up?

[2018-10-24 19:48] wthrowe commented on #1103
Why?

[2018-10-24 19:55] nilsdeppe commented on #1103
Because Python2 will reach end of life January 1, 2020 and we may as well take advantage of anything python 3 has to offer once we no longer need to support python 2.

[2018-10-24 20:29] geoffrey4444 commented on #1108
I was going to write something up after a consensus was reached on what the policy should be, but I don't think a consensus was reached before I fell out of the loop. My apologies! I'm still happy to draft something if you could point me to any notes or minutes containing the points we decided on.

[2018-10-25 18:59] wthrowe commented on #1108
As far as I know that meeting is the most recent discussion.  I pinged you because I thought you were writing up the notes.  Sounds like I'm misremembering, so don't worry about it.

[2018-10-25 22:20] wthrowe opened #1111 "Unit.RelativisticEuler.Valencia.PrimitiveFromConservative fails with seed 1763607987"
[code]

[2018-10-26 12:21] nilsdeppe opened #1112 "Document WhichWedges options in domain creators"
# Feature request:

The Shell domain creator now supports only have the wedges on the equator or a single wedge on the equator. These options need to be documented in the domain creator.

### Component:

- [ ] Code
- [x] Documentation
- [ ] Build system
- [ ] Continuous integration

[2018-10-28 11:05] #1085 closed, assigned to hrueter

[2018-10-29 15:27] wthrowe opened #1119 "Unit.PointwiseFunctions.AnalyticSolutions.GrMhd.BondiMichel fails with seed 2013254085"
[code]

[2018-10-29 15:46] nilsdeppe opened #1120 "Unit.DataStructures.SpinWeight failed with seed 2159318760"
# Bug reports:

Failed on Travis with:

[code]

I haven't tried to reproduce, could be a one off travis failure.

[2018-10-29 16:15] moxcodes commented on #1120
Yep, that's my bad. Random number permitted to be 0 in a denominator, should happen in about .5% of tests - I'll have a fix PR momentarily.

[2018-10-29 17:03] #1120 closed, assigned to moxcodes

[2018-10-29 19:40] geoffrey4444 opened #1122 "step_function() gives a compiler error unless static casting DataVector expression"
# Bug reports:

### Expected behavior:
[code]
### Current behavior:
[code]
### Environment:

Docker

# Feature request:

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2018-10-29 19:45] fmahebert commented on #1122
In PointwiseFunctions/AnalyticSolutions/Burgers/Step.cpp I called `step_function` with a different expression as argument and it worked...

Edit: the call is at line 35 of Step.cpp, and is: `step_function(DataVector - double)`

[2018-10-29 20:11] nilsvu opened #1123 "Handle prefixed Variables tags"
# Feature request:

When prefixing a `Tags::Variables`, currently both it and its subitems gain the prefix. This means the prefixed variables tag does not expose the metaprogramming-interface that a variables tag has (since it is a prefix tag now). This breaks some code that expects a variables tag when it is presented with a prefixed variables tag. We have two options to fix this:

- Have `db::ad

[2018-10-29 20:20] geoffrey4444 commented on #1122
Thanks, @fmahebert. This fits with my further testing:

[code]

[2018-10-29 20:26] fmahebert commented on #1122
Perhaps the problem lies with `*`?

[2018-10-30 14:45] geoffrey4444 opened #1124 "Resolve issues with PR #1074 (Bondi-Hoyle Accretion)"
# Bug reports:

We pushed some discussion from PR #1074. Specifically:

  * Some of us think KerrSchildCoords should receive mass and dimensionless spin, for consistency with elsewhere in spectre and to avoid subtle bugs by passing the wrong spin. Others disagree. We'd like to discuss and resolve this point.
  * The test for KerrSchildCoords should test an analytic solution, not just fuzzy testing

[2018-10-30 17:41] moxcodes commented on #1122
I'm working on finding a fix for this; the problem seems to be the fact that the blaze internal SIMDf64 is directly accessed via `[] operator` in our custom step_function, where in cascaded expressions that access operator isn't provided to that type (but is to other types).

The two solutions I see to this are:
a) rewrite the internal `step_function` to use only the vector `__mm...` operators as

[2018-10-31 01:51] #1112 closed, assigned to mar-celine

[2018-11-01 15:31] hrueter commented on #1124
What were the arguments against passing in mass and dimensionless spin to the constructor?

[2018-11-05 17:32] nilsvu opened #1138 "Make it easier to test individual actions"
# Feature request:

This is a feature request for the action testing framework. We often want to test individual actions, take `Evolution/Actions/ComputeVolumeDuDt.hpp` for example. It should be quick to test, but currently it takes a significant amount of boilerplate code to set up a mock array chare, run the action and retrieve the DataBox (see `Test_ComputeVolumeDuDt.cpp`). This could be factor

[2018-11-05 18:57] fmahebert commented on #1095
Reminder from discussion in PR 1093: also need to clean up the tests, and the file `tests/Unit/NumericalAlgorithms/Interpolation/InterpolationTargetTestHelpers.hpp` should be moved along with the Target tests.

[2018-11-06 06:16] wthrowe opened #1141 "H5 volume data storage order is wrong"
HDF5 uses arrays with the last dimension varying fastest, but we vary the first dimension of points within elements fastest, so when we write data to an array it ends up shaped wrong.

For example, the z component of a non-rotated 5x5x2-point brick is (from h5py)
[code]

[2018-11-06 11:13] nilsvu opened #1142 "Fluxes are not updated on external boundaries"
# Bug reports:

Neither `dg::ComputeNonvonservativeBoundaryFluxes` nor `dg::ImposeDirichletBoundaryConditions` update the `Interface<BoundaryDirectionsInterior, NormalDotFlux<variables_tag>>`. This is a potential source of error. For instance, I don't see where in `EvolveScalarWave` these are updated.

### Expected behavior:

`Interface<BoundaryDirectionsInterior, NormalDotFlux<variables_tag>>` is

[2018-11-06 14:35] nilsdeppe commented on #1141
Things visualize in Paraview correctly as far as I can tell. Did you find something in the HDF5 documentation that describes assumed ordering? It could be that h5py makes an assumption.

[2018-11-06 15:06] nilsdeppe commented on #1141
I observe what you see what I run `h5dump`. I'm wondering if it really makes sense for us to assign a more than rank 1 representation to the x, y, and z coords (and tensor components). The reason is we store them as contiguous x,y,z they probably should just be rank 1 datasets with the order as we defined.

Edit:

Some related links I found:
https://www.harrisgeospatial.com/docs/HDF5_Overview.html

[2018-11-06 17:30] wthrowe commented on #1141
Storing everything as rank 1 would be reasonable.

[2018-11-07 00:21] osheamonn commented on #1142
So good catch @nilsleiffischer.... I tried evolving a plane wave and errors accumulate as the wave enters the domain pretty rapidly. I didn't catch this when merging BC's since without observers, the only tests I ran were burgers which must've had sufficiently stationary/outflow BC's that this wasn't an issue.

[2018-11-07 19:14] geoffrey4444 opened #1147 "Output not written when running on multiple processors"
# Bug reports:

I first noticed that h5 files sometimes don't get written when running a modified EvolveValenciaDivClean using my CylindricalBlastWave.yaml input file; both are in this branch:

https://github.com/geoffrey4444/spectre/tree/EvolveBlastWave

In that test, neither file got written. But I found this case using the develop branch where one of the h5 files doesn't get written when runnin

[2018-11-07 19:44] geoffrey4444 opened #1149 "tools/GenerateXdmf.py hangs when run with python2 on moderately small (3MB) H5 file"
# Bug reports:

For even moderately large hdf5 files, I'm unable to use the supplied script to visualize the data in ParaView.

To reproduce, run `EvolveValenciaDivClean` using `tests/InputFiles/GrMhd/EvolveValenciaDivClean/GrMhd.yaml`, modifying the input file so the last two lines read

[code]

Then, run the executable with the following options:
[code]

For each case, run `date; ../../tools/Gen

[2018-11-07 20:07] nilsdeppe commented on #1149
I just successfully did this on 8.4GB of volume data from 6 nodes.

[2018-11-07 20:10] nilsdeppe commented on #1149
Are you dumping the data inside the docker container or out? Visualizing inside or out? This sounds like a Mac+Docker problem where syncing data between macOS and Docker is slow.

[2018-11-07 20:26] geoffrey4444 commented on #1149
I ran the steps above on wheeler. If you run them on wheeler, how long does the script take to finish?

[2018-11-07 20:26] geoffrey4444 commented on #1149
How long did the 8.4GB conversion take? Where did you do it?

[2018-11-07 20:27] nilsdeppe commented on #1149
Maybe 10-20 seconds on my Linux laptop.

[2018-11-07 20:35] geoffrey4444 commented on #1149
Thanks @nilsdeppe  ... when you get a chance, can you try the steps I list above on wheeler, to see if you can reproduce the hang?

I have not run the python script inside docker at all. I ran it on my Mac, after copying the output files out of docker onto the Mac side. And I also tried wheeler, in case it was a docker or Mac problem.

[2018-11-07 20:46] geoffrey4444 commented on #1149
Update: the hang seems to go away if I run with python 3.6 instead of python 2.7.15, as I was in all my tests before. Can the script warn or check about running with python 2?

[2018-11-07 20:47] nilsdeppe commented on #1149
PRs for such a warning are welcome :)

[2018-11-07 20:56] geoffrey4444 commented on #1149
OK, I'll leave this issue open until I get to adding that warning.

[2018-11-08 18:22] mar-celine opened #1151 "Reduce number of TEST_CASEs in Test_Shell.cpp"
# Feature request:

Fix requested in #1128

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2018-11-09 23:38] mar-celine opened #1159 "Template DgElementArray and InitializeElement on Frame"
### Expected behavior:

EvolveScalarWave3D should compile in the case where all instances of `Frame::Inertial` are replaced with `Frame::Grid` without needing to make changes outside of the executable file.

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2018-11-10 00:57] nilsdeppe commented on #1159
I'm not sure I agree. We should be using the physical frame (inertial), not the grid frame.

[2018-11-10 02:13] mar-celine commented on #1159
Which part are you disagreeing with? The need to template DgElementArray and InitializeElement or that EvolveScalarWave3D should compile with Frame::Grid? I can agree that as for EvolveScalarWave3D in particular we might want only Frame::Inertial for it, so I might have just picked a bad example and can change the wording on that. But my concern was more about evolution executables in general, I t

[2018-11-10 16:26] nilsdeppe commented on #1159
I don't know why they need to compile with the grid frame. InitializeElement should have a method of setting up dual frames, but the final frame should always be `Inertial`. I disagree with templating DgElementArray on frame.

[2018-11-11 01:29] wthrowe opened #1164 "I/O buffering changes in glibc 2.27 can break tests"
Starting recently, I found that some failure tests are failing under some setups.  The failure I see are Integration.Parallel.AlgorithmBadBoxApply, Integration.Parallel.AlgorithmNestedApply1, and Integration.Parallel.AlgorithmNestedApply2 in various optimized gcc builds.  (Failures occur in some builds and not others, but are reproducible when they occur.)  The underlying problem affects all of my

[2018-11-14 04:15] wthrowe commented on #1164
Turns out I was mistaken.  This is our fault, not charm's.

Charm prints errors to stderr (and even flushes it explicitly, just in case) (although it does print the error backtrace to stdout).  We are bypassing charm's error reporting code because it segfaults in some cases (see #765), and calling CkPrintf instead.

This will probably be fixed by just reporting errors with CkError instead of CkPri

[2018-11-16 20:18] wthrowe opened #1181 "Missing libsharp gives over 600 lines of CMake errors"
I was perhaps a bit hasty in merging #1066.  Running CMake without libsharp installed gives over 600 lines of error messages, mostly about bad variable values.  I assume there's a check that the libsharp search actually succeeded missing somewhere.

The errors start with the following, and continue in a roughly similar manner for a long time.
[code]

[2018-11-16 20:35] kidder commented on #1181
looks like a problem with the arguments passed to find_package_handle_standard_args
see the other FindBla.cmake files for examples that have things defined for `FOUND_VAR` and `REQUIRED_VARS`

[2018-11-16 20:43] moxcodes commented on #1181
oops, should have tested the case without libsharp present better.
I see the fix, so I'll submit the fixup shortly.

[2018-11-17 05:03] #1164 closed, assigned to nobody

[2018-11-17 21:27] #1122 closed, assigned to nobody

[2018-11-17 22:39] moxcodes commented on #1181
Resolved by merge of [PR1182](https://github.com/sxs-collaboration/spectre/pull/1182)

[2018-11-17 22:39] #1181 closed, assigned to moxcodes

[2018-11-19 13:57] hrueter opened #1187 "Update Styleguide"
### Component:

- [x] Documentation

### Desired feature:

- [ ] `local_` prefix for shadowed variable names
- [ ] should `get` functions always be prefixed with their namespace (`db, Parallel, tnsr`) ?

[2018-11-19 18:29] nilsvu opened #1189 "Error norms should be computed as definite integrals"
# Bug reports:

`ValenciaDivClean/Observe.hpp` computes errors as `alg::accumulate(error, 0., PlusSquare{})`, where `error` is the scalar difference between the numerical and analytic solution, represented by a `DataVector`. It should instead compute `definite_integral(square(error), mesh)` to get a more useful quantity.

[2018-11-20 02:59] nilsdeppe commented on #1189
No, this is a standard L2 norm. There is nothing wrong with the way the error is computed. In fact, convergence of numerical methods is typically proven with L2 or L1 norms, not volume integrals over the domain. I'm closing this since this is not an issue.

[2018-11-20 02:59] #1189 closed, assigned to nobody

[2018-11-20 03:02] nilsdeppe commented on #1187
I agree on the first point and can only comment on the second. Because of C++'s wonderful ADL (argument dependent lookup) I believe it sometimes depends on whether or not you need to prefix the namespace. There are no `get` functions in `tnsr`, it's only for tensor convenience type aliases. The ones that are namespaced are `tuples::get`, `db::get`, `Parallel::get` (there might be a few others, but

[2018-11-20 05:20] wthrowe commented on #1187
Yeah, let's use the namespaces for the `get` functions.  I view ADL as for when you've got a bunch of functions that do "the same" thing in such a way that it might make sense to write generic code that could call any of them.  (`operator<<(std::ostream&, T)` is perhaps the best example of this, another (made up) example would be something like `exp`, `complex::exp`, `blaze::exp`, and `quaternions

[2018-11-20 10:56] nilsvu commented on #1187
In the sense that all three of these functions mean "`get` this tag out of the container" they are pretty interchangeable, as you say @wthrowe. So I don't see why you argue for using the namespaces (what you write after "but"). I'd prefer using ADL here for the reasons you wrote above.

[2018-11-20 21:34] nilsdeppe opened #1191 "Handle Initialization as a Phase"
# Feature request:

Both in the context of local time stepping and in terms of adding const global cache tags (PR #1180 comment by @hrueter and @nilsleiffischer ) it seems more natural to do all or most of the initialization in an Initialize phase. However, to make this reasonable to implement we will want phase-dependent action lists first. Phase-dependent action lists is something I've thought a

[2018-11-27 10:32] nilsvu opened #1198 "Allow singletons to contribute observations without reduction"
# Feature request:

The observer infrastructure can currently reduce contributions from all elements and write the result to the reductions h5 file. For singleton parallel components we also need support for contributing observations that have already been reduced. For instance, an interpolation target and the linear solver residual monitors (both singletons) may want to contribute observations to

[2018-11-27 12:45] nilsvu opened #1199 "Split TestFunctions.py"
# Feature request:

This came up in #1193. I suggest to split the `TestFunctions.py` into a file for each test if functions are not shared. Take `PointwiseFunctions/AnalyticData/GrMhd/TestFunctions.py` for example. It has the test functions for all the classes being tested in that directory. They are separated into sections (with comments) and prefixed with the tested class name (`bondi_hoyle_*`,

[2018-11-27 12:46] nilsvu commented on #1199
Continuing the discussion in #1193:

- @nilsdeppe What's the problem with more files when it adds useful structure?
- To answer the question, in Python every file that sits in a directory with an `__init__.py` file is a module / namespace.
- I think the test functions should not be a Python module to be used from outside the tests. We can have Python bindings for the C++ code if we need the functi

[2018-11-27 14:22] nilsvu opened #1200 "Use Coordinates tag to get rid of template parameters in Domain tags"
# Feature request:

I think we can remove the `SourceCoordsTag` of `Tags::MappedCoordinates` and `Tags::InverseJacobian` now that we have the `Tags::Coordinates`. For instance, we could replace `SourceCoordsTag` with `Tags::Coordinates<MapTag::type::dim, MapTag::type::source_frame>` in both of these tags.

This will touch a significant number of files, so I bring this up as an issue.

### Componen

[2018-11-27 15:11] nilsdeppe commented on #1199
I'll reply in the bullet order :)

- If we triple the number of files I think some directories will have too many files in them. At least what I'm seeing is I would get `Test_Blah.cpp`, `Test_Blah.py`, and then `Test_Blah.pyc` (plus the `__init__.py` and `__pycache__`). I don't know what the `pyc` file is and why it can't be a hidden file (same with why the `__init__.py` files can't be hidden file

[2018-11-27 15:22] nilsvu commented on #1199
@nilsdeppe just ignore the `.pyc` and `__pycache__` files (literally `.gitignore`). You can have your editor hide them if you want. `__init__.py` files are useful to control how the module behaves.

I don't think we need a `Tests` python module. We'll have C++ code with python bindings, and unit test that test them. The unit tests can have internal Python functions (for the random value testing) b

[2018-11-27 15:25] nilsdeppe commented on #1200
Could you please edit your issue to provide an example file where you copied that `using` from?

[2018-11-27 15:28] nilsdeppe commented on #1199
They are ignored, but that doesn't mean I don't see them if I look in a directory...

I really dislike the current structure of the PointwiseFunction tests. The only reason it's in the code is because I was told it was changed to use the module infra and missed the files during code review.

[2018-11-27 15:28] nilsvu commented on #1200
This was a suggestion for a change. Edited to make this more clear.

[2018-11-27 15:42] nilsvu opened #1201 "Display authors and title of a Doxygen reference on hover"
# Feature request:

It would be nice to show information on a paper when hovering over it in the Doxygen documentation, similar to Wikipedia:

![bildschirmfoto 2018-11-27 um 16 40 46](https://user-images.githubusercontent.com/746230/49092894-4f3ecd00-f263-11e8-8c95-b663c511683b.png)

This should be possible with some custom css and extracting information from the `References.bib`.

### Component:

[2018-11-27 15:53] nilsdeppe commented on #1201
Are we also discussing showing the preprint info here?

[2018-11-27 16:02] nilsvu opened #1202 "Declutter the source tree by removing Python bytecode files"
# Feature request:

We can avoid having Python produce `.pyc` and `__pycache__` files with the `-B` CLI flag or the `PYTHONDONTWRITEBYTECODE` environment variable (see https://docs.python.org/3/c-api/init.html#c.Py_DontWriteBytecodeFlag). This could be useful to declutter the `tests/` directory, but has to be tested for performance.

### Component:

- [x] Build system

[2018-11-27 16:07] nilsvu opened #1203 "Customize Doxygen bibliography format"
# Feature request:

It's probably possible to customise the bibliography rendering on https://spectre-code.org/citelist.html. For instance, @nilsdeppe suggested in #1193 to show preprint links more explicitly.

### Component:

- [x] Documentation

[2018-11-27 16:07] nilsvu commented on #1201
@nilsdeppe let's do that in #1203 (this issue is probably around for a bit longer 😄 )

[2018-11-27 16:29] nilsdeppe commented on #1199
If #1204 is merged I'm fine with going forward with splitting the files up.

[2018-11-27 23:36] wthrowe commented on #1018
This is caused by `rectilinear_domain` (and its helper functions) being inconsistent about whether the `orientations_of_all_blocks` vector indexes blocks or positions where there might be blocks.  @gsb76 can probably figure out the correct behavior more easily than I can, so I'm going to leave the fix to him.

[2018-11-28 16:31] nilsvu commented on #1103
Also revert #1204

[2018-11-28 20:11] #1142 closed, assigned to nilsdeppe

[2018-11-28 20:12] #1202 closed, assigned to nobody

[2018-11-30 00:02] kidder opened #1209 "Use consistent notation for lapse and shift"
# Bug reports:

### Expected behavior:

Consistent notation in the documentation for lapse and shift.

### Current behavior:

Both `\alpha` and `N` are used for the lapse.  Both `\beta^i` and N^i are used for the shift.

- [ ] Decide which notation we want
- [ ] Change the documentation to be consistent

[2018-11-30 18:15] nilsdeppe opened #1213 "Fix H5P_DEFAULT usage in Test_H5.cpp"
# Bug reports:

### Expected behavior:

Should use `h5p_default` function we have that wraps the macro

### Current behavior:

uses HDF5 macro

[2018-12-01 02:00] #1026 closed, assigned to markscheel

[2018-12-01 17:05] nilsdeppe opened #1215 "Generalize MakeWithValue to support types other than double"
# Feature request:

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

Currently `make_with_value` always takes a `double` as the second argument. This should be generalized to any fundamental type or a `std::complex<FUNDAMENTAL_TYPE>`. Only the public function needs to be changed, I think. As individual classes need to be construc

[2018-12-01 17:05] nilsdeppe commented on #1215
@moxcodes I think this would be useful for the `std::complex` vectors and variables, no?

[2018-12-01 17:16] moxcodes commented on #1215
In fact, If I understand the issue properly, it should be fixed by [PR935](https://github.com/sxs-collaboration/spectre/pull/935)

[2018-12-01 17:39] nilsdeppe commented on #1215
That could be, I'm still working through the first commit there ;)

[2018-12-03 18:06] nilsvu opened #1219 "Create individual executables for test problems"
# Feature request:

Currently, for the GRMHD system, we have an `EvolveValenviaDivClean` executable where we change the analytic solution manually in the Metavariables, then recompile. For better reproducibility of our test problem results I suggest to aim for one executable per problem (e.g. `EvolveBlastWave`), with all parameters that are being explored within that problem made available through

[2018-12-04 16:47] nilsdeppe commented on #1219
I think the current method is fine.

[2018-12-04 21:01] nilsdeppe commented on #928
Any progress on this? We're still seeing random build failures because of it

[2018-12-05 14:00] hrueter opened #1223 "Consistent Notation for Temporal Index"
# Bug reports:

### Expected behavior:

The character denoting a temporal index is consistent.

### Current behavior:

`0` as well as `t` is used.

### Environment:

For example in:
ComputeGhQuantities.hpp
ComputeSpacetimeQuantities.hpp

### Proposed solution

Use `0` everywhere for temporal indices. The index `t` could be misinterpreted as a contraction with the timelike normal vector `t^a`.
If t

[2018-12-05 21:14] geoffrey4444 opened #1226 "EvolveValenciaDivClean FPE with high resolution"
# Bug reports:

I checked out the latest develop (compiled git hash 6dfe45e6f6c2b057081329fcf4fb18591e29ba9e), compiled, and ran EvolveValenciaDivClean with a modified version of `../tests/InputFiles/GrMhd/ValenciaDivClean/GrMhd.yaml`. My `GrMhd.yaml` differs from the committed version like this:

[code]

I ran this in `orca:/share/storage/geoffrey/Codes/spectre-alt2/Run/R8` on 17 nodes, 12 cores

[2018-12-05 21:16] geoffrey4444 commented on #1226
I get a similar crash when running the blast wave, except instead of a floating point exception, I get `Reason: Terminate was called, calling Charm++'s abort function to properly terminate execution.`

See `orca:/share/storage/geoffrey/Codes/spectre_runs/R7WENOvsMinmod/WENO/5PointsPerElement_128_fails` for an example of such a run, which I ran using the EvolveBlastWaveWENO branch of my spectre for

[2018-12-05 21:36] geoffrey4444 commented on #1226
Backtrace for develop branch crash:

[code]

[2018-12-05 21:38] geoffrey4444 commented on #1226
Backtrace for EvolveBlastWaveWENO failure:

[code]

[2018-12-05 21:53] #1141 closed, assigned to nilsdeppe

[2018-12-07 02:16] nilsdeppe opened #1227 "Two index constraint test sometimes fails"
# Bug reports:

[code]

This happened on Travis for #1139

[2018-12-07 02:20] nilsdeppe commented on #1227
And another one...
[code]

This is GCC-6 release on Travis

[2018-12-07 02:21] nilsdeppe commented on #1227
Marking as a priority because as long as this is broken it seems we'll have a lot of travis builds fail.

[2018-12-07 02:23] nilsdeppe commented on #1227
Here's another case:

[code]

[2018-12-07 16:31] nilsvu commented on #1104
Also: Tests in Python 2 and 3 environments

[2018-12-07 16:35] nilsvu commented on #996
#1207 follows the suggested structure

[2018-12-09 17:03] #782 closed, assigned to nobody

[2018-12-10 10:43] nilsvu opened #1230 "Consistently move system tags into Tags namespace"
# Feature request:

All systems should have their tags in a `TheSystem::Tags` namespace, this is not done consistently right now. The following systems are affected:

- `ScalarWave`
- `CurvedScalarWave`
- `GeneralizedHarmonic`
- `Poisson`

We could alternatively decide to not have a `Tags` namespace for systems, but I think it's better to retain consistency with the rest of the codebase.

### Comp

[2018-12-10 17:34] hrueter opened #1231 "Compiler flags are not correctly checked on Minerva"
# Bug reports:

cmake/AddCxxFlag.cmake: `check_and_add_cxx_flag` does not work correctly on Minerva.
Bug appeared after this commit https://github.com/sxs-collaboration/spectre/commit/ce1ac511438480d2827e86159b0b8fb1ddc80cdb#diff-5a96f5da6af64f7edc54537b85b3390f

### Expected behavior:

clang options are filtered out, when building with gcc.

### Current behavior:

gcc build fails due to clang opt

[2018-12-10 18:12] wthrowe commented on #1231
This is a locale issue.  Copy paste of error from #1228 (you should include stuff like this in your bug reports):

Probably forcing LC_ALL=POSIX for the test compile (line 41ish of AddCxxFlag.cmake) will fix it. That would also let us remove some of the quote handling logic from later in the function.

[2018-12-11 15:55] nilsdeppe commented on #928
Another ping on this @nilsleiffischer

[2018-12-11 18:57] moxcodes commented on #948
Also, if we can enforce blaze 3.4, we can simplify a lot of compatibility code in our vector types.

[2018-12-12 17:47] #928 closed, assigned to nilsvu

[2018-12-12 22:04] geoffrey4444 commented on #1227
Sorry for somehow missing this earlier! I'll regularly check the issues from now on. I'll deal with this ASAP.

[2018-12-15 09:16] nilsvu commented on #1203
It would be good to have Doxygen use a different BibTeX style, but I am unsure if that is possible without forking Doxygen. Currently, Doxygen uses its own https://github.com/doxygen/doxygen/blob/master/templates/html/doxygen.bst file (in https://github.com/doxygen/doxygen/blob/65813bf307211ad647e0a2174c89ba80b3917139/src/cite.cpp#L150), and then runs https://github.com/doxygen/doxygen/blob/master

[2018-12-15 16:57] nilsdeppe commented on #1203
If you can get an option merged into Doxygen then it might be possible to use `\cite` in several years once common systems have support for it. I don't see any benefit to using it if we can't link to preprint articles from it. Forking it only helps us on Travis, not in general.

[2018-12-15 18:19] nilsvu commented on #1203
We can link to preprint / arXiv no problem with the current setup. I‘ll push an update to #1244 when I have it ready.

[2018-12-15 20:31] nilsdeppe commented on #1203
Okay, I apparently misinterpreted what you meant :) I view this issue as a bug if we can't show preprint links, and an enhancement if we can :)

[2018-12-17 18:28] kidder commented on #1227
Fixed by #1245

[2018-12-17 18:28] #1227 closed, assigned to geoffrey4444

[2018-12-18 01:21] markscheel opened #1249 "Generalize ParallelInterpolator callback to list of functions."
Currently the ParallelInterpolator infrastructure calls a single callback function once interpolation has completed.

This should be generalized, so that the ParallelInterpolator calls a `tmpl::list` of functors (perhaps a `tmpl::list` of Actions, but that might be overkill since this is all happening on a Singleton component).  Each functor will be called in the order it appears in the tmpl::list

[2018-12-18 15:25] markscheel commented on #1249
Thinking about this more, I realize that the use case I mention above (observing Christodoulou Mass along with horizon area or other surface integrals) can be accomplished with a single callback function with no changes to ParallelInterpolator:  To do this, eliminate ObserveSurfaceIntegrals in favor of a new ObserveTimeSeriesOnSurface callback, and then simply add the surface integrals and the Mas

[2018-12-19 19:03] kidder opened #1250 "Test failure on Minerva because of locale"
# Bug reports:

COMPILATION_TEST_TEST_DIFFERENT_COMPILERS fails on Minerva because the test checks for a string that is locale dependent.

Expected fix:  Shorten the expected error message to the portion that is locale-independent

### Expected behavior:

Test passes.

### Current behavior:

Discovered during #1228

Start 918: COMPILATION_TEST_TEST_DIFFERENT_COMPILERS
918/931 Test #918: COMPILATIO

[2018-12-19 19:04] #1231 closed, assigned to nobody

[2018-12-19 19:23] #1201 closed, assigned to nilsvu

[2018-12-19 19:31] wthrowe opened #1251 "Reference popovers can appear offscreen"
The new popovers from #1242 can appear offscreen.  GitHub informs me that "Something went really wrong, and we can't process that file." when I try to include screenshots, so here are some links:
[before mouseover](http://hosting.astro.cornell.edu/~wthrowe/popover_before.png)
[during mouseover](http://hosting.astro.cornell.edu/~wthrowe/popover_after.png)
As can be seen, the popover appears off the

[2018-12-20 08:48] hrueter commented on #1251
Which browser (and which version) are you using?
Update: All browsers seem to be affected.

[2018-12-22 03:10] wthrowe commented on #1251
The screenshots were with Chromium (probably 71.0.3578.80).  Same behavior with Firefox 64.0.

[2018-12-22 14:15] nilsvu commented on #1251
Possibly moving to Bootstrap 4 would resolve this (we have 3.3.5). I'll try.

[2018-12-22 16:49] nilsdeppe commented on #1223
@markscheel @kidder @wthrowe @fmahebert opinions?

I'm fine using `0` as the time index.

[2018-12-22 19:17] wthrowe commented on #1223
Fine with me.

[2018-12-23 05:47] fmahebert commented on #1223
Fine with me, as well

[2019-01-02 16:16] nilsvu opened #1254 "GRMHD executable fails at high(ish) resolution"
# Bug reports:

The error `All primitive inversion schemes failed at s = 0` sometimes occurs when h- or p-refining. For instance, the following run fails consistently and at resolutions small enough to run on a laptop:

- Executable: `EvolveValenciaDivClean`
- AnalyticSolution: `KomissarovShock`
- Limiter: `SimpleWENO`

Input File:

[code]

Output:

[code]

### Environment:

[code]

[2019-01-04 13:43] nilsvu opened #1255 "Have yt load volume data directly from h5 files"
# Feature request:

To visualize our volume data in [yt](http://yt-project.org) we currently load it into memory and then use `yt.load_amr_grid` or `yt.load_unstructured_mesh` to create a yt datasource. To improve the performance of this procedure and make it feasible to load large datasets we need to write a "frontend" for yt that understands the structure of our h5 files and allows yt to load th

[2019-01-07 09:37] fmahebert opened #1256 "Poisson input file tests fail when run a second time"
### Expected behavior:

Tests run successfully several times in a row

### Current behavior:

The tests `InputFiles.Poisson.Input{1,2,3}D.yaml.execute` fail when run after the first time.

The problem appears to be that these 3 tests create H5 files that are not cleaned up — when run a second time, the tests fail when trying to create these files.

[2019-01-07 10:03] nilsvu commented on #1256
Indeed the problem is that the H5 files are not cleaned up. The GRMHD test avoids this by simply setting the time between observations larger than the time of the simulation. I'll probably implement a little control into the Poisson observe action to fix this issue in a similar way, but that's not ideal. It would be great to add a testing phase to these input file tests that runs after the simulat

[2019-01-10 18:21] nilsvu commented on #1254
Call with @fmahebert and @nilsdeppe:

Behaviour of SimpleWENO with nonlinear elements could be relevant here:
![bildschirmfoto 2019-01-10 um 19 19 27](https://user-images.githubusercontent.com/746230/50988425-d773eb80-150c-11e9-9b1e-9354ed2ef6e7.png)

[2019-01-13 14:01] #1250 closed, assigned to nobody

[2019-01-16 21:35] nilsdeppe opened #1270 "Geometric quantities computed unsoundly"
# Bug reports:

### Expected behavior:

Geometric quantities like `sin^2(theta)` are computed in a manner that prevents them from being negative.

### Current behavior:

For Fishbone-Moncrief (and possibly in other places in the code) the sin^2(theta) quantity is computed in a manner that means it can sometimes be negative. #1257 implements a simple hack that takes the absolute value after the com

[2019-01-17 19:20] #1013 closed, assigned to nobody

[2019-01-17 19:20] #1203 closed, assigned to nobody

[2019-01-18 01:38] fmahebert opened #1272 "ICE on develop with gcc8"
# Bug reports:

### Expected behavior:

Code compiles.

### Current behavior:

On my desktop with gcc8, after #970 was merged, I get the following ICE:

[code]

### Environment:

Content of `LibraryVersions.txt`:

[code]

[2019-01-18 19:27] moxcodes opened #1275 "Framework for temporary computation buffers"
# Feature request:

It is becoming increasingly common to use aggregated buffers to store temporary variables. This is important to performance, as it minimizes the number of allocations required, and allocations are a significant cost in highly parallel codes.

So far, similar objects have been used in #1177, #1179, #1161.

The design of these buffers has generated some discussion on its own, so

[2019-01-21 10:16] hrueter commented on #1275
Here is a link to the previous discussion
https://github.com/sxs-collaboration/spectre/pull/1179#discussion_r248881363

[2019-01-21 10:21] hrueter commented on #1275
- @hrueter and myself notices that if we had the possibility to point into the spatial part of a 4-tensor, we could get rid of some of the tensors in these buffers. For instance, in #1172 there is a `d4_lapse` that we have to fill with its temporal part `d0_lapse` and spatial part `d3_lapse`. All three tensor need to be in the buffer right now, but it would be good to avoid this.

_Originally post

[2019-01-21 15:30] hrueter commented on #1272
This could be this bug:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=85214

[2019-01-21 20:49] moxcodes commented on #1275
After further discussion, the rough consensus among @nilsleiffischer , @nilsdeppe , and myself was that the use-case of reuse of the buffer motivated the creation of a generic object which
- for vectors, just wraps a `Variables`
- for doubles, wraps a `TaggedTuple`
Then the tags framework can be used. The main caviat to this structure is that whenever the temporary tags without clear identities ar

[2019-01-22 20:53] kidder commented on #83
@moxcodes has this been solved by one of your PRs?  If so, please link to the PR and close this.

[2019-01-22 21:00] kidder commented on #139
@wthrowe do you want to keep this issue open, or close as `can't fix` because we cannot reproduce it?

[2019-01-22 21:03] kidder commented on #238
@markscheel progress update?

[2019-01-22 21:07] kidder commented on #369
@nilsdeppe and I don't think this needs to be done.

[2019-01-22 21:07] #369 closed, assigned to nobody

[2019-01-22 21:08] #370 closed, assigned to nobody

[2019-01-22 21:09] kidder commented on #378
This is being done in #1080

[2019-01-22 21:11] kidder commented on #413
In light of #1275 this should be revisited

[2019-01-22 21:14] kidder commented on #419
Names for DataBox items were added in #708

[2019-01-22 21:14] #419 closed, assigned to nilsdeppe

[2019-01-22 21:15] kidder commented on #432
@markscheel progress update?

[2019-01-22 21:19] kidder commented on #452
Yes, this is the consensus.

[2019-01-22 21:19] #452 closed, assigned to nobody

[2019-01-22 21:24] kidder commented on #489
We don't care as we don't use Scalar Wave solutions except in testing

[2019-01-22 21:24] #489 closed, assigned to nobody

[2019-01-22 21:35] kidder commented on #548
Only `Test_KerrSchild.cpp` uses `check_tensor_doubles_equals`

[2019-01-22 21:40] kidder commented on #568
This was done in #1009

[2019-01-22 21:40] #568 closed, assigned to nilsdeppe

[2019-01-22 21:41] kidder commented on #508
Needs to be done in:
Test_Minkowski.cpp
Test_KerrSchild.cpp
Burgers/Test_Bump.cpp
Burgers/Test_Linear.cpp
Burgers/Test_Step.cpp
MathFunctions/*

[2019-01-22 21:41] kidder commented on #576
@geoffrey4444 did you do this yet?

[2019-01-22 21:43] kidder commented on #594
@nilsdeppe says they don't do anything useful and not worth the testing time

[2019-01-22 21:44] kidder commented on #603
see #508

[2019-01-22 21:52] kidder commented on #643
@gsb76 do the changes in #707 address this issue?

[2019-01-22 21:55] kidder commented on #694
@markscheel does this capture what you want?

[2019-01-22 22:01] moxcodes commented on #83
Yep! This has been fixed by #1236 .

[2019-01-22 22:01] #83 closed, assigned to nilsdeppe

[2019-01-22 22:02] kidder commented on #739
We are trying to use the naming convention `BlaCompute` for `db::ComputeTag`s  and `BlaBase` for `db::BaseTag`s.  This should be documented in #1217

[2019-01-22 22:06] kidder commented on #747
This is not yet possible see https://docs.travis-ci.com/user/open-source-on-travis-ci-com

[2019-01-22 22:08] kidder commented on #749
This is being done as part of generalized BCs that @nilsdeppe is currently working on.

[2019-01-22 22:12] kidder commented on #795
@gsb76 is this being done, done, or going to be done?

[2019-01-22 22:15] kidder commented on #826
This particular ICE may be related to #1272 and fixed by #1272 .

[2019-01-22 22:17] kidder commented on #833
@wthrowe can you discuss this with @nilsdeppe in person so he knows how to fix the documentation.

[2019-01-22 22:19] kidder commented on #835
@nilsdeppe is happy with the current status

[2019-01-22 22:19] #835 closed, assigned to nobody

[2019-01-22 22:19] moxcodes commented on #1275
@markscheel has kindly volunteered to implement this.

[2019-01-22 22:19] kidder commented on #856
@gsb76 is this being done, done, or going to be done?

[2019-01-22 22:23] kidder commented on #862
@gsb76 is working on factoring Domain tests

[2019-01-22 22:24] kidder commented on #869
@nilsleiffischer ping on this issue.

[2019-01-22 22:26] kidder commented on #874
@markscheel is this done, or going to be done, or part of #1208 ?

[2019-01-22 22:34] kidder commented on #926
The latter is standard

[2019-01-22 22:50] markscheel commented on #694
Yes.  I think the reason I was thinking about this was to add the ability to construct a Strahlkorper (for instance) by specifying L_max, M_max, or by only specifying L_max.

[2019-01-23 17:29] markscheel commented on #874
I would rather do this as separate from #1208 so that AH namespace changes can be its own PR that does nothing except change namespaces (this will touch many files, but all the changes will be trivial and will therefore be easy to review).

[2019-01-23 22:24] markscheel opened #1284 "WriteReductionData needs to be called on every processor"
# Bug reports:

### Expected behavior:

You should be able to call WriteReductionData on a Singleton component, when running on multiple cores.

You should be able to call WriteReductionData on an Array component that has fewer elements
than processors.

### Current behavior

In both of the above cases, WriteReductionData never writes data.  This appears to be because it waits until it receives `p

[2019-01-23 22:35] fmahebert commented on #1284
Is this the same problem as #1147?

[2019-01-23 22:59] #238 closed, assigned to markscheel

[2019-01-23 23:05] #1272 closed, assigned to nobody

[2019-01-23 23:06] #432 closed, assigned to markscheel

[2019-01-24 17:43] wthrowe commented on #139
Haven't seen this in a while, unless it is related to the known variation due to catch versions.  This bug is old enough that I think that is unrelated.  Let's close.

[2019-01-24 17:43] #139 closed, assigned to nobody

[2019-01-24 19:16] moxcodes commented on #1105
The performance improvements I'd like explored follow. I've marked those which I anticipate will increase allocations, as it is less clear to me that those will actually yield a faster execution (although my suspicion is that it will).
- take advantage of the vanishing spatial components of the spacetime normal
- find factorizations to simultaneously reduce loop depth and operation count (*require

[2019-01-25 04:06] #378 closed, assigned to nobody

[2019-01-25 04:15] kidder opened #1291 "TestVariables approx failure"
# Bug reports:

  Seed is: 3608859552

### Expected behavior:

test passes

### Current behavior:

test fails with errors just over approx tolerance

### Environment:

from https://travis-ci.org/sxs-collaboration/spectre/jobs/484037415

[2019-01-26 14:20] nilsvu opened #1295 "Add views to spatial part of tensors"
# Feature request:

Some of our code would benefit from a feature that allows writing directly into the spatial part of a tensor. Consider, for instance, a covector field `tnsr::a<3, DataVector>`. We can write into an individual component already using `tnsr::get`, which accesses the corresponding `DataVector`. It would be useful to access the spatial part in a similar way to read/write a `tnsr::i

[2019-01-26 14:26] nilsvu opened #1296 "Observation of last timestep is not written to disk"
# Bug reports:

The last observation is sometimes/always? not written to disk.

Is this a known issue and do we have a plan to address this? Else, I can do more testing and provide more details.

[2019-01-28 19:08] #1291 closed, assigned to moxcodes

[2019-01-28 19:19] #1275 closed, assigned to markscheel

[2019-01-28 19:53] kidder commented on #1254
Inversion test failure (too tight tolerance)
/work/spectre/tests/Unit/TestingFramework.hpp:137: FAILED:
  CHECK( a == appx(b) )
with expansion:
  0.0010928576 == Approx( 0.0010928576 )
with messages:
  seed = 1078102955
  /work/spectre/tests/Unit/Evolution/Systems/RelativisticEuler/Valencia/
  Test_PrimitiveFromConservative.cpp:200: expected_specific_internal_energy ==
  specific_internal_energy

[2019-01-28 21:15] #869 closed, assigned to nilsvu

[2019-01-29 16:46] #339 closed, assigned to kidder

[2019-01-29 19:32] kidder commented on #1018
@gsb76 please fix this at once.  If you exceed a timescale, ask for help!

- [x] Verify that you get the above error with ASAN turned on (timescale: 30 minutes)
- [x] Understand what it is telling you (timescale: 30 minutes)
- [x] Modify the test so that it fails (timescale: 30 minutes)
- [x] Fix the bug so the test passes (timescale: 60 minutes)
- [x] Verify that ASAN is happy (timescale: 30 minu

[2019-01-29 20:16] kidder commented on #946
We decided to only provide the primitives as the conservatives can be cheaply computed from them.
They should also expose the EoS and background metric used

[2019-01-29 20:18] kidder commented on #948
Currently stampede2 can only handle blaze 3.2

[2019-01-29 20:19] kidder commented on #965
@nilsleiffischer are you still planning to do this?

[2019-01-29 20:32] kidder commented on #1023
Someone (@gsb76 ) should see if this still happens

[2019-01-29 20:34] kidder commented on #1031
Have tried separating the builds in the matrix.  Have tried building in different stages.
This is more suggestive of the caches not mixing

[2019-01-29 20:37] nilsvu commented on #965
Yes

[2019-01-29 20:38] kidder commented on #1031
Most of the time there are just segfaults; occasionally there are approx failures that cannot be reproduced with the given seed.  In these cases, check_with_random_values generates on Travis the correct result for python, but the c++ many times generates a length-5 DataVector where the last entry is correct, but the first four are garbage.  Usually the garbage is a very small double, but in sporad

[2019-01-29 20:39] kidder commented on #1031
The following tests are the ones that usually segfault:
The following tests FAILED:
	  2 - InputFiles.Burgers.Step.yaml.execute (OTHER_FAULT)
	  8 - InputFiles.GrMhd.BlastWave.yaml.execute (SEGFAULT)
	 10 - InputFiles.GrMhd.GrMhd.yaml.execute (OTHER_FAULT)
	 16 - InputFiles.Poisson.Input3D.yaml.execute (SEGFAULT)
	 18 - InputFiles.ScalarWave.Input1DPeriodic.yaml.execute (SEGFAULT)
	 20 - InputFile

[2019-01-29 20:41] kidder commented on #1036
We will need some way to do conditional jumps, even after we upgrade to phase-dependent action lists.

[2019-01-29 20:46] kidder commented on #1039
Fixed in #1100

[2019-01-29 20:46] #1039 closed, assigned to nilsdeppe

[2019-01-29 20:53] kidder commented on #1108
PR #1273

[2019-01-29 20:57] kidder commented on #1123
@kidder @wthrowe @nilsdeppe agree the first option should be done

[2019-01-29 21:02] kidder commented on #1124
This was addressed in #1074

[2019-01-29 21:02] #1124 closed, assigned to markscheel, geoffrey4444, fmahebert, nilsdeppe, carmaza, moxcodes

[2019-01-29 21:03] kidder commented on #1138
Related to #1001

[2019-01-29 21:18] kidder commented on #1215
Fixed in #935

[2019-01-29 21:18] #1215 closed, assigned to nobody

[2019-01-29 21:20] kidder commented on #1219
We have discussed having something (possibly another repo) that holds executables and input files for test problems so it is easy to reproduce them and setup benchmarks.

[2019-01-29 21:21] wthrowe opened #1302 "Random failure in Unit.Utilities.Functional"
[code]

[2019-01-29 21:21] kidder commented on #1223
Using 0 is fine with me @markscheel do you have an opinion?

[2019-01-29 21:28] kidder commented on #1296
Yes, this is a known issue.  @markscheel is working on some issues #1284 #1147 with observing, though it is not clear that those issues are related to this one

[2019-01-30 04:02] geoffrey4444 commented on #1105
Comment via @moxcodes and @markscheel: I believe the spacetime normal one form has vanishing spatial component and the time component is the [minus the] lapse. When you revisit this for performance improvements, it might be better to take advantage of that to reduce the loop depth here.

[2019-01-30 04:05] geoffrey4444 commented on #1105
@hrueter notes: I think it would be good to construct the projection operator g^i_a (or maybe g^a_b) beforehand instead of splitting the expressions like this.
I think your current approach has no performance advantage and with g^i_a it would be at least easier to read.

[2019-01-30 21:47] nilsdeppe opened #1303 "Move constexpr math functions"
# Feature request:

It was decided on a call with @moxcodes @fmahebert @markscheel @geoffrey4444 @kidder @wthrowe that the math functions in `Utilities/ConstantExpressions.hpp` be moved to `Utilities/Math.hpp`.

[2019-01-31 00:47] markscheel opened #1305 "Apparent horizon finder output should be logged."
# Feature request:

The apparent horizon finder currently uses "Parallel::printf" to output diagnostic
quantities (like residuals per iteration).  Eventually, this should be logged to a file once #880 has been addressed.

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

[2019-01-31 06:29] wthrowe opened #1307 "Random failure in Unit.PointwiseFunctions.GeneralRelativity.GhQuantities"
[code]

[2019-01-31 20:20] wthrowe opened #1308 "Random failure in Unit.Evolution.Systems.GeneralizedHarmonic.Characteristics"
[code]
(Since you have to touch the file anyway, you could also remove the three unused `data_size` variables.
 But that's really a separate issue.)

[2019-01-31 22:40] #1302 closed, assigned to moxcodes

[2019-02-01 21:40] #1108 closed, assigned to nobody

[2019-02-01 22:15] kidder opened #1312 "DataVector sizes incorrect in constraint tests"
# Bug reports:
See #508

The 4's should be 5's

[2019-02-01 22:28] geoffrey4444 commented on #1312
Sure but I like 4...what’s wrong with 4, just so I understand?

[2019-02-01 23:46] kidder commented on #1312
in #508 we agreed to use 5. and we want to be consistent throughout the code.  We know you love 4.

[2019-02-02 01:58] geoffrey4444 commented on #1312
OK, just wondering! Maybe I need to file a 5->4 issue/PR some day

[2019-02-02 15:24] nilsdeppe commented on #1312
We're happy to close that PR without merging it :)

[2019-02-02 21:29] nilsdeppe opened #1313 "Isentropic vortex assumes 3d"
# Bug reports:

### Expected behavior:

It is actually a 2D solution that can be generalized to 3D. We should be able to run it in both 2D and 3D.

### Current behavior:

Is hard-coded as a 3D solution.

[2019-02-02 21:32] nilsdeppe opened #1314 "Isentropic vortex interface is incorrect"
# Bug reports:

A general `variables` function using tags should be available, but it is not. There should also be a method of retrieving the EoS. Basically, the interface needs to be updated to the latest that the GRMHD and RHD solutions use.

[2019-02-04 03:41] wthrowe opened #1315 "Random failure in Unit.Evolution.Systems.GeneralizedHarmonic.GaugeConstraint"
[code]

[2019-02-04 20:49] prayush commented on #1307
I've added a fix for this (by lowering the test tolerance) in an associated PR #1177 (via [this change](https://github.com/sxs-collaboration/spectre/pull/1177/files#r253638270)). `Unit.Pointwise.GeneralRelativity.GhQuantities` tests now dont show failure for me in over 1000 repetitions.

[2019-02-04 22:57] prayush commented on #1308
Fix submitted through #1308

[2019-02-04 23:07] wthrowe opened #1318 "Random failure in Unit.DataStructures.Variables"
[code]

[2019-02-04 23:35] prayush commented on #1315
Fix submitted through #1308

[2019-02-05 15:02] nilsvu opened #1319 "Consistently check and resize tensors in compute items"
# Feature request:

We have many functions that take a tensor as a `gsl::not_null` pointer and modify it in-place. These functions must be sure that the size of the tensor's `DataVector`s (i.e. the grid size) is the same as that of the other arguments to the function. This check and (if necessary) the resizing should be done consistency in all of these functions. In particular it must be clear if

[2019-02-05 16:51] hrueter commented on #1215
But #935 has not been merged.

[2019-02-05 16:54] moxcodes commented on #1215
#935 was split out into several other pull requests. The merged one that made this change was #970.

[2019-02-06 00:54] #1065 closed, assigned to carmaza

[2019-02-06 00:54] #1270 closed, assigned to carmaza

[2019-02-06 21:39] kidder opened #1323 "Rethink whether ::Tags::Verbosity is needed"
# Bug reports:

We don't think we should have both an OptionTag and Tag names `Verbosity` for the AH finder

### Expected behavior:

### Current behavior:

### Environment:

Add as an attachment `$SPECTRE_BUILD_DIR/LibraryVersions.txt` or
add its contents here.

# Feature request:

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

[2019-02-06 21:43] moxcodes commented on #1318
@wthrowe I'm not managing to replicate this one with the given seed. Can you post what the most recent hash is from develop that your branch originated from? There may have been changes to the number of generator calls which alter which variables get which values.

[2019-02-06 22:59] nilsdeppe opened #1324 "Add a make_without_value function"
# Feature request:

Since we've determined avoid zero-initialization for DataVector whenever possible is faster we should have a `make_without_value`, similar to `make_with_value`.

[2019-02-07 02:50] wthrowe commented on #1318
I can still reproduce this on current develop (4247b55173d5b851a997762beff6552866386974) by setting the seed with this patch:
[code]

[2019-02-07 06:02] moxcodes commented on #1318
Hmm, now I'm concerned this one might be hardware dependent. I just checked out develop and made the same change, still without getting the error on my machine.

[2019-02-07 16:21] moxcodes commented on #1318
Another thought: @wthrowe, are you running with the docker image, and which Blaze version is it compiled with?

[2019-02-07 16:52] wthrowe commented on #1318
Heh.  I should follow our bug reporting procedures.

Not docker.  Here's LibraryVersions.txt:
[code]
and some CPU info:
[code]

[2019-02-07 17:55] markscheel commented on #1095
I propose 3 directories: Actions, Targets, and Callbacks.

[2019-02-07 20:08] markscheel opened #1326 "Add documentation for how different Interpolator components work together."
There should be some high-level documentation (perhaps in the documentation of the `intrp` namespace) that briefly spells out what the different ParallelComponents are and how they work
together, written at an overview big-picture level without intricate details. (details are documented in individual components and individual Actions).

Similarly there should be high-level documentation for how th

[2019-02-07 21:29] nilsdeppe opened #1327 "Add checks to Fishbone-Moncrief"
# Feature request:

It would be great if the Fishbone-Moncrief disk constructor check bounds for both radii. This can be done using `PARSE_ERROR` in the constructor.

[2019-02-07 22:20] #795 closed, assigned to mar-celine

[2019-02-08 10:39] nilsvu commented on #1095
`Actions` makes sense, since those are general. Callbacks and Targets will be provided by the component that _uses_ the interpolation framework, so I think those should move there. Else, the interpolation framework will eventually depend on all modules that use it, whereas it should be the other way round.

[2019-02-08 14:39] #1018 closed, assigned to mar-celine

[2019-02-08 18:46] markscheel commented on #1095
I agree about `Actions`.   Most of the `Actions` are internal things that an end-user will not see (e.g. Actions that communicate between InterpolationTargets and Interpolators), and are general.

The `Targets` are also Actions, but I think  of them differently than the other Actions because the user chooses one of them for each set of points that should be interpolated to. Three of the Targets ar

[2019-02-08 18:51] markscheel commented on #1095
Earlier you (@nilsleiffischer) suggested renaming the `Targets` so that they are verbs, since they are Actions.  More descriptive names that are verbs would be `SendPointsOnWedgeSectionTorusToInterpolator`, `SendPointsOnTrialApparentHorizonToInterpolator`, etc.   I am torn on this one.  The longer names are more descriptive and tell you what these Targets actually do.  However, the longer names ar

[2019-02-08 18:57] markscheel commented on #1095
Also, there is the question of moving stuff in the ApparentHorizons directory.  The only thing in the ApparentHorizons directory that is specific to only apparent horizons are FastFlow and the ComputeItems.   The other things (YlmSpherepack, Strahlkorper, and associated helpers) are lower-level infrastructure to describe 2-surfaces, and will be used for wave extraction and for Observers.  So possi

[2019-02-08 19:06] markscheel commented on #1095
Yet another thing about `Targets`.  This is something I've talked about with @fmahebert.  Currently all the Targets are Actions.  But it should be possible to replace these with a single Action, templated by a helper struct that is not an Action (the struct would have an initialize function and a compute_points function), and then these helper structs can be named `ApparentHorizon`, `LineSegment`,

[2019-02-08 19:09] nilsvu commented on #1095
About the `Targets`: what you just commented last is what I meant to suggest. The targets don’t have to duplicate the send-to-interpolator function call, but only do the point computing for a general action. This means they can be named to reflect that.

[2019-02-11 15:04] nilsvu opened #1342 "Document how to write input file tests"
We should document how to write input file tests in the Dev Guide, as suggested by @nilsdeppe in #1267.

[2019-02-11 22:08] nilsvu opened #1345 "Merge OptionTags and Tags namespaces"
# Feature request:

We currently have an `OptionTags` namespace that is distinct from `Tags`. I propose to remove it, move its tags into the `Tags` namespace and merge duplicates.

The reason for doing this is that a tag represents a certain quantity or type. It does not matter in which context it is used (DataBox, ConstGlobalCache, initializing a ParallelComponent). Often (or at least occasionall

[2019-02-11 22:12] #1198 closed, assigned to markscheel

[2019-02-12 22:18] nilsdeppe commented on #1345
I like the idea of first making the change for options to go from `::name()` -> `::option_name()`. I think this will be almost necessary since in the DataBox we will want to retrieve things by name at runtime for observing and the length restriction imposed on Options won't help us with unique names. @wthrowe would you be okay with this change?

[2019-02-12 23:25] wthrowe commented on #1345
I do not think merging the types of tags is a good idea.  Here are a few reasons:

I feel that conceptually they represent very different things.  OptionTags represent program input.  DataBox tags represent program state.  The only cases I see where there is overlap is with component-specific input options where the DataBox is being used as a "local global cache".  In these cases using the same ta

[2019-02-12 23:30] wthrowe commented on #1323
After our discussion of this earlier this week I think I have a better understanding of the goal here and I am OK with the current code.  I'll leave this open for a bit because I don't remember if anyone else objected.

[2019-02-13 14:30] nilsvu opened #1348 "Make DataStructures PyBindings compatible with Numpy"
Ideally we would be able to hand over a `Matrix` directly to Numpy functions without having to copy into a new `ndarray` (current approach implemented in #1343). A few notes:
- I think all we need is an implementation of the [`__array_ufunc__`](https://docs.scipy.org/doc/numpy-1.13.0/neps/ufunc-overrides.html) member function for `Matrix`. It tells Numpy what to do when it encounters a non-`ndarra

[2019-02-13 18:02] nilsvu opened #1349 "Introduce "protocols" to structure our metaprogramming interfaces"
# Feature request:

I propose to introduce a new metaprogramming concept to our code: **Protocols**. Some variation of this feature is built into many languages, so let me quote from the [Swift documentation](https://docs.swift.org/swift-book/LanguageGuide/Protocols.html):

A similar feature is proposed for C++20 and goes under the name of [_concepts and constraints_](https://en.cppreference.com/w

[2019-02-13 18:40] kidder commented on #1031
I have a minimal test case that still segfaults, running a single test.  From experimentation it seems that the segfault is occuring inside gr::Solutions::KerrSchild::variables.  If this is true, this would explain many (but not all) of the segfaulting tests above.  Here are some possible things to test:

- [x] turn off blaze vectorization (works in minimal test case, trying full build in #1354)
-

[2019-02-13 19:39] kidder opened #1350 "Commenting out SPECTRE_TEST_CASE s leads to parsing error during cmake"
# Bug reports:

### Expected behavior:

Commenting out a SPECTRE_TEST_CASE should succeed in running fewer test cases

### Current behavior:

An error occurs running cmake:

Traceback (most recent call last):
  File "/Users/kidder/Codes/SpECTRE/kidder/fix/kerr_schild/cmake/SpectreParseTests.py", line 124, in <module>
    parse_source_file(file)
  File "/Users/kidder/Codes/SpECTRE/kidder/fix/kerr_s

[2019-02-13 22:06] nilsdeppe opened #1351 "Allow mocking component tests to mock multiple nodes and cores"
# Feature request:

Some algorithms are inherently parallel and so being able to mock multiple nodes and cores per node would be very useful. This will need to be added to the mocking framework.

[2019-02-14 07:48] nilsvu commented on #1345
I agree with your reasoning @wthrowe. Thinking more about this I came to the conclusion that the issue is elsewhere:
- There are indeed different types of tag interfaces, i.e. a struct needs to satisfy different requirements depending on where it is intended to be used: In a DataBox, TaggedTuple, ConstGlobalCache and/or as an Option. These can be (and typically will be) mixed. So this is an exampl

[2019-02-14 20:10] #1256 closed, assigned to nilsvu

[2019-02-18 18:02] moxcodes opened #1364 "add `INFO` to #1279 tests"
# Feature request:

When combining multiple intricate tests into a single `SPECTRE_TEST_CASE`, the separate test function calls should have the Catch2 `INFO` and scoping to ensure that when tests fail, the failure provides some information about the test that failed a check.

The current practice is to use syntax like:
[code]
Where the scoping is necessary for Catch2 to print only during the desir

[2019-02-18 19:34] kidder commented on #1031
So far #1354 seems to have solved the problem.  I will leave the issue open for a bit longer, but do not plan to spend any more time on tracking down why this fix worked

[2019-02-20 03:30] #1364 closed, assigned to mar-celine

[2019-02-20 14:33] nilsdeppe opened #1369 "IO Cleanup is broken for tests?"
# Bug reports:

### Expected behavior:

Tests pas

### Current behavior:

[code]

My guess is that this test should delete the file *before* it starts and *after* it completes. Otherwise if the test is interrupt or fails between writing and deleting the test is in a perpetually failing state.

[2019-02-20 14:37] nilsvu commented on #1369
Could you give more information on the context of this failure?
Is it possible that this is due to some locking issue? Looks like the file exists and HDF5 tried to open it, which by itself sounds like a reasonable thing to do and shouldn't fail.

[2019-02-20 14:42] nilsdeppe commented on #1369
If you run any of the Elliptic executable tests (e.g. `Test_Dist...`) and it fails between writing the file and deleting it, the test will fail forever because it tries to open the file when it's not allowed to append. The solution is to delete the file (if it exists) at the start of the execution and also at the end.

[2019-02-20 15:19] nilsdeppe opened #1370 "Include order checking and sorting is broken"
# Bug reports:

### Expected behavior:

Running clang-format on a file correctly sorts includes.

### Current behavior:

The includes are not always sorted because there are `// IWYU pragma:` comments in between the includes. This is bad practice because it breaks clang-format and also clang-tidy checks. As far as I can tell this was started by @wthrowe  since I've only seen it in time stepping re

[2019-02-20 15:30] nilsdeppe opened #1371 "URLs are highlighted as too long"
# Bug reports:

### Expected behavior:

When a line (e.g. in the References.bib) is too long and is not a URL, only the non-URL lines should be reported as being too long.

### Current behavior:

All lines, including those with URLs in them are reported if they are too long when there are any lines that don't have URLs and are too long. I.e. a long title will trigger the checks to fail, at which p

[2019-02-20 17:44] wthrowe commented on #1371
The current state was because piping the output through grep to remove the lines would disable the automatic syntax highlighting, but since I gave up and just forced colors on in #1346 it should be safe to just pipe the result of pretty_grep through another grep.  I'll add another commit to #1346 to fix this.

[2019-02-20 17:49] wthrowe commented on #1370
That's too bad.  I like that style.  But breaking the tools is bad so I'll fix it.

[2019-02-20 17:52] nilsdeppe commented on #1370
Agreed, it would be really nice

[2019-02-20 18:19] nilsdeppe commented on #1371
Thank you :D :+1:

[2019-02-20 23:55] nilsdeppe opened #1381 "Automated checks for References.bib file formatting"
# Feature request:

Since there's desire to keep the bib file formatted nicely we should have checks that enforce formatting, at least for basic things like alphabetical order and number of spaces to indent.

[2019-02-21 03:28] #1369 closed, assigned to nilsvu

[2019-02-21 09:02] nilsvu commented on #1199
The plan is to make `tests/Unit/` a Python module by adding `__init__.py` files to its subdirectories. It is only used as such by the Python code within `tests/Unit/`, it is not exposed as a public Python module. The `TestFunctions.py` are split into separate files like `CylindricalBlastWave.py`. This also allows other test to import functions from these files (e.g. in #1172).

@nilsdeppe does thi

[2019-02-21 14:58] #1313 closed, assigned to carmaza

[2019-02-22 14:12] #1371 closed, assigned to wthrowe

[2019-02-22 16:41] mar-celine commented on #1151
This was addressed in #1356

[2019-02-22 16:41] #1151 closed, assigned to mar-celine

[2019-02-22 16:42] mar-celine commented on #877
This was addressed in #1356

[2019-02-22 16:42] #877 closed, assigned to mar-celine

[2019-02-25 00:59] nilsdeppe opened #1392 "GhQuantities test fails for specific seed 1396486037"
# Bug reports:

[code]

[2019-02-25 22:02] markscheel opened #1394 "Re-introduce mechanism for triggering different InterpolationTargets at different times."
# Feature request:

In the original design of Interpolators/InterpolationTargets, each InterpolationTarget could be interpolated onto at different times.  That is, one could find AhA more often than AhC, or do wave extraction less often than finding horizons.  Each InterpolationTarget is told that it will be interpolated onto by calling its action AddTemporalIdsToInterpolationTarget.  Originally,

[2019-02-26 07:49] moxcodes opened #1396 "Builds fail in docker when `USE_PCH=OFF`"
# Bug reports:

### Expected behavior:

After initializing a build directory with
[code]
in the docker container sxscollaboration/spectrebuildenv:latest, we should expect to be able to build `bin/RunTests` (or indeed, the other executables) with `make` commands.

Omitting the `USE_PCH=OFF` flag gives expected behavior.

### Current behavior:

With the `USE_PCH=OFF` flag, linker errors are emitted

[2019-02-27 14:26] #862 closed, assigned to nilsdeppe

[2019-02-28 05:20] #1370 closed, assigned to wthrowe

[2019-02-28 05:22] #856 closed, assigned to mar-celine

[2019-03-01 17:42] wthrowe opened #1409 "Document frames"
The `Distorted`, `Grid`, `Inertial`, and `Logical` frame structs are currently undocumented.  This is a complicated enough topic that it is probably worth a tutorial, although much of that may need to wait until we know the details of how we're going to do dual frames.

[2019-03-04 19:23] mar-celine opened #1415 "Refactor CoordinateMap Documentation"
We currently have CoordinateMaps that repeat the same documentation (for example, Wedge3D and Frustum share documentation on equiangular/equidistant variables). As the maps become more complex and generalized (such as with the addition of projective mapping in #1357), the individual map documentation should focus on discussing the parameters the user can modify to change the resulting coordinate m

[2019-03-07 02:36] wthrowe opened #1420 "Tensor MakeWithValueImpls are out of date"
Tensor is allowed to hold lots of types now, but `make_with_value` only works for the original two (double and DataVector).

[2019-03-07 17:50] #1284 closed, assigned to markscheel, nilsdeppe

[2019-03-07 19:40] nilsdeppe opened #1422 "Minor Krivodonova Limiter Improvements"
# Feature request:

From #1353 @fmahebert's comment:

- You call mesh.storage_index(i, j) several times per (i, j) pair (including inside the minmod lambda). There's an opportunity to precompute and store the mesh storage index.
- You do a lot of double == double checks in this algorithm. In my Minmod limiter I opted to have the minmod function return its result as a pair of double, bool where the

[2019-03-08 00:48] moxcodes opened #1424 "Document CCE coordinate order"
# Feature request:

The current CCE features do not really use the coordinate order of the tensors in CCE, but it will be important to specify in future tools. This issue serves as a reminder that this should be well-documented because CCE stores things in a phi-varies fastest method, so the coordinates are in order (phi, theta, r), which is non-intuitive from the perspective of other formalisms.

[2019-03-08 08:46] nilsvu opened #1425 "Don't require reductions file name when no reductions are observed"
# Feature request:

The observers requires both `VolumeFileName` and `ReductionFileName` options, even if no volume observations or no reduction observations are registered. It would be good to remove this requirement.

### Component:

- [x] Code

[2019-03-09 15:52] #1396 closed, assigned to hrueter

[2019-03-18 07:28] fmahebert opened #1436 "Add WENO support for non-uniform grids"
The current WENO limiters require uniform grids, in particular grids with no h-refinement and no p-refinement. To support h/p-refinement, _at least_ the following are needed:

- [ ] Generalize the caching of the indicator matrix in `Weno_detail::oscillation_indicator` so that multiple meshes can be present in the same simulation.
- [ ] Generalize the computation of the linear weights in `Weno_deta

[2019-03-18 07:29] fmahebert opened #1437 "Enhancements to WENO limiters"
Some possible enhancement:

- [ ] Add an enum to enable switching between different flavors of oscillation indicators.
- [ ] See if `Weno_detail::reconstruct_from_weighted_sum` can reduce the number of `mean_value` computations. Currently this is computed for each candidate polynomial for each tensor component . These may already have been computed for the "local" polynomial (if, e.g., the Minmod

[2019-03-19 11:14] nilsdeppe opened #1440 "Move slice and orientation utils to Domain"
# Bug reports:

### Expected behavior:

DataStructures does not depend on Domain because it is considered a lower level (or maybe the lowest level above Utilities and ErrorHandling) library we have.

### Current behavior:

DataStructures depends on Domain because of the slicing and orientation utilities of Variables and Tensors. These utils should be part of Domain rather than part of DataStructur

[2019-03-19 19:45] fmahebert opened #1442 "Reorganize limiter directory"
Currently all limiter-related code lives in `src/Evolution/DiscontinuousGalerkin/SlopeLimiters`, and in namespace `SlopeLimiters`.

Now that we are implementing more types of limiters, including some that are not truly "slope limiters", neither the directory name nor the namespace seem ideal.

I propose the following updates:
1. rename the directory `SlopeLimiters` to `Limiters`.
2. add subdirecto

[2019-03-20 15:00] nilsdeppe commented on #1442
I like this idea! I like the shorter namespace hrsc, though am also fine with `Limiters`. I'd also be fine with `Tci` for `TroubledCellIndicator` to make the name more manageable :) I'm also happy with this being done before subcell goes in. Given just how different subcell is from the rest, I'm developing it completely outside the current limiting infrastructure and then we can see later how to m

[2019-03-20 21:36] osheamonn opened #1447 "Interior quantities are used on both sides of the interface when imposing boundary conditions"
I think I've found a potential bug in the initialisation of GRMHD. It seems to not be causing any error in evolutions since any boundary issues that have cropped up have been solved by other means.

Basically the primitives on the exterior side of the external boundary (the face on which boundary conditions are imposed) are being calculated by slicing the primitives from the volume. The primitives

[2019-03-21 16:40] nilsdeppe commented on #1447
I'm a bit confused. We impose (or at least would like to impose) boundary conditions on the conservative variables by computing the primitives from the analytic solution, then directly computing the primitives. As far as I can remember there's just no need for the primitives on the external boundary in the DataBox.

[2019-03-21 16:47] kidder commented on #1447
If the BCs are imposed through fluxes, the primitives are needed for computing the flux on the exterior size.  So the question is where does the flux get the primitives from

[2019-03-21 16:55] nilsdeppe commented on #1447
Okay, so
[code]
comes from what is set on the boundary. Probably what isn't done properly is that the primitives are recomputed from the conserved variables. This needs further investigation.

[2019-03-23 09:51] nilsdeppe opened #1450 "Domain creators should have more examples"
# Feature request:

### Component:

- [x] Documentation

### Desired feature:

While going through the documentation of `AlignedLattice` I found it almost completely unclear what I should actually specify to get the geometries I want. I looked at the tests and while they gave examples I still have no idea what the list of numbers in the tests actually mean. It would be really good to have some exa

[2019-03-24 23:01] fmahebert commented on #1392
In PR #1433, this test failed with seed `3093017092`.

Here's the full output:
[code]

[2019-03-25 19:45] mar-celine opened #1452 "Events and Triggers documentation"
# Feature request:
As discussed in #1441, it would be nice to have dedicated documentation which explains the usage of EventsAndTriggers. The syntax used is new to me, but in general EventsAndTriggers are specified in the following way:

[code]

This new SpECTRE documentation should also include information on the specific Events and Triggers which exist in SpECTRE, and how to use them/ add more.

[2019-03-25 19:45] mar-celine commented on #1415
Addressed by #1357

[2019-03-25 19:45] #1415 closed, assigned to mar-celine

[2019-03-26 01:56] prayush commented on #1392
This issue slipped under my radar somehow - I've pushed a fix for it with #1454 now.

[2019-03-26 19:02] #1392 closed, assigned to geoffrey4444, prayush

[2019-03-28 18:50] wthrowe opened #1455 "Atlas support"
Our current treatment of coordinates is sufficient for our main science goals, but it is not sufficient for a more general set of problems where the domain does not look sufficiently like a subset of R^n.  The simplest case of this is an evolution on S^2.  The standard way to handle this in mathematics is by defining a manifold using an [atlas](https://en.wikipedia.org/wiki/Atlas_(topology)).  We

[2019-03-28 19:36] kidder commented on #1455
These papers on multi-patch methods in SpEC might be worth looking at...
- [Solving Einstein's Equation Numerically on Manifolds With Arbitrary Spatial Topologies](https://arxiv.org/abs/1312.0701)
- [Solving Partial Differential Equations Numerically on Manifolds with Arbitrary Spatial Topologies](https://arxiv.org/abs/1210.5016)

[2019-03-29 21:05] wthrowe opened #1457 "Random failure in Unit.Numerical.Interpolation.BarycentricRational"
[code]

[code]

[2019-04-01 13:07] nilsdeppe opened #1458 "Test failure Unit.Evolution.Systems.GeneralizedHarmonic.FConstraint"
# Bug reports:

The test `Unit.Evolution.Systems.GeneralizedHarmonic.FConstraint` fails with:
[code]

### Environment:

TravisCI

[2019-04-01 13:30] geoffrey4444 commented on #1458
I'll look into this and the other randomly failing tests

[2019-04-01 21:35] mar-celine opened #1459 "Allow for L1 error observing at runtime"
# Feature request:

Currently the error written during observation is an L2 error which is hardcoded into Evolution/DiscontinuousGalerkin/Observe.hpp. It should be possible to specify which of the L1 or L2 norms to use when observing errors from the yaml input file.

If not then there should at least be documentation explaining where/how to change this file to observe using a different norm.

###

[2019-04-01 22:55] geoffrey4444 commented on #1458
@nilsdeppe Does this test always fail, or only sometimes? Which PR or PRs do you see it fail? I'm inclined to just loosen the tolerance of the test, especially if this only happens rarely anyway.

[2019-04-01 23:49] nilsdeppe commented on #1458
I've only seen it in this one case: https://travis-ci.org/sxs-collaboration/spectre/jobs/514001063

[2019-04-02 18:50] carmaza opened #1465 "Observer not writing at uniform times"
# Bug reports:

### Expected behaviour:

Evolving `Burgers` with the following options in `Step.yaml`

[code]
should write observations at times 0, 0.005, 0.01, 0.015, 0.02, 0.025, 0.03, 0.035, 0.04, 0.045 and 0.05.

### Current behavior:

In `BurgersReductions.h5`:

[code]
This only occurs when the RungeKutta time stepper is being used (AdamsBashforthN works fine).
This seems to be a system-indep

[2019-04-02 19:57] wthrowe commented on #1465
We need to make sure we're not running triggers on substeps.  (In fact we should only run them on slab boundaries.)  I'm not sure where to check this, though.  Actions::RunEventsAndTriggers should ideally not be evolution-specific.  I guess we could have a wrapper class around an action to only run it under certain circumstances.

[2019-04-03 17:19] wthrowe opened #1467 "TimeStepper dense output interface is awkward"
The current requirement that dense output in a step must be performed before the step is completed makes dense-output operations that would like to know the value at the end of the step difficult.  A simple example of such a use is finding the time at which an evolved variable changes sign.

Clearing history just before taking a substep rather than just after (and modifying bookkeeping to account

[2019-04-03 20:22] mar-celine commented on #1455
Possible motivations for implementing this functionality:
* R X S3 simulation of the Einstein-Klein-Gordon static universe as done in "Solving Einstein’s equation numerically on manifolds with arbitrary spatial topologies"

[2019-04-05 16:22] wthrowe commented on #1458
[Another one](https://travis-ci.org/sxs-collaboration/spectre/jobs/515699308) (seed 2814662529)
Edit: Also 1656582934.

[2019-04-07 21:39] nilsdeppe commented on #1036
Closing this because we need some way of dynamically changing the task graph inside of a phase. Even with phase dependent action lists this problem persists. If someone can think of a better method than a goto and label action approach a new issue should be filed.

A concrete example of where we need to change the task graph is the FD subcell limiter. In the case of a troubled cell detection we sw

[2019-04-07 21:39] #1036 closed, assigned to nobody

[2019-04-08 18:19] nilsdeppe opened #1480 "GH functions use compute_ prefix"
# Bug reports:

### Expected behavior:

We decided not to prefix functions with `compute_` since a function that does nothing is generally not what we want and these would be the only functions that wouldn't have a `compute_` prefix. The prefix should be removed from all GH functions that have them.

### Current behavior:

The `compute_` prefix is used.

[2019-04-08 20:57] #1465 closed, assigned to nobody

[2019-04-09 10:04] nilsvu opened #1481 "Make fluxes work with Variables characteristic speeds instead of storing them in std::array"
# Feature request:

#1435 changes the storage of GH characteristic speeds from `Variables` (indexed by the char. fields) to a `std::array<DataVector, 4>`. This removed much of the type-safety, losing the correspondence between the fields and the speeds. It was done, as I understand it, so that the numerical flux code doesn't have to change, which assumes the speeds are stored as arrays (e.g. Local

[2019-04-16 18:02] fmahebert opened #1486 "Reduce friction when compiling source dumped by Formaline"
Goal: compile source code from Formaline.

Steps:

1. Get `src.tar.gz` tarball from Formaline.
2. Extract source tree from tarball
3. Create `build` dir, run CMake, and...

### Expected behavior:

4. compilation works

### Current behavior:

4. compilation fails because tree is not a git repository
5. `git init`
6. compilation fails because no HEAD (i.e., no commits)
7. try to commit all files
8.

[2019-04-19 00:33] moxcodes opened #1487 "Revise CCE procedure to maintain regularity"
# Feature request:

Some of the CCE equations are constructed in such a way to possess possible logarithmic terms. Under a 'good' choice of coordinates, these logarithmic terms will vanish. However, the procedure for CCE given in the literature does not maintain an initially well-chosen set of coordinates for arbitrary worldtube data, as the worldtube data is, in general, given in a set of coordin

[2019-04-22 03:58] nilsdeppe opened #1490 "EvolveValenciaDivClean always needs to link ApparentHorizons"
# Bug reports:

### Expected behavior:

I can link Interpolation without needing ApparentHorizons.

### Current behavior:

Because `NumericalAlgorithms/Interpolation` seems to have weird dependencies on horizons and such I need to link in AH. This is not how we should design our libs, they should have the opposite dependency order. I think we probably want to generally avoid putting large parallel

[2019-04-22 22:02] prayush opened #1493 "Add tests for simple tags in GeneralizedHarmonic"
# Bug reports:
### Expected behavior:
All `SimpleTag`s in the `GeneralizedHarmonic` evolution system should be tested.

### Current behavior:
Currently, while `ComputeTag`s are tested, `SimpleTag`s are not tested across the `GeneralizedHarmonic` evolution system.

[2019-04-30 02:40] prayush opened #1503 "Combine computation of gauge source and its derivatives"
# Functionality improvement:

Combine computation of damped harmonic H and its derivative into "one" function, in the sense of returning a variables and allocating all temporaries for both computations only once as a result. [c.f. @nilsdeppe 's suggestion [here](https://github.com/sxs-collaboration/spectre/pull/1172#discussion_r279132492)]

### Expected behavior:
It would be nice to reduce the cos

[2019-05-02 20:58] wthrowe opened #1507 "Time trigger tests are in the wrong directory"
I should fix this sometime when I am not making changes that will conflict with the move.

[2019-05-02 21:18] kidder opened #1508 "Error parsing title of reference"
# Bug reports:

### Expected behavior:

The following reference included in `docs/References.bib` should be parsed correctly.

[code]

### Current behavior:

`make doc-check` produces the following error:
`citelist:73: warning: Unexpected token TK_LISTITEM found as part of a <a>..</a> block`

### Environment:

I can reproduce this both on my MacBookPro and the Travis documentation build.

### Deta

[2019-05-02 21:32] kidder commented on #1308
@prayush I just encountered this again:
[code]

[2019-05-02 22:41] moxcodes opened #1509 "Add MakeWithValuesImpl overload so tensors can take a size_t for size parameter"
# Bug reports:

### Expected behavior:

Calling `make_with_values` for a tensor type, with a `size_t` in the used_for_size argument constructs a tensor with each of the components a vector of the desired size (as is the case for vector types).

### Current behavior:

Compiler error in the above scenario, see conversation in #1478.

[2019-05-02 22:56] moxcodes commented on #1509
Also, the vector overload which uses a `size_t` should be used where possible (e.g. in many places in `VectorImplTestHelpers.hpp`, and probably in other places), rather than constructing unused vectors for the purposes of passing them, even if we trust the compiler will optimize them away.

[2019-05-06 16:22] nilsdeppe opened #1513 "Improvements to H5 python wrappers"
# Feature request:

### Component:

- [x] Code
- [ ] Documentation
- [x] Build system
- [ ] Continuous integration

### Desired feature:

Some of these feature requests came up during the review of #1449

- [ ] `Dat` class can append either a python list or numpy array
- [x] Make sure dependencies are properly tracked so that building the IO bindings triggers the DataStructures bindings to be buil

[2019-05-07 04:08] #1147 closed, assigned to markscheel

[2019-05-07 04:10] nilsdeppe commented on #991
@nilsleiffischer I remember you making a PR for some of this. Is there remaining work to be done? Could we assign people to be responsible for certain directories?

[2019-05-07 04:15] nilsdeppe opened #1514 "Fix Generalized Harmonic Documentation"
# Bug reports:

- [ ] The notation should match what is in #1494
- [ ] The notation in **C++** comments should match #1494
- [ ] Should be able to find documentation starting from `Topics` menu
- [ ] `gr::Tags` namespace should show up in the `General Relativity` topic in Doxygen.
- [ ] `gr::Tags::SpacetimeChristoffelFirstKind` has no documentation.
- [ ] `gr::Tags::SpacetimeChristoffelSecondKind`

[2019-05-07 16:22] prayush opened #1515 "Reduce initial-gauge dependency of damped harmonic gauge"
# Bug reports:

There is an optimization that could be added to computation of damped harmonic gauge source function and its derivatives.(which is done in SpEC).
 - [ ] If `(1 - roll_on_h_init)` is less than roundoff, then we can omit the terms involving `gauge_h_init`.

Without this change, the evolution depends on the initial gauge until arbitrarily far in the future. This will restrict that dep

[2019-05-07 16:37] prayush opened #1516 "Change damped harmonic gauge rolloffs to be able to reproduce SpEC"
# Bug reports:

The damped harmonic gauge in SpECTRE makes different choices for its temporal rolloffs than SpEC. Also, the way time rolloff option is implemented in SpECTRE is not amenable to reproducing the default behavior of SpEC for BBHs. If we are to do comparisons of SpECTRE vs SpEC there will need to be some further code changes in one of the two codes to ensure both are in the same gauge.

[2019-05-08 19:53] wthrowe opened #1518 "Python bindings fail to compile with python 3.6"
Building with python 2.7 is successful.

[code]
LibraryVersions.txt:
[code]

[2019-05-09 03:38] #551 closed, assigned to kidder

[2019-05-14 20:27] nilsdeppe commented on #1518
Thanks for finding this @wthrowe! In terms of action items:

- [ ] Fix so that the current code compiles. We need to see how we deal with this elsewhere in the code, and what the correct way of dealing with it is. I think some of the `pypp` code should have to deal with this problem.
- [ ] We need to make sure we test more python envs on Travis to catch these issues before merging.

[2019-05-15 21:33] fmahebert opened #1526 "Add utilities to test consistency of fluxes"
# Feature request:

PR #1322 has prompted discussion of checking the consistency of fluxes.

It would be useful to write system-agnostic utilities that check that a given flux `G(U-, U+)` satisfies:
- the flux correction `G - F` vanishes if the solution is identical on both sides of the interface (i.e., if `U- == U+`)
- the flux is correctly balanced on both sides of the interface (both sides comp

[2019-05-18 01:56] moxcodes opened #1530 "ExponentialFilter action allows only one set of parameters during entire execution"
# Bug reports:

### Expected behavior:

Multiple different filters parameters may be used in a given execution of the code.

### Current behavior:

Static caching ensures that for a given matrix size, it is permanently set to the first `alpha` and `half_power` that was requested.

### Steps to reproduce:

replace the current test case block in `Test_Filtering.cpp` with
[code]
The second set of act

[2019-05-18 02:00] nilsdeppe commented on #1530
I don't see the need for this functionality. I only encountered a "need" in a test. I'd rather keep the code simple. What do you need this for?

[2019-05-18 02:01] nilsdeppe commented on #1530
I realistically won't get to this for at least 3-6 months, so I'm unassigning myself.

[2019-05-18 02:09] moxcodes commented on #1530
I have no current need for it, I was just reflecting on the difficulty of caching things which take doubles and realized I missed this on my review. My main point is simply that multiple instances of the same action should work as expected in a given execution.

Is there a reason the matrices cannot simply be ordinary member variables of the action?

[2019-05-18 03:30] nilsdeppe commented on #1530
They could be part of the action. The reason for doing it this way is to have an interface more in line with other matrix operators in DG, but I don't see a reason not to have an interface that allows retrieving the matrices in a non-cache manner and doing caching elsewhere (e.g. in the action). In practice my experience has been that nothing is gained in terms of accuracy by only filtering some o

[2019-05-20 03:28] nilsdeppe commented on #1530
I just checked, the matrices are cached as part of the action, so the requested behavior already exists. This is why the matrices aren't cached in the `Spectral/Filtering.cpp` file. Can we close this as `invalid`?

Edit:
This functionality is even documented.

[2019-05-20 03:32] moxcodes commented on #1530
I'm confused, and willing to discuss -- Are you indicating that the actions should act as in the test code pasted in the issue?  I'm not sure I understand why this should be an invalid use; in executables that may handle different domains in different methods (e.g. cauchy evolution and characteristic extraction, just to identify a specific example), different filters might be required.
(edited for

[2019-05-20 04:18] nilsdeppe commented on #1530
Your example with CCE and cauchy evolution is supported. This is because you pass an index `FilterIndex` to the filter action. The parameters are cached for that index, so as long as you use a different `FilterIndex` in the cauchy and CCE evolutions you're fine.

The reason I'm saying it's `invalid` is because from my understanding (and maybe I'm misunderstanding), your request is the example you

[2019-05-20 04:22] moxcodes commented on #1530
Aha! understood. I overlooked the usefulness of the index in the action class, which as you say, completely solves the issue I thought I had seen. Agreed, closing.

[2019-05-20 04:22] #1530 closed, assigned to nobody

[2019-05-20 04:28] nilsdeppe commented on #1530
Ah okay, sorry for not being clearer on that earlier! And overall, thank you for bringing this up :) I think at the very least I will change the comment in the test to make it clear that the feature is supported, just not used in the test (or maybe it'll be easy to generalize the test, I'll need to look).

[2019-05-20 18:40] wthrowe commented on #1458
235749878

I notice that the values being compared are fairly large: around 10^5.  I haven't checked whether the comparison uses a pure absolute difference or whether it switches to a relative difference for large values, but that might be related.

[2019-05-20 20:54] moxcodes opened #1532 "Add functionality for aggregated buffer allocation"
# Feature request:

Currently in #1397 the `TempTensor` is put into the `DataBox` which is not the ideal solution. The most viable suggested alternative is to permit an aggregated allocation of temporary buffers via a `Variables`, which could be passed into a version of a generalized version of `mutate_apply` which also accesses that `Variables`. Then, those pooled buffers can still be de-allocate

[2019-05-21 20:06] wthrowe commented on #1308
[code]

[2019-05-21 20:33] wthrowe opened #1534 "Interpolation observers should not use TimeIds"
Once local time-stepping is enabled, different elements are not going to agree on TimeIds.  Probably times should be communicated as doubles.

[2019-05-22 18:19] fmahebert commented on #1440
I propose the following changes:
- move Variable slicing utils to `Domain/SliceHelpers.{c,h}pp`
- move Variable orienting utils to `Domain/OrientationMapHelpers.{c,h}pp`.
- move the member function `OrientationMap::permute_from_neighbor(std::array)` to a free function in the new `OrientationMapHelpers`, because it doesn't feel very consistent with the rest of the `OrientationMap` interface.

If I

[2019-05-22 20:36] fmahebert commented on #1440
On closer examination, the Variable slicing utils currently in `VariablesHelpers.?pp` don't appear to depend on anything from Domain, so the original argument of moving these to fix the dependencies between directories may not apply. The Variable orienting utils do still need to be moved -- but not necessarily the slicing utils.

I think this opens another option to resolve this issue (in addition

[2019-05-22 21:23] markscheel opened #1537 "Wrap tmpl::append to avoid bug."
# Bug reports:

Consider:
``
struct a;
struct b;
using c = tmpl::append<tmpl::list<a>,b>;
``

### Expected behavior:

I would have expected `c` to be `tmpl::list<a,b>`.

### Current behavior:

`c` is an empty `tmpl::list<>`.

# Feature request:

It would be nice if `tmpl::append` were a wrapper around `brigand::append`
that, for the above example, either
1.  Resulted in `c` being `tmpl::list<a,b>`

[2019-05-24 20:07] kidder commented on #1308
[code]

[2019-05-24 23:14] kidder commented on #1308
[code]

[2019-05-29 19:58] fmahebert opened #1546 "Test failure Unit.ApparentHorizons.StrahlkorperGr.AreaElement"
[code]

### Environment

TravisCI

[2019-05-30 17:17] kidder commented on #1315
A similar issue with the Fconstraint /Users/kidder/Codes/SpECTRE/kidder/add_electron_fraction/tests/Unit/TestingFramework.hpp:137: FAILED:
  CHECK( a == appx(b) )
with expansion:
  -3.6656651039 == Approx( -3.6656651064 )
with messages:
  seed: 1566513479
  function: f_constraint
  /Users/kidder/Codes/SpECTRE/kidder/add_electron_fraction/tests/Unit/Pypp/
  CheckWithRandomValues.hpp:223: result ==

[2019-06-03 15:32] nilsdeppe opened #1550 "Have Prefix Tags' name Functions Be Correct"
# Bug reports:

### Expected behavior:

The prefix tags must specify a `name()` function that returns `"prefix(" + db::tag_name<tag>() + ")"`.

### Current behavior:

They don't do this.

[2019-06-03 16:34] nilsvu opened #1551 "Pass local cache to parallel components"
# Feature request:

Instead of the cache proxy that is currently passed to `initialize` and `execute_next_phase`, pass its `ckLocalBranch()`.

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2019-06-03 16:35] nilsvu commented on #1551
discussed during the #1535 review

[2019-06-03 17:44] nilsvu opened #1552 "Collect cache tags from actions automatically"
# Feature request:

Have `ConstGlobalCache_detail::make_tag_list` collect the cache tags also from all actions in all components, so that each component doesn't have to do that themselves.

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2019-06-03 17:44] nilsvu commented on #1552
Came up while reviewing #1535

[2019-06-03 18:24] nilsvu opened #1553 "Remove code duplication between PDALs code and ActionTesting"
# Feature request:

A lot of code in `ActionTesting.hpp` is duplicate from `Algorithm.hpp` and other places in `Parallel/`. We should factor those out so that we don't have to keep the files in sync.

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2019-06-03 18:24] nilsvu commented on #1553
Came up while reviewing #1535

[2019-06-04 21:15] nilsdeppe commented on #1551
- for `initialize` this is not possible.
- I'm removing `execute_next_phase`

[2019-06-04 21:15] #1551 closed, assigned to nilsdeppe

[2019-06-04 21:16] nilsdeppe commented on #1553
Unassigning myself since unless something significantly changes I won't be looking at this for a few years.

[2019-06-05 00:19] fmahebert opened #1556 "Rename create_initial_element"
# Bug report:

### Expected behavior:

Function name reflects its action.

### Current behavior:

Function name does not reflect its action.

"Initial" has strong connotations to time-evolution, but this function creates an element defined by a particular spatial resolution, independent of time.

I suggest renaming `create_initial_element ` to `create_root_level_element`. Other options could be `c

[2019-06-05 02:47] kidder commented on #1556
No, it is meant only for creating an initial element.  The documentation is incomplete and should state that when doing so it assumes that it has neighbors that share its refinement levels.    It is not the root_level_element or a block_covering_element and I don't know what a base_resolution_element is. It is very likely to be wrong to create an element with this function at any other time.   So

[2019-06-05 03:09] fmahebert commented on #1556
Okay, I agree that the documentation should be improved, because I clearly misunderstood what this function is doing. Forget any of my suggestions, then.

Even after your comment I remain somewhat unsure of what this function is actually doing. What I think you're saying is: this function creates an element at some specified refinement level and position within the block, but assumes there is no h

[2019-06-05 03:11] kidder commented on #1556
Yes, that is correct.

[2019-06-06 14:40] nilsdeppe opened #1562 "Remove execute_next_phase functions"
# Feature request:

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

The `execute_next_phase` functions are not really necessary since most of the same can be achieved using iterable actions and having `Main.hpp` call `start_next_phase` directly. Implementing this will take some work since several different parts of the code use

[2019-06-06 17:00] nilsvu opened #1563 "Allow stateful logic in determine_next_phase"
# Feature request:

`determine_next_phase` currently only has the global cache to work with, which is constant. For switching between phases based on what's happening in a simulation, it'll need access to reduced data coming from the parallel components.

A use case would be running an elliptic solve in each AMR step: We would do an AMR step in one phase, then switch to the solve phase that does s

[2019-06-06 22:05] #926 closed, assigned to nobody

[2019-06-09 17:07] #1440 closed, assigned to fmahebert

[2019-06-12 22:31] kidder opened #1567 "Make default values and bounds show up in the documentation"
# Feature request:

It would be nice for the default values and bounds show up in the documentation of options.

### Component:

- [ ] Code
- [x] Documentation
- [ ] Build system
- [ ] Continuous integration

### Detailed discussion:

Possible ways to achieve this, make them `constexpr` or `static` variables instead of `static` functions

[2019-06-13 16:17] nilsdeppe opened #1570 "Check termination was successful"
# Bug reports:

### Expected behavior:

If any component has not entered the `Exit` phase then we should not mark termination as successful.

### Current behavior:

If a component is waiting on more data from somewhere termination is marked as successful even though this is not the case. For components like the `DgElementArray` that just run iterable actions the check is as simple as running `star

[2019-06-13 19:18] nilsvu opened #1573 "Use verbs for phase names"
# Feature request:

I suggest to rename phases so that they consistently are verbs like `Initialize`, `RegisterElements`, `Evolve`, `Solve`, `Exit`.

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2019-06-13 19:47] nilsdeppe commented on #1573
Sounds good to me! We should probably add a note to the parallelization documentation as well that we prefer these be verbs.

[2019-06-14 10:05] nilsvu commented on #1095
Noting something I just came across: `InterpolationTarget.hpp` is not currently imported anywhere, since the tests make their own mock version of it. Therefore, it has become quite outdated.

[2019-06-14 19:33] wthrowe commented on #1308
3503003868

[2019-06-18 22:39] fmahebert commented on #1442
PR 1577 addressed items 1 and 3 from the issue description; item 2 remains open.

[2019-06-18 22:44] fmahebert commented on #1063
@nilsdeppe Do the recently-merged phase-dependent action lists permit communicating limiter data, then applying the limiter, as part of the initialization phase? I'm unsure if once can make calls across parallel components within the initialization phase...

[2019-06-18 22:46] nilsdeppe commented on #1063
You can do communication during any phase that you want :) So yes, that seems like the appropriate place to limit. If you look at the split up initialization https://github.com/nilsdeppe/spectre/tree/split_initialization then it should be as easy as adding the limiter actions to the initialization phase.

[2019-06-18 23:24] fmahebert commented on #1063
Awesome! Then once the new initialization is merged, I think this issue will be resolved.

Adding the two actions `Limiters::Actions::SendData` and `Limiters::Actions::Limit` to the initialization action list should produce the desired functionality. These actions will have to come after evaluation of initial data, of course.

[2019-06-19 00:26] nilsdeppe commented on #1063
Yep, that's all it should be! :)

[2019-06-22 05:37] kidder commented on #1546
[code]

[2019-06-29 21:27] wthrowe opened #1587 "Input file contents should be saved in h5 output"
We save lots of stuff, but the actual parameters of the run do not appear to be included.

[2019-07-03 14:43] geoffrey4444 opened #1592 "Improve characteristic_speeds function in UpwindFlux"
Instead of defining `function` try to assign the `characteristic_speeds` function. We are not sure what the syntax is to select the correct overload. In this case also remove the instantiation from the cpp.

If this does not work, move the definition into the .cpp and keep the instantiation.

_Originally posted by @hrueter in https://github.com/sxs-collaboration/spectre/pull/1322_

[2019-07-03 14:49] geoffrey4444 opened #1593 "Explore improved numerical fluxes for generalized harmonic"
The upwind flux for generalized harmonic does not satisfy `G(F+, n+, u+; F-, n-, u-) = -G(F-, -n-, u-; F+, -n+, u+)`. @nilsdeppe has discussed with @geoffrey4444 some possible improved fluxes that do satisfy this property. These should be explored.

@wthrowe originally wrote:

For a test, you can at least check the general numerical flux consistency properties: `G(-F, -n, u; F, n, u) = F` and `G(F

[2019-07-03 16:31] nilsdeppe commented on #1587
Agreed! The current difficulty here is getting the input file to the observers. What do you think of the idea of having the option parser have a special tag `OptionTags::InputFile` that returns the input file as a string (ideally including all comments, etc.)? We can then stick that in the global cache for the observers to access. Does this sound like a reasonable plan forward?

[2019-07-03 18:55] wthrowe opened #1594 "Classes should not be their own tags"
Tags are supposed to explain what an option is being used for, not what type it is.  That is not a property of the class, and for some classes can very from use to use.

The particular case I just ran into was `ExponentialFilter`, which is an action, the storage of the parameters for that action, and the tag for that storage.  This results in three separate sets of functionality mixed together in

[2019-07-03 22:53] nilsdeppe commented on #1587
Discussion with @wthrowe and @kidder:

Adding to the global cache seems reasonable and just tell people not to reparse options in random places. A little bit of smarts will need to be added to the option parser to return the string but should be fairly manageable.

[2019-07-03 22:54] nilsdeppe commented on #1594
Discussion with @wthrowe and @kidder:

Yes, agreed that it is reasonable to split things.

[2019-07-05 17:53] kidder commented on #1570
discussion with @nilsdeppe
Have ERROR hook into something global that triggers the `Main` component to call `Phase::Cleanup` on all components who can then individually decide what to try to do in the phase...

[2019-07-05 18:02] kidder commented on #1563
discussion with @nilsdeppe
We think this just requires a tagged tuple `info_for_determine_next_phase` in the Main component and a callback that will insert something into this tagged tuple after a reduction.  Then `determine_next_phase` can access this information

[2019-07-05 18:04] nilsvu commented on #1563
we might as well have a dedicated singleton component with a databox that receives reductions and determines the phase. Then we don't need a special implementation managing the tagged tuple

[2019-07-05 18:08] kidder commented on #1563
we discussed that possibility, but multiple components might suggest different things and there needs to be arbitration that makes sense only for `Main` and the specific `Metavariables::determine_next_phase`

[2019-07-05 18:09] kidder commented on #1562
Here are the non-trivial execute_next_phase calls:

- [ ] SingletonHelloWorld.hpp
- [ ] InterpolationTarget.hpp
- [ ] Test_AlgorithmCore.cpp
- [ ] Test_AlgorithmNodeLock.cpp
- [ ] Test_AlgorithmParallel.cpp
- [ ] Test_AlgorithmReduction.cpp

[2019-07-05 18:12] kidder commented on #1552
I will do this as part of simplifying getting options into Databoxes

[2019-07-05 18:17] kidder commented on #1345
From discussions with @nilsdeppe @wthrowe @nilsleiffischer
We will keep a separate `OptionTags` namespace whose structs are used solely for parsing options from an input file.  I will add a mechanism that makes it easy to get data produced from `OptionTags` into containers such as the `DataBox` or `ConstGlobalCache`

[2019-07-05 18:17] #1345 closed, assigned to nobody

[2019-07-05 18:20] kidder commented on #1323
I will address this in a PR that makes it easier to get options into containers

[2019-07-05 18:22] kidder commented on #1191
Taken care of in #1535

[2019-07-05 18:22] #1191 closed, assigned to nobody

[2019-07-05 18:24] kidder commented on #1159
Agree with @nilsdeppe, therefore I am closing this...

[2019-07-05 18:24] #1159 closed, assigned to nobody

[2019-07-05 18:27] kidder commented on #1123
@nilsleiffischer would you be willing to do this (i.e. implement the first option)?

[2019-07-05 18:28] nilsvu commented on #1123
ok

[2019-07-05 18:31] kidder commented on #1083
This was fixed in #1102

[2019-07-05 18:31] #1083 closed, assigned to nobody

[2019-07-05 18:32] #1031 closed, assigned to nobody

[2019-07-05 18:34] kidder commented on #1030
This does not appear to be an issue now (if it ever was...)

[2019-07-05 18:34] #1030 closed, assigned to nilsdeppe

[2019-07-05 18:38] kidder commented on #996
This is addressed by #1535 #1579 and #1575

[2019-07-05 18:44] kidder commented on #907
related to #1570

[2019-07-05 18:45] kidder commented on #859
@wthrowe is the current documentation (updated in #1535) sufficient?

[2019-07-05 18:47] kidder commented on #826
@wthrowe @fmahebert we fixed this?  If so, can you please link the PR with the fix and close this?

[2019-07-05 18:48] kidder commented on #822
see also #1104

[2019-07-05 18:49] kidder commented on #756
@nilsdeppe and I agree, but it is not a small thing to implement

[2019-07-05 18:51] kidder commented on #739
@wthrowe any new thoughts on this? Is the current documentation enough, or would you like more?

[2019-07-05 18:57] kidder commented on #675
@markscheel have any of these been addressed by the documentation update of #1535?

[2019-07-05 19:00] kidder commented on #548
@markscheel @geoffrey4444 @prayush (i.e. the Vacuum crowd) can one of you fix this?

[2019-07-05 19:14] nilsvu commented on #1563
I was thinking a `Metavariables::phase_chooser` alias to a singleton component. It is like any other component, i.e. it can receive reductions and has a databox, but is must expose a `determine_next_phase` function or have a `Tags::NextPhase` in its databox or something. So it's basically a state machine. This way, we don't have to implement the `determine_next_phase` logic in the metavariables bu

[2019-07-05 20:07] geoffrey4444 commented on #548
I’ll take a look

[2019-07-05 21:14] geoffrey4444 commented on #548
Proposed fix in #1595

[2019-07-07 21:53] wthrowe commented on #739
The only things that I still see that look confusing are `LogicalCoordinates` and `MappedCoordinates`, both of which inherit from `Coordinates`.  `MappedCoordinates` is particularly confusing because the template arguments of the simple and compute tags are completely different.  (Unrelatedly, we probably don't need the second template parameter on `MappedCoordinates` anymore.)

[2019-07-07 22:07] wthrowe commented on #859
It looks like the examples are up-to-date now, but I still don't see anything on the actual parallelization aspects I mentioned in my original report.  Contrasting with threaded actions on nodegroups (which I think are synchronous) would also be good.

[2019-07-09 23:26] nilsdeppe commented on #1563
I don't want to add another component that steers the execution. This is the job of the Main component. I also don't really think we should always have the default solution to things be "Just add another component" There's a cost associated to doing that, and I don't think it's worth paying here.

[2019-07-13 16:01] nilsdeppe commented on #1458
[code]
@geoffrey4444 can you please fix these?

[2019-07-16 15:52] moxcodes opened #1609 "Improve maximum CCE precision"
# Feature request:

The maximum CCE precision in both the standard and regularity-preserving formulations is limited by expressions involving values near unity and values small during the CCE evolution, for instance `1 - sqrt(1 - j j_bar)`, where j is small. Note that the result here is also small, but the precision is limited by the form of the expression. Note that for a typical run j~10^{-4}, s

[2019-07-16 17:47] kidder commented on #1458
[code]

[2019-07-16 17:49] kidder commented on #1458
@geoffrey4444 ping ping ping

[2019-07-16 19:38] geoffrey4444 commented on #1458
On my to do list...will look when back from visiting family, next week

[2019-07-17 14:56] nilsdeppe commented on #1308
Another one: `627095092`

@geoffrey4444 @prayush these random failures need to be fixed ASAP please. They're impeding development on other parts of the code with their overall frequency...

[2019-07-17 17:43] moxcodes opened #1613 "Force Openblas serial during Charm executions"
# Bug reports:

OpenBLAS has the feature of automatically detecting available cores and parallelizing matrix operations according to internal judgements of speed, via openmp. This can clash with other parallelization and actually hurt performance when those internal judgements aren't done well.

We should probably disable this feature. For Charm-based executables, we can probably use the openblas

[2019-07-20 06:44] nilsvu commented on #615
Just making a note of this here, no need to make a decision now:

The molecular dynamics code GROMACS switched to `year.x` style version numbers in 2018: http://manual.gromacs.org/documentation/

They had major.minor.patch versions before, but found that they only rarely incremented the major version because things changed gradually. Then their users ended up using years-old versions of the code b

[2019-07-22 16:39] prayush commented on #1307
This seems resolved, can we close this issue @wthrowe ?

[2019-07-22 16:44] prayush commented on #1308
@nilsdeppe @wthrowe @kidder  just added a fix, see #1620

[2019-07-22 16:45] prayush commented on #1315
@wthrowe @kidder  just added a fix, see #1620

[2019-07-22 18:34] moxcodes opened #1622 "Update libsharp interface"
# Feature request:

Libsharp is undergoing significant changes, including an interface change and potentially a renaming to a new project : https://github.com/Libsharp/libsharp/issues/22

The choices of the project mean we might have to think carefully about how we're interfacing with libsharp.

Note any version changes also require updating the Spack package to ensure HPC availability.

[2019-07-22 21:58] prayush commented on #1480
@nilsdeppe : with 5e36592c792ed8a3a450fb4c6a5dd7678ed1a8f5 I think this is resolved. Can we close this issue?

[2019-07-23 01:23] prayush commented on #1493
Fix for this added via #1624

[2019-07-24 02:53] wthrowe opened #1626 "Unit.DataStructures.ComplexDataVector.MultipleOperands fails due to FMAs in some setups"
The test fails frequently (10-15% of runs) on an optimized gcc 9.1.0 build unless I disable FMA instructions.  In the single case I examined in detail, the FMA version wasn't really less accurate, but the scalar and vector versions of the function gave different answers by a part in 10^11 or 10^12 (roughly the accuracy of the calculation for that case).

The error is in one part of a complex numbe

[2019-07-24 20:03] #1308 closed, assigned to prayush

[2019-07-24 20:03] nilsdeppe commented on #1315
Closed by #1620

[2019-07-24 20:03] #1315 closed, assigned to geoffrey4444, prayush

[2019-07-24 21:13] prayush commented on #1307
@wthrowe I'm closing this issue, we can reopen if these test failures crop up again.

[2019-07-24 21:13] #1307 closed, assigned to prayush

[2019-07-25 00:58] fmahebert commented on #826
We've removed the use of `flat_all_v` from `Variables` in PRs #1277, #1403, #1504 and finally all remaining uses in PR #1533. So far, this appears to have fixed the issue.

[2019-07-25 00:58] #826 closed, assigned to nobody

[2019-07-25 09:01] nilsvu opened #1634 "Remove dependence of Domain/CoordinateMaps on ControlSystem"
# Bug reports:

### Expected behavior:

`Domain` does not depend on ControlSystem (or anything else evolution-related).

### Current behavior:

`Domain/CoordinateMaps/CubicScale,Translation.cpp` include `ControlSystem/FunctionOfTime.hpp`.

[2019-07-25 22:16] #1493 closed, assigned to prayush

[2019-07-26 15:16] moxcodes opened #1641 "Add robust physically based tests for CCE"
# Feature request:

The current state of the CCE does not yet have the full set of tools to support meaningful hand-computed solutions (e.g. static black holes, static black holes with a 'bouncing' gauge, or Robinson-Trautman solutions).
However, such comparisons are important for having confidence in the results of the CCE module, so should be added once the rest of the infrastructure is present.

[2019-07-27 11:07] nilsvu commented on #1546
[code]

[2019-07-28 16:26] #922 closed, assigned to nilsdeppe

[2019-07-30 21:26] wthrowe commented on #1447
This appears to be worse than we thought.  It turns out that we are actually obtaining the exterior *fluxes* by copying them from the interior.  This sort of works with a simple LLF flux because it will try to pull the conservative variables (which are correct on both sides) together.  For HLL, however, a supersonic inflow results in free boundary conditions, which are obviously unstable in those

[2019-07-31 08:41] nilsvu commented on #1447
For elliptic systems I slice the analytic solution to the exterior boundary and compute fluxes with compute items (not in `develop` yet). Perhaps we can do a similar thing for evolution systems:
[code]

[2019-07-31 17:42] wthrowe commented on #1447
I will be curious to see what you've done.  It sounds like a good direction to go in, but the evolution fluxes are not currently written in a form that makes this easy.

[2019-07-31 19:47] wthrowe commented on #1546
[code]

[2019-08-09 19:55] #548 closed, assigned to geoffrey4444

[2019-08-12 22:42] fmahebert commented on #1213
On current develop I do not see `H5P_DEFAULT` used in Test_H5.cpp. However I do see it in IO/H5/File.hpp:322. Is this still a bug?

[2019-08-13 20:11] kidder opened #1660 "remove (or rename) type alias volume_dim in evolution/elliptic system structs"
The dimension of the computational domain on which a system is solved is independent of that system.  (For example I can solve 3-d MHD equations on a 1-d grid.)  So the type alias should be removed or renamed if it is useful to keep a dimension for the system (i.e. the spatial dimension of the tensors in the evolution/elliptic equations defining the system)

[2019-08-13 20:21] nilsvu commented on #1660
So should we keep the `system::volume_dim` and add `Metavariables::domain_dim`? That‘s what your description above sounds like - the metavars keep track of the computational domain dimension and the system of the physical volume dimension. `domain_dim` is already used by the Interpolation code.
Not sure if we need the `system::volume_dim` at all though.

[2019-08-13 20:28] nilsdeppe commented on #1660
For subcell I'm doing `metavariables::mesh_dim` for the dimensionality of the mesh and `metavariables::volume_dim` for the tensors/system.

[2019-08-14 18:06] #930 closed, assigned to nobody

[2019-08-16 03:11] wthrowe opened #1662 "definite_integral documentation does not explain coordinate systems"
The short documentation for `definite_integral` states that it "Compute[s] the definite integral of a grid-function over a manifold."  From the function arguments and detailed documentation one can infer (but it is not stated), that the mentioned manifold is in fact restricted to `[-1, 1]^d` (the reference cube).

The documentation should explicitly state what definite integral is being approximat

[2019-08-17 21:34] nilsdeppe opened #1663 "Random failure in Unit.ApparentHorizons.StrahlkorperGr.AreaElement"
# Bug reports:

[code]

In https://travis-ci.org/sxs-collaboration/spectre/jobs/569841856

[2019-08-20 14:42] nilsdeppe commented on #1663
Here's another seed that failed: `3723524747` on https://travis-ci.org/sxs-collaboration/spectre/jobs/574026184

[2019-08-22 17:05] #1556 closed, assigned to nobody

[2019-09-09 20:21] wthrowe commented on #1663
[code]

[2019-09-09 22:38] wthrowe commented on #1663
[code]

[2019-09-09 23:39] #1662 closed, assigned to fmahebert

[2019-09-09 23:39] wthrowe opened #1675 "Remove mean_value"
See https://github.com/sxs-collaboration/spectre/pull/1664#issuecomment-525938132.

[2019-09-10 00:06] fmahebert commented on #1675
(I was writing this comment on the PR when you merged it 😛)

I agree we can get rid of `mean_value`. Most uses appear to be in the limiter code, so I can do the removal.

[2019-09-10 21:54] nilsvu opened #1679 "Make Test_ImposeBoundaryConditions.cpp test a realistic configuration"
This is a follow-up on a discussion in https://github.com/sxs-collaboration/spectre/pull/1529. `Test_ImposeBoundaryConditions.cpp` places an external boundary within a block, which is not a realistic configuration, and the test can generally be made more concise.

### Component:

- [x] Tests

[2019-09-12 19:29] wthrowe opened #1683 "Dead code in DataBoxHelpers.hpp"
The only thing in this file that is used anywhere (including tests) is `get_tensor_from_box`.  Some of the code is already commented out (and has a commented out test in `Test_DataBox.cpp`).

[2019-09-17 09:44] nilsvu opened #1689 "Reduce PR overhead"
@kidder and I talked about this yesterday in the context of #1673. I'm opening this separate issue to not distract from the review of #1673. Here is a summary (from my point of view, perhaps @kidder can clarify or correct):

- PRs have a lot of overhead right now: Mostly reminding people to review every couple of days (depends on the reviewers of course) and 12h average Travis builds.
- When I tri

[2019-09-17 16:10] kidder commented on #1689
@nilsleiffischer: @nilsdeppe and I had discussions and here are our takeaways (@nilsdeppe please comment if I misrepresent or forgot anything)

- Summer is busy with travel and reviews take longer, we need to improve on this with more people helping review
- We are not sure why Travis is taking so long, recently it may be that a lot of low-level code was changing which made the caching ineffective

[2019-09-17 21:15] nilsvu commented on #1689
@kidder @nilsdeppe Thanks for discussing this! I generally agree with your points and appreciate the constructive feedback :) A few notes:

- We should probably merge your points 3 through 6 into our review guidelines (extending and clarifying what's already there). @kidder could you open a PR for that?
- Sometimes reviews stall when (i) no-one starts reviewing a newly opened PR or (ii) one review

[2019-09-22 15:04] nilsdeppe commented on #1663
Here's another case:
[code]

[2019-09-24 12:54] nilsvu opened #1698 "Add serial linear solvers"
# Feature request:

We‘ll need linear solvers for both explicitly built matrices and matrix-free operators. The former is just a matrix inversion, so we can wrap BLAS or use Blaze. The latter is an iterative Krylov solve, so we can wrap GSL (https://www.gnu.org/software/gsl/doc/html/splinalg.html, only has unpreconditioned GMRES) or perhaps Petsc (not sure if we want to make that a dependency). We

[2019-09-26 19:19] wthrowe opened #1701 "Unit.DataStructures.ComplexDiagonalModalOperator fails on optimized gcc 9.1.0"
I'm guessing this is similar to #1626, but I haven't explicitly verified the connection to FMAs.
[code]
And several more similar lines.

[2019-09-26 19:25] wthrowe commented on #1701
Actually, this is pretty clearly the same issue as #1626.  Closing as a duplicate.

[2019-09-26 19:25] #1701 closed, assigned to nobody

[2019-09-26 19:25] wthrowe commented on #1626
[code]
This seed also causes Unit.DataStructures.ComplexDiagonalModalOperator to fail.

[2019-09-26 22:34] nilsvu commented on #1552
@kidder is this issue resolved with your recent PR? If so, you have the honor of closing it :)

[2019-09-27 02:48] kidder commented on #1552
Implemented in #1676

[2019-09-27 02:48] #1552 closed, assigned to kidder

[2019-10-02 19:23] osheamonn opened #1707 "Incorrect error message for reductions."
I was trying to get a simple reduction working using reduction actions, and was receiving the following error message:

[code]

With `apply` function signature:

[code]

It turned out that rather than the it not working because of a non deducible template paramater, I needed an extra template parameter on the apply function; `typename ParallelComponent`, for it to run. The error message should be

[2019-10-03 01:36] prayush opened #1708 "Set time derivative appropriately for initial GH gauge in the executable"
# Bug reports:

Currently (as of #1500 ) the **time** derivative of the initial data gauge is set to zero. This is fine when using analytic KerrSchild initial data, for instance, but when reading in generic (non analytic) initial data from file, one must carefully set this quantity in the executable. Geoffrey's #1684 could resolve this eventually.

[2019-10-03 13:32] ffoucart opened #1709 "M1 currently uses characteristic speeds = 1"
# Issue:

While building the first M1 executable, we assumed that all characteristic speeds are 1. This is more or less ok for special relativity and free-streaming radiation, but would lead to a lot of additional diffusion if used in optically thick regions.

### Expected behavior:

We should use the same characteristic speeds as in SpEC.

### Component:

- [x ] Code
- [ ] Documentation
- [ ] Bui

[2019-10-04 19:02] nilsdeppe opened #1710 "Warnings in Test_FirstOrderComputeTags.cpp"
# Bug reports:

[code]

[2019-10-07 23:54] wthrowe opened #1713 "InputFiles.GeneralizedHarmonic.KerrSchild.yaml.execute timeout"
The InputFiles.GeneralizedHarmonic.KerrSchild.yaml.execute test is consistently timing out when run in parallel in a debug build on my machine.  When the machine is not loaded it takes about 3 seconds, but under load it slows down, even when the load is significantly less than the number of cores.  The runtime maxes out at about 6 seconds.

I do not know the cause of the increase, but it is not sp

[2019-10-11 17:10] prayush commented on #1713
Hi @wthrowe - I am not sure what the right solution here is. The current time out threshold is sufficient if the machine that the test is being run on is not loaded (I get an execution time ~3s on my laptop as well). But its not if the machine is loaded. Wouldn't this be an issue with any test that has a near-threshold execution time? Wouldn't that always become worse with increasing load on the r

[2019-10-11 18:37] wthrowe opened #1719 "Random failure in Unit.Evolution.Systems.Cce.Equations"
[code]

[2019-10-14 19:26] wthrowe opened #1724 "Random failure in Unit.Domain.CoordinateMaps.Wedge2D.Map"
This failure is extremely rare and triggers an assertion, so I don't have a seed, but applying the following patch makes it fail within a few tens of tries.
[code]

The error is
[code]

[2019-10-14 19:38] wthrowe commented on #1713
I agree that we don't want to decrease the resolution here.

On my machine the test fails consistently at 50% load.  This would presumably affect other tests as well, but I don't think there are any other tests that are near the timeout.

I don't know what load we should be aiming for, because the observed behavior does not match my (admittedly naive) mental model of how running processes works.

[2019-10-15 15:22] wthrowe opened #1726 "Output from InputFiles tests should not be removed if the test fails"
I am seeing rare failures that appear to be due to some kind of H5 file corruption, and this is difficult to diagnose when the possibly corrupt files are immediately removed by the test system.

We should make sure that rerunning a failed test still works after changing this.

[2019-10-15 17:11] #1710 closed, assigned to nilsvu

[2019-10-15 19:35] wthrowe opened #1727 "Move serialize_and_deserialize into src"
It's implementation has been copy-pasted in half a dozen or so places.

[2019-10-15 20:01] #1507 closed, assigned to wthrowe

[2019-10-19 17:44] fmahebert opened #1730 "Random failure in Unit.Numerical.Interpolation.CubicSpline"
Test randomly failed with an FPE in PR #1729. The full output from Travis is below.

[code]

[2019-10-21 13:22] nilsvu commented on #1719
[code]

[2019-10-23 18:51] kidder opened #1733 "Random test failure in Test_SwshFiltering"
# Bug reports:

[code]

### Expected behavior:

Test passes

### Current behavior:

Test fails

### Environment:

https://travis-ci.org/sxs-collaboration/spectre/jobs/600936029?utm_medium=notification&utm_source=github_status

[2019-10-25 23:01] nilsvu opened #1734 "NewtonianEuler.Sources test is overly complex"
This issue is a follow-up to the review of #1668, in particular the comment https://github.com/sxs-collaboration/spectre/pull/1668/files#r335351998. Reviewers were @kidder, @nilsdeppe and @wthrowe, could you take a look at this and see if you agree with my assessment?

The `Unit.Evolution.Systems.NewtonianEuler.Sources` test should unit-test the implementation of `Evolution/Systems/NewtonianEuler/

[2019-10-26 00:06] moxcodes opened #1735 "Something's up with blaze pow on ComplexDataVector"
# Bug reports:

FPE's on perfectly valid powers that work fine under repeated multiplication.

# Feature request:

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

[2019-10-29 17:33] nilsdeppe commented on #1730
[code]

[2019-10-31 01:30] nilsdeppe opened #1743 "Failure in Unit.Evolution.Systems.Cce.Equations"
# Bug reports:

[code]

[2019-10-31 01:32] nilsdeppe opened #1744 "Failure in Unit.Evolution.Systems.GeneralizedHarmonic.TwoIndexConstraint"
# Bug reports:

[code]

[2019-10-31 01:58] moxcodes commented on #1743
Same trouble as #1719 . I'll fix this soon.

[2019-11-01 16:55] moxcodes commented on #1730
[code]

[2019-11-03 00:11] carmaza commented on #1734
@nilsleiffischer Would you mind pointing me to some file in develop that does something similar to what you are requesting? Thanks so much!

[2019-11-03 14:01] nilsdeppe commented on #1730
[code]
@nilsleiffischer please fix this ASAP. It's become the number one reason our Travis builds fail...

[2019-11-04 14:34] nilsvu opened #1756 "Provide instructions to specify a seed for random tests"
We should add instructions to the dev guide how to set the seed for random tests, in case one fails and needs to be investigated.

- In the context of #1754 I couldn't reproduce the Travis failures reported in #1730 by hard-coding the seed in the call to `MAKE_GENERATOR`. Could this depend on the build environment, e.g. compiler, OS, ...?
- Can we make use of the `--rng-seed` option for `ctest` to

[2019-11-04 17:23] #1730 closed, assigned to nilsvu

[2019-11-05 16:57] nilsvu opened #1758 "Improve Python module cmake"
- Build the Python modules (with just Python code) independently to whether `BUILD_PYTHON_BINDINGS` is `OFF`
- Symbolic link Python executables into `bin`
- Remove `if(BUILD_PYTHON_BINDINGS)` statements in cmake
- Add `MODULE_NAME` option to `spectre_python_add_module`

[2019-11-06 03:51] nilsdeppe opened #1765 "Random failure in Unit.RelativisticEuler.Valencia.PrimitiveFromConservative"
# Bug reports:

[code]

[2019-11-06 17:05] nilsvu opened #1766 "Prevent observers from crashing simulations"
Make sure observers don't crash the simulations when a write failed, it should be attempted multiple times. E.g. we should be able to read an h5 file that a simulation is writing to without crashing the simulation, or prevent it from being read.

E.g. try writing a few times, then write the data to some other temp file.

[2019-11-09 05:00] moxcodes commented on #1743
Closing because fix was merged.

[2019-11-09 05:00] #1743 closed, assigned to moxcodes

[2019-11-09 05:04] moxcodes opened #1774 "random segfault for gcc builds in the Lapack wrapper"
# Bug reports:

### Expected behavior:

Lapack tests succeed without segmentation faults

### Current behavior:

They do not always (spotted on travis):
[code]

### Environment:

Add as an attachment `$SPECTRE_BUILD_DIR/LibraryVersions.txt` or
add its contents here.

[2019-11-10 15:06] nilsdeppe opened #1780 "Random failure in Unit.Numerical.Interpolation.BarycentricRational"
# Bug reports:

[code]

[2019-11-11 01:21] moxcodes commented on #1774
closing because fix #1775 was merged.

[2019-11-11 01:21] #1774 closed, assigned to moxcodes

[2019-11-11 01:22] moxcodes commented on #1719
also closing because fix #1750 was merged.

[2019-11-11 01:22] #1719 closed, assigned to moxcodes

[2019-11-11 16:20] kidder opened #1781 "random failure in Unit.Evolution.Systems.Cce.LinearSolve"
# Bug reports:

### Expected behavior:

test passes with no failure

### Current behavior:

419/1027 Test #413: Unit.Evolution.Systems.Cce.LinearSolve ......................................***Exception: Child aborted  2.82 sec
Charm++: standalone mode (not using charmrun)
Charm++> Running in Multicore mode:  1 threads
Converse/Charm++ Commit ID: v6.8.0-0-ga36028edb
Warning> Randomization of virtua

[2019-11-11 22:52] fmahebert opened #1783 "Clarify contents of PointwiseFunctions/Hydro/Tags"
I found a few things a bit confusing here.

1. The tags in `Tags.hpp` are clearly the tags relevant to GRMHD, with tags for the Lorentz factor, the magnetic field, the divergence cleaning field, the `grmhd_tags` type alias, etc. Yet the generic location `PointwiseFunctions/Hydro` suggests these tags are intended to be used outside GRMHD.

2. The tag `SpecificEnthalpy`, if used to get the value fro

[2019-11-12 03:20] fmahebert commented on #1783
An alternate suggestion for item 2: simply document that `SpecificEnthalpy` is the relativistic enthalpy, and postpone creating a new tag for the non-relativistic enthalpy until it is needed.

[2019-11-13 04:42] nilsdeppe opened #1788 "Update H5 dox"
# Bug reports:

The documentation doesn't exist/is incomplete. It should document why `h5::H5File` has the extra `H5` (to distinguish it from the subfiles we write into h5 files), and just clearly spell out the overall structure of the files.

[2019-11-13 22:45] nilsdeppe opened #1791 "Clarify wording in time steppers"
- Renaming the function `stable_step` to `stability_radius` was considered clearer in a call with @markscheel, @geoffrey4444 @fmahebert @moxcodes and @wthrowe.
- A tutorial/overview of how all the time stepping parts work together would be useful. E.g. the actions, when the time is getting updated vs. when the variables are getting updated. Discuss how to register steppers.

[2019-11-13 22:59] nilsdeppe opened #1792 "Add dense output to RK4"
# Bug reports:

### Expected behavior:

Dense output is available. This is just Hermite interpolation and is documented in numerical recipes.

### Current behavior:

No dense output available

[2019-11-18 17:41] carmaza commented on #1734
@nilsleiffischer ping on my previous request. Thanks!

[2019-11-18 21:50] nilsvu commented on #1734
@carmaza the closest code that comes to mind right now is `tests/Unit/Elliptic/Test_FirstOrderComputeTags.cpp`. You can also ping me on Slack and/or call to talk about details if you want. I labeled this issue as `enhancement` since the current test is fine, but I think unit tests should be more precise in what they test.

[2019-11-19 02:11] nilsvu opened #1802 "Use GitHub Actions instead of Travis"
# Proposal

Since Travis build times are currently slowing us down, I am looking at GitHub Actions as a possible replacement.

I am testing it on my fork at https://github.com/nilsleiffischer/spectre/actions right now, and so far it seems to work quite well. In particular, GitHub Actions work very nicely with Docker containers.

I can run all tests that Travis currently runs on GitHub, and accordi

[2019-11-19 03:50] nilsdeppe commented on #1802
Thanks for the overview! There are some other issues:
- What are the capabilities of the machines we run on? E.g. memory available and number of cores available to each build?
- What is the time limit for each job?
- As you say, the cache is really not great. Having 20 things build in parallel without a cache is unlikely to be of much use.
- Have you looked at [Azure Pipelise](https://docs.microso

[2019-11-19 04:25] nilsvu commented on #1802
Here's a bit more information:

- GitHub-hosted runners have 2 CPUs, 7 GB RAM and 14 GB SSD disk space (see [docs](https://help.github.com/en/actions/automating-your-workflow-with-github-actions/virtual-environments-for-github-hosted-runners#supported-runners-and-hardware-resources)). This is about the same that Travis provides (see [docs](https://docs.travis-ci.com/user/reference/overview/#virtua

[2019-11-19 04:35] nilsdeppe commented on #1802
Thanks! That helps a lot :)

One way we could get around the caching issue (related to a different discussion we had), is push the built images from develop to DockerHub. Then for each PR we actually pull the DockerHub image and rebuild whatever parts of the cache were invalidated by code changes. I think this can be combined with Azure Artifacts (GitHub Actions probably has a similar thing) to ca

[2019-11-19 04:38] wthrowe opened #1803 "ActionTesting::InitializeDataBox<tmpl::list<>> fails to compile"
I'm not sure if there is reason to support having no simple tags in the DataBox, but other things in the file say that it should work.  ("The first action in the initialization phase must be ActionTesting::InitializeDataBox, even if the simple and compute tags are empty.")  The compiler error messages are not very informative, just saying the Requires on the ERROR version of apply (currently line

[2019-11-19 04:50] nilsvu commented on #1802
Interesting idea 😄 I worry that building over a previously built image may not be as reliable as a fresh build. But indeed if we're only limited by cache size limits, we can just upload and download the cache to/from another server, e.g. one we host ourselves. That's what I think your DockerHub suggestion boils down to - upload the cache somewhere with more storage space.

If we want to stick to >

[2019-11-19 14:43] nilsdeppe commented on #1802
I'm not sure how pulling from dockerhub is any less reliable than what we currently do. I'd really like to avoid hosting things ourselves. Of course, once the free services no longer work we can't get around that, but I think then it makes more sense to just set up our own build machine using, e.g. TeamCity rather than just hosting a cache.

[2019-11-19 20:02] nilsvu commented on #1802
- Perhaps I misunderstood your DockerHub suggestion. If we build and test within the Docker container, package it up, push to DockerHub, and pull that image for the next CI build, then the next CI build will execute in this prebuilt environment. It builds the executables in the directory that is already populated with the previous build, right? It may not even run CMake if it determines it unneces

[2019-11-20 23:37] nilsvu commented on #1626
[code]
sorry for the line number mess

[2019-11-21 01:11] nilsvu opened #1807 "Investigate if BLAZE_USE_VECTORIZATION=0 compiler flag is needed for Debug builds"
# Bug reports:

We set the `-DBLAZE_USE_VECTORIZATION=0` compiler flag for Debug builds on Travis and GitHub Actions to prevent random failures. We should investigate this and see if it's still necessary, and/or understand why it is needed.

[2019-11-21 04:00] kidder commented on #1807
see #1354

[2019-11-21 04:01] kidder commented on #1807
see #1031

[2019-11-22 18:23] kidder opened #1811 "Add extra constraint damping parameter to generalized harmonic system"
# Feature request:

Add extra constraint damping parameter to GH.  Luis Lehner mentioned that there is an additional parameter `rho` in the Gundlach paper (https://arxiv.org/pdf/gr-qc/0504114.pdf)
in the term proportional to `gamma_0` that is set to 0 in SpEC.  In simulations of black strings (https://arxiv.org/pdf/1006.5960.pdf) and very compact stars (in progress work by East et al) changing thi

[2019-11-23 03:07] nilsvu opened #1814 "Convert shell scripts to Python"
# Feature request:

It would be nice to convert the shell scripts in `tools/` to Python. I feel like that would make them easier to maintain, but maybe that's just me because I know Python better than bash.

To be clear, I don't suggest we do this now. We have better things to do right now (and probably always).

### Component:

- [ ] Code
- [ ] Documentation
- [x] Build system
- [ ] Continuous in

[2019-11-23 03:27] nilsvu opened #1815 "Choose analytic solution/data and EOS at runtime"
# Feature request:

We recently changed the hard-coded analytic solution/data in the executables to be configured when setting up the executable in CMake, so that we now have one executable for every analytic solution and every analytic data that is implemented.

Recently with @moxcodes and @fmahebert we discussed to improve this further by registering all available analytic solutions at compile-t

[2019-11-23 04:32] kidder commented on #1815
Why?.  The whole point of what was done was to have a single template so there aren't two almost identical executables for analytic data and analytic solutions.

Also note that most (if not all) hydro solutions are only valid for a particular equation of state, so you cannot specify them separately in an input file

[2019-11-23 04:58] nilsvu commented on #1815
The choice of analytic solution doesn't change anything at compile-time, so we don't _need_ to compile a separate executable for every analytic solution. The executables we are currently compiling for a system are all basically the same. So we can have fewer executables, therefore faster tests, we can test all solutions without having to compile so many executables (which we don't currently do bec

[2019-11-23 15:56] nilsdeppe commented on #1815
I don't see any benefit to this. It just seems like a lot of work for basically no benefit.

[2019-11-23 15:57] nilsdeppe commented on #1814
No, then we have to launch the python interpreter every time which is silly expensive. Plus there are people who know bash that don't know python.

[2019-11-24 00:10] nilsvu opened #1816 "Convert code blocks in Doxygen to snippets"
# Feature request:

We have (had?) a policy to reference only code in `tests/` in Doxygen snippets. In the review of #1761 we agreed that we prefer having correct documentation over enforcing this policy. We should go over the `\code` blocks in our documentation and convert them to `\snippet`s wherever possible, preferring `tests/` over `src/`. This requires changing the `EXAMPLE_PATH` in the Doxy

[2019-11-24 16:10] nilsdeppe opened #1818 "Random failure in Unit.PointwiseFunctions.GeneralRelativity.KerrSchildCoords"
# Bug reports:

[code]

[2019-11-24 23:26] nilsvu opened #1819 "Deprecating code"
# Feature request:

This issue is to discuss our policy for deprecating code. It came up in this comment thread: https://github.com/sxs-collaboration/spectre/pull/1817#discussion_r349931786

This is my suggestion from #1817:
- When appropriate, prefer adding the `deprecated` attribute instead of deleting code (see https://en.cppreference.com/w/cpp/language/attributes/deprecated).
- The intention i

[2019-11-24 23:38] nilsvu commented on #1819
Re https://github.com/sxs-collaboration/spectre/pull/1817#discussion_r349952589:
- I suppose the timescale to remove deprecated code should be some percentile of the lifetime distribution of feature branches. Are perhaps >90% of feature branches merged within a month or two? If they aren't rebased within that time, enough has changed in the code that they're probably outdated for other reasons, an

[2019-11-25 00:22] nilsdeppe commented on #1819
You're going to love this idea ;)

So we could have a macro roughly as follows:
[code]
This will cause compile failures six months after code is deprecated making it clear that the code has been deprecated long enough to be removed. The downside is that on the first of every month we could have builds break and someone needs to fix it, which is kind of annoying.

An alternative mechanism would be:

[2019-11-25 00:34] nilsvu commented on #1819
Yay more macros :)

- It would probably be quite annoying to have builds break from one day to another. I suppose we could enable this only on CI and only on develop which would OK. Keep in mind that this would also break caching on CI though, because caches are only uploaded on successful CI builds. So PRs wouldn't receive up-to-date caches until the develop builds start passing again.
- I like t

[2019-11-25 00:55] nilsdeppe commented on #1819
I knew you'd love it ;)
- Yes, I think only breaking on develop CI builds is somewhat acceptable since then we at least have a few days to fix it. Most of the year this won't matter, basically just around holidays that fall on the 1st or so of the month.
- Filing an issue on GH automatically is well outside my realm of expertise. We already have an sxs-bot account that could be used as the creator

[2019-11-25 01:02] nilsvu commented on #1819
- GitHub Actions carry a token, so I think they can just file issues. Here's an action someone wrote that could be useful: https://github.com/JasonEtco/create-an-issue
- By default, issues would also be filed on forks that have actions enabled. I suppose this could be disabled by making it opt-in, e.g. by requiring a particular variable must be defined in the repo.

[2019-11-25 01:21] nilsdeppe commented on #1819
- Neat, looks relatively straight forward
- Is there a "main repo only" filter like there are branch filters?

[2019-11-25 01:29] nilsvu commented on #1819
You can always hard-code a repo URL in the workflow and check the `${{ github.repository }}` against it. But I suppose the idea is that actions run on forks the same way they do on the base repo.

[2019-11-25 01:40] teukolsky commented on #1792
Actually, Hermite interpolation is only 3rd order accurate (using beginning and ending function values and derivatives). Standard RK4 doesn't have a 4th-order dense output without another rhs evaluation. That's one of the reasons 5th-order Dormand-Prince is better (the other is that Dormand-Prince allows adaptive time-stepping.)

[2019-11-25 02:01] nilsdeppe commented on #1792
The Dormand-Prince stepper only has 4th order accurate dense output without extra function evaluations. From Numerical Recipes: `The Dormand-Prince fifth-order method allows dense output of order four without any further function evaluations.` I think only the continuous extension RK methods actually supply the full order dense output without additional evaluations, but that is because they are sp

[2019-11-25 18:28] nilsdeppe opened #1820 "GitHub Actions don't test CheckFiles.sh"
# Bug reports:

### Expected behavior:

There is a target for testing `CheckFiles`.

E.g.
[code]

### Current behavior:

There is no such target.

### Environment:

GitHub Actions

[2019-11-25 18:49] wthrowe commented on #1792
I believe order-`k-1` dense output is sufficient for an order-`k` stepper because the main method loses an order to the local- to global-truncation error change.  (Some methods, like the AB family, use the full order because it is essentially free, but it is not necessary.)

If the coded method is insufficiently accurate, it should be caught by the `TimeStepperTestUtils::check_dense_output` functi

[2019-11-25 20:00] kidder commented on #1733
Another failure

https://github.com/sxs-collaboration/spectre/pull/1764/checks?check_run_id=318788657

[2019-11-25 20:00] kidder commented on #1733
@moxcodes please fix, thanks!

[2019-11-26 06:21] #1820 closed, assigned to nilsvu

[2019-11-26 06:25] #1758 closed, assigned to nilsvu

[2019-11-26 14:28] nilsdeppe commented on #1733
[code]

[2019-11-26 14:30] moxcodes commented on #1733
I'll fix this today.

[2019-11-26 22:11] moxcodes opened #1823 "Random failure in CCE Boundary data"
# Bug reports:

[code]

[2019-11-26 22:44] wthrowe opened #1824 "Unit.Visualization.Python.GenerateXdmf - AttributeError: module 'spectre.Informer' has no attribute 'unit_test_path'"
I have confirmed that this occurs in a clean build.

[code]

LibraryVersions.txt:
[code]

[2019-11-26 22:51] nilsvu commented on #1824
Did this failure also occur in the CI, i.e. in the Docker container? I see you’re using Py3 so it’s probably not in the container?

[2019-11-26 23:18] wthrowe commented on #1824
I have not seen this in CI, but I have not looked.  This is not in the container.  I get basically the same error with python 2:
[code]
LibraryVersions.txt: (I don't know why "Python Version" is blank.  That's probably another bug.  It's 2.7.15.)
[code]

[2019-11-27 02:35] nilsvu commented on #1824
Did you `make test-executables` before running `ctest`?

[2019-11-27 02:39] nilsvu commented on #1824
Ah I think I understand the issue. You probably don't have `BUILD_PYTHON_BINDINGS` enabled, but since `GenerateXdmf.py` doesn't need bindings it still being built (=symlinked) and tested. But its _test_ requires the Pybindings to be built, so it fails. I'll have to think about what the best solution for this is...

[2019-11-27 02:58] wthrowe commented on #1824
Ah, that sounds right.  I have the bindings disabled because of #1518.  (Although I would still probably do some test builds with them disabled even without that.)

[2019-11-27 03:03] nilsvu commented on #1824
Yes, I fix #1518 in #1782 (which needs a refactor before getting merged). And I plan on distributing {Py2, Py3, no bindings} configurations over the CI builds.

[2019-11-27 03:09] nilsvu commented on #1824
To fix this issue, I think these are the options:
- Require Pybindings to be built for Python code that doesn't need them by itself, but that has tests that need them.
- Disable tests that require Pybindings if they are not built, even if the code they are testing _is_ built.
- Require that tests for Python code that doesn't need Pybindings _also_ can't use Pybindings. In the code of `GenerateXdmf

[2019-11-27 17:12] nilsdeppe commented on #1823
[code]

[2019-11-28 09:37] nilsvu opened #1829 "Boost.Python or Pybind11"
# Feature request:

This issue is to consider [Pybind11](https://pybind11.readthedocs.io/en/stable/#) as an alternative to Boost.Python for our Python bindings.

The reason I'm bringing this up is in the context of supporting Python 3 (#1782). Boost.Python is a compiled library, and it must be compiled with a particular version of Python. So to support Python 3 for our bindings, we would either ha

[2019-12-02 19:15] #1823 closed, assigned to moxcodes

[2019-12-04 04:24] wthrowe opened #1834 "PR #1764 fails without python bindings"
The tests added in #1764 fail without python bindings enabled.  It looks like @moxcodes was worried about this during review.

[code]

[2019-12-05 19:32] nilsdeppe commented on #1834
#1836 changes the clang-8 release target to no longer build the python bindings. I also disable the 3 failing tests when bindings are not built. @nilsleiffischer please make sure this is what should be done, otherwise submit a PR to improve it.

[2019-12-06 05:37] nilsvu commented on #1834
@nilsdeppe My PR that added the bindings should have used `spectre_add_python_bindings_test` instead of `spectre_add_python_test`, which would have disabled the tests appropriately. I commented on that in your PR #1836 and actually just opened #1837 to offer a quick way to fix it if you want.

[2019-12-06 21:51] wthrowe opened #1839 "Python binding tests are missing ctest labels"
They do not, for example, show up in the summary at the end of a ctest run under "python".

[2019-12-07 00:46] fmahebert opened #1841 "HLL flux FPEs when all speeds are zero"
# Bug reports:

### Expected behavior:

HLL flux works generally.

### Current behavior:

When all speeds are 0 the HLL computation FPE's, presumably on this line (`Hll.hpp:176`):
[code]

However, because the HLL flux also has factors of the speeds in the numerator, the 0-speed case should be handled to return (presumably) 0, rather than FPE.

For a concrete example of when this arises: when evolv

[2019-12-07 01:04] fmahebert opened #1842 "NewtonianEuler::PrimitiveFromConservative FPEs when density is zero"
# Bug reports:

### Expected behavior:

When the (conserved) density is zero, the (primitive) density, velocity, and internal energy should also be zero.

### Current behavior:

The code FPEs because it precomputes the inverse of the conserved density (`PrimitiveFromConservative.cpp:35`):
[code]

One possible fix is to replace the line above with something similar to the following:
[code]

Another

[2019-12-07 15:00] nilsdeppe commented on #1842
Is this really true? The density should never be zero because the equations aren't valid for zero density. I've never seen anywhere that explicitly states how this is dealt with in the literature, but I have seen statements that the zero density case is not meaningful because the equations aren't valid there anymore (you'd need to do particles). I find trying to special case for values that are no

[2019-12-07 15:01] #1834 closed, assigned to nilsvu

[2019-12-07 19:39] fmahebert commented on #1842
Okay, an atmosphere should presumably work fine too.

[2019-12-08 23:48] nilsdeppe opened #1843 "Random failure in Unit.Evolution.Systems.GeneralizedHarmonic.Gauge.DampedHarmonic.details"
# Bug reports:

[code]

[2019-12-09 03:36] nilsdeppe opened #1847 "Random failure in Unit.Evolution.Systems.Cce.LinearSolve"
# Bug reports:

[code]

[2019-12-09 22:47] moxcodes commented on #1847
linking to previous occurence: #1781. I'll fix soon.

[2019-12-11 04:17] #1781 closed, assigned to moxcodes

[2019-12-11 04:17] #1847 closed, assigned to moxcodes

[2019-12-12 17:35] nilsdeppe opened #1858 "CurvedScalarWave tests depends on GH tests"
# Bug reports:

[code]
To see the behavior I commented out a bunch of subdirectories in `tests/Unit/CMakeLists.txt` to
[code]

[2019-12-12 17:39] nilsdeppe opened #1859 "Missing link dependencies in all elliptic code"
# Bug reports:

[code]

To see the behavior I commented out a bunch of subdirectories in `tests/Unit/CMakeLists.txt`:

[code]

Some of those are my fault, but most are resolved by linking `DomainCreators` into `Test_EllipticDG`

[2019-12-12 17:51] nilsdeppe opened #1860 "Missing link dependency in CCE"
# Bug reports:

[code]

To see the behavior I commented out a bunch of subdirectories in `tests/Unit/CMakeLists.txt`:

[code]

[2019-12-12 17:57] nilsdeppe opened #1861 "Missing link dependencies in GH tests"
# Bug reports:

[code]

To see the behavior I commented out a bunch of subdirectories in tests/Unit/CMakeLists.txt:

[code]

[2019-12-12 21:13] nilsdeppe opened #1862 "Add ASSERTs to CoordinateMap to catch time errors"
# Feature request:

In #1853 it was suggested by @moxcodes that we add checks that the `functions_of_time` map is not empty and that the `time` is not `NaN`

[2019-12-16 01:18] #1726 closed, assigned to nobody

[2019-12-16 20:54] kidder commented on #1458
@geoffrey4444 bump this up on your list to do!
Another failure at https://github.com/sxs-collaboration/spectre/runs/350032651

[2019-12-16 21:35] moxcodes opened #1866 "evaluate allocation cost in SpanInterpolator"
# Feature request:

As mentioned in #1833, the default behavior for complex interpolation is to allocate and perform real interpolation twice. This can be significantly slower than the same mathematics applied to the complex types, so the performance cost of this choice should be evaluated, and the use of that default behavior should be eliminated everywhere possible in favor of faster complex mat

[2019-12-16 23:37] wthrowe opened #1867 "Unit.Evolution.Systems.Cce.BoundaryData failure"
I don't understand what is going on here.  It appears that when converting the result of the python function `bondi_beta_worldtube_data` back to C++ a spurious imaginary part is generated.  (The result should be real.)  This happens every time, and gives different values even with a specified seed.

[code]

LibraryVersions.txt:
[code]

[2019-12-17 13:38] geoffrey4444 opened #1868 "CHECK_ITERABLE_APPROX arguments cannot contain commas"
I tried comparing two components of two rank-two tensors like this:
[code]

and I got compiler errors saying too many arguments to CHECK_ITERABLE_APPROX. This workaround worked for me:

[code]

[2019-12-17 16:26] nilsdeppe commented on #1868
Unfortunately this is actually part of the language that we can't do anything about. Could you see if one of the following work instead:

[code]

[code]

The first one is easier to read, I think.

[2019-12-18 01:26] wthrowe commented on #1867
This is a python 3 issue.

[2019-12-18 13:02] geoffrey4444 commented on #1792
Dense output is merged in  RK4. @wthrowe is investigating whether we need to rethink timestepping accuracy in general, but that’s beyond the scope of this issue

[2019-12-18 13:02] #1792 closed, assigned to geoffrey4444

[2019-12-18 13:04] geoffrey4444 commented on #1713
Further addressed by #1731 which optimized test length as part of adding AH finder

[2019-12-20 01:37] wthrowe opened #1877 "How should triggers interact with LTS/local data?"
Most events (I believe all the currently implemented ones) have to run on every element to avoid a communication lockup.  There are two ways an event could fail to run in this way:

1. A trigger only triggers on some elements, even though it is checked on all of them.
2. A trigger is only checked on some elements.

Most triggers should be written so that (1) does not happen, but there may be diagn

[2019-12-22 17:27] #1149 closed, assigned to geoffrey4444

[2020-01-04 00:55] geoffrey4444 commented on #1867
This test has a buffer overflow problem...have you tried compiling with address sanitation? When I did, this test threw a buffer overflow error. I’m not sure if that’s the same issue you found here @wthrowe

[2020-01-04 05:34] geoffrey4444 commented on #1458
I'm still investigating, but after taking a look, so far I don't see a good choice other than further raising the tolerances. No one term jumps out at me yet as being less accurate than others, and each term simply consists of additions and multiplications.

[2020-01-04 19:20] wthrowe commented on #1867
That could certainly be the cause of my issue.  I had not tried using a sanitizer.  That should make this easier to track down.

[2020-01-05 15:06] geoffrey4444 commented on #1867
Here's the output I get when running with ASAN=ON:

[code]

[2020-01-06 15:19] geoffrey4444 opened #1887 "spectre-code.org website broken on mobile"
# Bug reports:

### Expected behavior:

The main page for SpECTRE should be welcoming to as many users as possible, including users browsing from smartphones. Currently, however, spectre-code.org is broken on mobile, because of limitations of the HTML that doxygen generates.

Besides being more welcoming to users, a mobile-friendly site would make it convenient for users who might like to use a mo

[2020-01-06 21:10] nilsdeppe opened #1890 "Have ASAN work with python bindings"
# Bug reports:

Address sanitizer should work correctly when using python bindings but currently get linking error when loading module:
[code]

I think we need to force-link the ASAN libs into the python libraries to get this to work.

[2020-01-07 22:11] kidder commented on #1867
fixed by #1889

[2020-01-07 22:11] #1867 closed, assigned to nobody

[2020-01-07 22:14] kidder commented on #1887
@nilsdeppe and I have played around a little with [sphinx](http://www.sphinx-doc.org/en/master/) and [breathe](https://breathe.readthedocs.io/en/latest/) which should make this possible...

[2020-01-07 22:15] kidder commented on #1860
fixed in #1889

[2020-01-07 22:15] #1860 closed, assigned to moxcodes

[2020-01-07 22:19] kidder commented on #1802
mostly implemented; still want to add automatic update of documentation and revive code coverage

[2020-01-07 22:22] kidder commented on #1634
fixed by #1846

[2020-01-07 22:22] #1634 closed, assigned to nobody

[2020-01-08 00:54] geoffrey4444 commented on #1887
Awesome! Thanks for looking into this :)

[2020-01-08 19:23] prayush opened #1897 "Move tags for (Curved)ScalarWave vars to Tags namespace"
# Bug reports:

Currently the tags `Psi, Pi, Phi` live in the `CurvedScalarWave` / `ScalarWave` namespaces for these two evolution systems. These need to be moved inside `CurvedScalarWave::Tags` / `ScalarWave::Tags` namespaces for consistency with all other evolution systems. This was brought up by @fmahebert [here](https://github.com/sxs-collaboration/spectre/pull/1760#discussion_r364122654).

[2020-01-09 15:39] #1458 closed, assigned to geoffrey4444

[2020-01-10 16:02] nilsdeppe opened #1900 "Random failure in Unit.Evolution.Systems.Cce.BoundaryData"
# Bug reports:

[code]

[2020-01-10 21:34] nilsvu opened #1902 "Switch to GITHUB_TOKEN for documentation deployment"
# Feature request:

#1895 switched docs deployment to gh-pages from Travis to GitHub Actions. Since at the time the PR was authored, GitHub Actions had an issue with triggering gh-pages builds on pushes with the `GITHUB_TOKEN`, we used a personal access token instead. The issue is being tracked here: https://github.community/t5/GitHub-Actions/Github-action-not-triggering-gh-pages-upon-push/td-p/26

[2020-01-13 19:16] nilsvu opened #1908 "ActionTesting's is_ready doesn't compile when using tags added in an action of an earlier phase"
# Bug reports:

The following PDALs should compile with the ActionTesting framework:

[code]

The issue is (I think) that `ActionTesting::MockRuntimeSystem::is_ready` tries to instantiate `DoSomething::is_ready` for DataBoxes in all phases and fails for the initial DataBox that hasn't had `InitializeAnotherThing` applied yet. This setup works fine for `get_databox_tag`, so I think `is_ready` just

[2020-01-13 22:01] nilsdeppe commented on #1908
Does this exist for both the test and for the actual code?

[2020-01-13 22:20] nilsvu commented on #1908
I think `src` is fine, since the PDALs with initializers in the first phase and `ReceiveDataForFluxes` in a later phase compile without error.

[2020-01-14 21:12] kidder commented on #1314
fixed by #1347

[2020-01-14 21:12] #1314 closed, assigned to carmaza

[2020-01-14 23:27] kidder commented on #546
The issue was that `cmake/SpectreAddCatchTests.cmake` only marks the test as a failure test if `cmake/SpectreParseTests.py` successfully finds a non-empty OutputRegex string.  If the attribute is missing or not found between `[[` and `]]`, then `SpectreParseTests.py` wrote an empty string for the OutputRegex.

[2020-01-21 14:39] geoffrey4444 opened #1922 "Python bindings don't work in singularity container"
# Bug reports:

### Expected behavior:

In the spectre singularity container, I expect running the following python should create a file "Test.h5"
[code]

### Current behavior:

The above code fails:
[code]

But the following succeeds:
[code]

### Environment:

I'm using the singularity container `/opt/ohpc/pub/containers/spectre_ocean.sif` on `ocean.fullerton.edu`:

CMake Version: 3.10.2
SpECTRE

[2020-01-21 17:29] nilsvu opened #1923 "Python bindings don't link on macOS due to unsupported --whole-archive flag"
# Bug reports:

The `--whole-archive` linker flag is unsupported on macOS. It is used in the `SPECTRE_LINK_PYBINDINGS` variable in CMake, so the Pybindings don't link correctly.

[2020-01-22 09:36] nilsvu opened #1926 "Add functionality to importers"
# Feature request:

This issue is to collect features we are planning to implement related to importing data.

Quoting @nilsdeppe in https://github.com/sxs-collaboration/spectre/pull/1527#discussion_r359132832:
- [ ] Support for interpolating to an arbitrary grid.
- [ ] Support for extrapolation to grid points if desired (BBH initial data used to do this in SpEC, I'm not sure it still does)
- [ ]

[2020-01-22 18:30] nilsdeppe opened #1928 "GenerateXdmf is not in bin"
# Bug reports:

### Expected behavior:

After running CMake i would expect `GenerateXdmf` to be in `bin`

### Current behavior:

It is not in `bin`

[2020-01-22 18:31] nilsvu commented on #1928
The py executables are targets that are just symlinked on `make`. It's probably safe to symlink them at cmake time already.

[2020-01-22 22:49] fmahebert opened #1929 "Improve name clarity of observers and outputs"
### Enhancement request:

Conversation with @nilsdeppe @markscheel @moxcodes @kidder

1) Currently we output to "VolumeX.h5" and "Reductions.h5". These names imply something about the numerical contents of the file, but the more relevant algorithmic distinction is whether the file contains data from a single node or from the entire simulation. Therefore, we propose to rename the files to "DataFrom

[2020-01-22 22:54] geoffrey4444 opened #1930 "Improve python spectre docs"
# Bug reports:

### Expected behavior:

I would have liked a simple tutorial/hello-world type example of python code using the bindings that I could try out, because I had a lot of trouble figuring this out.

### Current behavior:

Python bindings documentation is very minimal, and focuses on installing prerequisites but doesn't say much on how to actually use them.

### Environment:

Add as an at

[2020-01-24 20:13] #546 closed, assigned to kidder

[2020-01-24 23:09] kidder opened #1933 "Clang-tidy is not run by GitHub Actions on forks"
# Bug reports:

### Expected behavior:

I expect clang-tidy to run on GitHub actions when I create a new branch just as it did on Travis.

### Current behavior:

Clang-tidy is not run

[2020-01-24 23:15] kidder opened #1934 "GitHub Actions should not attempt to deploy documentation from my fork"
# Bug reports:

### Expected behavior:

GitHub Actions should only attempt to deploy documentation when there is a push to the develop branch on `sxs-collaboration/spectre`

### Current behavior:

When I push to my forks develop branch after rebasing on upstream, GitHub Actions attempts to deploy the documentation to `spectre-code.org` which fails

[2020-01-25 00:15] nilsvu commented on #1933
The reason I set up this behavior is that we are running clang-tidy only on modified files in a PR, not on all files in the repository. For pushes to a branch it's not so clear which files to check.

[2020-01-26 00:38] kidder commented on #1933
There is the script `.travis/RunClangTidy.sh` that was run on travis.

[2020-01-28 17:14] nilsvu commented on #1922
Is this issue resolved @geoffrey4444 ?

[2020-01-28 17:18] nilsvu commented on #1824
@wthrowe can you confirm that this issue is resolved? We went with option 2 in my list above. I will fix #1518 in #1782.

[2020-01-28 17:19] nilsvu commented on #1513
We should reconsider this once #1782 is merged.

[2020-01-28 17:20] nilsvu commented on #822
see also #1782

[2020-01-28 17:50] geoffrey4444 commented on #1922
Yep

[2020-01-28 17:50] #1922 closed, assigned to nilsvu

[2020-01-28 17:52] kidder commented on #1922
@geoffrey4444 or @nilsleiffischer please comment on how it was resolved...

[2020-01-28 17:59] geoffrey4444 commented on #1922
I rebuilt and the problem went away...I guess I somehow got my build directory in a bad state.

[2020-01-28 22:56] wthrowe commented on #1824
Yes, I think it was fixed in #1836.

[2020-01-28 22:56] #1824 closed, assigned to nilsvu

[2020-01-29 16:38] #1934 closed, assigned to nilsvu

[2020-01-30 23:29] wthrowe opened #1949 "Parallel test file collisions in CCE tests"
Multiple CCE tests use "test_CceR0100.h5" as a temporary file, causing collisions when tests are run in parallel.

[2020-01-30 23:32] wthrowe opened #1950 "Unused test function in Cce/Test_ReadBoundaryDataH5.cpp"
`tests/Unit/Evolution/Systems/Cce/Test_ReadBoundaryDataH5.cpp` contains a function `test_reduced_spec_worldtube_buffer_updater` that is never called.

[2020-01-31 00:52] nilsdeppe commented on #1900
Found another:
[code]

[2020-01-31 17:31] #1949 closed, assigned to moxcodes

[2020-01-31 22:28] wthrowe opened #1957 "Unit.IO.H5.VolumeData.Python tries to write to the source directory"
In particular, it tries to write `tests/Unit/IO/VolTestData.h5`.

[2020-02-02 14:58] nilsvu opened #1961 "Python bindings should support building with shared libraries"
# Bug report

Python bindings currently don't link correctly with the Charm++ compatibility code when building with shared libraries. This issue occurs both on current `develop` with boost.python and with the new pybind11 bindings in #1782. We probably have to carefully trace library dependencies through our CMake configuration and adjust their `PUBLIC`, `PRIVATE` and `INTERFACE` properties (see h

[2020-02-02 20:30] nilsdeppe commented on #1961
Here's the Charm++ compatibility changes:

[code]

Most issues were resolved by having Spectral depend on BLAS and LIBSHARP. A lot of things need to depend on YAML-CPP. The HDF5 wrapping code needs to depend on HDF5. That was enough to get everything except the TOV interface to behave.

[2020-02-02 21:19] nilsvu commented on #1961
Thanks @nilsdeppe that will be useful!

[2020-02-03 16:32] #1950 closed, assigned to moxcodes

[2020-02-03 20:19] wthrowe opened #1966 "GR tags have strange parameter ordering"
The tensor aliases, which I think are the standard for describing tensors, use parameters "data type, dimension, frame", but the GR tags use "dimension, frame, data type".  It is confusing.

[2020-02-03 20:59] wthrowe opened #1967 "Initial data and initial time are not independent"
We currently have to specify both the initial time and the initial data in input files, but for non-autonomous systems the initial data is generally only valid at one time.

My best idea so far is to make the initial time part of the initial data, but this might be annoying when using analytic solutions for things like background spacetimes.

[2020-02-03 21:03] nilsdeppe commented on #1967
One idea/dream I had was that it would be great to be able to specify "where" the option tag is. E.g. if we could from somewhere grab the "global" initial time. I'm not sure if it is possible either in the option parser or for the input file to use the `&` `*` yaml syntax to set and get a reference

[2020-02-04 17:14] moxcodes opened #1970 "Test src/Evolution/Initialization actions"
# Feature request:

There are currently no tests for (as far as I can tell) any of the actions in the `src/Evolution/Initialization` directory. They should be added at some point, see discussion in #1969.

[2020-02-04 20:50] #1518 closed, assigned to nilsvu, nilsdeppe

[2020-02-04 20:50] #1829 closed, assigned to nobody

[2020-02-04 20:50] #1839 closed, assigned to nobody

[2020-02-04 20:50] #1923 closed, assigned to nobody

[2020-02-04 21:05] wthrowe opened #1971 "Non-looping phases"
Many, possibly most, of our phases are intended to execute once through their list of actions and then terminate.  We currently do this by putting the TerminatePhase action (or similar) at the end of the list.  This works to terminate the phase, but the PDAL framework still tries to instantiate the code required to start a second pass through the actions.  This is a problem in cases such as the in

[2020-02-06 18:38] moxcodes commented on #1509
Closing because accomplished in #1904

[2020-02-06 18:38] #1509 closed, assigned to moxcodes

[2020-02-06 18:41] moxcodes commented on #1487
Closing because #1892 implements the coordinate transformations necessary to preserve regularity.

[2020-02-06 18:41] #1487 closed, assigned to moxcodes

[2020-02-07 22:06] wthrowe opened #1981 "Random failure in Unit.Evolution.Systems.CurvedScalarWave.Characteristics"
Seen in CI https://github.com/sxs-collaboration/spectre/pull/1959/checks?check_run_id=421442919 but I can't reproduce it locally.

[code]

[2020-02-08 01:46] wthrowe opened #1982 "Random failure in Unit.Evolution.Systems.Cce.PrecomputeCceDependencies"
[code]
and so on for another 800,000 lines or so.

When run through ctest this is reported as a timeout rather than a failure because of the time required to print the error message.

[2020-02-09 03:44] moxcodes opened #1984 "Random failure in Unit.Evolution.Systems.Cce.ReadBoundaryDataH5"
# Bug reports:

Fails pretty frequently, times out on ctest due to how long it takes to buffer the failure output.

[2020-02-09 03:45] moxcodes commented on #1984
I'll address these random failures soon -- I just need to confirm that the fixes are robust by running the tests repeatedly.

[2020-02-09 05:47] moxcodes commented on #1733
closing because it was fixed by #1822

[2020-02-09 05:47] #1733 closed, assigned to moxcodes

[2020-02-10 04:36] teukolsky commented on #1609
I think you meant multiply by 1 + sqrt(1-j jbar) in numerator and denominator.
As a matter of technique, it's probably a good idea to always code things this way cf. roots of a quadratic.

[2020-02-11 18:15] #1900 closed, assigned to moxcodes

[2020-02-11 18:15] #1982 closed, assigned to moxcodes

[2020-02-11 18:15] #1984 closed, assigned to moxcodes

[2020-02-15 09:19] nilsvu commented on #1902
Looks like the issue is resolved now on Github’s side, so we can address this issue now

[2020-02-18 18:20] kidder opened #1999 "Reorganize test helpers"
# Feature request:

Our test helpers are scattered, poorly documented, and incomplete.  We should do a better job.

### Component:

- [ ] Code
- [x] Documentation
- [ ] Build system
- [x] Continuous integration

### Desired feature:

- [x] Test helpers are moved into their own directory so they can be found and easily documented
- [ ] It would be useful to have TestTags and TestItems that can be i

[2020-02-18 18:25] kidder commented on #1999
@wthrowe do you have any thoughts on this?

[2020-02-21 14:21] nilsdeppe opened #2006 "Random failure in Unit.Evolution.Systems.GeneralizedHarmonic.Gauge.DampedHarmonic.details"
# Bug reports:

[code]

[2020-02-21 14:22] geoffrey4444 commented on #2006
Probably the tolerances need to be loosened again...I'll look into it

[2020-02-21 19:55] nilsdeppe opened #2008 "Split Vector test files to increase compilation parallelization"
# Feature request:

`tests/Unit/DataStructures/CMakeFiles/Test_DataStructures.dir/Test_ComplexDataVectorBinaryOperations.cpp.o` takes a long time to build. It would be good to split that, and other vector tests across a few files that each compiler faster so we get better parallelization during builds

[2020-02-22 16:53] nilsdeppe opened #2011 "Random failure in Unit.Evolution.Systems.Cce.ScriPlusInterpolationManager"
# Bug reports:

[code]

[2020-02-24 16:53] kidder opened #2015 "Revive testing Benchmark.cpp"
# Bug reports:

### Expected behavior:

The code in Benchmark.cpp should be tested on GitHub actions

### Current behavior:

It isn't

[2020-02-25 14:07] nilsdeppe commented on #2011
Another case:

[code]

[2020-02-25 20:42] wthrowe opened #2023 "Crash in the commit hook when commiting a javascript file"
[code]
The commit did succeed.

[2020-02-25 21:44] #2011 closed, assigned to moxcodes

[2020-02-26 22:03] nilsdeppe commented on #139
We appear to have figured this out: older versions of catch (around 2.1.2) silence warnings in the tests

[2020-02-27 15:10] #1814 closed, assigned to nobody

[2020-02-27 15:16] nilsdeppe commented on #1756
I can't find this ctest flag. It should be possible to add a flag to `RunTests` directly, not sure how easy that would be, though. Would need a global variable, I think, which I don't love.

[2020-02-27 15:21] nilsvu commented on #1756
Sorry it's not a `ctest` but Catch2 flag: https://github.com/catchorg/Catch2/blob/master/docs/command-line.md#rng-seed

[2020-02-27 15:35] nilsdeppe commented on #1756
Ah, that seeds `std::rand` but we use the more robust mt19937 generator, it doesn't look like it'll work.

[2020-02-27 19:13] nilsvu opened #2034 "Allow observing norms / integrals over any field"
# Feature request:

We should generalize `ObserveErrorNorms` to allow other norms than L2 and to work with any field, not just errors to the analytic solution. It should probably be renamed `ObserveNorms` then. We need to add compute items for the errors of fields to their analytic solution for this to work.

We also need to be able to take integrals over fields without taking a norm (L1 still tak

[2020-02-27 19:21] nilsdeppe commented on #2034
This is essentially a duplicate of #1459

[2020-02-28 15:40] nilsdeppe opened #2038 "Random Failure in Unit.Evolution.Systems.GeneralizedHarmonic.Characteristics"
# Bug reports:

[code]

[2020-03-02 19:53] markscheel opened #2046 "pretty_type::short_name() can fail on complicated structs."
# Bug reports:

### Expected behavior:

Suppose you have code that looks like
[code]
Then `pretty_type::short_name<bar>()` should yield `Foo`.

### Current behavior:

Normally works fine, but if the template arguments to `Foo` are sufficiently
complicated (not sure how complicated they need to be), then `pretty_type::short_name()` returns some name-mangled mess.

In particular, I found this proble

[2020-03-02 22:05] wthrowe commented on #2046
For gcc-9 based demanglers (I don't know if clang uses the library version from gcc or the LLVM version) there is a check to make sure demangling will not cause a stack overflow.  It is not a very sophisticated check, and just checks if the mangled name is over 1024 characters.  (The problematic symbol here is 1074.)

That check is not present in gcc versions 8 and below, however, and these earlie

[2020-03-03 19:13] nilsdeppe opened #2050 "No test for GeneralizedHarmonic::ComputeDuDt"
# Bug reports:

### Expected behavior:

There is a test that `GeneralizedHarmonic::ComputeDuDt` is compatible with `ComputeTimeDerivative`.

### Current behavior:

There is no test that `GeneralizedHarmonic::ComputeDuDt` is compatible with `ComputeTimeDerivative`.

[2020-03-04 03:52] nilsdeppe opened #2051 "Unit.Evolution.DG.Limiters.HwenoModifiedSolution timeouts"
# Bug reports:

### Expected behavior:

Test doesn't time out.

### Current behavior:

When doing `ctest -j4` on my quad core machine I repeatedly get `Unit.Evolution.DG.Limiters.HwenoModifiedSolution` hitting a timeout. Can we reduce the test time somehow or increase the time limit (I don't love the second option if it can be avoided without degrading the test quality)? This test also always time

[2020-03-04 17:38] #2015 closed, assigned to nilsvu

[2020-03-05 23:33] nilsdeppe opened #2060 "Time-dependent map tests should test with DataVectors as well"
# Bug reports:

### Expected behavior:

Tests check using `double`, `DataVector`, `std::reference_wrapper<double>`, and `std::reference_wrapper<DataVector>`.

### Current behavior:

No tests for DataVector coordinates exist

[2020-03-05 23:37] nilsdeppe opened #2061 "Document Strong and Weak form"
# Feature request:

We need to have some high-level documentation about the strong and weak form of DG. This probably belongs on the dg::Formulation enum introduced in #2059

[2020-03-09 09:48] nilsvu opened #2069 "Remove unnecessary fetch-depth in CI tests"
# PR follow-up

@kidder could you please remove the unnecessary `fetch-depth`s from the changes in #2013?

[2020-03-09 14:53] nilsdeppe commented on #2069
I don't see why this is needed... Let's just not waste our time on it.

[2020-03-09 14:53] #2069 closed, assigned to nobody

[2020-03-10 23:20] nilsdeppe opened #2078 "Random failure in Unit.Evolution.Systems.ScalarWave.Characteristics"
# Bug reports:

[code]

[2020-03-11 13:25] nilsdeppe opened #2082 "Random failure in Unit.RelativisticEuler.Valencia.PrimitiveFromConservative"
# Bug reports:

[code]

[2020-03-11 18:34] nilsdeppe commented on #2078
And another...

[code]

[2020-03-11 19:52] wthrowe opened #2089 "ValenciaDivClean characteristic speed test is commented out"
tests/Unit/Evolution/Systems/GrMhd/ValenciaDivClean/Test_Characteristics.cpp:
[code]

[2020-03-15 23:23] wthrowe opened #2101 "Test_DistributedConjugateGradientAlgorithm and Test_DistributedGmresAlgorithm: undefined reference to 'ddot_' and 'dgemv_'"
[code]
Similar error for Test_DistributedConjugateGradientAlgorithm

Looks like it's not linking in BLAS_LIBRARIES.

LibraryVersions.txt:
[code]

[2020-03-16 19:47] wthrowe opened #2105 "Failure in Unit.Numerical.Spectral.ExactDifferentiation"
[code]
This test doesn't use random values, so I assume this is CPU and compiler dependent.  I only see it on optimized gcc builds.

[2020-03-17 20:00] #2101 closed, assigned to nilsvu

[2020-03-18 17:20] fmahebert commented on #2051
As part of a larger refactor, this test has been extensively modified and is now named `Unit.Evolution.DG.Limiters.HwenoImpl`.

It is difficult for me to determine if this timeout still occurs, because I hadn't run into it before. @nilsdeppe, would you mind leaving a note on this issue once you've had time to determine if you still see timeouts from the refactored test?

[2020-03-18 17:23] fmahebert commented on #1063
This was resolved by the PDALs (phase-dependent action lists) change last year, which made it possible to invoke more general actions (incl. a call to the limiter) in the initialization phase of an evolution.

[2020-03-18 17:23] #1063 closed, assigned to nobody

[2020-03-18 18:21] nilsdeppe commented on #2051
Okay, I'll keep an eye on it over the next few days and update this issue :)

[2020-03-18 19:29] prayush opened #2116 "Add input file control for constraint damping parameters"
# Feature request:

### Current behavior:

Constraint damping is used in `ScalarWave`, `CurvedScalarWave` and `GeneralizedHarmonic`. These are currently added through compute tags that are compiled, leaving little control for the user at the level of input files.

### Expected behavior:

It would be a good idea to configure the spatial profile of these damping parameters using existing spatial pro

[2020-03-19 20:23] moxcodes opened #2125 "Remove warning about Blaze matrices once it is no longer relevant"
# Feature request:

In #2114 , we'll be adding a `\warning` that describes a subtle Blaze padding conflict, along with instructions for a workaround for LAPACK calls. In future versions of Blaze, we expect that the warning will no longer be necessary and  our preferred memory layout will be available via `DynamicMatrix` configuration options, at which point the warning should be removed and the (p

[2020-03-20 04:21] fmahebert opened #2130 "Random failure in Unit.GrMhd.ValenciaDivClean.Characteristics"
# Bug reports:

Random failure in `Unit.GrMhd.ValenciaDivClean.Characteristics` encountered in CI build of PR #2129

[code]

[2020-03-20 15:14] nilsvu opened #2131 "Unit.ApparentHorizons.StrahlkorperGr.DimensionfulSpinMagnitude fails on macOS"
# Bug reports:

The test `Unit.ApparentHorizons.StrahlkorperGr.DimensionfulSpinMagnitude` fails with an FPE in the `DGGEV` lapack call in `find_generalized_eigenvalues`.

### Environment:

CMake Version: 3.15.5
SpECTRE Version: 0.0.0
SpECTRE branch: mac_build_ci
SpECTRE hash: 56b3c41d116b4d8d7bb9eef9f169bd99bac34654
Hostname: nlf-mbp.local
Host system: Darwin-19.3.0
Host system version: 19.3.0
Hos

[2020-03-21 15:23] nilsdeppe commented on #2130
@carmaza if you are interested and willing, fixing this would be another thing that would help @kidder and I out :) Of course, feel free to decline :)

[2020-03-23 22:47] nilsdeppe opened #2138 "Using Sphinx for documentation"
# Feature request:

Using Sphinx to generate the final documentation would be really nice. This is what LLVM, and HPX do nowadays. I've followed https://devblogs.microsoft.com/cppblog/clear-functional-c-documentation-with-sphinx-breathe-doxygen-cmake/ and am able to build and import Doxygen XML output, and render the result in Sphinx. However, there are some issues I've found with the way Sphinx h

[2020-03-24 12:21] nilsvu opened #2140 "Move DG tags into namespace"
# Feature request:

The DG tags in `NumericalAlgorithms/DiscontinousGalerkin/Tags.hpp` should move into the `dg` namespace.

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2020-03-24 16:09] nilsvu opened #2141 "Benchmark Boost vs GSL integration functions when we upgrade to Boost 1.66"
# Feature request:

Once we upgrade to Boost 1.66 we should benchmark the integration functions provided by Boost (https://www.boost.org/doc/libs/1_72_0/libs/math/doc/html/math_toolkit/double_exponential.html) vs the GSL integration functions (https://www.gnu.org/software/gsl/doc/html/integration.html). If we find Boost is not significantly slower than GSL we should switch to Boost, because it has

[2020-03-24 18:14] wthrowe opened #2144 "db::tag_is_retrievable is not metaprogramming friendly"
[code]
does not compile because it looks for `tmpl::_1::tags_list`.  (Similarly with `tmpl::pin<DataBox>`.)  It would be nice if this worked so the function could be passed to brigand things.

[2020-03-25 02:16] nilsdeppe commented on #2144
Have you tried `tmpl::bind<db::tag_is_retrievable, SomeTag, tmpl::_1>`? Does that work? I'm not sure what you mean with `tmpl::pin<DataBox>`, could you expand on that?

[2020-03-25 02:32] kidder commented on #2131
you need to install a different blas library...  for me I installed openblas with spack

[2020-03-25 03:17] wthrowe commented on #2144
That works, thank you.  (My vague statement about `tmpl::pin` was because I actually hit this with `tmpl::_1` as the first argument and `tmpl::pin<DataBox>` as the second, which fails because pin doesn't have a tags_list, but I thought the example I gave was simpler.)

[2020-03-25 03:17] #2144 closed, assigned to nobody

[2020-03-25 03:32] nilsdeppe commented on #2144
Ah okay. I'm glad that worked! To give some insight as to what is happening in Brigand: because `db::tag_is_retrievable` is a type alias it is evaluated immediately (on the `tmpl::_1`).  The `tmpl::bind` delays this evaluation by wrapping the type alias in a struct, which allows brigand to swap in the actually type for `tmpl::_1` before the type alias is evaluated.

[2020-03-26 10:59] nilsvu opened #2151 "Fix warnings when compiling with AppleClang"
# Bug reports:

AppleClang appears to emit more or different warnings than gcc and clang in our container. We need to fix them before we can test with `-Werror` on CI.

[2020-03-26 11:01] nilsvu commented on #2151
[code]

[2020-03-26 12:41] nilsdeppe commented on #2151
I have this fixed because I encountered it on my machine

[2020-03-26 12:41] nilsdeppe commented on #2078
[code]

[2020-03-26 12:43] nilsvu commented on #2151
I started this issue when I thought there would be hundreds of warnings, but I only got three, so I fixed those as well :D If you get this merged before me, feel free though

[2020-03-27 03:16] #2151 closed, assigned to nilsdeppe

[2020-03-27 16:32] moxcodes opened #2162 "Add more thorough python binding Matrix tests"
# Feature request:

Currently, the python binding H5 interface is more demanding of certain features of the python Matix bindings than the Matrix test (the H5 interface cares about data layout, for instance), so subtle interface bugs end up breaking the H5 test instead. It would be more helpful if that type of error showed up closer to the source.

### Component:

- [x] Code
- [ ] Documentation
-

[2020-03-27 16:51] nilsvu commented on #2162
@moxcodes could you be a bit more specific, perhaps give an example of an issue you encountered?

[2020-03-27 17:00] moxcodes commented on #2162
In PR #2114, I encountered a trouble when the underlying data layout changed (the spacing between contiguous segments became `.spacing()` rather than `.rows()` in the underlying blaze -- an unintentional defect in blaze, but that's another story), the python Matrix tests were unaffected, presumably because all of the element accesses that they do don't actually care about the underlying data layou

[2020-03-27 17:11] nilsvu commented on #2162
I'm not saying the Python tests are sufficiently complete (they probably aren't; we have so far mostly added binding tests to have at least _some_, without caring too much about completeness), but what you're saying sounds to me like the tests that should be more thorough are the C++ tests. The Pybindings tests should only check the bindings, i.e. that the Python interface is the same as the C++ i

[2020-03-27 17:32] moxcodes commented on #2162
The error here was in `DataStructures/Python/Matrix.cpp` not having been adjusted for the underlying C++ change. For everything else, I agree that the python tests are not responsible for catching errors in the C++ code.
However, here the case was that the full set of C++ libraries were in a consistent and correct state, all C++ tests passing (and correctly), but the interface exposed to the pytho

[2020-03-27 18:08] nilsvu commented on #2162
Yes that makes a lot of sense, thanks for detailing! Which part of `DataStructures/Python/Matrix.cpp` needed adjusting?

[2020-03-27 18:15] moxcodes commented on #2162
The part that caused trouble in the translation was the exposure of the python buffer:
[code]
The fix in this case was changing `matrix.rows()` to `matrix.columns()` in the last line; but I anticipate that this will have trouble also if the underlying matrix class were to change storage order to `blaze::rowMajor`.

[2020-03-28 14:44] #1683 closed, assigned to nobody

[2020-03-28 16:12] nilsvu opened #2168 "CMake sometimes can't find pthread on GitHub-hosted macOS runners"
# Bug reports:

Occasionally CMake failed [FindThreads](https://cmake.org/cmake/help/latest/module/FindThreads.html) on `macos-latest` GitHub-hosted runners because it couldn't locate `pthread.h`. I couldn't reproduce the issue since we can't control which machine GitHub Actions run on. If we encounter the issue again, here are a few ideas we could try to resolve it:

- Make sure Xcode is set up c

[2020-03-29 20:41] nilsvu opened #2173 "Monitor and adjust caching on GitHub Actions"
# Feature request:

We should take another close look at GitHub's caching policy and limits and figure out a strategy to make optimal use of it. Here‘s the documentation:
- https://github.com/actions/cache#cache-limits
- https://help.github.com/en/actions/configuring-and-managing-workflows/caching-dependencies-to-speed-up-workflows#usage-limits-and-eviction-policy

### Component:

- [ ] Code
- [ ]

[2020-03-30 14:39] geoffrey4444 commented on #1663
Last failure was in September 2019. My proposed fix got merged in October 2019 (PR #1702), no reported failures since. I ran the test overnight repeatedly, with no failures. I pushed the last known reported seed to fail to GitHub, and the tests still passed.

I propose that we close this issue.

[2020-03-30 16:42] geoffrey4444 commented on #2006
I think this duplicates #1843?

[2020-03-30 16:48] nilsdeppe commented on #2006
looks like it. My apologies!

[2020-03-30 16:48] #2006 closed, assigned to geoffrey4444, prayush

[2020-03-31 02:25] geoffrey4444 commented on #1663
Fixed with #1702 ... please reopen if new failure cases appear

[2020-03-31 02:25] #1663 closed, assigned to geoffrey4444

[2020-03-31 02:31] #1843 closed, assigned to geoffrey4444, prayush

[2020-03-31 17:44] geoffrey4444 commented on #2078
Reproduced failure with seed 2478544957. Loosening tolerance from 1e-12 to 1e-11 led to the test passing again.

PR to implement this fix: #2176

[2020-03-31 20:49] #2078 closed, assigned to geoffrey4444, prayush

[2020-04-01 05:01] moxcodes opened #2178 "Make InterfaceManagers more consistent with other option-creatable classes"
# Feature request:
The naming scheme is to create a sub-namespace and call all of the classes by the way that they differ from the abstract base class (so omit the phrase `InterfaceManager` from the file and class names). This refactor change should also be applied to:
- SpanInterpolator
- InitializeJ
- others, I'm certain, that I am not yet aware of

### Component:

- [ ] Code
- [ ] Documentation

[2020-04-01 12:47] nilsvu commented on #442
@sxs-collaboration/spectre-core-devs do you think we can drop GCC 6 support at this point? It would reduce the number of CI builds and the human effort of working around GCC 6 issues.

[2020-04-01 19:21] kidder commented on #442
yes @nilsdeppe and I discussed this and we agree that dropping gcc6 is a good idea

[2020-04-01 19:33] kidder commented on #442
we should also drop clang4 and add clang10

[2020-04-02 07:50] nilsvu commented on #442
Is one of you going to put in a PR or should I?

[2020-04-02 15:37] nilsdeppe commented on #442
I am not planning to, and from what Larry said yesterday when we talked about this, it sounded like he was hoping you would be so kind :)

[2020-04-04 11:00] nilsvu opened #2186 "Use inboxes in parallel linear solver algorithms?"
# Feature request:

Investigate whether the parallel linear solvers that are used in the elliptic solver should switch to an inbox control flow. Currently they do this:
- An element action contributes to a reduction to the "residual monitor" singleton component, then terminates the algorithm.
- Once the reduction is complete, the residual monitor broadcasts back to all elements. They proceed with

[2020-04-06 23:28] #2130 closed, assigned to carmaza

[2020-04-08 01:37] nilsdeppe opened #2194 "Remove cpp17 namespace after migrating to C++17"
# Bug reports:

#2193 enables C++17 but doesn't remove `cpp17::void_type` and `cpp17::array` since those are not just trivial find-replace. In the long term both of those should be removed and replaced with the appropriate C++17 language features

- [x] Remove `cpp17::void_type`
- [x] Rename `cpp17::array` to `cpp20::array` (the `operator==`, etc. are not yet constexpr in 17).
- [x] Replace `boost

[2020-04-09 20:42] wthrowe opened #2201 "Environment files need updates after Blaze dependency change"
Blaze requirements were raised to 3.5 in #2114, but most of the environment files are still providing 3.2.

[2020-04-10 17:43] nilsdeppe opened #2204 "NumericalFlux protocol imposes incorrect restrictions"
# Bug reports:

### Expected behavior:

It's possible to have tags in the Variables that are not DataBox tags. This is the actual interface of the numerical fluxes.

### Current behavior:

Tags in the Variables must be DataBox tags.

[2020-04-10 18:10] wthrowe commented on #2204
Not according to the documentation:

And it uses `db::remove_all_prefixes`, which I think only works on simple tags.

(I remember being annoyed by this restriction at some point, although I can't remember why.)

[2020-04-10 18:36] nilsdeppe commented on #2204
Hmm, so I think the one call to `db::tag_name` would add that requirement, but it would be easy enough to add a wrapper that dispatches to that only if there's no `name` function. I don't remember if `remove_all_prefixes` checks anything about what things are inherited from, but I don't know how else it would work. Though that could probably also be relaxed.

[2020-04-10 20:32] nilsvu opened #2205 "Improve error messages when testing protocol conformance"
# Feature request:

The `test_protocol_conformance` metafunction should be able to give error messages that help narrow down why a type does not conform to a protocol. Currently a protocol is only a unary type trait, i.e. it reduces to a boolean "the type conforms to the protocol" or "the type does not conform to the protocol". This allows using it in a SFINAE context. One way to improve error mes

[2020-04-13 16:26] nilsdeppe opened #2209 "Disable Rational and TimeDelta math with doubles"
# Bug reports:

### Expected behavior:

Math operations between `Rational` and `TimeDelta` should result in a compiler error. This can be achieved by explicitly deleting them:
[code]

### Current behavior:

Currently if we multiply `TimeDelta` or `Rational` by a `double` the `double` is silently converted to an integer (not a rational) which results in incorrect values. For example, in the `Dorman

[2020-04-13 16:26] nilsdeppe commented on #2209
@wthrowe could you comment with your thoughts of the proposed solution of deleting the operators?

[2020-04-13 18:01] wthrowe commented on #2209
Yes, that operation should not be allowed.  You probably also need to delete `operator/(TimeDelta, double)`.

[2020-04-13 19:09] nilsdeppe commented on #2209
Okay, sounds good. I was thinking disable all binary math operations with `double`s, including `operator+` and `-` just to be on the safe side. Does that sound okay?

[2020-04-13 19:20] wthrowe commented on #2209
Oh, yeah, do those too.  And make sure the assignment versions are caught as well.  I don't think there should be any way to combine these types with doubles.

[2020-04-13 19:43] nilsdeppe opened #2212 "Factor GeneralRelativity pointwise functions into multiple files"
# Feature request:

The `PointwiseFunctions/GeneralRelativity/ComputeGhQuantities.?pp` and `ComputeSpacetimeQuantities.?pp` contain a lot of functions which makes the difficult to navigate. The code would be a lot easier to deal with if the GH parts went into a subdirectory and the spacetime parts were split into multiple files.