[2020-04-15 14:37] nilsdeppe commented on #1349
@nilsleiffischer can we close this?

[2020-04-15 14:40] nilsdeppe opened #2214 "Remove protocols"
# Feature request:

We remove `protocols`. I've found they actually make development more difficult than easier. For example, if something is wrong with a numerical flux I get the message `The numerical flux does not conform to the dg::protocols::NumericalFlux` message, but have no idea what's actually wrong. If we instead let the compiler try to build the flux into the tests I would've gotten a m

[2020-04-15 18:43] nilsvu commented on #2214
I understand your issue, and also found that annoying to deal with. How about we try this first: https://github.com/sxs-collaboration/spectre/issues/2205. With that, the error messages should be better than the standard compiler failures

[2020-04-15 20:45] #1349 closed, assigned to nobody

[2020-04-16 22:06] nilsdeppe opened #2223 "Four-index constraint and constraint energy only work in 3d"
# Bug reports:

### Expected behavior:

The four-index constraint and constraint energy are either only defined in 3d and not templated on dimension, or are generalized to work in any dimension.

### Current behavior:

The four-index constraint and constraint energy are templated on dimension but only work in 3d.

[2020-04-18 18:31] nilsdeppe commented on #2214
I would rather just see them removed This seems like a lot of work with what to me seems to be significant downsides and minimal upsides.

[2020-04-21 19:55] wthrowe opened #2228 "Deadlock-detection code does not run for last phase"
The deadlock detection
[code]
in `start_phase` in Algorithm.hpp only runs (as the name suggests) at the start of each phase, so the last phase run is not checked.  For our executables, this is typically the most complex phase and the most likely to deadlock.

We should probably be running this at the end of each phase instead of the start.

[2020-04-22 02:32] nilsdeppe commented on #2228
I certainly agree. If memory serves me correctly, at some point there was some discussion of having a broadcast at the end of the executable that verifies things have shut down correctly, and gives things an opportunity to do so if they haven't. Do you think that would that be a reasonable way to go?

[2020-04-29 18:15] nilsdeppe opened #2251 "Damped harmonic gauge exponents controllable from input file"
# Feature request:

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

Currently the exponents of the log terms are hard-coded to 4, but in SpEC the default is 2. We should add input file parameters to control the exponents so it's easier to match to SpEC. They will also necessarily need to match in order to take SpEC control syste

[2020-04-30 01:07] nilsdeppe opened #2252 "Revisit whether char speeds are stored in array or Tensor"
# Feature request:

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

We decided a long time ago to use `std::array` instead of `Tensor` to hold the char speeds. I think this was mostly because they are a `Tensor`, though given that we write them as `\lambda_{\hat{\alpha}}` I think it's not absurd to have them be a tensor in the c

[2020-04-30 06:26] nilsvu commented on #2252
This came up when Hannes and I reviewed GH initially, here's that issue https://github.com/sxs-collaboration/spectre/issues/1481

[2020-04-30 19:02] nilsdeppe commented on #2252
I think #1481 is misleading at best. The char speeds do not necessarily correspond to specific known char fields. For example, in GRMHD we use approximate char speeds because we don't know the actual ones, and we don't know the actual fields. Can we close #1481?

[2020-05-04 16:06] nilsvu opened #2257 "Add missing tests for ConstitutiveRelations::IsotropicHomogeneous"
# Feature request:

A few member functions such as `youngs_modulus` miss tests.

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2020-05-06 15:16] geoffrey4444 opened #2262 "AH finder fails in evolution if triggered more than once"
# Bug reports:

### Expected behavior:

I modified `tests/InputFiles/GeneralizedHarmonic/KerrSchild.yaml` by changing the AH to trigger every time step:

[code]

instead of the following, which is what's in the test input file on develop:

[code]

I expected that this would output data for the KerrSchild horizon at each time step.

### Current behavior:

The AH finder works correctly the first tim

[2020-05-06 15:58] geoffrey4444 commented on #2262
Discussion with @markscheel and @moxcodes revealed the problem is that `compute_target_points` is no longer a `SimpleAction`, but `InterpolationTargetReceiveVars.hpp:112` tries to invoke it as a `SimpleAction`. Because that line is inside `if (not temporal_ids.empty())`, it doesn't get called the first time the AH finder runs.

[2020-05-06 16:00] markscheel commented on #2262
Working on a fix...

[2020-05-08 19:36] #2262 closed, assigned to markscheel

[2020-05-11 19:54] wthrowe opened #2267 "Output not flushed on error"
When a run crashes with an FPE (don't know about other cases), some observations that have already been performed are not written to disk.  In my case, a run crashes after about 570 steps, and I am observing volume data every step.  If I terminate the run after 550 steps, I get 551 observations (including both endpoints), as expected.  If I let it go until it crashes, I only get 130 measurements.

[2020-05-11 20:00] fmahebert commented on #2267
I've seen this too. I'll add this observation in case it can help debugging: I found that the reduction data _was_ being written up until the time of the FPE, unlike the volume data.

[2020-05-12 14:16] nilsdeppe commented on #2050
I fixed this in #2247

[2020-05-12 14:16] #2050 closed, assigned to geoffrey4444, prayush

[2020-05-13 17:01] markscheel opened #2271 "Add function to interp::Irregular taking a Tensor"
# Feature request:

Currently interp::Irregular interpolates a Variables onto a set of points.  If there was also a function to interpolate a Tensor, rather than a Variables, then a copy operation may be eliminated in interpolation code (see #2263).  The advantage, however, of using a Variables is that interpolation is essentially a matrix-matrix multiplication, whereas using a series of Tensors w

[2020-05-25 19:33] wthrowe commented on #1447
Has anyone thought about how to solve this?  This is a fairly serious bug and it has been open for over a year.

Would recomputing the flux in the boundary condition action be sufficient, or is there more required than that?  Is there a way of recomputing the flux that is sufficiently uniform across systems that it can be done in generic code?

[2020-05-25 19:56] nilsdeppe commented on #1447
I'm addressing this as part of the boundary condition and flux comm changes I'm working on.

I think it's just the recomputation of the flux that's necessary, but as is there's no way of doing so generically because the fluxes can (and do) depend on a bunch of compute tags. The first thing I am doing to the systems is not having the fluxes use a bunch of compute tags and instead compute what they

[2020-06-01 21:19] nilsvu opened #2304 "macOS CI builds fail to find libsharp"
# Bug reports:

I have repeatedly seen the macOS builds on CI fail to find libsharp recently. Here's an example: https://github.com/sxs-collaboration/spectre/runs/727841416?check_suite_focus=true
If anyone has information on this, please let me know. Else I'll try to debug the issue once I find the time.

[2020-06-02 19:32] nilsvu opened #2308 "Refactor linear solver algorithm tests to use action testing framework"
# Enhancement

The linear solver algorithm tests should use the action testing framework instead of building a test executable.

One issue remaining before this can be done is #2310.

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2020-06-03 08:16] nilsvu opened #2310 "Support reductions in action testing framework"
# Feature request:

The action testing framework currently does not support reductions.

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:

[2020-06-04 16:13] nilsvu opened #2312 "Propagate errors to Python"
Calling `ERROR` when using Pybindings currently crashes the Python kernel and the message is printed to the terminal. Ideally the error would propagate to Python as a runtime exception instead so Python can exit gracefully or the exception can be handled.

[2020-06-04 22:23] fmahebert commented on #2304
This failure seems to occur consistently, and it isn't helping the signal/noise from our CI builds... What would you think of turning off the macOS CI builds until this is resolved?

[2020-06-04 23:03] nilsvu commented on #2304
Yep that sounds like a good idea to me, I'll put in a PR to disable the macOS build temporarily now

[2020-06-04 23:19] nilsvu commented on #2304
Actually I found the commit that broke our builds: https://github.com/spack/spack/commit/3896a401db18e0c84984df88ce094a1a601ad743

Fixed in this PR: https://github.com/sxs-collaboration/spectre/pull/2314

[2020-06-06 03:35] #2304 closed, assigned to nilsvu

[2020-06-09 14:12] isaaclegred commented on #2312
One thing that might work but would be rather slow would be explicitly checking whether the calls will succeed inside of the python wrappers, then throwing a python error before the c++ call is ever made.  This would avoid the need for special case handling, and it has some precedent with `PythonBindings/BoundChecks.cpp`

[2020-06-09 14:38] nilsvu commented on #2312
@isaaclegred if I understand correctly you suggest checking for possible errors in Pybindings code before they occur. For bounds checks and such this is certainly feasible and a good way of providing useful error messages when calling Pybindings, but we can't repeat all possible `ERROR`s that may occur further down in function calls. For example, say we call the TOV analytic solution from Python t

[2020-06-09 15:15] isaaclegred commented on #2312
Ah yes I just read through your convo in the slack channel.  Seems like https://github.com/UIUC-PPL/charm4py has some way of handling this, in particular in https://github.com/UIUC-PPL/charm4py/blob/master/charm4py/charmlib/ccharm.pxd they can somehow translate `CmiAbort` calls to python.

[2020-06-11 20:32] #2205 closed, assigned to nobody

[2020-06-11 20:32] #2204 closed, assigned to nilsvu

[2020-06-15 21:57] isaaclegred commented on #1957
This should hopefully be fixed by #2309 and #2318, the file `tests/Unit/IO/VolTestData.h5` will be able to be removed from source permanently when it is possible to write volume data from python.

[2020-06-19 18:30] geoffrey4444 commented on #462
Addressed in #2300

[2020-06-19 18:32] geoffrey4444 opened #2330 "Random failure in Unit.Evolution.Systems.CurvedScalarWave.Characteristics"
# Bug reports:

### Expected behavior:

Test Unit.Evolution.Systems.CurvedScalarWave.Characteristics to pass

### Current behavior:
[code]

### Environment:

Test failure in GitHub actions:

https://github.com/sxs-collaboration/spectre/pull/2320/checks?check_run_id=788250839

# Feature request:

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Des

[2020-06-23 17:12] nilsdeppe opened #2334 "Split StrahlkorperGr files"
# Feature request:

### Component:

- [x] Code

### Desired feature:

The StrahlkorperGr file is getting quite large. It would be a lot easier to have an overview of the code were the functions and their compute tags split into separate files. It would probably be best to put them in a subdirectory. I'm not sure what the best name is, though `StrahlkorperGr` would be fine with me.

[2020-06-23 19:00] geoffrey4444 commented on #2334
I’m happy to work on this as my next refactor

[2020-06-24 18:13] nilsdeppe commented on #1933
@nilsleiffischer This is still not working correctly. Files that are updated on develop but not on the fork are run through clang-tidy too. This means that erroneous errors can appear in the run.

[2020-06-25 18:34] nilsdeppe commented on #1957
We looked at this in a meeting together:
- `unit_test_path` points into `src`, propose rename to `unit_test_src_path`
- add function `unit_test_build_path` that points to `tests/Unit` in build directory. We can then write files into there

[2020-07-01 04:27] jingchangshi opened #2349 "How to use gdb to debug"
# Bug reports:

### Expected behavior:

`gdb bin/MinimalExample` then `run` should run this executable without error.

### Current behavior:

1. `make MinimalExample`
2. `gdb bin/MinimalExample`
3. In GDB, `run` gives the following errors.

[code]

    The above error is fixed by adding `--cap-add=SYS_PTRACE` to `docker run`. The issue is related to docker, instead of spectre.

### Environment:

`

[2020-07-01 09:36] jingchangshi commented on #2349
The issue is related to docker, instead of spectre.

[2020-07-01 09:36] #2349 closed, assigned to nobody

[2020-07-02 15:10] #1933 closed, assigned to nilsvu

[2020-07-02 16:59] moxcodes opened #2350 "Update GR and GeneralizedHarmonic functions, consider renames"
# Feature request:

There are a number of small changes that would improve the functions computing GR and GeneralizedHarmonic quantities, such as using `destructive_resize`, initializing quantities with their size to avoid taking the `UNLIKELY` branch of the resize, and considering a more consistent set of names for the functions.

More details in the comments to #2327

[2020-07-03 14:39] nilsvu opened #2352 "Tags and protocols"
I noticed @kidder's comment https://github.com/sxs-collaboration/spectre/pull/2289#pullrequestreview-441922432 and instead of distracting that PR with a discussion on tags, I'm opening this issue.

I have the impression that we currently have a few too many kinds of "tags": DataBox simple/compute/base/prefix tags, option tags, ConstGlobalCache tags, initialization tags and array allocation tags co

[2020-07-03 16:31] nilsdeppe commented on #2168
I haven't seen this for a while. Is it still an issue?

[2020-07-03 16:37] nilsvu commented on #2168
Haven't seen it either. Let's consider it resolved :)

[2020-07-03 16:37] #2168 closed, assigned to nobody

[2020-07-05 16:42] geoffrey4444 opened #2354 "Followup factoring spacetime quantities"
# Bug reports:

### Expected behavior:

#2327 included some suggestions for a followup PR that Geoffrey will implement.

### Current behavior:

### Environment:

Add as an attachment `$SPECTRE_BUILD_DIR/LibraryVersions.txt` or
add its contents here.

# Feature request:

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detai

[2020-07-06 18:58] fmahebert commented on #2354
@geoffrey4444 I've already updated the CMakeLists in a personal branch that I will soon make a PR from, so no need to worry about that.

But as I looked through the `PointwiseFunctions/GeneralRelativity(/GeneralizedHarmonic)` directory to check my CMakeLists, I noticed a few things,
- the functions that takes derivatives (and the files they live in) indicate the derivative in many different ways.

[2020-07-08 21:35] tomwlodarczyk opened #2363 "Observers with same ObservationId"
# Bug reports:

### Expected behavior:

In SolveElasticityProblem.hpp I have added an additional event for ObserveVolumeIntegrals. In the .h5-file under each ObservationId I should find both ErrorNorms and VolumeIntegrals.
The changes are:
- in `SolveElasticityProblem.hpp`:
[code]

- in the .yaml-file:
[code]

### Current behavior:

If I trigger both ObserveErrorNorms and ObserveVolumeIntegrals in

[2020-07-09 14:29] nilsdeppe commented on #2363
I'm currently working on this. I have it working in the Burgers executable and am updating the tests. You can currently only do one reduction and volume observation.

[2020-07-10 18:02] isaaclegred opened #2366 "Add Horizon Observers and Associated Strahlkorper Geometry"
# Feature request: .

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detailed discussion:
 Add the necessary components to observe found horizons and converting the geometry into Volume Data to be written to disk. This will probably involve two mostly separate tasks, creating th

[2020-07-10 18:06] isaaclegred commented on #2366
@markscheel, @geoffrey4444, @nilsdeppe, @kidder  Please feel free to add anything you feel is relevant and comment anything you think of, especially things you think we may find useful!

[2020-07-13 18:45] isaaclegred commented on #2366
Discussed with @isha1810  and @erfz, and have some progress and some questions.
1) Actually collecting the topology of the S^2 should be ok, there are lots of ways to quotient a plane into a sphere (i.e glue the phi = 2*pi  to phi = 0 points, and then pinch the north and south poles together.)
2) Collecting the geometry should be even easier because (as discussed) the cartesian coordinates can be

[2020-07-16 17:49] isaaclegred commented on #2366
Discussed Yesterday With @nilsdeppe, @kidder, @teukolsky, @isha1810, and @erfz.
It seems like the current best way forward is to try to try and have the Strahlkorper Observer share as much code as possible with the current observation framework.  The way I understood the thinking was we have a new Event (in `ParallelAlgorithms/Events`) `ObserveStrahlkorper` or maybe even `ObserveEmbeddedSurface` o

[2020-07-28 12:27] nilsvu opened #2394 "BLAS segfaults in parallel Charm++ runs"
# Bug reports:

The OpenBLAS in the Docker container (as of today) segfaults in calls such as `dgetrf` in parallel Charm++ runs, i.e. when running the executable with e.g. `+p2`. I haven't tried reproducing this in any of the executables in `develop`, but encountered it in new code and noting it down in this issue to perhaps save someone else some debugging time. The issue is resolved by setting t

[2020-07-28 17:59] isaaclegred opened #2395 "GenerateXDMF.py determines dimensionality of data based on number of coordinates"
# Bug reports:

### Expected behavior:

When writing volume data it will be necessary to write 2 dimensional data on generalized surfaces embedded in 3-D (such as a sphere) which have at each point an x, y, and z coordinate.  Therefore `GenerateXDMF.py` should be able to correctly identify volume data as 2-D even if there are 3 coordinates at each point.  This is not difficult in principle as the

[2020-07-28 18:01] wthrowe commented on #2394
We don't want BLAS running multiple threads anyway, do we?  We're doing our own threading.

[2020-07-28 19:42] nilsvu commented on #2394
@wthrowe I think that's right. I'll put in a PR that sets this environment variable in the container and updates the installation instructions. We could also call the configuration function that's mentioned in the FAQ linked above, but I'm not sure when and where.

Edit: I realised I didn't put the FAQ link into the description, so here it is: https://github.com/xianyi/OpenBLAS/wiki/Faq#multi-thre

[2020-07-30 17:28] kidder opened #2397 "Mac OSX CI build is broken"
# Bug reports:

### Expected behavior:

Tests pass

### Current behavior:

Linking fails with
[code]

### Environment:

To reproduce, run the MacOsX workflow

### Component:

- [ ] Code
- [ ] Documentation
- [x] Build system
- [ ] Continuous integration

[2020-07-30 17:43] kidder commented on #2397
- This appears to have started with the following update to the mac environment on GitHub actions `Environment: macos-10.15
  Version: 20200716.2`
- The unrecognized file is in the list of HDF5_LIBRARIES that cmake generates.  Previous to the above change in the GitHub Action environment, the unrecognized files was not in HDF5_LIBRARIES
- I have tried building hdf5 with spack instead of homebrew.

[2020-08-11 03:31] #2038 closed, assigned to geoffrey4444, prayush

[2020-08-11 15:44] #1420 closed, assigned to nobody

[2020-08-11 20:37] moxcodes opened #2417 "Enhancements to implement once we can use charm 7.0 features"
# Feature request:

There will be a number of improvements and new features in the next charm version that we'll like to take advantage of, and this issue documents some of places we'd like to use upcoming features of charm.

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Use the `isCheckpointing()` and `isMigration()` pu

[2020-08-11 21:13] wthrowe opened #2418 "Procedure to manually run tests should be documented"
How to run "Unit" tests is documented, but not "InputFiles" or "Integration" tests.

[2020-08-12 15:48] nilsvu opened #2421 "Update documentation on CI"
The documentation on CI is still about Travis. It should be updated to GitHub Actions. I'm happy to do that when I'm back from vacation.

[2020-08-12 17:17] fmahebert commented on #2421
Semi-relatedly, we also still have `.travis` files in the repo.

[2020-08-12 17:21] fmahebert opened #2422 "Update environments for Charm 6.10.2"
We still need to update these environments (in `support/Environments`) for Charm 6.10.2

- [x] frontera
- [x] minerva
- [x] ocean / orca (partially updated)
- [x] wheeler
- [ ] ~compute_canada~
- [ ] ~bluewaters~
- [ ] ~zwicky~

Edited: Oct 21

[2020-08-12 23:54] nilsdeppe opened #2425 "The elliptic solver includes are incorrect"
# Bug reports:

There are a lot of type aliases that are difficult or impossible to track
down. This is, as far as I can tell, because the includes in the files are
incomplete. For example, the type alias `observe_detail::Registration` in
`ConjugateGradient.hpp` is not in any of the included files. I think the very
stringent adherence to DRY (Don't Repeat Yourself) in the elliptic solver
actually

[2020-08-13 22:50] moxcodes opened #2428 "Add chunk-management utilities to H5 library"
# Feature request:

For CCE and probably for other utilities that pull in large amounts of data from h5, the h5 chunking/caching for the read can be very important for performance. So far, I have been recommending that the CCE input files are rechunked before running CCE, but ideally the spectre executables would have the ability to fix a bad chunk choice on their own as a preprocessing step.

###

[2020-08-13 23:52] moxcodes commented on #2194
Is it true that every use of `MakeOverloader` can be replaced with `if constexpr`s now that we're on C++17? Or is there other behavior of `MakeOverloader` that we'll need to keep in some cases?

[2020-08-13 23:54] nilsdeppe commented on #2194
Mostly true. The one case, which I don't know if we actually use it, is if the resulting function object is passed around or stored. If you're asking about AlgorithmImpl, yes, it can be significantly simplified with `if constexpr` :)

[2020-08-14 23:59] moxcodes opened #2430 "Suggested options upgrades"
# Feature request:

There's a few extra features that it would be nice to consider for the options framework, primarily for more flexibility in defining option-creatable classes.
- [ ] Retrieval of options for an option-creatable class from the wider yaml scope. This can reduce duplication where, for instance, resolution variables may need to be specified in multiple places for different classes t

[2020-08-15 21:08] wthrowe commented on #2430
Can the first thing be done by requesting the desired option in each initialization tag?

[2020-08-17 18:45] kidder commented on #1981
Reported by @geoffrey4444 in #2330

Test failure in GitHub actions:

https://github.com/sxs-collaboration/spectre/pull/2320/checks?check_run_id=788250839

[code]

[2020-08-17 18:45] kidder commented on #2330
duplicate of #1981

[2020-08-17 18:45] #2330 closed, assigned to nobody

[2020-08-17 18:53] kidder commented on #1765
Reported by @nilsdeppe in #2082
[code]

[2020-08-17 18:53] kidder commented on #2082
duplicate of #1765

[2020-08-17 18:53] #2082 closed, assigned to carmaza

[2020-08-17 19:57] kidder commented on #210
Added in #1909

[2020-08-17 19:57] #210 closed, assigned to kidder

[2020-08-20 19:36] nilsdeppe opened #2439 "Remove second time derivative of psi from Scalar Wave and third derivs of math functions"
# Feature request:

We currently need third derivatives of math functions to compute second time derivatives for the scalar field profile. Since we now have self-starting time steppers only, we no longer need second time derivatives in the scalar field. These should be removed along with the third derivatives in the math functions.

[2020-08-21 17:59] wthrowe opened #2444 "Provide a make target to build all libraries"
We have a "libs" target, but that doesn't seem to do the test libraries, which are most of the code.

My use case is building the libraries with high parallelization, and then building/linking the executables with low parallelization to limit the RAM use.

[2020-08-21 21:11] nilsdeppe commented on #2444
Just for clarification: how do you envision this being different from `RunTests`? There are a few extra executables that aren't part of `RunTests`, but I think that's only maybe 10 or so at most. Should those extra test executables be built as part of the `libs`? Or do you strictly want to avoid building the `RunTests` executable and just the libs? I usually build `RunTests` with high parallelizat

[2020-08-21 21:27] wthrowe commented on #2444
Yes, RunTests is good enough.  And now that you mention it, I've used that trick before and forgot about it.

[2020-08-21 21:27] #2444 closed, assigned to nobody

[2020-08-22 17:39] #1981 closed, assigned to nobody

[2020-08-22 20:56] wthrowe opened #2446 "NodeLock.cpp is recompiled for every executable"
I don't see any indication in NodeLock.cpp, NodeLock.hpp, or the corresponding CMakeLists.txt that this is intentional, so I assume it is a bug.

[2020-08-24 17:05] wthrowe commented on #2430
Answering my own question: no, it cannot.

I've thought about a few possible designs for this.  Allowing classes to grab arbitrary options from the YAML hierarchy puts strong restrictions on where they can be used (although I suspect most use cases for this are very specialized anyway), and exactly how the YAML file corresponds to objects is also not always obvious.

I don't see a problem with all

[2020-08-24 19:30] moxcodes commented on #2430
Thanks for looking at that @wthrowe -- I hadn't managed to get to checking whether your suggestion would work.

If I understand the new suggestion correctly, I think it would suit my use-case. Would it be the case, then, that the option tags that need to be 'inherited' would specify in a typelist the additional classes that use them? The case I'm thinking about has an option tag in an option 'grou

[2020-08-24 22:13] wthrowe opened #2448 "Debugging traps should be unconditional"
Since #2324, assertion failures cannot be caught in a debugger unless an environment variable is set.  I don't know why this change was made.  There is no discussion of this in the PR, but I think I vaguely remember an in-person discussion about it a long time ago.  All I can recall is suggesting that we not make this change.

[2020-08-24 23:10] nilsdeppe commented on #2448
The reason this was changed is because of the following discussion with Charm++:

Basically, Charm++ segfaults when you call `abort` in order to trap for debuggers, but this breaks testing `ASSERT`s with some newer variants of CTest because CTest always fails tests if they segfault. If we call `CkExit` with a non-zero value then the code doesn't segfault so allows us to test assertions, but doesn'

[2020-08-25 00:04] wthrowe commented on #2448
Was there any reason not to do what SpEC does?
[code]

[2020-08-25 00:10] nilsdeppe commented on #2448
Not that I know of. I did ask the Charm++ folks why they didn't do this and I forgot to follow up with them. I can check what their thoughts are if they know of any reason this could be a problem. Does that sound like a reasonable plan?

[2020-08-25 17:04] nilsdeppe commented on #2448
Here's what I got back from the lead developer of NAMD (molecular dynamics code that uses charm)

Edit:

I agree that not having the stacktrace would be nice for input file errors, but I think that can be addressed separately later.

[2020-08-26 22:58] #1481 closed, assigned to nobody

[2020-08-26 23:19] fmahebert commented on #2194
Recent PRs #2392 and #2450 have removed our use of `namespace cpp17`, so the first two items in the item description list can be checked off 🙂.

In addition to the `boost`-related items left above, a search for "C++17" in the codebase reveals a few minor items that can also be updated. I will take a stab at these (the C++17 mentions; I'm not at this time planning to take on the boost replacements)

[2020-08-31 17:39] nilsvu commented on #2186
In a call with @nilsdeppe in response to #2425 we identified a few issues and potential solutions:

- Issue: The current control flow where reductions (essentially simple actions) are called on the residual monitor singleton has the disadvantage that the code in `ResidualMonitor.hpp` (where the singleton component is defined) provides no indication which actions are going to be invoked on it. Curr

[2020-08-31 17:46] nilsvu commented on #2425
In a call with @nilsdeppe in response to this issue we identified #2186 as a source of confusion in how the parallel linear solvers operate.

[2020-08-31 19:44] nilsvu opened #2464 "ParaView crashes when bases and quadratures are enabled"
# Bug reports:

1. Compile `ExportCoordinates3D`
2. Run with the `tests/InputFiles/ExportCoordinates/Input3D.yaml` input file
3. Run `GenerateXdmf.py` over the resulting volume data file
4. Open in ParaView 5.8, select "XDMF Reader"
5. Click "Apply", leaving the "Point Arrays" `bases` and `quadratures` enabled

### Expected behavior:

ParaView shows the 3D domain.

### Current behavior:

ParaView

[2020-08-31 19:44] nilsvu commented on #2464
@isaaclegred any ideas on this?

[2020-09-01 00:30] nilsdeppe commented on #2464
Isaac is no (currently) longer in the group, so please discuss this with me instead.

The quadrature and basis shouldn't be made visible by `GenerateXdmf`. It makes no sense to read them in as a field because they aren't written that way. They are stored in the same way that the `extents` is stored.

[2020-09-01 14:24] nilsvu opened #2468 "Charm@6.10.2 with Boost@1.73+ is currently broken"
# Bug reports:

When upgrading Boost to version 1.73 on my machine I ran into a conflict with Charm++: Boost tries to `#include <version>` to determine C++ versions (see https://www.boost.org/doc/libs/1_74_0/boost/config/detail/select_stdlib_config.hpp), but Charm++ actually has a `VERSION` file in its `include/` directory that's found by Boost. This `VERSION` file is not even valid C++ (it only c

[2020-09-01 16:20] nilsdeppe opened #2469 "Allow Parallel ClangTidy"
# Feature request:

### Component:

- [ ] Code
- [ ] Documentation
- [x] Build system
- [ ] Continuous integration

### Desired feature:

It's possible to run clang-tidy in parallel using GNU parallel/sem. Specifically, I've had success with:
[code]
though the exit code doesn't seem to be returned correctly. Would it be useful to add the above as an option to the `ClangTidyHash.sh` script into the

[2020-09-01 17:21] #2464 closed, assigned to nobody

[2020-09-01 19:03] wthrowe commented on #2469
I like the idea.  I looked at a few alternatives, and the one that looks best to me is using GNU parallel directly, something like
[code]
(I haven't tested that at all.)

[2020-09-02 09:03] nilsvu commented on #2397
This issue was resolved yesterday by https://github.com/UIUC-PPL/charm/pull/3046. The macOS build works now when using charm's `master` branch.

[2020-09-03 15:42] nilsdeppe commented on #2469
I just discovered there's a script `run-clang-tidy` that does this and several other things for us. I'll look more into that and seeing if we can define a `.clang-tidy` file or something like that

[2020-09-06 20:59] wthrowe opened #2480 "Streaming nested STL containers doesn't work"
[code]

[code]

[2020-09-07 15:16] nilsdeppe commented on #2480
I think the fix is adding a `using ::operator<<;` inside those lambdas that do the streaming. Would you be willing to try that?

[2020-09-07 19:58] kidder opened #2483 "add_compile_definitions requires cmake 3.12+"
# Bug reports:

### Expected behavior:

When I rebase on develop I don't have any problems unless I'm told about a breaking change

### Current behavior:

I rebase on develop and I can't compile because `add_compile_definitions` was added in #2463 which requires cmake 3.12 when our installation instructions say we support cmake 3.8

[2020-09-07 20:01] nilsvu commented on #2483
How can we avoid this in the future, should we add a CI build with our minimum cmake version?

[2020-09-07 20:06] nilsdeppe commented on #2483
That could work... Shouldn't be too terrible to add

[2020-09-07 20:25] nilsvu opened #2485 "Use Spack in Docker container?"
Should we use Spack to install dependencies in the Docker container? This could simplify the Dockerfile quite a lot and it would give an example how to use Spack to install the dependencies. Any disadvantages?

[2020-09-07 21:09] fmahebert commented on #2485
The Dockerfile has the answer (or at least, part of the answer) to this question...

[2020-09-07 21:26] nilsvu commented on #2485
Right, Spack installing everything from source when the system has perfectly fine packages installed can be annoying. More recent versions of Spack improve on that quite a lot though, e.g. by [automatically finding external packages](https://spack.readthedocs.io/en/latest/build_settings.html#automatically-find-external-packages) (basically run `spack external find --not-buildable` to auto-detect a

[2020-09-07 22:52] wthrowe commented on #2480
I get "error: no member named 'operator<<' in the global namespace".

I've noticed that the code is sensitive to the order of includes.  In my original code snippet, including "Utilities/StlStreamDeclarations.hpp" before "Utilities/StdHelpers.hpp" makes everything work, but including it after does not help.

[2020-09-09 14:13] nilsvu commented on #1698
I implemented a serial GMRES in #2121. I'll add a serial CG once it's needed.

[2020-09-09 14:13] #1698 closed, assigned to nobody

[2020-09-15 10:19] nilsvu opened #2504 "ReduceCceWorldtube has no -h option, doesn't print help with no options"
# Bug reports:

When I run `ReduceCceWorldtube` or `ReduceCceWorldtube -h` I get a "terminating with uncaught exception" error. `ReduceCceWorldtube --help` prints a help string.

### Expected behavior:

Running `ReduceCceWorldtube` or `ReduceCceWorldtube -h` also prints a help string, or a useful hint for the user.

### Environment:

[code]

[2020-09-16 22:17] #2504 closed, assigned to moxcodes

[2020-09-17 11:00] nilsvu opened #2506 "Print message on reduction observations"
# Feature request:

It would be useful to have the ability to print a message when a reduction is complete, i.e. have some light logging functionality built into reduction observers. Since reductions are global synchronization points, they would be good places to give the user some logging output. This wouldn't replace other logging features that we are considering to build (see e.g. #880), but I

[2020-09-17 17:20] #1928 closed, assigned to nilsvu

[2020-09-18 17:27] nilsdeppe commented on #2506
How is this different from #2362? I don't understand what exactly you're looking for in terms of "logging output". Can you give a concrete example since in the abstract I don't see what problem is being solved by your request.

[2020-09-19 12:49] nilsvu commented on #2506
I think we have two separate use cases, one that is connected to observers and one that is not:

1. The use case that prompted this for me is that I would like to print the remaining residual of the parallel linear solvers in every iteration. It's being observed by the reduction observers, but not printed, so it seemed wrong to do _another_ reduction of the same quantity for printing it. Other use

[2020-09-24 09:57] nilsvu commented on #1971
I ran into another related issue: I managed to put >20 actions in the initialization phase, which hits the limit of DataBox variants that's hard-coded in Boost (https://www.boost.org/doc/libs/1_74_0/boost/mpl/limits/list.hpp). Arguably I shouldn't have that many initialization action to begin with (or perhaps I should, I'm not sure we have established best-practices for initialization actions yet)

[2020-09-26 22:28] wthrowe opened #2519 "Random failure in Unit.PointwiseFunctions.AnalyticSolutions.Elasticity.HalfSpaceMirror"
[code]

[2020-09-28 15:56] nilsvu commented on #1971
Notes from the code meeting today:
- To resolve the issue I mentioned above we propose to add a `SetupDataBox` action that collects simple and compute tags from all other actions in the phase to instantiate just one DataBox at the beginning of the initialization phase. Initialization actions can then just mutate the DataBox.
- We also propose to add opt-in optimizations as template parameters to `

[2020-09-28 16:38] wthrowe commented on #1971
Don't we already compute this from the actions?

[2020-09-28 21:49] wthrowe opened #2520 "Untested option construction"
(Probably incomplete) list of classes that define option structs but are never parsed, either in unit tests or tested executables:

* Limiters::Krivodonova
* Cce::Solutions::BouncingBlackHole
* Cce::Solutions::LinearizedBondiSachs
* Cce::Solutions::TeukolskyWave
* LinearSolver::Serial::Gmres

[2020-10-01 16:49] wthrowe commented on #2394
Fixed by #2463.

[2020-10-01 16:49] #2394 closed, assigned to nobody

[2020-10-05 10:00] nilsvu opened #2524 "SIGBUS in db::create_from on macOS"
# Bug reports:

I get a bus error when calling `db::create_from` with a large amount of simple tags, and running in parallel on 2 or more processors. Splitting the call in two resolves the issue. I haven't investigated this issue any further than this, but noting it down here in case anyone else runs into this problem.

Edit: This seems to be an issue only on macOS.

[2020-10-05 18:21] #2209 closed, assigned to nobody

[2020-10-05 18:24] #2425 closed, assigned to nilsvu

[2020-10-06 00:25] wthrowe opened #2526 "Add file check that doxygen conditionals are in doxygen comments"
Suggested in #2525.

These probably only occur in single-line comments.

[2020-10-08 15:35] nilsdeppe opened #2541 "Random failure in Unit.GrMhd.ValenciaDivClean.Characteristics"
# Bug reports:

[code]

[2020-10-09 01:05] wthrowe opened #2543 "Audit executable help strings"
EvolveBurgersStep (and any other Burgers executable) reads
[code]
I assume the other systems have similar problems.

This information does not appear to be anywhere else in the program help text.  It can be printed by the option parser, but not until it tries to parse the relevant section (e.g., AnalyticSolution) of an input file.  (A valid input file has to name the solution and flux.)

We've sta

[2020-10-12 09:16] nilsvu opened #2552 "Should we have DataBox tags in NumericalAlgorithms/?"
I wonder whether we should make it a rule that `NumericalAlgorithms/` should be independent of `DataBox`, and, by extension, should not define DataBox tags. The reasoning is that `DataBox` is a data structure designed for our parallel algorithms. We could even move `DataBox` to `Parallel/` or `ParallelAlgorithms/`.

Concerning tags: I found it useful to make the distinction between defining a type

[2020-10-12 17:58] wthrowe commented on #2552
Most of SpECTRE is designed to be used in parallel.  Why move DataBox in particular?

[2020-10-12 22:41] kidder commented on #2552
DataBox should remain in DataStructures as that is what it is, essentially a tagged tuple with some of its elements lazily computed on demand.  There is also nothing parallel about a DataBox.

I would suggest that actions and parallel components in `NumericalAlgorithms` be moved to `ParallelAlgorithms` and this would allow most tags to be moved as well.  I am not convinced that `NumericalAlgorithm

[2020-10-19 17:50] nilsvu commented on #2468
Here's another issue with Boost 1.73.0+:

In `SetupCxxFlags.cmake` we define the `BOOST_MULTI_ARRAY_TYPES_RG071801_HPP` macro, but it changed to `BOOST_MULTI_ARRAY_TYPES_HPP ` in Boost v 1.73.0: https://www.boost.org/doc/libs/1_73_0/boost/multi_array/types.hpp

[2020-10-20 12:40] nilsvu commented on #2363
#2436 resolved this. Thanks, @nilsdeppe !

[2020-10-20 12:40] #2363 closed, assigned to nilsdeppe

[2020-10-20 12:45] nilsvu commented on #1613
This should be fixed by #2463. @moxcodes can you confirm?

[2020-10-21 18:04] nilsdeppe commented on #2552
I echo what @wthrowe and @kidder said. `DataBox` is a data structure that has no parallelization inside of it, hence it is clearly _not_ parallel and should not be in anything named `Parallel`. I think moving `DataBox` into `ParallelAlgorithm` would be a very disastrous move for code organization and would lead to many unneeded dependencies. I vote a very, very strong "definitely not" on this.

I

[2020-10-21 18:06] nilsdeppe commented on #2543
I agree, we shouldn't list the solution in the help text for the executable.

With the changes I'm making to boundary corrections we will be able to select the correction at runtime, which means it also shouldn't be in the help text of the executable at that point.

[2020-10-21 18:12] nilsdeppe commented on #2485
No, not for several years. I don't trust Spack to be sufficiently stable that this won't cause an enormous amount of work every time I try to update the container. Major headaches I've had are:
- specific Spack versions might not have the newest package version that we need
- using Spack develop means random things break all the time
- Spack does not release frequently enough and releases are only

[2020-10-21 18:21] nilsdeppe commented on #2506
1. I agree doing another reduction is silly. I don't really agree that you should print anything here at all. Just wait for the run to finish. My worry is that everyone will add something to be printed while debugging or take the approach "Oh, my code is more important than everyone else's and should definitely be printing." Then we get a huge flood of things to standard out and basically standard

[2020-10-21 18:24] nilsdeppe commented on #2480
Sorry for the delay... Yea, I can see why this would be include order dependent... I don't really have a great idea other than the super sketchy (and technically UB) of moving the `operator<<` for STL containers into the `std` namespace. I'll need to think more about it. Maybe we can convince ADL to delay lookup long enough that all includes have been parsed?

[2020-10-21 18:25] nilsdeppe commented on #2446
@moxcodes I think you wrote this file. Could you take a look to see what's happening?

[2020-10-21 18:26] nilsdeppe commented on #2422
what's the status on this? Complete? Won't fix? Delete unavailable systems?

[2020-10-21 18:27] moxcodes commented on #2446
Yep, that's no doubt my fault somehow. I'll have a look soon.

[2020-10-21 18:28] nilsdeppe commented on #2421
@nilsleiffischer that would be great! I would guess it's not much more work than renaming Travis to GitHub Actions?

@fmahebert yes probably at this point that would be safe. We would likely need to completely redo the whole file between Travis changes and build system changes on our end.

[2020-10-21 18:29] nilsdeppe commented on #2418
Marking as bug since there is partial documentation. I agree, we need to document this.

[2020-10-21 20:12] wthrowe commented on #2480
It seems like this can mostly be worked around using `MakeString` (and probably `get_output`).  Catch provides a way to override its "{?}" output using a `CATCH_CONFIG_FALLBACK_STRINGIFIER`, but I haven't found a way to make it work yet.

[2020-10-21 20:44] nilsdeppe commented on #2480
That sounds like a much better approach :) It's nice that catch has a stringifier (as long is it works :P )

[2020-10-21 20:53] fmahebert commented on #2422
I've updated the checklist. Todo still
- update minerva (I don't know who's responsible)
- update some of the ocean environments, ping @geoffrey4444

[2020-10-22 21:24] nilsvu commented on #2422
I'll update Minerva

[2020-10-22 22:22] #2446 closed, assigned to moxcodes

[2020-10-24 04:12] nilsdeppe opened #2566 "Unit.PointwiseFunctions.AnalyticSolutions.Elasticity.HalfSpaceMirror times out often"
# Bug reports:

This test times out a lot for me. I don't know why testing an analytic solution would be this expensive... Even Kerr-Schild doesn't have this problem.

[2020-10-25 19:49] nilsdeppe opened #2567 "Link code to DG documentation"
# Bug reports:

During the DG rewrite PRs it's come up a few times that it would be great to be able to link to a single document that outlines how we do DG. This issue will gather a list of classes and functions that should be connected to the documentation once it is written.

- `evolution::dg::Actions::ComputeTimeDerivative`
- `evolution::OptionTags::BoundaryCorrection`
- Document the interface

[2020-10-27 17:10] moxcodes opened #2570 "Consider protocol use more widely"
# Feature request:

There are a number of places the new protocols (which are effectively utilities for checking type-traits as a generalization of abstract base class features) could be used to better document and verify interface choices. However, in the past (see issue #2214), earlier versions of the protocols have had the effect of actually making the compile-time interface more difficult to d

[2020-10-28 16:20] nilsdeppe commented on #2566
Here's of it showing up in CI: https://github.com/sxs-collaboration/spectre/runs/1318587809?check_suite_focus=true

[2020-10-28 23:22] nilsvu commented on #2566
Thanks for pointing to the CI run. I'll take a look at what can be done to make the test faster. I think the slow part is the test that the solution numerically solves the system, and does so with exponential scaling. The reason this is slow is that the solution must compute numerical integrals at every grid point. Perhaps we don't need to test the exponential scaling but just check the solution f

[2020-10-29 23:38] geoffrey4444 opened #2575 "AH finder fails on multiple nodes"
# Bug reports:

### Expected behavior:

EvolveGhKerrSchild runs ok on more than 1 node

### Current behavior:

Works ok on one node. On multiple nodes, this error shows up:

############ ERROR ############
Node: 0 Proc: 11
Line: 480 of /home/marlomorales/spectre/src/IO/Observer/ReductionActions.hpp
Function: auto observers::ThreadedActions::WriteReductionData::apply(db::DataBox<list<ExpectedContri

[2020-11-03 20:52] markscheel commented on #2575
Does this fail on current develop?  It's not clear to me what fork or branch I need to reproduce this (the given hash doesn't exist in my repo and is presumably on a non-develop branch or someone else's fork).

[2020-11-10 15:25] geoffrey4444 commented on #2422
I will make a PR next chance I get that switches to charm 6.10.2 on ocean

[2020-11-12 21:41] nilsdeppe opened #2592 "Add Proxy for (Mutable)GlobalCache to action testing"
# Feature request

We have proxies for all the other types of chares. It would be good to add proxy support to eliminate some of the hacks added for getting a MutableGlobalCache to work.

[2020-11-18 23:33] moxcodes commented on #2592
Another related point that was discussed (I think sufficiently closely related to group it on this same issue):
It would be nice, while we have the pointer to the mutable global cache to isolate the functionality that uses that pointer to the tests.
A suggestion for how to do this is to:
- make a virtual function that sets the mutable cache pointer, and have the definition in `src/` just directly

[2020-11-19 02:54] fmahebert commented on #1486
Files that failed git hooks (too large, or lines too long) have been addressed in various build-system cleanup PRs. But after PR #2599 removes the need to build from a git repo, that won't even matter!

[2020-11-24 21:48] markscheel commented on #2592
Also, related: we need a proxy for `CkCallback` in `ActionTesting`, because it is currently not possible to use `ActionTesting` on any Action that uses `mutable_cache_item_is_ready` and calls the `CkCallback`.  One idea for how to do this:

 - Change the interface to `template<typename Tag, typename Function> mutable_cache_item_is_ready` so that `Function` no longer returns a `std::optional<CkCall

[2020-11-24 23:04] #1486 closed, assigned to nobody

[2020-12-07 22:25] nilsdeppe opened #2631 "Python tests need to depend on bindings"
# Bug reports:

Some of the python tests, like `GenerateXdmf` depend on having python bindings in order to call `unit_test_path` in the informer module. This is used to avoid writing test files into the source directory.

As far as I can tell we have a few options:
1. promote the python bindings to being "first class citizens" in that they are always built if there is a python executable and the p

[2020-12-08 18:11] nilsvu commented on #2631
I think the way #1578 works around this, i.e. by using `spectre_add_python_bindings_test` instead of `spectre_add_python_test`, is a pretty good solution already - all it does is skip the test when no Pybindings are built. Unless we need to run those Python tests that depend on the `unit_test_path` but the code they're testing doesn't depend on the Pybindings, on systems where we don't build the P

[2020-12-08 18:17] nilsdeppe commented on #2631
1 isn't really a solution because, unless it either fixed itself or you fixed it, we can't run pybindings with shared libraries enabled. If that is resolved then I think we can effectively require the bindings. Disabling a test for `X` because of, what is essentially a bug in our build system (or code if you count the shared libs+bindings issue), isn't great. I've had a few times where the python

[2020-12-08 18:25] nilsvu commented on #2631
Passing the `unit_test_path` to the Python test wouldn't be too bad, it's basically this code: https://github.com/sxs-collaboration/spectre/pull/2609#discussion_r534376948

If the reason we can't fully use Pybindings is that they don't work with shared libs then we should probably get that working though. There's also other things that break on my machine when trying to build with shared libs, mos

[2020-12-08 18:33] keefemitman opened #2632 "Extra time steps in CCE Weyl scalars"
# Bug reports:

### Expected behavior:

CCE should output a volume file that contains the strain, news, and Weyl scalars with the same number of time steps

### Current behavior:

For certain input world tube files, some of the Weyl scalars output with additional time steps. Specifically, running CCE on
"/home/dante/my_data/weyl_scalars_catalog_archived/bbh_q1_antialigned_chi0_6/Lev3/BondiCceR0067

[2020-12-08 18:47] nilsdeppe commented on #2631
Oh okay, yea that would work. Requires adding a bit of code to each non-bindings test, but not that bad.

I think it would be good to make shared libs fully functional. Building with shared libs also makes interacting with certain profiles a _lot_ easier. With static libs the profilers actually need to be handled in our build systems, while with shared libs we can just do `profiler ./bin/Executabl

[2020-12-08 18:57] nilsvu commented on #2631
Ok, I think the main thing we'll need to do before shared libs can work reliably is to link Charm as a standard target in cmake, at least that's where the issues on my machine came in. Do you have an idea how to do that? I remember you mentioned we may be able to remove some of the linker wrappers with the new version of Charm? I think that would make things a lot more robust, also when we try to

[2020-12-08 19:39] nilsdeppe commented on #2631
Yep, `charmc -print-building-blocks` prints out all the flags. We then need to parse them out (shouldn't be difficult) and set the appropriate flags.

[2020-12-09 22:18] markscheel opened #2639 "Rename AlgorithmImpl -> DistributedObject"
# Feature request:

ActionTesting has something called MockDistributedObject that mocks AlgorithmImpl.  The names should be made to agree, so that a class `MockBla` mocks a class called `Bla`.

Not doing this rename now because of conflicts with ongoing PRs.

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

[2020-12-09 22:32] nilsdeppe commented on #2566
Ping on this. We have had it happen yet again (and it does so every time I run tests on my machine...) https://github.com/sxs-collaboration/spectre/pull/2616/checks?check_run_id=1521719620

[2020-12-10 16:14] nilsvu commented on #442
@nilsdeppe @wthrowe @kidder any objections to requiring CMake 3.12? It would make finding Python a lot more robust because it introduces [`FindPython`](https://cmake.org/cmake/help/v3.12/module/FindPython.html). Even better would be CMake 3.15 because it adds NumPy finding to `FindPython`. Thoughts?

[2020-12-10 16:25] nilsdeppe commented on #442
The heuristic that @kidder and I came up with is that for system-supplied (i.e. not header-only or libs we have to compile anyway) that we would bump versions ~3 years after they were released. Having said that, it seems like CMake has been updated on all the systems we use (and I hope newer systems don't use a CMake 2 years old...) So I would be fine bumping

[2020-12-10 19:16] wthrowe commented on #442
I'm fine with a bump if all the clusters we currently use support it.

[2020-12-11 16:30] #2566 closed, assigned to nilsvu

[2020-12-11 20:25] wthrowe opened #2644 "develop does not compile with Boost 1.72"
Presumably broken by #2636.

[code]

Examining the compiler invocation, the flag `-DBOOST_MULTI_ARRAY_TYPES_HPP` is being passed, which is the value for Boost 1.73.

From CMake output:
[code]

LibraryVersions.txt
[code]

[2020-12-11 20:26] wthrowe opened #2645 "LibraryVersions.txt does not contain information about library versions"
It only contains versions for cmake, python, and the compilers; SpECTRE versioning; some system information; and compiler flags.

[code]

[2020-12-11 20:26] wthrowe opened #2646 "LibraryVersions.txt contains the wrong hash"
[code]
That is (a) not a hash and (b) not a description of the commit I am on (with a clean run of cmake):
[code]

[2020-12-11 20:38] fmahebert commented on #2645
I think this is because `cmake/SetupVersionFile.cmake`, which is called at the end of our top-level `CMakeLists.txt`, does a write instead of an append. So all the library versions that were written in get overwritten.

[2020-12-11 20:46] nilsvu commented on #2644
Hm curious, it compiles fine with Boost 1.72 on my machine

[2020-12-11 20:49] nilsvu commented on #2644
Also, why doesn't `LibraryVersions.txt` contain a line with `Boost Version:`? That seems like another bug.

[2020-12-11 20:49] nilsvu commented on #2644
Ok you also found that #2645 😅

[2020-12-11 21:01] nilsvu commented on #2644
@wthrowe could you try https://github.com/sxs-collaboration/spectre/pull/2649?

[2020-12-11 21:05] fmahebert commented on #2645
I can easily put in a PR right now that changes the write to an append, and then there will be ~15 lines of library versions at the top of the file.

But is this the correct long-term solution? With this fix, `LibraryVersions.txt` would have ~15 lines of library versions and ~25 lines of other compiler-related information. Seems either this should be split, or the name should better reflect the co

[2020-12-11 21:11] wthrowe opened #2650 "Option suggestions for vectors are printed in parens"
YAML sequences use square brackets.

[2020-12-11 21:50] wthrowe commented on #2644
That fixes it.

[2020-12-12 03:16] #2644 closed, assigned to nobody

[2020-12-14 15:12] nilsvu opened #2652 "Validate extents when creating a Mesh"
# Feature request:

`Mesh` currently accepts any `extents`, i.e. number of points per dimension. However, each combination of spectral basis and quadrature has a minimum and maximum number of grid points. For example, any mesh with "GaussLobatto" quadrature must have at least two points (on the faces of the element). We should check this requirement when the mesh ist constructed, in particular whe

[2020-12-14 18:51] moxcodes commented on #2639
@markscheel Now that #2616 has been merged, this rename won't cause as many conflicts (but now will also probably need to be applied to the names in `src/Parallel/Algorithms` to be consistent)

[2020-12-14 18:51] markscheel opened #2653 "CoordinateMap::inverse should return std::optional, not boost::optional."
We have been switching to std::optional recently.
Fixing this issue should be easy but affects all CoordinateMaps and everything that uses the inverse function of CoordinateMap, so it should be done in one PR by itself to avoid conflicts.

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

[2020-12-14 20:34] wthrowe opened #2654 "Help text for Options::Auto<T> doesn't include T"
It shows something like
[code]
without indicating what type can be passed instead of "Auto" (or if the special string is "None").

The text displayed is governed by the `yaml_type` struct in OptionsDetails.hpp, which is overloaded for some standard library types but otherwise just uses `pretty_type::short_name`.  Some way of overriding the name for user-defined types will need to be added.

It mig

[2020-12-14 21:03] fmahebert opened #2655 "Suggested values output combines with other outputs in misleading ways"
# Bug reports:

### Expected behavior:

Spectre's output to terminal is easy to understand

### Current behavior:

Running the `EvolveGhKerrSchild` executable with the `KerrSchild.yaml` input file produces misleading output. It looks as if the "AhA" diagnostics are a suggested-value problem, but the two are independent.

[code]

[2020-12-14 21:44] wthrowe commented on #2655
What do you think would be a better output?

The option parser could print some sort of end message out in its destructor.  (There's no concept of "done parsing" other than that.)

There might also be problems with the horizon finder output not being clear enough, but this particular problem seems more the fault of the option parser.

[2020-12-14 22:06] nilsvu commented on #2655
How about just printing `\n---\n` after option-parsing is done? As an alternative to the destructor you could print a section-header like `Option parsing\n--------------` in `Main` before option-parsing begins and then `\n---\n` once it's done (or variations of these strings).

[2020-12-14 22:11] moxcodes commented on #2655
Another note for this is that it might be nice to only print the `The following options differ from their suggested values:` when there are any that differ from suggested values (currently, it prints regardless I think)

[2020-12-14 23:15] wthrowe commented on #2655
I like the idea of handling it in Main.  Then we don't have to worry about potential interactions of parse errors with stack unwinding.

I haven't been able to come up with a way to do this, unfortunately.

[2020-12-14 23:28] fmahebert commented on #2655
I worry that a `----` string isn't very clear. Adding a copy before the "suggested values" message, to me, just makes it confusing about whether you're "closing" the "scope" from the first `----` or from the preceding text:
[code]

I would favor a blank line, then a message like "Option parsing completed" or "Entering SpECTRE phases" or...

(But I don't love my suggestion either. Too bad it's diff

[2020-12-17 01:46] nilsdeppe commented on #2631
#2669 enables shared libs support. Once that's in, @nilsleiffischer would you mind adding the capability for python tests to get the `unit_test_path` and the build directory path without needing bindings?

[2020-12-17 22:49] nilsdeppe opened #2676 "Jacobian and Inverse Jacobian Indices are reversed"
# Bug reports:

We define the Jacobian is:
[code]
and we put derivative indices at the front of the tensor. That is, the Jacobian should have the type:
[code]
but this is reversed compared to how we define the Jacobian in the code. That is, the type in the code is:
[code]
The inverse Jacobian has the same issue.

Unfortunately, in order to correct this inconsistency we need to reverse the order of

[2020-12-17 22:56] moxcodes commented on #2676
Not that I disagree that this is confusing, but isn't it a matter of convention as to whether it is written $\partial_{\hat i} x^i$ or $x^i_{,\hat i}$?
Mostly, I'm just advocating that we make sure that our dox agrees with the implicit notation in the code when this is sorted out.

[2020-12-17 23:05] nilsdeppe commented on #2676
We chose to write derivatives as `partial` not `comma` notation many years ago and this is how all the derivative functions, etc. work. I don't think we should use comma notation _only_ for the Jacobians and partial notation for everything. As is, I cannot compute the partial derivative of the coordinates and get back the Jacobian as defined by the map because there is a type mismatch.

I'm really

[2020-12-17 23:13] moxcodes commented on #2676
Ah, I see - I initially failed to understand the disconnect to the partial derivative functions. Thanks for clarifying

[2020-12-17 23:19] #2655 closed, assigned to nobody

[2020-12-17 23:23] nilsdeppe commented on #2676
Ah okay. You're welcome! :)

[2020-12-18 00:44] wthrowe commented on #2676
I thought the choice was so that the Jacobian had the canonical index positions for a matrix.  I've always seen up-down (or the fully verbose `\frac{\partial x^a}{\partial x'^b}`).  The order indices occur in the symbol doesn't have to match the order they occur in the definition.

[2020-12-18 01:02] nilsdeppe commented on #2676
Yea, that's basically what Larry said, but doesn't really help with that we can't take derivatives of the coordinates to compute Jacobians (or not without a special partial derivative function just for Jacobians) and that we are treating Jacobians different from all other partial derivatives in the code. I'm not entirely sure what you are suggesting, though. Sorry.

[2020-12-18 01:33] wthrowe commented on #2676
I wasn't really suggesting anything.  You didn't give an obvious motivation in the first post beyond that you liked the notation better, so I was pushing back against making a very intrusive change based on that.  Now that I understand why you want to make the change I am fine with it.

[2020-12-18 01:35] nilsdeppe commented on #2676
Ah okay, let me edit my first comment to try to make that clearer so people in the future don't need to read the entire discussion :) Thanks!

[2020-12-18 02:13] nilsvu opened #2677 "Charmc is not actually invoked"
# Bug reports:

In our build system we claim that the linker is replaced by Charm's `charmc` compiler:

https://github.com/sxs-collaboration/spectre/blob/e6d5d2838e5a51687aaffff07ba794cb3910af80/cmake/SetupCharm.cmake#L25

However, this is not the case. The linker is replaced by `WrapLibraryLinker.sh` in `SpectreAddLibraries.cmake`. This leads to issues with linking charm's shared libs on macOS (n

[2020-12-18 02:16] nilsdeppe commented on #2677
Ah interesting, we only needed charmc for the executable link. Ideally I think we get rid of `charmc` and just link everything directly. I think you and I discussed this in another issue. `charmc` does a whole bunch of weird things, especially when you try to pass escaped arguments through it. We never  really wanted to use it for linking but had to because there was no way of getting the link fla

[2020-12-18 02:28] wthrowe opened #2678 "Remove or update charm 6.8 containers"
* containers/Dockerfile.buildenv1804 installs Charm 6.8
* .travis/MacOsBuildDependencies.sh takes the version as an argument, but applies a patch from support/Charm which only has 6.7 and 6.8.  (These patches should also go.)

[2020-12-18 11:21] nilsvu commented on #442
Do you think we can bump to CMake 3.15 right away? It was released Jul 2019, which is not super long ago, but it looks like the systems we use support it, except for Ocean. @geoffrey4444 just so I understand the situation, is the CMake version on Ocean quite rigid or reasonably easy to upgrade?

[2020-12-18 11:23] nilsvu opened #2679 "Test our minimum CMake version on CI"
We claim that we support CMake 3.12, but don't test it. I'm not even sure it works, since any PR may have introduced some CMake function that is not yet supported by CMake 3.12. Should we install it in the container to test on CI?

[2020-12-18 17:05] #2448 closed, assigned to kidder

[2020-12-18 19:43] #1961 closed, assigned to nobody

[2020-12-18 21:08] nilsdeppe opened #2681 "NodeLock test fails with netlrts in non-smp"
# Bug reports:

[code]

I haven't tried looking into the underlying problem. This is a non-smp build:
[code]
Everything works if I build in SMP mode so we should probably figure out what's happening and how to avoid it.

While we are currently planning on only using SMP mode, we probably don't want to force ourselves into that corner if we don't have to.

I'm not sure if this gets fixed with @kidd

[2020-12-18 21:44] moxcodes commented on #2681
I'd anticipate that this is somewhat unrelated to the problem that @kidder identified -- after all, the test didn't identify the move semantics problem.

More to the point, independent of the wrapper,
[code]
fails for a netlrts build:
[code]

Do you know what precisely the netlrts build is intended to do? I wasn't able to come to a clear understanding from the charm documentation.

[2020-12-18 21:54] nilsdeppe commented on #2681
My understanding is that it's a low-level build that doesn't rely on MPI, CrayGNU, or other messaging layers and basically uses the underlying network directly. So in general it's only of interest if no other layers are available. This may be a Charm++ bug, I'm not sure

[2020-12-18 23:34] moxcodes commented on #2681
I've filed a charm issue for this behavior : https://github.com/UIUC-PPL/charm/issues/3212

[2020-12-21 14:06] nilsvu opened #2695 "Plans for the elliptic executables"
This issue is to make sure my plans for the elliptic executables align with what others have in mind, and to track progress. I'm planning to make the following elliptic executables available:

Notes:
- "Background" refers to the variable-independent parts of the elliptic equations, e.g. fixed-source terms like `f(x)` in `-Laplace(u)=f(x)`, a background geometry like the conformal metric in XCTS, t

[2020-12-21 17:43] nilsdeppe opened #2696 "Overload of apply_matrices that allows passing buffer would be helpful"
# Feature request:

In some cases when taking derivatives (weak divergence, logical partial derivatives for Jacobians) we already have a buffer available and so don't use `apply_matrices` to avoid the memory allocation. If `apply_matrices` allowed a way of passing in a buffer then we could consolidate the code.

[2020-12-21 17:47] wthrowe opened #2697 "Fix documentation of abort"
The information about SPECTRE_TRAP_ON_ERROR needs to be removed.  That code is in flux in #2691, so I don't want to touch it and cause conflicts.

[2020-12-21 18:09] #2646 closed, assigned to nobody

[2020-12-22 04:16] knelli2 opened #2703 "Clang warning about unused arguments during compilation"
# Bug reports:

### Expected behavior:

Compiles without warnings.

### Current behavior:

When linking almost all the CXX executables, this warning gets printed 3 times:
`clang: warning: argument unused during compilation: '-fuse-ld=gold' [-Wunused-command-line-argument]`

It still compiles fine, but this warning just keeps showing up. Not sure if that's expected or not.

### Environment:

Make V

[2020-12-22 13:51] nilsvu commented on #2695
Discussed at 2020-12-21 meeting. A few notes:

- Try to keep number of executable small. Separate executables are necessary for algorithmic changes, e.g. adding apparent-horizon finds.
- Important that we can experiment with different boundary conditions etc without too much hassle.
- Make choice between analytic solution or analytic data at runtime. It's OK if not all combinations of analytic sol

[2020-12-22 23:01] nilsvu commented on #2703
Thanks for reporting @knelli2. This warning also appears on our clang builds on CI. @kidder you wrote `CheckCxxLinkerFlags.cmake`, should we perhaps add a `-Werror` to `try_compile` in that file, or something similar?

[2020-12-22 23:07] kidder commented on #2703
only if you know how to avoid the warning; neither @nilsdeppe (at least the last time we discussed it) nor I have figured out how to avoid it...

[2020-12-22 23:11] nilsvu commented on #2703
Oh so does this mean the flag is actually used by clang for linking, just not for compiling? If it's not used for linking either we shouldn't add the flag at all, so we should make the `try_compile` fail.

[2020-12-23 00:57] nilsdeppe opened #2705 "Can't find pybind11"
# Bug reports:

I have pybind11 installed in `/usr/local/include/pybind11` and now it can't be found.
[code]
This is a regression in #2672 as far as I can tell. We can't rely on any CMake modules being provided. This will be a complete disaster on supercomputers. All we should need is the include directory (this is the whole benefit of header-only libs)

[2020-12-23 06:16] nilsdeppe commented on #2705
@nilsleiffischer and I discussed this in direct messages. The conclusion was that installing via pip and a virtual env should work fine on HPC systems since we can then create a module that points directly to the installed pybind11 (no need to lead a virtual env since I've had trouble with doing that when submitting batch jobs). This is easier than dealing with copying files manually and should wo

[2020-12-23 11:14] nilsvu commented on #442
@nilsdeppe Could you delete the systems we surely won't use from the table?

[2020-12-23 13:42] nilsvu commented on #2705
Should be even easier with #2707. This works on frontera:

[code]

[2020-12-23 18:59] nilsvu opened #2710 "TensorData in DataStructures cyclicly depends on Spectral"
Spectral depends on DataStructures, and DataStructures should _not_ depend on Spectral. However, TensorData.hpp includes Spectral for Basis and Quadrature. TensorData.hpp should probably move to IO.

[2020-12-23 21:16] nilsdeppe commented on #442
I think currently we need to be able to support them all. Comet and Bridges are aging, but they are still in use and so we shouldn't retire them just yet, even if it's unlikely we actually do end up using them. We do have computer time on these systems.

[2020-12-28 09:43] #2705 closed, assigned to nilsvu

[2020-12-31 21:00] nilsdeppe opened #2717 "Test_ComplexDataVectorBinaryOperations.cpp takes 10 minutes to build"
# Bug reports:

I'm using GCC-10 in release mode with debug symbols on Ubuntu 20.10:
[code]
and `LibraryVersions.txt`:
[code]
I'm curious if this can be reproduced on other systems. I would say this is an unacceptably long build time for a single file. I don't think it takes this long with debug symbols off (I haven't tried, but it built in CI, which is a good sign). This is almost the exact same

[2020-12-31 23:13] moxcodes commented on #2717
On my machine, I got about 12 minutes to build all of `Test_DataStructures` (on a bare build directory and after clearing `ccache`). Putting `Test_ComplexDataVector` into the `RunSingleTest/CMakeLists.txt`, my overall build time from a bare build directory and after clearing `ccache` is about 55 seconds. (I used `-j12` for the number of concurrent threads my machine supports -- using only 1 core,

[2020-12-31 23:28] moxcodes commented on #2717
oops, sorry -- I totally misread which test you were saying is slow to build. Making `Test_ComplexDataVectorBinaryOperations.cpp` the single test that's built, I instead end up with about 9:40 build time, so consistent with what you're seeing, and about half of that was spent in the assembler phase, which seemed a bit unusual -- maybe an indication of the explosion of function definitions.

I'll m

[2021-01-01 21:28] nilsdeppe commented on #2703
It's used by both GCC and clang to specify which linker to use. It's not used by the linker, but it's used to tell GCC/clang which linker to use. This might be some mixup with the linker scripts also building the `InfoAtLink` files. I never figured out what was happening.

[2021-01-01 21:35] nilsdeppe opened #2718 "Some CCE tests segfault with GCC-10 Release builds"
# Bug reports:

The following tests segfault:
- Unit.Evolution.Systems.Cce.Equations
- Unit.Evolution.Systems.Cce.InitializeJ
- Unit.Evolution.Systems.Cce.NewmanPenrose

I fixed the BulgedCube code in #2706 by changing some intermediate results in the expression templates. My guess is that this is actually a bug in the GCC-10 optimizer (:cry:) but it could be some weird interaction between Blaze a

[2021-01-01 22:24] nilsdeppe opened #2719 "Git errors when running CMake"
# Bug reports:

I get the following error:
[code]
I haven't tried to track down the exact circumstances, but this is on a branch with one extra commit on top of develop. This is a new development, and if I remember correctly there were some changes to the git information recently by @nilsleiffischer which I assume are the cause of this.

My environment is essentially that of the container (I'm usi

[2021-01-02 02:02] nilsvu commented on #2719
- I assume this occurs when running cmake in a repo that hasn't fetched tags, e.g. when only cloning a particular branch? Could you confirm or give details when this issue occurs, or how to reproduce it? Recent CI runs pass on develop, on PRs and on my fork.
- We should probably just add `--always` to the `git describe` in the build system so it falls back to the commit hash, as well as `--first-p

[2021-01-04 21:23] nilsvu opened #2727 "Support "light" actions that only take a DataBox?"
# Feature request:

Should we support "light" actions that take only a DataBox in their `apply` function? Many actions that we're writing these days get compile-time information passed in as template parameters and act only on the DataBox, so they don't retrieve anything from `Metavariables`, don't need the global cache (it's available through the DataBox), and don't need the other arguments eithe

[2021-01-04 21:43] moxcodes commented on #2718
This isn't fixed in the new version of Blaze... I don't have a clear enough handle on what's going on yet to file a Blaze issue (and the specific example from CCE is sufficiently complicated to be ill-suited as an example of the bug).
I've found that at least in the first case I'm looking at, either:
- not using the `SpinWeighted` wrapper for the expression template, or
- omitting the intermediate

[2021-01-04 22:21] #2719 closed, assigned to nilsvu

[2021-01-05 18:21] nilsdeppe commented on #2046
Is this now fixed with @wthrowe's awesome little demangler?

[2021-01-05 18:27] nilsdeppe commented on #1802
Only code coverage remains

[2021-01-05 18:28] nilsdeppe commented on #1744
@geoffrey4444 is this fixed now?

[2021-01-05 18:30] nilsdeppe commented on #1508
@nilsleiffischer @kidder is this fixed?

[2021-01-05 18:31] nilsdeppe commented on #1104
I think `yapf` handles some of this, at least the formatting part. Do we want/need a linter? @nilsleiffischer ?

[2021-01-05 18:32] nilsdeppe commented on #1089
@kidder @markscheel since we don't use IWYU anymore, sholud we close this?

[2021-01-05 18:34] #886 closed, assigned to nobody

[2021-01-05 18:34] nilsdeppe commented on #576
@geoffrey4444 is this fixed?

[2021-01-05 18:43] nilsvu commented on #1104
Yes, I suggest we add [`pylint`](http://pylint.pycqa.org/en/latest/) to the container and Google's [`.pylintrc`](https://google.github.io/styleguide/pyguide.html#21-lint) to the repo.

[2021-01-05 19:17] nilsdeppe opened #2735 "Illustration of what create initial element does"
# Feature request:

The code was:
[code]
but we don't want `TODO` comments in the code (issues are better). This issue replaces the TODO comment.

[2021-01-05 19:53] kidder commented on #2735
why did you assign this to me?

[2021-01-05 20:00] nilsdeppe commented on #2735
I thought you had requested this, but I could be misremembering :shrug: Or maybe Will would be the right person? I'm not sure what this is requesting anyway

[2021-01-05 22:21] fmahebert commented on #2645
I am working on a PR with some CMake cleanups and I want to address this while I'm at it.

But, as per my previous comment, it is not clear that the simple fix is the correct one, because most of the stuff we are writing (well, trying to write) to LibraryVersions.txt isn't library versions.

Which of the following do we want?
1. LibraryVersions.txt contains just library versions
2. LibraryVersions

[2021-01-06 21:38] wthrowe commented on #694
Done in #2625

[2021-01-06 21:38] #694 closed, assigned to wthrowe, kidder

[2021-01-06 22:13] wthrowe commented on #2430
Second bullet is done in #2625.

Looking in more detail, I don't see a way to pass arguments through the hierarchy.  Parsing happens in the `create_from_yaml` struct, called from `YAML::convert<...>::decode(...)`.  The only run-time information passed to this function is the `YAML::Node` being parsed, so to propagate arguments they would somehow have to be encoded in the node itself, and in some w

[2021-01-07 18:52] markscheel commented on #1089
Do we have any plans to bring back IWYU?  I have no idea wither the new versions are any better than the version we had been using, but it seems that IWYU is still being updated.

[2021-01-07 18:56] fmahebert commented on #1089
I recently played around a little with IWYU for clang-10, and it was hardly any better than the IWYU for clang-5 that we were previously using. As in, still lots of false recommendations, esp associated with forward decls and template-heavy types.

[2021-01-08 01:06] moxcodes commented on #998
We can probably close this yea?

[2021-01-08 01:07] nilsdeppe commented on #998
I agree :)

[2021-01-08 01:07] #998 closed, assigned to nilsdeppe

[2021-01-08 01:11] moxcodes opened #2742 "Revisit NodeLock migration safety"
# Feature request:

In the bug fix pull request  #2699 there was quite a bit of discussion regarding the 'right way' to deal with the movement of locks. The conclusion was that the current implementation was sufficient to solve the previous bug (in which there were edge cases where the move would just break the lock behavior), but has the behavior that it is only a valid operation if the thread pe

[2021-01-08 01:26] #549 closed, assigned to nilsdeppe

[2021-01-08 08:33] nilsvu opened #2743 "Split Utilities into libs"
The top-level `Utilities` are getting unwieldy. We should split the directory into subdirectories, each with their own library to link with. Code that clearly extends a particular third-party lib could even be linked with that lib, e.g. headers in `Utilities/Blas` could be included in the `Blas` target.

[2021-01-08 08:36] nilsvu opened #2744 "Move Parallel/Printf.hpp to Utilities/System/Printf.hpp"
The `Parallel/Printf.hpp` utility should move to `Utilities/System/Printf.hpp` so it's available at a very low level and can be used by the error handling code. This move requires some cyclic dependencies in `Utilities` be sorted out first.

[2021-01-08 16:07] nilsdeppe opened #2746 "Random failure in Unit.PointwiseFunctions.GeneralRelativity.GhQuantities"
# Bug reports:

[code]

[2021-01-11 16:50] nilsvu opened #2754 "Test_AlgorithmParallel with load-balancing outputs migration errors"
The unit test `Unit.Parallel.AlgorithmParallelWithBalancing` passes, but outputs errors related to object migrations when running the testing executable like this (in the Docker container):

[code]

The error messages look like this:

[code]

Environment:
- clang-10 in the container
- occurs for both static and shared libs builds

[2021-01-11 16:51] nilsvu commented on #2754
labeling as `bug` for now, but might be expected behavior until we have implemented migration constructors throughout the code

[2021-01-12 04:56] nilsdeppe opened #2757 "All python executables are broken"
# Bug reports:

I can't pass arguments to any of them.

[code]
This is because the shell scripts don't forward any of the arguments to the python call:
[code]
are the current file contents on my machine. I cannot ever pass in an argument to the python call...

[2021-01-12 10:05] nilsvu opened #2760 "Don't disrupt PRs between releases"
When a PR is released, some of the unit tests fail on PRs that are not yet rebased, because of the metadata mismatch. That should be fixed.

[2021-01-12 20:29] #2757 closed, assigned to nilsvu

[2021-01-13 01:38] #2717 closed, assigned to moxcodes

[2021-01-13 03:51] #2718 closed, assigned to nilsdeppe, moxcodes

[2021-01-14 15:00] nilsvu commented on #615
We decided on a date-based versioning scheme, see #2606, discussions in #2598 and docs at https://spectre-code.org/versioning_and_releases.html.

[2021-01-14 15:00] #615 closed, assigned to nobody

[2021-01-14 23:55] nilsdeppe commented on #2051
I haven't encountered this in a while, so I think it's fixed

[2021-01-14 23:55] #2051 closed, assigned to fmahebert

[2021-01-14 23:57] nilsdeppe commented on #1713
@wthrowe has this been resolved for you?

[2021-01-15 01:28] wthrowe commented on #1713
I haven't seen this in a long time.

[2021-01-15 01:28] #1713 closed, assigned to geoffrey4444, prayush

[2021-01-15 02:22] fmahebert commented on #2194
PRs #2685 #2736 #2753 have replaced boost::optional with std::optional, so another item can be checked off here.

[2021-01-15 02:23] fmahebert commented on #2653
Done in PR #2685

[2021-01-15 02:23] #2653 closed, assigned to nobody

[2021-01-15 02:46] nilsdeppe commented on #2194
Yay! :D Thank you!

[2021-01-18 19:02] nilsdeppe opened #2779 "Post-evolution rewrite cleanups"
There are a lot of things that will need to be removed or cleaned up once the evolution code changes are complete. I'll use this issue to try and keep track of them all, but I'm sure I'll miss some.

### Domain/boundary conditions
A list of things to clean up in domain, domain creators, etc. once boundary conditions are fully supported in the code. Since they're currently treated optionally to avo

[2021-01-19 21:37] moxcodes opened #2780 "Add documentation for Input file tests"
# Feature request:

We currently don't have dev guide documentation for the input file checks, which are actually pretty important for verifying the functionality of new executables.

In #2609 @nilsdeppe suggested:

### Component:

- [ ] Code
- [x] Documentation
- [ ] Build system
- [ ] Continuous integration

[2021-01-20 17:49] Sizheng-Ma opened #2787 "Remove InitializeGauge from GaugeTransformBoundaryData.hpp"
# Bug reports:

### Expected behavior:

InitializeGauge is outdated and should be removed from GaugeTransformBoundaryData.hpp.

### Current behavior:

CCE quantities are initialized at src/Evolution/Systems/Cce/Initialize/. InitializeGauge is outdated and can lead to confusion.

### Environment:

# Feature request:

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous

[2021-01-22 16:45] #2760 closed, assigned to nilsvu

[2021-01-25 21:14] moxcodes opened #2796 "Build optimization ideas"
# Feature request:

After some investigation of some of the more costly parts of the build, these are some of the features that would likely give nontrivial build improvements:
- Move compute-tag graph logic to runtime
- Limit the extent of expanded subtags:
  Sometimes, depending on the compute tag connectivity, it may may improve the list of tags in the box to treat e.g. certain Variables types

[2021-01-29 14:04] nilsvu commented on #2779
I'm preparing a PR that makes the elliptic DG operator independent of these, so they can just be deleted.

[2021-02-02 23:38] nilsdeppe opened #2829 "Remove python bindings for domain creators"
# Bug reports:

There are several issues with the current bindings:
- they don't support `TimeDependence`, so until that's handled at the domain creator level (e.g. you can disable it for elliptic systems) I don't see how having a half-implement binding is good
- they won't support boundary conditions, so they'll be completely broken over the next ~month
- they force us to have argument orders in

[2021-02-03 00:42] nilsdeppe opened #2830 "Either use CMake 3.12 in some subset of CI to test, or remove from container"
# Bug reports:

Currently we waste time and space building and storing CMake 3.12 in the container because it doesn't get used at all during CI. It should either be used or removed.

[2021-02-04 21:41] #2754 closed, assigned to moxcodes

[2021-02-08 17:52] wthrowe opened #2852 "Warning in workflow_dispatch CI runs"
I don't know whether it matters, but our workflow_dispatch CI runs print the warning "Warning: Event Validation Error: The event type workflow_dispatch is not supported. Only push, pull_request events are supported at this time." in the "Post Restore ccache" phase.  Here's a current example, although I don't know how long these logs are kept for: https://github.com/sxs-collaboration/spectre/runs/1

[2021-02-08 21:23] moxcodes commented on #2681
Should we close this, given it's confirmed to be behavior caused by charm? Or is it still a feature request for us to work around that and have a consistent lock behavior in spite of the upstream issue? or just disable the test for that case?

[2021-02-08 22:40] nilsdeppe commented on #2681
Maybe mark it as "upstream" since I think this should get fixed in Charm++ itself, not by some workaround we add. I don't think identifying the type of Charm++ is very reliable, so I'm not sure how easy it will be to to disable the test in just one specific situation.

[2021-02-08 23:20] nilsvu commented on #2852
This will just need an upgrade to `actions/cache@v2`. The upgrade can be done in-place I think, by just bumping the version number.

[2021-02-08 23:36] nilsvu commented on #2852
done in https://github.com/sxs-collaboration/spectre/pull/2854. BTW it looks like we have 5GB of cache now :)

[2021-02-09 17:58] #2852 closed, assigned to nilsvu

[2021-02-10 12:11] nilsvu opened #2869 "Move serialization headers to separate lib"
# Feature request:

It would be good to move headers that are only needed to implement PUP functions out of `Parallel` into their own lib. Most data structures need to be serializable but don't need to depend on the entire `Parallel` infrastructure with distributed objects and such. For example, `Domain` only depends on `Parallel` through `CharmPupable.hpp` and `RegisterDerivedClassesWithCharm.hpp

[2021-02-10 17:19] nilsdeppe commented on #2869
Seems reasonable. Probably while at it would be good to split the `PupStl` headers, one for each type, to avoid the "oops I included the entire STL by accident" scenario

[2021-02-10 17:23] nilsdeppe opened #2871 "Add boundary conditions for different sides in Brick and Rectangle"
# Feature request:

The boundary conditions being applied are controlled through the input file, with the domain creator controlling which boundaries the boundary conditions are applied to. The `Rectangle` and `Brick` (and their `Rotated` counter parts) all assume a single boundary condition for all sides. It would be good to add to `Rectangle` and `Brick` an `Options::Alternatives` that allows sp

[2021-02-10 21:21] markscheel opened #2873 "CI fails after release."
# Bug reports:

### Expected behavior:

When my PR fails CI in a way that is not reproduced on my machine, it should be made clear how I should fix my PR.

### Current behavior:

PR #2815 was last rebased around Feb 3 or 4.  Squashed yesterday (Feb 9), and CI now fails:
https://github.com/sxs-collaboration/spectre/actions/runs/552845798

The key error message is
[code]

I was told I just need to r

[2021-02-10 22:31] nilsvu commented on #2873
Thanks for reporting! I tracked this down and fixed in #2874

[2021-02-11 22:56] kidder opened #2879 "Random failure in Unit.Domain.CoordinateMaps.CylindricalEndcap"
# Bug reports:

### Expected behavior:

Test doesn't fail

### Current behavior:

Test fails with
[code]

### Environment:

This failed on CI on my fork.  If the link doesn't work, let me know and I will add more details...

https://github.com/kidder/spectre/runs/1882348286?check_suite_focus=true

Add as an attachment `$SPECTRE_BUILD_DIR/LibraryVersions.txt` or
add its contents here.

[2021-02-12 15:10] markscheel commented on #2879
The correct solution to this is PR #2587, for which this test needed to be extensively rewritten anyway, and in #2587 I spent much more effort making the test more robust.

However, if this bug is causing problems with CI or problems for users, and needs to be fixed more quickly, I have just added a very small PR #2882 that fixes this problem at least on my machine.

[2021-02-12 17:59] #2873 closed, assigned to nilsvu

[2021-02-12 21:20] nilsdeppe commented on #2879
Another seed: `Seed is: 1338229533` (just to collect here). I'm fine getting in 2587 as the fix

[2021-02-14 13:35] nilsvu opened #2889 "Should we run input file tests with +auto-provision or +p2?"
We could run input file tests with `+auto-provision` or `+p2` so they run on multiple cores on CI, not to make them faster but to check that they don't obviously fail on multiple cores. What do you think?

[2021-02-15 19:32] kidder opened #2893 "CMake failure in SpectreSetupPythonPackage.cmake"
# Bug reports:

### Expected behavior:

I can use CMake version 3.13 since we only require version 3.12

### Current behavior:

[code]

`list (PREPEND ...)` was not added until CMake version 3.15

[2021-02-15 19:41] kidder commented on #2893
I think you can just use `list(INSERT <list> 0 <element>)`

[2021-02-17 17:41] #2893 closed, assigned to nilsvu

[2021-02-17 23:45] #2879 closed, assigned to markscheel

[2021-02-19 04:38] wthrowe opened #2905 "Test failure: Unit.Evolution.DG.Limiters.HwenoImpl.GaussQuadrature (not RNG)"
[code]
LibraryVersions.txt:
[code]

[2021-02-19 07:15] fmahebert commented on #2905
On my system (and presumably the testing systems) the error with Gauss points is just a bit smaller than the current threshold. I'll bump this tolerance.

[2021-02-19 21:04] nilsvu commented on #2524
@kidder and I traced this through the DataBox code. This is what we found:

- The bus error might be caused by a stack overflow. @kidder found that the stack size is smaller on extra threads (hence triggering the bus error when running on multiple threads) and could also trigger the bus error on a single thread by reducing its stack size.
- The offending lines seem to be this:

  https://github.co

[2021-02-23 09:24] nilsvu opened #2914 "Options::Auto with derived class pointer"
Not sure if this is a bug or a feature request: `Options::Auto<std::unique_ptr<Derived>>` doesn't currently auto-convert to `std::optional<std::unique_ptr<Base>>`, where `Derived : Base`. @wthrowe Do you think we could make that work? It could be useful for boundary conditions. I can provide more details if this wasn't enough.

[2021-02-23 17:38] nilsdeppe commented on #2889
I don't like this. SpEC does this sort of thing, and having some tests run on multiple cores and others on single cores makes it nearly impossible to run all tests in parallel without potentially completely overloading your system. It took quite a bit of work to have this not cause problems in CI for SpEC because all of a sudden you'd be running 30 threads instead of 15. Unless CTest has a way of

[2021-02-24 20:04] geoffrey4444 opened #2924 "Offset in EvenlySpaced triggers does not behave as it should"
# Bug reports:

### Expected behavior:

If in an input file I put

[code]

I would expect a trigger at 10, 12, 14, ....

### Current behavior:

Triggers at 0, 2, 4, ...

### Environment:

CMake Version: 3.18.5
SpECTRE Version: 2021.02.08
Git description: v2021.02.08-47-g783dd745f
Git branch: bbh_attempt_15
Git hash: 783dd745f8b9a7899466c56fca4fd35d16a31a1a
Hostname: ocean.fullerton.edu
Host system

[2021-02-25 21:46] wthrowe commented on #2924
That is the behavior I intended (the offset is a shift, not a starting value).  For evenly spaced times (as opposed to slabs), you could use `PastTime` to filter the results, but we don't have anything turning on at a particular slab, which is an oversight.  For now, with small offsets you can use
[code]

The input I would like to work would be something like
[code]
(Could also be `StartingAtSlab:

[2021-02-25 22:01] nilsdeppe opened #2928 "Should we check for tabs in input files?"
# Bug reports:

The following error is what we get when there is are tabs (and spaces) in the input file:
[code]
While the suggested problem is sometimes the issue, it might be easier for us to check for tabs in the input file and error if there are any so that the error message is clearer.

@wthrowe any thoughts on this?

[2021-02-25 22:12] wthrowe commented on #2914
I think the rules for choosing conversion operators are powerful enough to let this work.  I'll figure it out.

[2021-02-25 22:28] wthrowe commented on #2928
We should check for that.  I think we always store the data to be parsed in a string now, so it should be easy.

I don't know why we give that suggestion.  There are a ton of ways of producing YAML syntax errors, so I don't see why that very specific one is a good one to highlight.  (Also, why does it suggest changing your domain to be periodic?)

[2021-02-25 22:40] nilsdeppe commented on #2928
Okay, cool!

I think this is a _very_ old error message where basically that was the issue that I probably ran into. We should probably be printing the exception message, assuming it has one

[2021-03-01 17:35] wthrowe opened #2932 "Tagged reductions"
We have ObservationId and the surrounding infrastructure to prevent different observation reductions from interfering with one another.  It would be nice to extend this functionality to general reductions.

[2021-03-01 18:23] nilsvu opened #2934 "Rectangle domain creator / Affine coordinate map should output error instead of FPE for invalid input"
# Bug reports:

### Expected behavior:

These options should output a useful error message:

[code]

### Current behavior:

A floating point exception :(

[2021-03-02 03:29] kidder opened #2939 "Random Failure in Unit.PointwiseFunctions.AnalyticSolutions.Elasticity.HalfSpaceMirror"
# Bug reports:

### Expected behavior:

Test passes

### Current behavior:

[code]

### Environment:

See [CI failure](https://github.com/sxs-collaboration/spectre/runs/2008866930?check_suite_focus=true)

# Feature request:

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

### Detaile

[2021-03-02 22:22] #2914 closed, assigned to nobody

[2021-03-03 15:09] nilsvu opened #2950 "CheckWithRandomValues only sizes the result based on input arguments"
# Bug reports:

### Expected behavior:

The following test should pass:

[code]

[code]

The `check_with_random_values` function has the necessary information to size the result correctly. However, it doesn't pass the `used_for_size` argument on to `pypp::call`, so `pypp::call` tries to infer the result size from the input arguments. If they are all `double`, then the check fails:

### Current beh

[2021-03-03 20:20] geoffrey4444 commented on #1765
Here's another one:

[code]

[2021-03-03 21:02] osheamonn opened #2957 "Investigate using HDF5 SWMR mode to allow checking hdf5 files."
# Feature request:

It's come up that if one tries to read from the simulation .hdf5 files (e.g. to check the status of a run) while they are being written, the files can get corrupted and the run can die. From HDF5 1.10 onwards, there is an SWMR (Single Write Multiple Read) mode which is designed to solve this problem and could be worth implementing.

https://support.hdfgroup.org/HDF5/docNewFeatu

[2021-03-04 21:26] wthrowe commented on #2924
#2937 allows filtering by slab range, along the lines of the second block in my previous comment.  Is this a satisfactory resolution of this issue @geoffrey4444?

[2021-03-05 11:02] nilsvu opened #2963 "Allow duplicate option name across option groups"
# Bug reports:

### Expected behavior:

I can have the same option name in multiple groups, e.g.:

[code]

### Current behavior:

An assert triggers: `Duplicate option name: Radius`

Possibly this occurs only when constructing a class from options, not in "free" option tags, since I haven't tested that.

[2021-03-05 11:03] nilsvu commented on #2963
Putting this issue here as a reminder, I might try to fix it at some point, no need to prioritize

[2021-03-05 11:06] nilsvu commented on #2963
Nvm, this actually works as intended, closing.

[2021-03-05 11:06] #2963 closed, assigned to nobody

[2021-03-10 00:52] wthrowe opened #2978 "Comparison of vectorized types is broken"
This fails:
[code]
I have verified that the two DataVectors are actually different (so the comparison is the problem, not the construction).  A similar problem affects Variables.  The above passes with 1e-7, so possibly the comparisons are being performed at single precision.

I first noticed this on CI and can reproduce it locally, so it doesn't seem particularly tied to one setup.

[2021-03-10 01:03] moxcodes commented on #2978
yikes, that's no good... We currently do not define our own comparison operators for our vector types, we inherit from the blaze types. `Variables` similarly performs comparisons directly with the underlying `CustomVector`.
I went over and browsed blaze, and it turns out they have very sneakily defined the equivalence operator as an approximate equivalence:
https://bitbucket.org/blaze-lib/blaze/is

[2021-03-10 01:10] wthrowe commented on #2978
This is quite a quote (from your link):

Yes, your proposal sounds right.  Make sure it also works for `DataVector == expression template`.

[2021-03-10 20:23] wthrowe opened #2980 "Missing precision in catch output"
In #2638, I set the precision of catch output to force all digits to be displayed, but catch forces fixed-point output, so this does not work for values less than 1.

I don't have any ideas other than mostly reverting #2638 and going back to our own custom tools.

[2021-03-10 21:55] markscheel opened #2981 "Allow compile-time determination of whether maps are time-dependent"
# Feature request:

It would simplify some code if there were a constexpr way to determine whether a Domain has time-dependent maps.  Currently many ingredients for getting time-dependent maps to work (like the existence of `FunctionsOfTime` in the `GlobalCache`) are determined at compile time, and executables that don't need time-dependent maps (like the elliptic solver and many tests) shouldn't

[2021-03-15 20:48] nilsvu opened #2985 "Uncaught exceptions are hard to debug"
# Feature request:

We currently don't allow exceptions to propagate in most of the code by marking the majority of functions `noexcept`. This makes debugging uncaught exceptions difficult, so we recently discussed it in a call (https://github.com/sxs-collaboration/spectre-call-notes/issues/103). Here's my summary (please correct me and add more thoughts):

Advantages of marking functions `noexcep

[2021-03-15 21:07] wthrowe opened #2987 "Behavior of submission scripts is not standardized"
The submission scripts for different machines create different directory structures, have different defaults, and possibly other very-user-visible behavior.  They should be standardized to reduce confusion.

[2021-03-15 22:12] #2978 closed, assigned to moxcodes

[2021-03-16 22:12] nilsvu opened #2988 "2D and 3D wedge coordinate maps use different axis for radial direction"
The 2D wedge aligns the radial coordinate along the xi-direction, and the 3D wedge aligns it along the zeta-direction. This matters little in practice, but is an inconsistency that would be nice to resolve. It requires propagating the re-alignment through the domain code.

[2021-03-16 22:12] nilsvu commented on #2988
@gsb76 do you remember if there was a particular reason for this?

[2021-03-16 23:27] geoffrey4444 opened #2989 "Consider adding analytic inverse for SphericalCompression map"
When reviewing #2720, @nilsdeppe asked why we compute the inverse jacobian numerically instead of analytically. @geoffrey4444 wasn't sure whether you could compute the inverse jacobian analytically.

In the future, we should revisit this, particularly if the cost of the numerical inverse jacobian proves expensive after profiling.

[2021-03-16 23:30] geoffrey4444 commented on #2989
For completeness, here is the beginnings of an argument, originally in the comment of #2720, from @nilsdeppe

[2021-03-17 00:07] geoffrey4444 commented on #2989
@nilsdeppe I tired again to follow you, and I'm still confused. Maybe you can set me straight, or maybe talking in a hangout will be the easiest way forward?

I'm not sure how you got `dr/dx^j`, since `r = sqrt((xi^i - C^i)\delta_{ik}(xi^k-C^k))`, not `sqrt((x^i-C^i)\delta_{ik}(x^k-C^k))` as you wrote. I get

`dr / dx^j  = (d xi^k / dx^j) (r^l/r) \delta_{kl}`.

Going back and forth on the algebra

[2021-03-17 16:44] kidder opened #2994 "Random failure in Test_SphericalCompression"
# Bug reports:

### Expected behavior:

Test passes

### Current behavior:

see CI Failure at
https://github.com/sxs-collaboration/spectre/pull/2990/checks?check_run_id=2126577086
[code]

[2021-03-17 19:10] nilsdeppe commented on #2994
And also:
[code]

[2021-03-17 19:13] nilsdeppe commented on #2994
And another:
[code]

[2021-03-17 19:41] osheamonn opened #2995 "Consider allowing non-const DataBox in is_ready function"
# Feature request:

Currently the is_ready function is only detected and called if its signature has a `const DataBox&` as its first argument. It's reasonable for there to be more complex is_ready checks that might do some bookkeeping and want to mutate the databox. Right now if the first argument is a non-const DataBox, the algorithm impl calls the action as if there is no is_ready function.

Thi

[2021-03-18 11:47] prayush commented on #2994
Again (on #2528 ):

[code]

[2021-03-18 15:43] nilsdeppe commented on #2994
Should be fixed with #2996

[2021-03-18 15:43] #2994 closed, assigned to geoffrey4444

[2021-03-18 19:31] nilsdeppe commented on #1318
In CI I hit:
[code]

[2021-03-18 19:42] moxcodes commented on #1318
@nilsdeppe is that on the same line or a different one from the original bug report?

[2021-03-18 20:12] nilsdeppe commented on #1318
Ugh dang it... I think that info is lost because I restarted CI, sorry. If I encounter this again I'll provide more info :(

[2021-03-19 01:54] wthrowe commented on #2541
From CI (gcc-9 debug):
[code]

[2021-03-19 12:57] mar-celine commented on #2988
As separate maps the x->r and z->r coordinate choices seemed the most natural, but as combined maps the last(or first) coordinate being the radial coordinate will work just fine

[2021-03-20 00:53] nilsdeppe opened #3011 "Random failure in GhQuantities (covariant deriv of extrinsic curvature)"
# Bug reports:

This failed in CI:
https://github.com/sxs-collaboration/spectre/runs/2151735316?check_suite_focus=true

[code]

[2021-03-20 18:28] kidder opened #3014 "Random failure in Unit.PointwiseFunctions.GeneralRelativity.GhQuantities"
# Bug reports:

### Expected behavior:

Test passes robustly

### Current behavior:

Please fix the test so that `ctest --repeat-until-fail 10000 -R TEST_NAME` succeeds.
It looks like some tensor components have large values; I suggest making sure input random values are of at most order unity

[code]

### Environment:
From CI
https://github.com/sxs-collaboration/spectre/pull/3010/checks?check_run

[2021-03-21 03:56] nilsdeppe commented on #3011
Another one:
[code]

[2021-03-21 03:57] nilsdeppe commented on #3011
From #3014:

Please fix the test so that ctest --repeat-until-fail 10000 -R TEST_NAME succeeds.
It looks like some tensor components have large values; I suggest making sure input random values are of at most order unity

[code]

[2021-03-21 03:57] nilsdeppe commented on #3014
Duplicate of #3011

[2021-03-21 03:57] #3014 closed, assigned to prayush

[2021-03-21 15:45] nilsvu opened #3016 "Random failure in Unit.Evolution.Systems.Cce.TeukolskyWave"
The following random-value test failed in https://github.com/sxs-collaboration/spectre/pull/2907/checks?check_run_id=2158956379:

[code]

[2021-03-22 15:01] prayush commented on #3011
@nilsleiffischer : testing a fix to this right now.

[2021-03-22 16:47] nilsdeppe commented on #3011
Some more failures, note these happened _before_ #3018 was merged:
[code]

[code]

[code]

[2021-03-22 18:32] nilsvu opened #3019 "Observe single-valued quantities per element"
# Feature request:

It would be useful to observe quantities that are single-valued on each element. They can currently be observed as a `Scalar` and visualized through our volume data infrastructure, but it would be good to improve that. Examples are:

- Current wall time
- Node ID
- Some AMR error estimators
- TCI quantities

Once we can observe such quantities, we have to add support to `Genera

[2021-03-22 22:01] #3011 closed, assigned to prayush

[2021-03-23 01:14] fmahebert opened #3023 "CMake policy warnings with CMake 3.19"
# Bug reports:

With CMake `3.19.7`, I get a zillion warnings like:
[code]

See https://cmake.org/cmake/help/git-stage/policy/CMP0110.html

I'm happy to put in a short PR setting this policy to NEW if that is how we want to proceed.

[2021-03-23 09:53] nilsvu opened #3024 "Have domain creators name their blocks"
# Feature request:

I think we should have domain creators _name_ their blocks, just to have some human-readable way of referring to blocks. We can just have the domain creators return a `std::vector<std::string>` and put it in the global cache.

Use cases:
- Identify blocks in logging output
- More human-readable way of specifying a value per block in input files, e.g. for manual initial refineme

[2021-03-24 10:18] nilsvu opened #3028 "Random failure in Unit.Domain.CoordinateMaps.CylindricalEndcap"
# Bug reports:

The following random-value test failed in https://github.com/sxs-collaboration/spectre/runs/2180295684?check_suite_focus=true:

[code]

[2021-03-24 16:54] moxcodes opened #3030 "Consider improvements to phase-change input file interface"
In #2990, there was some discussion about the unappealing format that the phase change objects take in the input file. It would be desirable to have a more intuitive interface, however we don't want to sacrifice the key motivations of the current interface:
- clear grouping of phase decisions in a single location
- access to clearly see and edit the order of execution of phase-jumps

These can pro

[2021-03-24 18:46] markscheel commented on #3028
I am currently testing a fix with --repeat-until-fail 10000 and if that works I will submit a PR.

[2021-03-30 10:20] nilsvu opened #3050 "Should we parse only headers with Doxygen?"
We currently parse both headers and source files with Doxygen, but exclude a lot of template-related problematic code snippets in source files by wrapping them in `/// \cond`. Most (all?) of our documentation is in header files, so how about we exclude sources files from Doxygen altogether?

[2021-03-30 16:52] #3028 closed, assigned to markscheel

[2021-03-31 20:50] nilsdeppe commented on #3023
Fixed in #3027

[2021-03-31 20:50] #3023 closed, assigned to nobody

[2021-04-01 07:40] nilsvu opened #3060 "Random failure in Unit.PointwiseFunctions.GeneralRelativity.GhQuantities"
# Bug reports:

The following random-value test failed here https://github.com/sxs-collaboration/spectre/pull/3057/checks?check_run_id=2240041757:

[code]

[2021-04-01 07:48] nilsvu commented on #3060
@prayush this is currently failing O(10%) of CI tests. It's caused by the recently merged #2529. Could you take a look please?

[2021-04-01 15:49] nilsdeppe commented on #3060
Another failure:
[code]

[2021-04-02 00:10] #3060 closed, assigned to prayush

[2021-04-02 00:31] nilsdeppe commented on #3050
Yes, I thought we were ignoring cpp files already :(

[2021-04-06 22:09] nilsvu opened #3071 "Consider pre-computing intermediate quantities for linearized XCTS equations"
# Feature request:

Some intermediate quantities in the linearized XCTS equations can be pre-computed in every nonlinear iteration so every linear iteration is a bit cheaper. This could be done with compute items. If this optimization is worth the effort depends on the number of linear operator applications per nonlinear iteration.

This came up in the review of #2667: https://github.com/sxs-colla

[2021-04-07 23:44] #3050 closed, assigned to nobody

[2021-04-08 10:19] nilsvu opened #3078 "Consider composing more 1D maps for grid point distributions"
The `Wedge` coordinate-map currently handles radially distributing grid points linearly or logarithmically. In SpEC, such re-distributions are handled by composing 1D maps, e.g. [the `Exponential1D` map](https://github.com/sxs-collaboration/spec/blob/master/Dust/Domain/CoordMap/Exponential1D.hpp) is applied to map `[-1,1] -> [r_inner, r_outer]` and the result is used e.g. to map to spherical coord

[2021-04-09 17:12] #2541 closed, assigned to kidder

[2021-04-09 17:12] #1765 closed, assigned to kidder

[2021-04-09 17:50] wthrowe opened #3085 "False negative on EveryLB support test"
[code]
But if I remove the CMake check the code compiles and runs.

Probably the issue is that it only checks for a static library.

[2021-04-09 17:57] nilsvu opened #3086 "Derive coordinate maps from base class"
Coordinate maps like `Affine` or `Equiangular` don't currently have a base class. This makes it somewhat complicated to write code that decides which map to use based on runtime information, e.g. parsed from input-file options. For example, the `cyl_wedge_coordinate_maps` function has to duplicate some code to switch on `use_equiangular_map` at runtime. Since coordinate maps are often a runtime ch

[2021-04-10 15:21] #3085 closed, assigned to moxcodes

[2021-04-15 21:30] fmahebert opened #3102 "EvolveBurgers hangs when run without LB command line args"
# Bug reports:

### Expected behavior:

`bin/EvolveBurgersStep --input-file ../tests/InputFiles/Burgers/Step.yaml` runs successfully.

### Current behavior:

The above command hangs, because the executable expects a command-line arg specifying a load balancer and none is given. The ideal solution would either (a) default to `DummyLB` or (b) warn the user to specify a flag.

Workaround for now: cal

[2021-04-19 17:26] moxcodes commented on #3102
If I understand correctly, it appears that this is probably going to be solved by some newer charm changes: https://github.com/UIUC-PPL/charm/pull/3339
I do think it's possible to get this information and error in spectre, but the best solution I've found so far involves reaching into charm utilities that aren't really part of the public interface, so maybe it's best to just leave it to be solved

[2021-04-19 18:17] nilsdeppe commented on #3086
This was an intentional decision to avoid a lot of virtual function calls during composition and so that the `CoordinateMap` class actually knows about which maps are being composed, which we can use to optimize things like Jacobian calculations (e.g. a product of 3 maps has a diagonal Jacobian). I'm not saying it shouldn't be changed, just recording the reason why it's designed the way it is.

[2021-04-19 18:17] nilsdeppe commented on #2939
[code]

@nilsleiffischer I'm seeing quite a few of these, could this get fixed?

[2021-04-21 20:51] wthrowe opened #3110 "Local synchronous actions don't receive the GlobalCache"
I assume this is just an oversight.  Possibly the array index as well.

[2021-04-24 00:25] nilsdeppe commented on #3110
@moxcodes comments? The only reason I could see for not receiving the cache is not wanting local sync actions to be able to call remote objects, but that seems like something we may actually want to be able to do

[2021-04-24 00:28] moxcodes commented on #3110
If I recall correctly, the only reason I omitted it was that I didn't have an immediate use-case. It's probably best to pass it in -- I can take assignment of this issue and add that.

[2021-04-26 15:24] markscheel opened #3117 "Horizon finder: Extrapolate in time for initial guess"
# Feature request:

Currently the initial guess at time t is the solution at the previous time.

It would be better if we stored the solution at two previous times and extrapolated in time to get the initial guess at the next time.

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

- [ ] Detail 1
- [ ] Detail 2
- [ ] Detail 3

###

[2021-04-26 15:26] markscheel opened #3118 "Horizon finder: don't simply terminate when horizon is not found."
# Feature request:

Currently if the horizon finder doesn't converge, the code halts.  This is the correct behavior for individual horizons, but not for the common horizon (which doesn't exist for most of the run).

The horizon finder should have a callback or action that is called on failure.

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desi

[2021-04-26 15:35] markscheel opened #3119 "Horizon finder: Add adaptive Ylm L"
# Feature request:

Currently the horizon finder runs at a fixed L, where L is the maximum spherical harmonic index.

It would be better if the horizon finder could change its L based on rates of convergence and measures of error.

[2021-04-28 08:40] nikwit opened #3126 "`H5File<Access_t>::check_if_object_exists` throws with error when it should return false"
# Bug reports:

when checking whether a `h5::Dat` or a `h5::VolumeData` exists with `H5File<Access_t>::check_if_object_exists` but not passing in a path starting with `/`, it will throw with an unhelpful message:

Simple python example:
[code]
Bug:
[code]

This happens due to the line in  `H5File<Access_t>::check_if_object_exists`:
[code]
`file_system::get_parent_path(path)` appears to just return

[2021-04-30 03:17] moxcodes opened #3135 "Should the stress-energy calculation for Valencia be split?"
We could define two functions which separately compute the contributions to the stress energy tensor associated with the fluid part (which could be shared with the Relativistic Euler), and the magnetic field part. That would likely allow for better code re-use.

[2021-04-30 03:42] nilsdeppe commented on #3135
We should probably profile the two implementations when deciding. I'd expect there to be little to no performance difference, but it would be good to make sure.

[2021-05-04 14:14] #2995 closed, assigned to nobody

[2021-05-08 19:02] #2939 closed, assigned to nobody

[2021-05-11 18:35] moxcodes opened #3155 "scalability of simulations"
We have performed a number of performance tests of a sampling of our
executables, and we have found a couple of salient features:
- When scaling from 1 core to a full node, our parallel efficiency (defined as
  the ratio ((1-core wall time) / N) / (N-core wall time)) diminishes
  substantially; often to around 40-60% at a full node.
- When scaling to several nodes, we see parallel efficiency that

[2021-05-11 23:30] nilsvu commented on #3155
@moxcodes FYI, here's a commit where I have implemented basic support for fixed-sized messages, essentially as a drop-in replacement for the internals of `simple_action`: https://github.com/nilsleiffischer/spectre/commit/7806655ff56b798039d920c29f1d1c19406dea62. Perhaps this is useful for you or others looking into Charm messages.

[2021-05-12 14:25] nilsvu opened #3163 "Cyclic dependency between EventsAndTriggers and Parallel/PhaseControl"
This came up in this thread: https://github.com/sxs-collaboration/spectre/pull/3141#discussion_r628316172

[2021-05-12 23:49] moxcodes opened #3166 "Restore charm [inline]ing when the communication is intrumented"
PR #3165 disables the charm [inline]ing of entry methods, so that all entry methods can be correctly instrumented for communication base load balancers.

The inlining is a nice performance feature to have, but it's probably not worth causing a poor element distribution on the system, so we've disabled it for now.
As soon as the charm fix https://github.com/UIUC-PPL/charm/pull/3352 is brought into

[2021-05-14 01:50] wthrowe opened #3169 "Random failure in Unit.Domain.CoordinateMaps.CylindricalSide"
Just prints "Called terminate. Aborting...".  Seen locally and in CI.

I don't have good statistics, but incidence seem to be around 1e-4.

[2021-05-19 19:21] wthrowe opened #3182 "ActionTesting docs refer to internal functions"
A lot of ActionTesting functions are documented as "The options `opts` are forwarded to be used in a call to `detail::ForwardAllOptionsToDataBox::apply`."  This is not very useful documentation, since I have no way to find out what that does without reading the source code.  Furthermore, the `_and_initialize` versions also say "Additionally, the simple tags in the DataBox are initialized from the

[2021-05-20 16:33] nilsvu opened #3184 "Remove global include directories"
We currently add a bunch of include directories globally, i.e. to _all_ libs and executables. These should be moved to the targets that actually need them. Here's the code:

https://github.com/sxs-collaboration/spectre/blob/0d615ebbffeb5937a891b0731d5164a8d04e3f92/CMakeLists.txt#L138-145

For example, the generated headers need only be included by the executable that generates the Charm++ module.

[2021-05-20 19:16] wthrowe commented on #3182
Digging through the source code, the behavior of the functions actually match the documentation pretty well.  The non-`_and_initialize` versions add their argument pack to the DataBox (as the component's `initialization_tags`, if present), using `detail::ForwardAllOptionsToDataBox::apply` (which is effectively just a call to `db::create`).  The `_and_initialize` versions do that, and then set the

[2021-05-27 22:45] geoffrey4444 commented on #3169
I ran into this problem as well in a recent PR, and I reproduced it in the docker container. There was one failure after about 16k passes.

Here's the full error message:

[code]

[2021-05-27 23:48] geoffrey4444 opened #3206 "Internal compiler error when building Test_DgOperator.cpp with gcc 7.3.0"
# Bug reports:

### Expected behavior:

Code compiles

### Current behavior:

When building on ocean with gcc 7.3.0, the compilation fails with this error message. I get this error whether using 1, 6, or 20 threads.

[code]

### Environment:
I built this on ocean using the `ocean_gcc.sh` environment.

[code]

# Feature request:

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [

[2021-05-28 01:57] wthrowe opened #3210 "Random failure in Unit.Pypp"
[code]

[2021-05-28 18:24] wthrowe opened #3213 "pypp reports python exceptions as "Function returned null""
From `tests/Unit/Framework/Tests/PyppPyTests.py`
[code]

Calling `pypp::call<std::string>("PyppPyTests", "test_string", std::string("test string_"))` throws an exception of "Function returned null" instead of something containing the actual error string.

[2021-05-28 18:24] wthrowe commented on #3213
See also #3212.

[2021-06-01 18:49] fmahebert opened #3218 "Check need for charm registration guards"
In `src/Parallel/CharmRegistration.hpp` we have `static bool` variables acting as guards that the registration functions like `register_parallel_components` do their work only the first time they are called.

Do we need this mechanism? Are the registration functions called more than once?

This issue is a reminder to check/investigate this issue, spun off from discussion of PR #3209

[2021-06-02 16:16] nilsvu opened #3220 "Sections always broadcast to the full array"
# Bug reports:

The callback from section reductions is always invoked on all array elements, not just the elements that belong to the section, even when the Charm++ section proxy is set as the broadcast target.

### Expected behavior:

The `BroadcastTargetAction` is only invoked on elements of the `section` when running the following code:

[code]

### Current behavior:

The `BroadcastTargetActio

[2021-06-03 08:51] nilsvu opened #3229 "Support Variables tags without subitems"
# Feature request:

The DataBox feature to add a subitem for every tag in a Variables is very useful is some situations, but is not always necessary. Sometimes a tag just stores a Variables and it's not necessary to access its constituents from the DataBox individually. In that case, the subitems significantly inflate the number of tags in the DataBox, possibly increasing compile times. I suggest

[2021-06-03 14:50] moxcodes commented on #3229
I agree -- I think there are situations where this could make the databox considerably lighter.

[2021-06-03 15:00] nilsdeppe opened #3230 "Failure in Unit.Domain.CoordinateMaps.CylindricalEndcap"
# Bug reports:

This happened in a CI run

[code]

[2021-06-03 17:59] nilsdeppe opened #3233 "Shell radial partitioning buggy"
# Feature request:

I can't tell from the documentation of `RadialDistribution` what values I'm actually allowed to set https://spectre-code.org/structdomain_1_1creators_1_1Shell_1_1RadialDistribution.html

# Bug:

As far as I can tell there's no check that the radial partitionings are monotonically increasing and that there are duplicates. The latter gives FPEs in the inv_jacobian that are rather

[2021-06-03 18:26] nilsdeppe opened #3234 "Random failure in Unit.Evolution.Systems.Cce.TeukolskyWave"
# Bug reports:

[code]

[2021-06-03 18:36] nikwit commented on #3233
there is a check that they are sorted in `Shell.cpp:87`. I can add this to the documentation to make it more clear. Would you also like me to add another check for duplicates?

[2021-06-03 18:37] nilsdeppe commented on #3233
ah okay, yes duplicates would be good to check. Should be pretty cheap and it's only done once. This check would've saved us 10-15 minutes earlier today

[2021-06-03 20:08] nikwit commented on #3233
added check and documentation in #3236

[2021-06-03 20:59] wthrowe commented on #3229
I've worked around this, (when it was causing duplicate tags for me) by putting the `Variables` in a one-element `std::tuple`.  This proposal would be more elegant.

This might be as simple as changing the `Requires` to a specialization on the tag in the `Subitems` specialization in `Variables.hpp`, but I haven't tried it.

[2021-06-04 16:17] #3016 closed, assigned to moxcodes

[2021-06-04 16:17] #3234 closed, assigned to moxcodes

[2021-06-04 16:19] #3233 closed, assigned to nikwit

[2021-06-04 18:54] #3169 closed, assigned to markscheel

[2021-06-05 00:20] nilsdeppe opened #3242 "Test_VolumeDataReaderAlgorithm2D and 3D tries to write single-extent volume data"
# Bug reports:

### Expected behavior:

The volume data should have at least 2 extents in each dimension, otherwise we cannot write connectivity.

### Current behavior:

The extents are things like `{2,1,1}` which we cannot process in ParaView anyway. Supporting such behavior would require completely redesigning the way we do volume data IO.

Note:
I need this fixed in order to enable compression

[2021-06-05 01:13] moxcodes opened #3243 "Load balancer causes interpolation/horizon finder to fail"
# Bug reports:

### Expected behavior:

Load-balancing works gracefully with the horizon finder

### Current behavior:

horizon finder stops working as soon as elements are migrated during balancing

This is almost certainly because the registration/deregistration logic has a mistake.

[2021-06-05 03:39] moxcodes commented on #3243
nevermind, this is only a problem in changes not yet merged (the GH+MHD executable that I've now updated to not have this bug anymore).

[2021-06-05 03:39] #3243 closed, assigned to moxcodes

[2021-06-08 00:23] wthrowe opened #3255 "Random failure in Unit.GrMhd.ValenciaDivClean.PrimitiveFromConservative"
On CI.

[code]

[2021-06-08 02:29] MarloMo commented on #3206
I found another bug when building with the command `ninja` on Wheeler.

### Expected behavior:

code compiles

### Current behavior:

I get this `internal compiler error` trying to build with `ninja`.

[code]

### Environment:

Building on Wheeler.

[code]

[2021-06-08 14:53] nilsvu commented on #3206
Hm, this compiles fine with gcc 7.5 in the container. Maybe this got fixed in gcc between 7.3 and 7.5. I assume the structured bindings are internally captured by a lambda for some reason..

[2021-06-09 00:53] #3230 closed, assigned to markscheel

[2021-06-11 17:52] nilsvu opened #3266 "Metavariables for phase control and registration need documentation"
# Bug reports:

### Expected behavior:

From reading the metavariables, e.g. for `EvolveScalarWave`, I understand which type aliases must be present and will be retrieved from somewhere further down in the code, and which are just there for convenience. Also, for the required type aliases I can find documentation to understand what they do. Ideally I find this documentation by following "breadcrum

[2021-06-11 17:55] nilsvu commented on #3266
@moxcodes could you take this on when you find the time? I'm quite open for suggestions if you have ideas how to structure this sort of documentation. I like the way we have pioneered this for the `factory_creation` metavars though.

[2021-06-11 17:58] moxcodes commented on #3266
Yep, it's a thing on my to-do list to write some documentation for phase control infrastructure generally (likely for the dev-guide), but I also think it would be valuable to follow the sub-struct model for grouping and documenting the metavariables options specifically.

[2021-06-11 18:58] nilsvu commented on #3266
Ok great, thanks!

[2021-06-12 11:21] nilsvu opened #3270 "Should we run input-file tests only for Release builds on CI?"
Debug executables are _a lot_ slower than Release executables (~10x for the few elliptic input-file tests that I recently looked at). We could compile and run the `test-executables` only for Release builds on CI.

Pros:
- Cut away ~25 minutes of build time from Debug builds
- Speed up input-file tests, allowing for longer / higher-resolved input-file tests.

Cons:
- Executables are compiled only i

[2021-06-12 14:58] wthrowe commented on #3270
Cons: No assertion checking.

[2021-06-12 21:26] #3163 closed, assigned to moxcodes

[2021-06-14 15:53] #3206 closed, assigned to nilsvu

[2021-06-14 19:21] wthrowe opened #3276 "Non-catch unit tests don't respect any of the *_TEST_TIMEOUT_FACTOR CMake variables"

[2021-06-14 20:07] markscheel opened #3278 "Unit.PointwiseFunctions.AnalyticSolutions.GhRelativisticEuler.WrappedGr fails"
# Bug reports:

This is on my desktop, develop branch 2a3903e674f9da3286dee307145560866db54e30, running the Singularity container using clang 10.

[code]

### Environment:

Add as an attachment `$SPECTRE_BUILD_DIR/LibraryVersions.txt` or
add its contents here.
[code]
# Feature request:

### Component:

- [ ] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feat

[2021-06-14 21:12] moxcodes commented on #3278
I'm having trouble reproducing this problem. Could you post the detailed output of the test when using `--output-on-failure` with `ctest` or directly using `RunTests`?

[2021-06-15 00:58] markscheel commented on #3278
Here's what I get:

[code]

[2021-06-15 01:00] moxcodes commented on #3278
oh, hm, that looks like a shared library linking problem. I'll see if I've left off a dependency in that.

[2021-06-15 15:37] nilsdeppe commented on #3270
don't the executables build a lot faster than the release ones though? I'd expect this to be so large as to offset the 2 second time limit the executable tests have

[2021-06-15 19:30] markscheel commented on #3278
Yesterday the issue was persistent, even if I removed my build directory and built from scratch.  But today I did the same, *and* I cleared my ccache, and the issue went away.  Probably was something not getting rebuilt because it was in the ccache.

[2021-06-15 19:30] #3278 closed, assigned to nobody

[2021-06-16 17:34] nilsdeppe opened #3294 "Failure in Unit.Domain.CoordinateMaps.CylindricalSide"
# Bug reports:

[code]

[2021-06-17 05:00] kidder opened #3297 "LibraryVersions.txt does not have any information about libraries"
# Bug reports:

### Expected behavior:

The report prints out all the information about libraries used by spectre

### Current behavior:

It only contains information about compilers, compiler flags, and python

### Environment:

All

[2021-06-17 05:04] kidder commented on #3297
appears to have been broken by commit 2e87a9db9645f8c7f7f3e0a991e39d6a5fe20064 in #2206 because  `cmake/SetupVersionFile.cmake`  overwrites the file instead of appending...

[2021-06-17 05:13] kidder opened #3298 "segfault in Test_Filtering"
# Bug reports:

### Expected behavior:

Test passes

### Current behavior:

Test consistently segfaults on my new desktop

### Environment:

Add as an attachment `$SPECTRE_BUILD_DIR/LibraryVersions.txt` or
add its contents here.
[code]

### Detailed discussion:

Running `bin/RunTests Unit.Numerical.LinearOperators.Filter` through gdb, the segfault occurs at the lambda `cache_function` in the follo

[2021-06-17 05:14] kidder commented on #3298
@moxcodes @nilsdeppe @wthrowe any thoughts or further things for me to try and diagnose the problem better are appreciated

[2021-06-17 05:50] kidder commented on #3297
We need something to overwrite the file whenever cmake is invoked otherwise you get multiple copies of the information.

I am not sure why you moved the location of `include(SetupVersionFile)` in the top level `CMakeLists.txt` so I don't know whether to:
- move the call back to where it was previously
- split `SetupVersionFile.cmake` into two parts, one that overwrites the file before any other ca

[2021-06-17 06:10] fmahebert commented on #3297
This is a duplicate of issue #2645, in which I proposed a few different solutions but never got any interest...

[2021-06-17 06:14] kidder commented on #2645
appears to have been broken by commit 2e87a9d in #2206

[2021-06-17 06:15] kidder commented on #2645
We need something to overwrite the file whenever cmake is invoked otherwise you get multiple copies of the information.

I am not sure why @nilsdeppe  moved the location of include(SetupVersionFile) in the top level CMakeLists.txt so I don't know whether to:
- move the call back to where it was previously
- split SetupVersionFile.cmake into two parts, one that overwrites the file before any other

[2021-06-17 06:17] kidder commented on #2645
since I believe LibraryVersions.txt is the file that Formaline uses as input for information it writes into all the output files, it probably makes more sense to have a single file than split it up...

[2021-06-17 06:18] kidder commented on #3297
duplicate

[2021-06-17 06:18] #3297 closed, assigned to nobody

[2021-06-17 06:22] kidder commented on #2645
so I think we want option 2 of what @fmahebert suggested above

[2021-06-17 14:57] markscheel opened #3300 "Installation dox should indicate (approximate) minimum RAM required for compiling SpECTRE."
# Feature request:

It would be nice if the installation instructions indicate how much RAM you need to compile SpECTRE, so that new people don't spend a lot of time getting everything set up on their laptops and then find that they have insufficient RAM to compile.

Does anyone know what the approximate RAM limit is? (I'd be happy to add it to the dox if I had a number).
My new laptop (16G) is fi

[2021-06-17 15:25] nilsdeppe commented on #3298
- newest I've used is clang 11
- that code does look a bit questionable. Can you try capture `alpha_` and `half_power_` by value?

Re your last point: there's no way to check that as far as I'm aware.

[2021-06-17 16:14] moxcodes commented on #3298
I agree that avoiding the `[this]` capture sounds like a promising way to improve the problem

Regarding the check, would it work to define a static variable in the retrieval function, and then check that it is the same as the class member variable? I'm imagining something like:
[code]

My understanding of the static variables in a function is that they are initialized once according to the assign

[2021-06-17 16:24] nilsdeppe commented on #3298
yea, I think that would work :)

Edit: comparing `double`s is always a bit dicey on a parallel system, so hopefully it works out

[2021-06-17 20:06] wthrowe commented on #3298
`cache_function` is being stored as a reference in the `StaticCache`, so it is a problem when it goes out of scope at the end of `filter_matrix`.  I don't see a good reason for that, so it is probably a bug in `StaticCache`.

The lambda should also be capturing everything it needs by value, as people have said above.

[2021-06-21 15:18] #3294 closed, assigned to markscheel

[2021-06-21 15:56] nikwit opened #3306 "Cannot slice `inverse_spatial_metric` onto boundary when using relativistic system"
# Bug reports:

When specifying  the inverse_spatial_metric as a `dg_interior_temporary_tags`, I get the error message: "error: base class 'tuples_detail::TaggedTupleLeaf<InverseSpatialMetric<3, Inertial, DataVector> >' specified more than once as a direct base class".

This appears to be because the tag is now twice in `tags_on_interior_face` in the `BoundaryConditionsImpl.hpp` and also appears t

[2021-06-21 16:07] nilsdeppe commented on #3306
This should work. Can you add a `tmpl::remove_duplicates<...>` around the `tmpl::append<...>` that `tags_on_interior_face` is assigned to and see if that fixes the issue?

[2021-06-21 16:45] nikwit commented on #3306
Yes, that is exactly what I meant. That fixes it.

[2021-06-21 16:46] nilsdeppe commented on #3306
okay, would you mind submitting a PR with that change? Otherwise  I can too

[2021-06-21 17:01] nikwit commented on #3306
Sure, I will

[2021-06-22 09:22] nilsvu opened #3311 "Random failure / FPE in Unit.Evolution.Systems.GhValenciaDivClean.TimeDerivativeTerms"
# Bug reports:

[code]

[2021-06-22 17:28] #3306 closed, assigned to nilsdeppe

[2021-06-22 21:31] nilsdeppe commented on #3300
I think the tests you can get away with 8GB, if you have debug symbols on then for the executables I don't think less than 12GB will cut it in release mode. It's a bit of a tricky question because it depends on the compiler, optimization level, and whether or not you enable debug symbols. I think if you disable debug symbols and use clang you only need something like 2-3GB for most executables, bu

[2021-06-24 16:51] nilsvu opened #3317 "Integrate Catch tests with CMake dependency tracking"
# Feature request:

We have moved to `target_link_libraries` and friends for `src/`, but haven't for `tests/` yet. Also, Catch2 is currently still included globally, not as a target. We should fix these things for a few reasons:

- There's no need to add the Catch2 include when building `src/` libs. Only tests should depend on Catch2.
- We can get rid of _a lot_ of cmake code by using Catch2's cma

[2021-06-25 15:34] nikwit opened #3322 "`MinimumGridSpacingCompute` is slow and does not appear to be memoized properly."
# Bug reports:

When profiling my curved scalar wave executable I find that over 20% of execution time is spent in `minimum_grid_spacing`.
I can reproduce this behavior with the `EvolveScalarWavePlaneWave3D` from current develop.

Firstly, why is this function so incredible slow? I faintly remember this coming up a few months ago but don't remember the details. Is it possible that the `goto` state

[2021-06-25 15:37] nilsdeppe commented on #3317
This sounds good to me. I used Catch2 for a hobby project and tried the "auto detection" process for discovering tests and that didn't really work and resulted in a lot of CMake re-running. However, using Catch2's discovery mechanism that's similar to ours did work.

The other thing to consider is whether we want to include Catch2's CMake file in our repo or have users install that themselves. I h

[2021-06-25 15:48] fmahebert commented on #3322
When I previously looked into this a bit, the most promising thing I found was that the `operator==` for `std::array` was slower than explicitly checking by hand `if constexpr (Dim == 1) { return lhs[0] == rhs[0] } else if constexpr ...` and so on.

But I never got a satisfactory understanding of why the function remained so expensive. There is quite a bit of looping done, comparing lots of pairs

[2021-06-25 17:44] wthrowe commented on #3322
Interesting.  libstdc++ implements this operation using `std::equal`.  I don't see any reason that should be slow (maybe the compiler can't figure out how to unroll the loop?), but writing a comparison that has no loops is straightforward: (untested)
[code]

Could also be inefficiencies form using IndexIterator.  I don't know how bad that is, but if nothing else it will prevent any loops from bein

[2021-06-25 18:21] moxcodes commented on #3322
In a previous conversation with @nilsdeppe and @fmahebert we also had the thought that it would probably be a decent approximation to go so far as to assume that the smallest grid spacing would be on corners of elements, based on a similar reasoning of 'not too distorted' maps. Then, we'd only ever check dim * 2^(dim) point distances.

[2021-06-25 18:24] nilsdeppe commented on #3322
Yes, I think whenever that assumption fails it means the map is varying so rapidly within the element that we can't resolve it with the basis functions anyway :)

I'd advocate for adding an `ApproximateMinimumGridSpacingCompute` that can be swapped in for the `MinimumGridSpacingCompute` (inherits from `MinimumGridSpacing`) that has both the optimizations.

[2021-06-25 18:32] nikwit commented on #3322
Any idea about the memoization?

[2021-06-25 18:35] nilsdeppe commented on #3322
That's complicated because you can specify time-dependence at runtime. Generally the safest way to do that would be to use a `std::optional<bool>`, get the time-dependent map, and then decide if you've already computed the correct number, but you also need to be aware that something like AMR can change the grid in the future... I would defer this and first do the other optimization since that migh

[2021-06-25 18:36] moxcodes commented on #3322
I think that if we are using time-dependent maps, then it's harder to re-use the result. I would have thought that the current use of this tag as a compute tag should 'implicitly' memoize whenever the domain was static -- in the sense that it wouldn't recompute the grid spacing unless one of the inputs changed, but perhaps there's something going wrong where a dependency is getting mutated when it

[2021-06-25 18:45] fmahebert commented on #3322
I like the idea of adding an optimized, approximate version of this compute item as a new `ApproximateMinimumGridSpacingCompute`.

Re @wthrowe's comment about assuming the smallest spacing is orthogonal to the boundary (for small skew): I agree in principle, but some of our maps do have larger skews. For instance, the cubed sphere map can have 45 degrees of skew in two different directions, and if

[2021-06-25 18:53] moxcodes commented on #3322
I guess we could do the corners-of-elements approximation, but check not only the adjacent points, but the 'nearest' (2^dim - 1) points that includes corner-adjacency. That would be (2^(2 dim) - 2^dim) comparisons, which still scales far better than the current implementation.
~~I actually think the current implementation only checks adjacent points along each dimension, so also fails in the case

[2021-06-25 19:26] kidder commented on #3322
Note `MinimumGridSpacingCompute` depends on  `::Tags::time`

via `Coordinates<Frame::Inertial>` which is provided by  `::domain::Tags::InertialFromGridCoordinatesCompute<Dim>` which depends upon `CoordinatesMeshVelocityAndJacobians<Dim>` which is provided by `::domain::Tags::CoordinatesMeshVelocityAndJacobiansCompute<
          ::domain::CoordinateMaps::Tags::CoordinateMap<Dim, Frame::Grid,

[2021-06-25 19:29] wthrowe commented on #3322
Checking distances from the corner points will fail for the "inverse cubed sphere" (sphere on the inside, cube on the outside), but so will every other idea we've come up with that doesn't do a full check of all adjacencies of all border points.

[2021-06-25 19:37] wthrowe commented on #3322
We have the not-yet-widely-used `enable_time_dependent_maps` metavariables parameter.  We could probably use that to change the compute tag dependencies and avoid recomputing in the case of a static domain.

[2021-06-25 21:53] nilsdeppe commented on #3322
Yea, that would work if we want to have an executable not be able to use time dependences at all, but I'm not sure how far that's been pushed in terms of support in all the different maps and domain creators

[2021-06-25 23:25] nilsdeppe commented on #3242
I've added some numbers to increase the extents and then things seem to still pass. I'll assign this to me and link the PR once I've opened it

[2021-06-26 08:27] nilsvu commented on #3242
Sorry I missed this. What's the issue with single-value extents? In my understanding, single value extents are a valid configuration for Gauss points, no? If there's a technical issue with that we should probably assert it at the place where it breaks. For the particular test in question here, adding extra points should be no problem (there was no reason I chose single extents here).

[2021-06-28 20:52] nilsdeppe commented on #3242
They are valid for solving equations, but we don't have a way of handling them correctly in in terms of generating a connectivity. Ultimately ParaView uses this connectivity for visualizing the data by connecting the different grid points together and doing interpolation between them.

It turns out what I thought was working isn't working, and I don't really understand why the test is written the

[2021-06-30 09:52] nilsvu opened #3335 "EvolveGhValenciaDivCleanBondiHoyleAccretion doesn't compile"
# Bug reports:

When compiling `EvolveGhValenciaDivCleanBondiHoyleAccretion` on develop, this is the error:

[code]

`EvolveGhValenciaDivCleanBondiMichel` compiles ok.

[2021-06-30 12:33] nilsvu opened #3337 "Use VTK Lagrange cells for ParaView output"
# Feature request:

VTK supports higher-order Lagrange cells, which we could use to have ParaView interpolate correctly between our data points, instead of the linear interpolation it currently does. Here's some resources:

- https://blog.kitware.com/modeling-arbitrary-order-lagrange-finite-elements-in-the-visualization-toolkit/
- https://github.com/dealii/dealii/issues/6931
- https://github.com/d

[2021-06-30 19:51] kidder commented on #3298
An update on this.

-  Capturing the member variables by value or capturing `*this` (which captures a copy of the object) changed the behavior from a segfault to an error caused by the values of alpha and half power in the cached function being zero on the second call to `test_exponential_filter_action` that is templated on the Basis.
- However, I have yet been able to make a simpler test that sho

[2021-07-01 08:38] nilsvu opened #3341 "Timeouts in InputFiles.GrMhd.GhMhdTovStar.yaml.execute"
# Bug reports:

The test times out on CI sometimes (https://github.com/sxs-collaboration/spectre/pull/3340/checks?check_run_id=2959002158). Probably needs a `# TimeOut: ...` setting.

[2021-07-03 10:15] #3335 closed, assigned to moxcodes

[2021-07-06 16:09] nilsvu opened #3345 "Cite software dependencies in spectre DOI"
We should add references to spectre's dependencies to the DOI. They can be added as Zenodo's "References" fields.

[2021-07-07 16:02] #3242 closed, assigned to nilsvu

[2021-07-07 18:20] #3341 closed, assigned to moxcodes

[2021-07-09 16:19] nilsvu opened #3352 "Speed up CI runs"
CI runs take ~3.5h by now, so we only get through ~7 per day. The majority of the time is (unsurprisingly) spent building tests (~1.5h) and executables (~1h). Does anyone have ideas how we could speed things up?

Here's a few thoughts:

- [x] (resolved by #3366) Caching seems to be quite ineffective, I see only very low hit rates of a few percent. It has worked better in the past. We can probably

[2021-07-12 21:07] nilsdeppe commented on #3352
I would expect caching to help on repeated develop runs. We may want to disable saving the cache completely on PR builds since people won't be rebasing very frequently (as in, every time a PR is merged), instead using the cache from develop. Then encouraging people to rebase before pushing to their PR should work quite well.

I'm also very optimistic that #3351 will provide a pretty big boost sinc

[2021-07-14 03:55] wthrowe commented on #3270
Echoing @nilsdeppe, the release builds take 2-3 times as long to build the executables, so I don't see why we would prefer to keep those over the debug builds (which are more likely to catch bugs anyway).

We definitely shouldn't drop all the builds in either mode, because we often have optimization-related failures (usually compiler bugs).

Maybe it would be better to tie it to compiler version?

[2021-07-14 17:22] nilsdeppe commented on #3270
Using newest and oldest compiler version seems like a reasonable to speed up the time with minimal likelihood of missing something vital

[2021-07-14 21:24] wthrowe commented on #3352
Ideas from today's meeting:
* Caching should work better than it is.
* Have fewer executables, e.g., by merging numerical vs. analytic initial data.

[2021-07-19 20:23] nilsvu opened #3368 "Support array sections in action testing framework"
# Feature request:

The action testing framework currently only supports the `cproxy` alias from `charm_types_with_parameters`, but none of the other aliases like `cbase` or `cproxy_section`. Adding support for array sections ideally entails support for section reductions as well.

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

[2021-07-20 12:02] nilsvu opened #3373 "Support testing array allocators in action testing framework"
# Feature request:

The `allocate_array` functions of parallel components are currently not unit-tested (and neither are the parallel component classes themselves, e.g. `DgElementArray`). It would be nice to be able to test the array allocations with the action testing framework.

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

[2021-07-21 17:42] nilsvu opened #3377 "Improve Blaze-interoperability of our matrix types"
# Feature request:

It would be nice to consolidate our matrix types and improve their interoperability with Blaze. Currently we have:

- `DenseMatrix<Type, StorageOrder> : blaze::DynamicMatrix<Type, StorageOrder>`: Exists to make a matrix option-creatable and pup-able.
- `Matrix : DenseMatrix<double, blaze::columnMajor>`: Exists only as a shortcut for a matrix of doubles in column-major storage o

[2021-07-22 20:12] knelli2 opened #3380 "Approx error in Unit.Domain.CoordinateMaps.CylindricalFlatSide test"
In CI test #7261 (https://github.com/sxs-collaboration/spectre/actions/runs/1053659727)

[code]

[2021-07-22 20:47] nikwit opened #3381 "Introduce `SphereUtilities` library"
# Feature request:

Currently, all the methods for calculations in spherical coordinates or spherical harmonic expansions are in the `ApparentHorizons` library but they are starting to be needed outside this library. Therefore I would suggest to move these functions into a new library called `SphereUtilities`.

This includes the entire `YlmSpherepack` bindings, the `SpherepackIterator`, as well as

[2021-07-23 12:53] nilsvu commented on #3380
Here's also a failure in `CylindricalSide`:

[code]

[2021-07-23 12:53] nilsvu commented on #3380
@markscheel these failures occur quite frequently, could you take care of them?

[2021-07-23 16:58] markscheel commented on #3380
Ok.  I may need to test this with `--repeat-until-fail 100000` (which will take a long time); the last time I fixed errors like this I tested it with `--repeat-until-fail 10000` and it worked, but clearly these are still happening so 10000 isn't enough.

[2021-07-23 17:02] nilsvu commented on #3380
I don't think we have run 1e4 CI jobs since you tested this though ^^

[2021-07-23 17:53] nilsvu commented on #3381
I think a `SphereUtilities` library would be very helpful. My question is: Where do we place it in the dependency tree? It probably needs to depend on `DataStructures`. It also mostly extends external functionality, e.g. provides an interface to spherepack, which suggests placing it in `Utilities/`. The other place that comes to mind would be `NumericalAlgorithms/`. What do you think?

[2021-07-23 21:15] kidder commented on #3381
We want to keep `Utilities` independent of `DataStructures`.  I would say that anything dealing with `YlmSpherpack` belongs  in `NumericalAlgorithms`, say in a `SphericalHarmonics` subdir.  (Separately I think all the Swsh code in `Spectral` should be moved to a separate `SpinWeightedSphericalHarmonics` subdir. ).   I think free functions dealing with coordinate transformations between spherical a

[2021-07-24 23:30] #2645 closed, assigned to nobody

[2021-07-29 18:41] wthrowe opened #3393 "ExportCoordinates tests do not clean up h5 files"
[code]

For some reason, this does not interfere with rerunning the tests.

[2021-07-29 19:41] moble opened #3394 "CITATION file"
# Feature request:

### Component:

- [ ] Code
- [x] Documentation
- [ ] Build system
- [X] Continuous integration

### Desired feature:

- A `CITATION.cff` file

### Detailed discussion:

Github recently added [support for `CITATION` files](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-citation-files), which would bring up to t

[2021-07-29 23:14] nilsvu commented on #3394
This is amazing, thanks for the pointer @moble! Looks like GitHub released this feature two days ago, so you reacted fast :D

We can easily generate a `CITATION.cff` file from our existing `Metadata.yaml`. That could be all we need to do for now. I think we can't / don't need to change the way we currently interact with Zenodo. AFAICT the `CITATION.cff` support by Zenodo can't reserve a DOI before

[2021-07-30 12:23] nilsvu commented on #3393
Fixed in #3398. It didn't interfere with re-runs because reduction files are appended-to.

[2021-07-31 19:47] #3393 closed, assigned to nobody

[2021-08-01 12:51] #3394 closed, assigned to nobody

[2021-08-03 00:16] nilsvu commented on #1802
Coverage is done as of #3367. Only the documentation needs to be updated now: #2421

[2021-08-03 00:19] #1802 closed, assigned to nobody

[2021-08-03 00:21] nilsvu commented on #747
We have migrated to GitHub actions, see #1802.

[2021-08-03 00:21] #747 closed, assigned to nobody

[2021-08-03 00:25] nilsvu commented on #1902
Fixed in #2739.

[2021-08-03 00:25] #1902 closed, assigned to nobody

[2021-08-03 21:07] nilsvu commented on #3352
Here are the plots I showed in a call recently:

![ci_runs_clang](https://user-images.githubusercontent.com/746230/128085448-59199c17-e062-41cb-80be-f5110a227b74.png)
![ci_runs_gcc](https://user-images.githubusercontent.com/746230/128085482-a526149d-6588-4315-96ce-baea922dbf31.png)

The dotted lines are at:

- 2020-04-10 (maybe #2193)
- 2020-11-20 (probably #2555)
- 2021-01-05 (no idea)

---

The

[2021-08-04 17:34] wthrowe opened #3414 "We should have a python module that can read our output data"
Or at least some way to read it without having to reimplement the internals of our h5 representation.

[2021-08-04 17:36] nilsvu commented on #3414
We do :) Build the Pybindings (https://spectre-code.org/spectre_using_python.html) and use `spectre.IO.H5`

[2021-08-05 03:47] wthrowe commented on #3414
That still makes me write code that cares about implementation details like observation ids, which I find to be one of the more confusing parts of the whole system.  I was hoping for something where I didn't have to think about the details of how we use H5.

[2021-08-05 09:51] nilsvu commented on #3414
Yea, a layer on top of the H5 bindings can be useful, though I think it's important that such layers don't obscure too much of the lower-level code. What I mean is, if something is reasonably easy to accomplish with the lower-level code, then a layer of indirection can actually make the code more difficult to learn (you have to learn _another_ interface). I don't like "thin wrappers". Here's some

[2021-08-05 17:07] wthrowe commented on #3414
I agree with this, but I think the current module is just such a thin wrapper.  At least the parts I was hitting were objects in 1-1 correspondence with the H5 structures, just with changes like `.get_observation_value(obs_id)` instead of `[obs_id].attrs['observation_value']`.

Why not go object-oriented and return a list of objects representing the data at each time?
[code]
(I think I have the so

[2021-08-05 18:06] nikwit opened #3417 "Feedback on new boundary conditions / corrections system"
The new boundary conditions/corrections system has been on develop for a few months now and I thought it would be a good idea to provide some feedback given that I worked with it for a bit. Overall, the system seems to be working well but there are few things which I found hard to deal with from a user's perspective. For a lot of these points raised here, I am simply not sure to what extent this i

[2021-08-05 18:33] moxcodes commented on #3417
I'll agree that the relationship between several interface elements and type aliases and the resulting input types for the boundary condition and boundary correction functions is somewhat difficult to understand without digging through the code.
For the GH+GRMHD system, I needed to implement a 'generic' version of both that used various type aliases to assemble the needed argument lists using tmpl

[2021-08-05 18:37] wthrowe commented on #3417
(Written at the same time as @moxcodes, so some duplication here.)

I haven't used these particular things, but I think I can explain a few of the decisions from a historical perspective.

In an early version of systems the method of normalization was specified explicitly in each one.  I am not sure when that was changed, but my guess is it was when we tried to cut back significantly on DataBox us

[2021-08-05 19:58] nilsvu commented on #3414
That last snippet you posted would be very nice to get working. However: Do you think we will have enough use cases for it to make it worth building, as opposed to asking people to use the raw H5 files?

If the answer is yes, next question: Build the code in C++ with bindings, or directly in Python? I'm thinking Python, because it's not needed from within a parallel executable. Any parallelism can

[2021-08-06 20:49] nilsdeppe commented on #3417
I can answer the questions about the design here.

2. I have no objection to requiring the `inverse_spatial_metric_tag` always be specified and having a `EuclideanInverseMetric` sentinel tag to do the switching. I agree this would be clearer. I do like having the flexibility to specify the tag to use for normalization so that different systems can use different tags. This may be needed for beyond

[2021-08-13 20:57] wthrowe opened #3434 "Initialization action documentation is out-of-date"
Much of it hasn't been kept up-to-date as the actions themselves have changed.

[2021-08-13 21:01] nilsvu commented on #3434
It might be easier to just look at the `simple_tags` and `compute_tags` lists than keeping the docs up-to-date. Since `SetupDataBox` was introduced the init actions are a lot more self-documenting than before.

[2021-08-13 21:38] wthrowe commented on #3434
I agree in general.  The reason this came up now was that we need documentation and rationale for adding mutable cache tags to the DataBox.

[2021-08-14 14:54] nilsvu opened #3436 "On releases: Tag dev container and build a release container"
# Feature request:

To make builds better reproducible we should tag the Docker container at the time of a release with the version number. Else, it can be quite difficult to set up a build environment for an older release.

Also, we should build a container with all executables and publish it with every release. Then we're only a little glue code away from `docker run sxscollaboration/spectre-rel

[2021-08-16 22:36] tomwlodarczyk opened #3442 "Error in SolveElasticity3D for domain with N_p = 12"
# Bug reports:

### Expected behavior:

SolveElasticity3D reduces the GMRES-residual and returns the solution to the specified problem.

### Current behavior:

The executable aborts for a uniformly-refined domain with N_p = 12 and refinement level bigger than zero. The specific domain and error message are, for completeness sake, given below.

### Environment:

Add as an attachment `$SPECTRE_BUILD

[2021-08-17 00:38] #3380 closed, assigned to markscheel

[2021-08-17 21:50] moxcodes opened #3446 "Distinguish between events for dense triggers and non-dense triggers"
Currently, there is no compile-time distinction between events that are used with dense triggers and those that are to be used with non-dense triggers.
There are certainly cases where events may be constructed to be usable by both, but PR #3445 introduces a feature that is usable only by events used with dense triggers, and tags that are present in the databox, but are not compute tags and are not

[2021-08-18 09:28] nilsvu opened #3447 "Segfault in db::create_from"
# Bug reports:

The `SetupDataBox` action fails with a segfault in the `SolveXcts` executable, which adds quite a lot of tags to the DataBox. The segfault occurs in the constructor of `db::detail::Item`, specifically when move-constructing a `DirectionMap` (though I'm not sure if that's relevant). I have encountered this issue on Minerva, but neither on my laptop nor in the Docker container. It oc

[2021-08-21 00:15] moxcodes opened #3451 "Incorrect charm target on wheeler"
Currently, we are using a charm target that uses inefficient interconnect on the wheeler system at Caltech.
We should (in this order):
- add a new charm module to wheeler using the target `verbs-linux-x86_64-smp-gcc`
- update the environment and submission files for wheeler (the submission one should be pretty similar to CaltechHPC and ocean after this change)
- remove the old charm module and ann

[2021-08-21 19:21] wthrowe opened #3454 "Parallel::PerformAlgorithmCallback fails to compile under mocking framework"
Test case:
[code]
The last statement fails to compile with
[code]

[2021-08-24 21:20] wthrowe opened #3459 "Make sure system-specific code is in system namespaces"
The one I just noticed is `Initialization::subcell::GrTagsForHydro`, which is defined in `src/Evolution/Systems/GrMhd/ValenciaDivClean/Subcell/GrTagsForHydro.hpp` but isn't in a "GrMhd" or "ValenciaDivClean" namespace.  This will cause symbol collisions when someone uses this code as a template for another system or formulation.

I'm not just submitting a PR to fix it because this suggests there m

[2021-08-29 03:11] #3454 closed, assigned to markscheel

[2021-09-01 16:55] nilsdeppe commented on #3436
I think this is a fantastic idea :) I believe this would be a huge step for lowering the barrier of entry for using the code, which will become increasingly important as we gain science capabilities :) I just glanced at the repo and I also really like the idea of having some ipython notebooks to showcase some of the things our bindings support. Also a good reason to continue to add more bindings :

[2021-09-01 16:57] nilsdeppe commented on #3459
I agree. Just to give context, I think that code is system-agnostic but I wasn't sure where to place the action because writing a test for it is sort of difficult if not using an existing system. my hope was we would come up with a good location for some of these shared GR .*hydrodynamics actions and migrate the code there :)

[2021-09-01 17:00] nilsdeppe commented on #3417
Does anyone have ideas on where/how to document this? Should we have a (very) long dev guide that basically derives DG-FD hybrid schemes, discusses them analytically, and then documents how the various analytic terms translate into code places?

[2021-09-01 17:01] nilsdeppe commented on #3345
Should we also add a list of "If you ran the code, you likely used these packages and should cite them in this way" to the dox somewhere?

[2021-09-01 17:10] nilsvu commented on #3345
Sure. In terms of machine-readable information I think the info should be in our [Metadata.yaml](https://github.com/sxs-collaboration/spectre/blob/develop/Metadata.yaml) file. From that we auto-generate both the [CITATION.cff](https://github.com/sxs-collaboration/spectre/blob/develop/CITATION.cff) file (see format specification [here](https://github.com/citation-file-format/citation-file-format/bl

[2021-09-01 17:15] nilsvu commented on #3417
My suggestion would be a base class or a protocol that carries the code-level documentation, so you can follow the inheritance hierarchy up to find the docs. A dev guide with derivations etc would also be very useful of course, and can be linked from the code-level docs for background reading. I think discoverability from the code is very important, hence the inheritance-"breadcrumbs" that lead to

[2021-09-01 17:17] nilsdeppe commented on #3345
:+1: that sounds great :)

[2021-09-01 17:24] nilsdeppe commented on #3417
Okay, that sounds reasonable. I'm not sure how soon I'll be able to work on this, but I think that's a good plan of attack. I think what I'll do is try to get a layout/structure of the docs without content and open up a draft PR for that in order to get feedback on the layout. Then I'll add the content after we have a layout folks are happy with

[2021-09-05 12:57] nilsvu opened #3489 "How are function-of-time names chosen?"
# Bug reports:

I don't understand how the names of functions-of-time are chosen, or what determines them. Input files require I set those names in `TimeDependence` sections -- can I just write any name, and if so, why does the choice exist at all? I looked (briefly) through `DomainCreator.hpp`, `TimeDependence.hpp` and `FunctionOfTime.hpp` but didn't find relevant docs. If they exist, I suggest w

[2021-09-05 16:52] wthrowe commented on #3489
I am planning to remove the options, but I haven't investigated yet to see if that causes any issues.

[2021-09-06 20:58] nikwit opened #3492 "ASAN and valgrind detect memory leaks in our executables"
# Bug reports:

Both ASAN and valgrind detect memory leaks in our executables. ASAN traces these as follows:

 - starting `in malloc (/lib/x86_64-linux-gnu/libasan.so.5+0x10dbc8)`
 -  ending `in start_thread /build/glibc-eX1tMB/glibc-2.31/nptl/pthread_create.c:477`
 - and going mostly through `Algorithm` and `DataBox` related headers in the middle

It seems that charm spawns pthreads and does not

[2021-09-06 21:14] nilsvu opened #3493 "Build Docker container on CI"
# Feature request:

It would be nice if CI could build and push the Docker container, without disrupting other CI runs or user environments. Currently we have to do the "Docker dance": When a PR updates the Dockerfile, a core dev builds the container and pushes it to `sxscollaboration/spectrebuildenv:latest`. This may break all other PRs and user envs until the PR that adjusts to the new container

[2021-09-06 21:25] nilsvu commented on #3492
I found this snippet in `Tests.yaml:526`:

[code]

Indeed, cmake sets `ASAN_OPTIONS=detect_leaks=0` in a bunch of places. That's presumably why CI doesn't fail. @nilsdeppe do you have some insight here, since I think you added the snippet?

[2021-09-07 02:35] nilsdeppe commented on #3492
yep, Charm++ and OpenMPI have oodles of memory leaks (things that are cleaned up when the process closes and don't waste a lot of memory, though) and so we basically can't do leak checking. This is an upstream issue.

[2021-09-07 02:38] nilsdeppe commented on #3489
The individual maps need to somehow know the names and the only way I could think of doing it at the time was by specifying them in the domain creator. If this continues to be the case, would it be useful to add to the help string ", if the domain has any time dependence."? I'm not really sure how to clarify that any name is fine as long as they match in the time dependence and wherever else they

[2021-09-07 02:47] nilsdeppe commented on #3377
1. I'm not sure it would be good to set it to max size. 12x12 is okay, but if someone increases that for testing they'll blow the stack pretty quickly. That seems like an bug. We also don't create matrices that often, they're usually cached and passed by reference. I regularly used 50+ basis functions for testing subcell, for example.
2. it uses `dgemm_` calling into LIBXSMM. This is quite a bit f

[2021-09-07 02:49] nilsdeppe commented on #3337
This would be fantastic! Does XDMF have support for this yet? That's the only thing I can think of that would make things tricky. We already write the basis and quadrature, so for FD/FV we can use the cell-by-cell representation.

[2021-09-07 06:59] nilsvu commented on #3489
My confusion is if I need to choose a special name, like write "Translation" to link the FOT to the translation map, of if I can choose whichever name I want. Sounds like it's the latter. If the input-file options need to stay to link FOT across different parts of the program, I suggest adding something like "You can choose any name, as long as it's consistent within this input file". If @wthrowe

[2021-09-07 16:31] wthrowe commented on #3489
I don't see a reason to allow people to set the names of the control systems in the input file and in most cases the domain options will only make sense with one control system, so that can be hardcoded.

[2021-09-07 16:44] nilsdeppe commented on #3489
I agree, the reason for the current design is at the time it wasn't clear how much the control system and domain would be tied together. Specifically, having an x, y, and z translation has meant they can't all have the FoT name "Translation". I think this is set up in the `TimeDependences`. Another case where I could see name collisions is if we had `Translation(Rotation(Translation))` where the p

[2021-09-07 18:01] wthrowe commented on #3489
We can make the control system stuff ignore any functions of time that never expire, which should be enough for analytic movement.

Complicated time-dependences will need specific code in the domain creators anyway, so they can assign names however they like, including from the input file.  Of course, these will have to match control system names if they are not analytic.

[2021-09-11 07:36] #3024 closed, assigned to nobody

[2021-09-14 19:39] #3229 closed, assigned to nobody

[2021-09-14 20:01] wthrowe opened #3511 "Timeouts in CI for InputFiles.Poisson.ProductOfSinusoids1D.yaml.execute_check_output"
Two PRs today.  I don't think logs are persistent after a run restart, so not much point in linking to them.  There's not much information available for a timeout anyway.

[2021-09-14 20:05] wthrowe opened #3512 "mkdir errors after timeouts in CI"
It looks like something may not be being cleaned up correctly between attempts.  I don't know where the error is coming from, but I worry that earlier attempts might be polluting the results of later ones.  We should avoid the error even if it is benign.

[code]

[2021-09-15 13:04] nilsvu opened #3514 "Profiling with HPCToolkit fails with libs that contain no symbols"
# Bug reports:

This issue is concerned with the following symptom:

[code]

The error occurs under these conditions:

- Use GCC 10 (I haven't tested this with other compilers)
- Build spectre with shared libs (makes HPCToolkit way easier to use)
- Build spectre in `Release` mode with `DEBUG_SYMBOLS=ON`
- Set `USE_PCH=OFF` to avoid the same error message as above, but coming from the PCH lib (also

[2021-09-15 18:03] wthrowe commented on #3514
Looks like a glibc limitation, so should affect any linux shared-library setup.  It may be that `my_PUP_ID` isn't enough because the distinction between executable code and data matters here, but that's mostly a guess.

I think that patch is a good workaround for libEaT.

It should be easy to fix the PCH problem, but I'm having trouble getting it to work.  I'm pretty sure the fix isn't working bec

[2021-09-15 18:06] nilsvu commented on #3514
Thanks for looking at this @wthrowe! Maybe problems with charmc are resolved with #2680 .

[2021-09-15 19:07] wthrowe commented on #3514
They should be, yes, but I've figured out how to make it work in the meantime.

The main fix is to pass `-Wl,--as-needed` to gcc (charmc) when linking shared libraries or executables.  This can be done with `CMAKE_EXE_LINKER_FLAGS` and `CMAKE_SHARED_LINKER_FLAGS`, but I don't think there's any reason not to add the flag in our build system.  Don't know if BSD ld supports it, so we should test that

[2021-09-16 16:59] nilsdeppe commented on #3511
I also noticed the BentBeam times out. I've had 3 PRs in the last couple of days time out on that test

[2021-09-17 16:59] #3511 closed, assigned to nilsvu

[2021-09-17 23:29] nilsdeppe opened #3525 "Refactor evolution systems into pointwise functions"
As part of a resulting discussion from #3448 @nilsleiffischer @yoonso0-0 @kidder @wthrowe and I came up with the following idea on how to refactor a lot of what is currently in `Evolution/Systems` into `PointwiseFunctions`. This will allow us to eliminate a large number of cyclic dependencies, and will also mean more python bindings can (relatively) easily by added. We are soliciting feedback on t

[2021-09-18 15:36] nilsvu commented on #3525
This may be obvious, but I would like to emphasize that, in the example above, the `BurgersSystem` library depends on `Burgers`, but not the other way 'round. Therefore:
- Simple tags that identify physical quantities are defined in `PointwiseFunctions/Burgers`.
- Code that is specific to where an executable stores things in the DataBox remain in `Evolution(Elliptic)/Systems/`, e.g. executable-spe

[2021-09-18 17:21] #1251 closed, assigned to nilsvu

[2021-09-20 16:58] nilsvu opened #3528 "Support derivative of single tensor"
# Feature request:

`partial_derivatives` currently supports only a `Variables` as input and output. It would be helpful to add overloads for `Tensor` (mentioning that the `Variables` overload is to be preferred when differentiating multiple tensors).

Suggestions:

- Look at `src/NumericalAlgorithms/LinearOperators/PartialDerivatives.hpp`. The `logical_partial_derivative` already has overloads fo

[2021-09-23 13:27] nikwit opened #3544 "Change name of tensor `size()` method to `number_of_independent_components()`"
It has happened a few times to me now that I initialized something with `scalar.size()` instead of `get(scalar).size()` which resulted in some hard to debug out of range accessor bugs.

I would suggest to change this method name to `number_of_independent_components` and perhaps also add a `number_of_grid_points` method. After all, `size` is fairly ambiguous when it comes to Tensors. These are the

[2021-09-23 15:35] nilsdeppe commented on #3544
I would estimate the effort to be enormous. Probably 1 week full time. I don't see this being a reasonable refactor and certainly not the effort.

Aside from that, calling it "size()" is consistent with the STL naming conventions. I don't see adding a `number_of_grid_points()` method as a good thing since `Tensor` can hold a `double` or pretty much any other type (even modal data). `Variables` are

[2021-09-23 15:58] nilsvu opened #3545 "Improvements for the BinaryCompactObject domain"
# Feature request:

From experiments with elliptic solves on our `BinaryCompactObject` domain I find that it currently needs about twice as many grid points as the SpEC initial data domain to reach the same accuracy (a bit worse actually). Here's some details, and suggestions for improvements that we can discuss:

- The **radial** distribution of grid points seems mostly fine, except the two inner

[2021-09-23 16:52] mar-celine commented on #3545
Summary of a chat between me and @nilsleiffischer :

There is a path to address these issues that involves a new mapping for the Frustum blocks in the domain.
A: **angular ii**  can be addressed by adding equiangular mapping functionality to the Frustum maps. This is non-trivial because the domain requires that the inner face of a Frustum map (closest to the black holes) use the full [-1,1] equian

[2021-09-24 03:48] nilsdeppe commented on #1312
ping @geoffrey4444

[2021-09-24 03:52] nilsdeppe commented on #714
Done.

[2021-09-24 03:52] #714 closed, assigned to nobody

[2021-09-24 03:57] nilsdeppe commented on #772
@nilsleiffischer since the evolution code can now do Gauss points, can we close this issue?

[2021-09-24 03:58] nilsdeppe commented on #672
This is now fixed in Blaze.

[2021-09-24 03:58] #672 closed, assigned to nobody

[2021-09-24 04:02] nilsdeppe commented on #991
Most or all of our bindings are now tested. We now also share python code between different testing libs.

[2021-09-24 04:02] #991 closed, assigned to nobody

[2021-09-24 04:02] nilsdeppe commented on #982
I don't even remember what this is talking about. We have tests for tags nowadays.

[2021-09-24 04:02] #982 closed, assigned to kidder

[2021-09-24 04:04] nilsdeppe commented on #948
We use 3.8 now.

[2021-09-24 04:04] #948 closed, assigned to nobody

[2021-09-24 04:05] #946 closed, assigned to nobody

[2021-09-24 04:06] nilsdeppe commented on #478
We need a complete tutorial on everything DG. #3417 basically requests that.

[2021-09-24 04:06] #478 closed, assigned to nobody

[2021-09-24 04:07] nilsdeppe commented on #554
@kidder this is related to noexcept removal. Might be able to close this issue already or at about the same time.

[2021-09-24 04:08] nilsdeppe commented on #864
Tag name is now printedd via `db::tag_name`

[2021-09-24 04:08] #864 closed, assigned to nobody

[2021-09-24 04:12] nilsdeppe commented on #1037
We no longer use IWYU

[2021-09-24 04:12] #1037 closed, assigned to nobody

[2021-09-24 04:14] nilsdeppe commented on #1351
This was implemented by @markscheel

[2021-09-24 04:14] #1351 closed, assigned to nobody

[2021-09-24 04:15] nilsdeppe commented on #1296
I haven't encountered this in a while. @nilsleiffischer is this fixed?

[2021-09-24 04:17] nilsdeppe commented on #1254
Is there an action item here @kidder ? Can we close this since we've done a complete rewrite on how we do GRMHD?

[2021-09-24 04:19] nilsdeppe commented on #1226
We've done a complete rewrite of most of the GRMHD solver. Closing because of that. If such issues show up in current versions we will can investigate.

[2021-09-24 04:19] #1226 closed, assigned to kidder

[2021-09-24 04:20] nilsdeppe commented on #1213
Appears to be fixed.

[2021-09-24 04:20] #1213 closed, assigned to nilsdeppe

[2021-09-24 04:21] nilsdeppe commented on #1526
We have this now.

[2021-09-24 04:21] #1526 closed, assigned to nobody

[2021-09-24 04:21] nilsdeppe commented on #1514
ping @geoffrey4444

[2021-09-24 04:22] nilsdeppe commented on #1508
@kidder is this fixed?

[2021-09-24 04:23] nilsdeppe commented on #1467
@wthrowe is this resolved? I know you've done a lot of work on dense output :)

[2021-09-24 04:25] #1447 closed, assigned to osheamonn

[2021-09-24 04:27] nilsdeppe commented on #1708
@geoffrey4444 @prayush is this fixed?

[2021-09-24 04:28] nilsdeppe commented on #1679
`ImposeBoundaryConditions` no longer exists, so that sort of fixes the issue...

[2021-09-24 04:28] #1679 closed, assigned to nobody

[2021-09-24 04:29] #1613 closed, assigned to nobody

[2021-09-24 04:30] nilsdeppe commented on #1562
It appears we are keeping said function :)

[2021-09-24 04:30] #1562 closed, assigned to nobody

[2021-09-24 04:31] nilsdeppe commented on #1537
@wthrowe I remember you getting various fixes merged upstream. Was fixing `append` one of them?

[2021-09-24 04:31] nilsdeppe commented on #1546
@markscheel was this fixed? I'm assuming it was but the issue didn't get closed

[2021-09-24 04:33] nilsdeppe commented on #1744
@geoffrey4444 is this fixed?

[2021-09-24 04:34] nilsdeppe commented on #2046
@wthrowe can we close this issue now?

[2021-09-24 04:35] nilsdeppe commented on #1999
@kidder has any of this been addressed? I notice we have the `tests/Unit/Helpers` directory now

[2021-09-24 04:37] nilsdeppe commented on #1877
@wthrowe since you have dense output working, is this resolved or still an open question?

[2021-09-24 04:38] #1868 closed, assigned to nobody

[2021-09-24 04:39] nilsdeppe commented on #2251
This is now implemented.

[2021-09-24 04:39] #2251 closed, assigned to geoffrey4444

[2021-09-24 04:41] nilsdeppe commented on #2201
We've updated to 3.8 now, and all envs load 3.8

[2021-09-24 04:41] #2201 closed, assigned to nobody

[2021-09-24 04:45] nilsdeppe commented on #2422
All are updated.

[2021-09-24 04:45] #2422 closed, assigned to geoffrey4444

[2021-09-24 04:46] nilsdeppe commented on #2397
We don't use macOS in CI anymore.

[2021-09-24 04:46] #2397 closed, assigned to nobody

[2021-09-24 04:46] nilsdeppe commented on #2354
ping @geoffrey4444

[2021-09-24 04:48] nilsdeppe commented on #2639
@markscheel here's the issue we talked about today :)

[2021-09-24 04:51] nilsdeppe commented on #2924
@geoffrey4444 is this fixed now?

[2021-09-24 17:31] kidder commented on #594
removed in #2149

[2021-09-24 17:31] #594 closed, assigned to nilsdeppe

[2021-09-24 20:21] wthrowe commented on #1537
Yes, this is fixed upstream, and I believe we use the fixed version in CI.

[2021-09-24 20:21] #1537 closed, assigned to nobody

[2021-09-24 20:25] wthrowe commented on #2046
I think this is fixed.  The biggest problems this caused were also with factory registration lists, which are deprecated now.

[2021-09-24 20:25] #2046 closed, assigned to nobody

[2021-09-24 20:38] wthrowe commented on #1877
This is still unresolved, although since as far as I know no one has requested doing anything on substeps (or non-slab-boundaries for LTS, but that's not in very widespread use) I'm considering just dropping this until someone has a use for it.

If we want to close this we should add a check to RunEventsAndTriggers to restrict its effects to slab boundaries (being careful because the action is als

[2021-09-24 20:43] nilsdeppe commented on #1877
Restricting to slabs seems fine. The only use case I could see right now is debugging a simulation, but with dense output that probably won't be necessary. One possible local-data-only use case is monitor the max density to start triggering the horizon finder, but I could see that causing all sorts of async problems. My vote is to prevent running on substeps until we find a use case that we can't

[2021-09-27 12:43] geoffrey4444 commented on #2924
I'm satisfied with this solution, yes

[2021-09-27 15:23] #2924 closed, assigned to nobody

[2021-09-28 15:06] nikwit opened #3554 "Importing `mpmath` or `sympy` in a python file which is called by `pypp` causes a FPE"
# Bug reports:
When I try  to `pypp::call` a python function in a  module that imports `sympy` or `mpmath` it throws a floating point exception.  gdb traces this to `PyObject* python_module = PyImport_ImportModule(module_name.c_str());` in `Pypp.hpp` before it disappears in `libpython3.8.so.1.0` for which I dont have debug symbols. This seems like it could be an upstream issue.

It would be nice i

[2021-09-28 18:12] nilsvu commented on #1887
This is fixed now, since we're building with Doxygen 1.9.2+ in the container. #3412 further improves on the mobile layout.

[2021-09-28 18:12] #1887 closed, assigned to nobody

[2021-09-29 15:51] nilsvu opened #3561 "Remove dependence of ParallelInterpolation on higher-level libs"
The `ParallelInterpolation` library currently depends on a bunch of libraries like `ApparentHorizon`, that are really _using_ the interpolation framework, not the other way round. My suggestion is to disentangle these dependencies one-by-one, so we end up with a general `ParallelInterpolation` framework that other parallel algorithms can use. These are the libraries that the `ParallelInterpolation

[2021-09-29 15:53] nilsvu commented on #1095
Most of this issue was resolved by #3552. I opened #3561 to track the remaining part. Please open additional issues if there's more.

[2021-09-29 15:53] #1095 closed, assigned to nobody

[2021-09-29 16:20] nilsvu commented on #3561
@markscheel Do you agree with this? Would you be willing to do the `ApparentHorizons` lib?

[2021-09-30 03:19] wthrowe opened #3565 "Multi-node jobs not terminating on FPE"
I haven't investigated this in any depth, but I ran something on 8 nodes on wheeler that failed with an FPE, but the batch job continued until it ran out of time.

The end of the output is
[code]

[2021-10-02 13:37] nilsvu opened #3573 "Cyclic dependency between ApparentHorizons and CoordinateMaps"
# Bug reports:

While attempting to fix a missing link dependency to get a shared-libs build on my machine working, I ran into this issue:

[code]

The problem is that `ApparentHorizons` depends on `Domain` in `StrahlkorperInDifferentFrame.cpp`, and the shape map depends on `ApparentHorizons` by including `YlmSpherepack`. We really need to disentangle these Ylm/AH/Domain/CoordMaps libs...

I think

[2021-10-02 13:37] nilsvu commented on #3573
@markscheel could you take a look at this?

[2021-10-06 00:19] knelli2 commented on #3489
The topic of function of time names has come up again now that I'm starting to write the actual control systems and control errors. Discussed with @nilsdeppe, @markscheel and a bit with @wthrowe.
Currently, this is how I was planning on adding control system options:
[code]
The "name" of every control system is the name of the function of time that it is controlling. With the current setup, the na

[2021-10-06 00:35] wthrowe commented on #3489
"Hardcoded" here doesn't have to literally mean a constant string, just that it shouldn't depend on input-file contents.  Computed from template parameters or whatever is fine.

A more realistic example than translation maps would be shape control.  The control system there will presumably be templated on something that selects a suffix for the FoT name, and the map might be templated or might jus

[2021-10-06 07:23] nilsvu commented on #3489
In the elliptic code I use option groups to identify the various linear solvers. The idea is to have a tiny struct like `RotationControl` defined very far up, possibly all the way up in the metavars or a bit lower where you set up all the different control systems. The struct is used as template parameter to the control system, essentially as a compile-time label. Then it is also passed to option

[2021-10-07 19:12] wthrowe opened #3587 "Incorrect check on subcell tilde-D in ValenciaDivClean TCI"
`src/Evolution/Systems/GrMhd/ValenciaDivClean/Subcell/TciOnDgGrid.cpp`:
[code]
Note the lack of a metric factor in the second check.

It is not immediately obvious how to fix this, and I don't think it is causing the prpoblem I am currently debugging, so I'm just filing an issue.

[2021-10-07 20:59] nilsdeppe commented on #3587
This is intentional. The factor of sqrt{gamma} will be irrelevant in general since it'll be ~1 (deviations would mean we have severe grid stretching).

[2021-10-07 21:06] wthrowe commented on #3587
It is not O(1) in my runs, because I am, indeed, stretching the grid.

[2021-10-07 21:09] wthrowe commented on #3587
And, if nothing else, the code contradicts the comment.

[2021-10-07 21:17] nilsdeppe commented on #3587
Probably the easiest is to just check `tilde{D}` in both cases (and update the comment). If sqrt{gamma} is changing by several orders of magnitude across the domain then this might be problematic because the check would be much more or less stringent depending on where in the domain you are. I'm not sure how much your sqrt{gamma} varies or why it's far from unity so I can't speak to that.

[2021-10-08 00:26] knelli2 commented on #3028
@markscheel This test failed again here https://github.com/sxs-collaboration/spectre/runs/3832319438?check_suite_focus=true. Different line than this issue, but same problem of 0.0 != 0.0

[2021-10-08 02:18] wthrowe commented on #3587
I'm working in spherical polar, so there's a ~r^2 dependence.  (There's also roughly an overall scaling of the coordinates, but that could be removed by adding some affine maps if necessary.)  I don't have the full range handy, but an unrelated error message I had recently printed a value of ~300 at some unknown point in the domain.

[2021-10-08 04:36] nilsdeppe commented on #3587
Hmm, okay, I don't expect that to really be a problem since I'd expect for "bad" oscillations that result in unphysical values (negative density) that whether the threshold is 1e-20 or 1e-23 to be unimportant. The only thing I can think of that would cause a problem is if the atmosphere level and the tilde{D} threshold were to overlap. Say if the density in atm is 1e-15 and the tilde{D} is "negati

[2021-10-08 15:49] wthrowe commented on #3587
How about we use the cell average sqrt{gamma} that we can get from the DG grid?  Even a simple average of the values at the colocation points should be good enough to handle an overall scaling of the element.

[2021-10-08 15:52] nilsdeppe commented on #3587
that should work :) Just to be sure, you're saying use:
[code]
? (where I'm assuming Blaze has some sort of `sum` function :) )

[2021-10-08 17:08] wthrowe commented on #3587
Yes, that was my thought.

[2021-10-08 18:41] nilsdeppe commented on #3587
Okay, that sounds good to me :)

[2021-10-18 18:13] wthrowe opened #3603 "Performance of name() functions"
I don't have any reason to believe this is an issue, but I'm posting to see if anyone else thinks we should deal with it.  Particularly since it has an easy solution.

We have a lot of static `name()` functions throughout the code, and every call to one allocates a new string.  This isn't necessarily a problem, because most uses are in things like the option parsing factory where performance isn't

[2021-10-20 23:15] knelli2 opened #3614 "Random failures in CI for gcc-10, Debug, ON"
I've noticed this twice now on two separate CI runs in two separate PRs.
1. https://github.com/sxs-collaboration/spectre/actions/runs/1356323620
[code]
2. https://github.com/sxs-collaboration/spectre/actions/runs/1365248969
[code]

Both failures appear to start with `make[2]: *** [CMakeFiles/Makefile2:20317: tests/Unit/DataStructures/Tensor/Expressions/CMakeFiles/Test_Expressions.dir/all] Error 2`

[2021-10-20 23:19] nilsvu commented on #3614
@macedo22 Could you take a look at this test failure and see if you have an idea what might be causing it?

[2021-10-20 23:22] macedo22 commented on #3614
Yes, I believe that it is just a fairly bulky test and may be using up a lot of memory and crashing. I'll look into either making this less exhaustive or splitting up the test into two separate test files.

[2021-10-20 23:23] nilsvu commented on #3614
Thanks! 👍

[2021-10-21 00:46] nilsdeppe commented on #3603
Changing `db::tag_name` to the implementation you suggest might have the biggest impact since we actually use the tag names for IO, but even there I expect the IO itself to heavily dominate the cost :shrug:

[2021-10-21 23:36] #3614 closed, assigned to nobody

[2021-10-21 23:51] markscheel commented on #3489
Just to make sure that this is written down somewhere,we *will* have two of the same type of map and the same type of control system.  We will have a shape control for AhA and another shape control for AhB, for example.

[2021-10-22 16:11] markscheel commented on #1546
This was probably fixed long ago.  But if someone finds this problem again we can reopen.

[2021-10-22 16:11] #1546 closed, assigned to markscheel

[2021-10-25 20:39] wthrowe opened #3621 "TypeError: Unable to convert function return value to a Python type! without explicit import of spectre.DataStructures"
Trying to use `get_tensor_component` from `spectre.IO.H5` results in
[code]
unless `spectre.DataStructures` has been previously included.  It should be pulled in automatically by modules that need it.

[2021-10-28 15:13] markscheel opened #3627 "YlmSpherepack needs more not_null functions."
# Feature request:

YlmSpherepack needs more `not_null` versions of functions, in addition to versions of these functions that return values, so callers of these functions can use fewer memory allocations.

Just reminding myself to do it (unless someone else wants to do it first :)

### Component:

- [x] Code
- [ ] Documentation
- [ ] Build system
- [ ] Continuous integration

### Desired feature:

[2021-10-29 17:20] #3573 closed, assigned to nobody

[2021-11-02 16:11] wthrowe commented on #3565
I had something similar happen on expanse with a (non-FPE) ERROR.

[2021-11-04 16:19] nilsdeppe opened #3640 "Random failure in CylindricalFlatEndcap"
# Bug reports:

[code]

[2021-11-04 23:21] markscheel commented on #3640
Note that most likely CylindricalFlatEndcap will eventually be removed because I expect the newer cylindrical maps (like the one in #3325) to be more applicable to the domains that we want.

[2021-11-04 23:39] nilsdeppe commented on #3640
okay, if it's getting superceded then it's not clear it's worth the effort fixing this failure. It's the only one I've seen in months :)

[2021-11-05 00:00] markscheel commented on #3640
Ok.  If this failure becomes a bigger problem then I can do something about it.

[2021-11-05 18:18] nilsdeppe opened #3646 "Single Rotating NS initial data"
# Feature request:

### Component:

- [x] Code

### Desired feature:

I am currently implementing a reader for rotating single star initial data from the CST RotNS code. That code is closed-source and doesn't allow for consistent magnet fields. It also makes using arbitrary equations of state difficult. Any perturbations in the density will also not satisfy the Einstein constraints. Having consist

[2021-11-05 20:58] nilsvu commented on #3646
Thanks for putting this together 👍

[2021-11-09 21:12] wthrowe opened #3652 "Log dependency build output"
When debugging dependency-related issues on clusters, it would be useful to be able to look at the build output from when we compiled those dependencies.

[2021-11-15 22:08] wthrowe opened #3666 "CI documentation artifact is double-zipped"
The downloadable "docs-html.zip" file contains a single file, also called "docs-html.zip", that actually contains the documentation.

[2021-11-30 11:31] nilsvu commented on #3666
This is intentional, or at least I was aware of it when I added compression to the docs artifact in #3496. It's a known issue of GitHub's `upload-artifact` action and even mentioned in their docs: https://github.com/actions/upload-artifact#zipped-artifact-downloads

[2021-11-30 20:08] wthrowe commented on #3666
At the very least, can we get the two layers to have different names?  That was extremely confusing and had me reading the documentation of unzip because I thought I was using it incorrectly.

[2021-12-08 01:39] #3489 closed, assigned to nobody

[2021-12-10 19:32] wthrowe opened #3694 "Charm++ SMP detection fails for some charm configurations"
[code]
Our check looks at the contents of `conv-mach.h`, but for this configuration the `CMK_SMP` macro is defined in `conv-mach-smp.h`.

[2021-12-11 13:20] nilsvu commented on #3694
Last time I looked we didn't use the SMP detection for anything. Is it worth fixing?

[2021-12-11 17:43] wthrowe commented on #3694
I'm fine with removing it instead.  We just shouldn't report the wrong answer.

[2021-12-13 11:06] nilsvu commented on #3694
Done in #2680

[2021-12-13 18:15] nilsvu opened #3699 "Cluster environments should treat dependencies as system-installed"
# Bug reports:

Some build configurations on clusters emit numerous warnings from headers in our dependencies. We should set up the environments so they treat the dependencies as system-installed to avoid the warnings. This mainly involves replacing `CPATH` with `C_INCLUDE_PATH` or `CPLUS_INCLUDE_PATH` in the environment files.

More information:
- https://gitlab.kitware.com/cmake/cmake/-/issues/1

[2021-12-13 22:11] wthrowe commented on #3699
To aid others making the change: I believe that our C-compatible dependencies are
* GSL (the GNU one)
* HDF5
* jemalloc
* LIBXSMM
* whatever provides BLAS/LAPACK
* Scotch

and the C++-only ones are
* Charm++
* Blaze
* Boost
* Brigand
* Catch
* libsharp
* yaml-cpp

[2021-12-15 18:36] nilsvu opened #3704 "Tensor expression to apply coordinate transformation"
# Feature request:

I think it would be quite useful to have a function that applies a coordinate transformation to a tensor component, or to all components. Some specialized functions were implemented in `PointwiseFunctions/GeneralRelativity/Transform.hpp`, but they currently only work for a `tnsr::ii` and for the first index of a `tnsr::ijj`. My suggestions is to generalize these functions, poss

[2021-12-15 18:42] nilsvu commented on #3704
@macedo22 @nilsdeppe any thoughts on this?

[2021-12-15 20:20] macedo22 commented on #3704
@nilsleiffischer My first thought is that this sounds like a really nice use case, but I'm not sure if it's too soon to add this. I've been doing some benchmarking of different tensor equations written with `TensorExpression`s vs for loops lately, and for many equations, TEs are faster, but I've been seeing TEs run slower than loops for inner products when > 1 index is being summed over, and it ge

[2021-12-15 20:29] nilsdeppe commented on #3704
I think it's easier to just use TEs directly. Otherwise you have to make various assumptions about what people will want, etc. and that will cause us to have to implement several copies of the function, all to replace something that will be roughly as long as the TE itself.

[2021-12-15 23:17] macedo22 commented on #3704
Whoops, I jumped the gun thinking about runtime before implementation. Even though TEs could provide some amount of generalization for this, I agree with Nils that we would still need to implement multiple functions for different transformations and that it would be easier to use TEs directly wherever needed.

[2021-12-31 00:43] nilsvu opened #3713 "Add regression tests"
# Feature request:

I think it would be useful to add tests that don't run on every PR, but regularly on `develop`. These tests can use more resources than those running on every PR. We could run them on PR merges, on a schedule (daily/weekly/monthly), before releases, and/or on request. Here are some ideas:

- [ ] Multi-node tests that run on a cluster using a self-hosted Github Actions runner.
-

[2021-12-31 06:24] nilsdeppe commented on #3713
I think this is a great suggestion! I would guess the first (running on a supercomputer) is probably trickiest. Doing a spack test sounds great and not too difficult to do. Would be especially nice before releases. Published results will be a bit tricky too since 3d evolution problems are often absurdly expensive. However, even doing something between are input file tests and a full run would be g

[2022-01-06 22:57] #3544 closed, assigned to nobody

[2022-01-06 22:58] #3381 closed, assigned to nobody

[2022-01-07 11:41] nilsvu opened #3730 "Switch from yapf to black"
[Black](https://black.readthedocs.io/en/stable/index.html) is a Python formatter that has gained a lot of popularity (24k stars on GitHub vs yapf's 12k). Hera are some advantages over yapf:

- Black formats multiline strings (still experimental). That yapf doesn't do this (and isn't planning to https://github.com/google/yapf/issues/408) is one of the most annoying things about it.
- Black has a se

[2022-01-07 16:06] nilsvu opened #3731 "Parse input file headers as YAML"
# Feature request:

Many of our test input files have headers like this:

[code]

I propose to upgrade these headers to proper YAML syntax. YAML files can contain multiple documents separated by a `---` line, so I propose we allow input files to contain 2 documents, of which the first is discarded by the option parser if it is present:

[code]

We can then load the header as proper YAML to configu

[2022-01-07 17:59] wthrowe commented on #3731
I like this idea, overall.  Seems simpler if we swap the order, though.  Then the main code can always parse the first document and the testing code can always parse the second.  Unless YAML lets us name the documents somehow?

I'm not sure what you're proposing at the end.  Should executables refuse to run if the metadata doesn't match what's compiled into the executable?

[2022-01-07 18:09] wthrowe commented on #3730
Not sure I like depending on something that has a big box labeled "Note - this is a beta product" on its main page.

[2022-01-08 01:25] kidder commented on #3730
well the YAPF README says

`YAPF is still considered in "alpha" stage, ...`

so while I share your concern @wthrowe,  it may still be an improvement to switch...

[2022-01-08 04:38] wthrowe commented on #3730
Fair enough.

[2022-01-10 14:54] nilsvu commented on #3731
Yea maybe we swap the order. If the metadata contains things like `Name` and `Description` then it would be nice to have those at the top though.

I don't think executables should refuse to run if the metadata doesn't match, though they might print warnings or give suggestions. For example, if you run an input file with a more recent version of the executable than listed, and the option parsing fa

[2022-01-10 15:58] nilsvu commented on #442
Comet is now retired as of 7/15/2021: https://www.sdsc.edu/support/user_guides/comet.html

[2022-01-11 01:42] #3276 closed, assigned to nobody

[2022-01-12 20:42] nilsvu opened #3739 "SWSH libraries / libsharp replacement"
Our current library for spin-weighted spherical harmonics (SWSH), [libsharp](https://github.com/Libsharp/libsharp), is not maintained anymore. Its successor, [libsharp2](https://gitlab.mpcdf.mpg.de/mtr/libsharp), is _also_ not maintained anymore, but the developer is pointing to their [ducc0](https://gitlab.mpcdf.mpg.de/mtr/ducc) repository now. I'm not suggesting any immediate changes to our code

[2022-01-14 01:41] wthrowe commented on #3255
[code]

[2022-01-18 16:20] #3528 closed, assigned to nobody

[2022-01-19 16:25] #2679 closed, assigned to nobody

[2022-01-19 16:25] #2830 closed, assigned to nilsvu

[2022-01-19 22:58] knelli2 opened #3756 "Communication error in BBH runs"
# Bug reports:

I'm trying to do a head-on BBH run where I read in characteristic speed control system info from a SpEC simulation but compute the expansion control system in SpECTRE. I'm using [this](https://github.com/knelli2/spectre/tree/test_expansion_frontera) branch.

I've been testing on both wheeler and frontera and am getting some strange error that I believe is communication related, but

[2022-01-21 03:49] wthrowe commented on #3739
The worry I have with ducc0 is that it's C++ interface is unstable, and I wouldn't be shocked if it got dropped eventually.  It is very clearly intended as a python package.

As for using it through ssht, I think only pyssht, not the ssht c package, can use ducc0.

[2022-01-21 19:50] wthrowe commented on #3731
I'm concerned about encouraging putting metadata (particularly metadata designed to be programatically read) into files without some method to check that it remains accurate.  I expect that people would frequently fail to update things like a version field when changing SpECTRE versions.  If we are going to include the executable name and version in the input file I think we should refuse to run i